﻿
/*Tooltip*/
a, :link, :active, :visited {
	color: #003399;
	text-decoration: none;
}
#osdhtmltooltip
{
	border: #999 1px solid;
	padding: 4px;
	font-size: 10pt;
	z-index: 100;
	left: -300px;
	visibility: hidden;
	width:auto;
	height:auto;
	font-family: Arial;
	
	position: absolute;
	background-color: #FFF;
	text-align: left;
	border-radius:5px;
}
.tooltip_a a
{
    text-decoration:none;
    }
#osdhtmltooltip img
{
	float: left;
	/*
	padding: 40px;
*/
	border: solid 1px #FFF;
	margin-left: 3px;
	padding-right:5px;
	height:168px;
	width:320px;
	
}
#osdhtmltooltip d
{
	color:Blue;
	padding: 2px;
	margin: 0px;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}

#osdhtmltooltip h3
{
	color: Red;
	padding: 2px;
	margin: 0px;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}
#osdhtmltooltip span
{
	color:Red;
	/*font-style: italic;*/
}
#osdhtmltooltip div
{
	color: #000;
}
#osdhtmlpointer
{
	z-index: 101;
	left: -300px;
	visibility: hidden;
	position: absolute;
}