﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-awards";

    List<awards> awardsList = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["得獎記事"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="about-awards-section">
            <div class="section-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["得獎記事"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Awards">@ViewBag.ResLang["得獎記事"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">

                    @if (ViewBag.yearGroup != null)
                    {

                        foreach (string year in ViewBag.yearGroup)
                        {

                           
                                if (awardsList.FindAll(m => m.year == year).Count > 0)
                                {
                                    <div class="awards-group wow fadeIn">
                                        <h3 class="year ff-osw fw-500 t-mg wow fadeInDown">@year</h3>
                                        <ul class="ns list">
                                            @foreach (awards item in awardsList.FindAll(m => m.year == year).ToList())
                                            {
                                                <li class="award-item wow fadeInUp">
                                                    <div class="award-item-box">
                                                        @if (!string.IsNullOrEmpty(item.pic))
                                                        {
                                                            <div class="pic imgFill">
                                                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt" />
                                                            </div>
                                                        }

                                                        <div class="content">
                                                            <h4 class="title fw-700">@item.title</h4>
                                                            <div class="txt">
                                                                <p>@Html.Raw(item.content.Replace(System.Environment.NewLine, "</p><p>"))</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }



                                        </ul>
                                    </div>
                                }


                            

                        }

                    }







                </div>
            </div>
        </div>
    </div>
</main>

