﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-cases";
    List<cases_classic> Classic = ViewBag.Classic;

    List<cases_category> Category = ViewBag.CasesCategory;
    cases_classic data = ViewBag.Data;

}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["經典建案"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["經典建案"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["經典建案"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases/@data.guid">@(!string.IsNullOrEmpty(data.title) ? data.title : ViewBag.ResLang["全部"])</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="subnav">
                        <div class="subnav-toggle">
                            <button type="button" class="btn">
                                <span class="btn-inner">@data.title</span>
                            </button>
                        </div>
                        <div class="subnav-menu">
                            <ul class="ns">
                                <li @if (string.IsNullOrEmpty(ViewBag.ID)) { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases" class="btn">@ViewBag.ResLang["全部"]</a></li>
                                @foreach (cases_classic item in Classic)
                                {
                                    <li @if (item.guid == data.guid) { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases/@item.guid" class="btn">@item.title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="primary-body-inner container c-lg-alt">
                    <div class="cases-list">
                        <ul class="ns">

                            @foreach (cases item in ViewBag.CasesUsePage)
                            {
                                cases_classic temp = Classic.Where(m => m.guid == item.classic).FirstOrDefault();

                                <li class="list-item wow fadeInUp">
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/About/CasesDetail/@item.guid">
                                        <div class="pic">
                                            <!-- 330 * 440 px -->
                                            <img src="@Url.Content("~" + item.list_pic)" alt="@item.list_pic_alt" />
                                            <div class="pic-hover">
                                                <p class="en">@FunctionService.CasesEnSubTitle(item.guid)</p>
                                                <p class="zh">@item.sub_title</p>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            @try
                                            {
                                                <p class="txt">@item.year - @temp.title</p>
                                            }
                                            catch { }
                                            <h4 class="title">@item.title</h4>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="pagination wow fadeInUp">
                        @Html.Raw(ViewBag.pageView)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>