﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-cases";
    List<cases_classic> Category = ViewBag.casesClassic;
    cases data = ViewBag.Data;

    List<string> pic = new List<string>();
    List<string> picAlt = new List<string>();

    try { pic = data.pic.Split(',').ToList(); } catch { }
    try { picAlt = data.pic_alt.Split('§').ToList(); } catch { }
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["經典建案"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/demo/cases/case-bg.jpg" alt="" />
        </div>
        <div class="primary-inner">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["經典建案"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["經典建案"]</a></li>
                                @if (ViewBag.CategoryData != null && ViewBag.CategoryData.title != null )
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases/@ViewBag.CategoryData.guid">@ViewBag.CategoryData.title</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["全部"]</a></li>
                                }

                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/CasesDetail/@data.guid">@data.title</a></li>
                            </ul>
                        </div>
                        <div class="dropmenu">
                            <select class="selectpicker">
                                <option value="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["全部"]</option>

                                @if (ViewBag.casesClassic != null)
                                {
                                    foreach (cases_classic item in Category)
                                    {
                                        <option value="@Url.Content("~/" + ViewBag.Lang)/About/Cases/@item.guid" @if (data.category == item.guid) { @Html.Raw("selected") }>@item.title</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="primary-body-inner container c-lg-alt">
                    <div class="case-wrapper">
                        <div class="case-inner">
                            <div class="case-sliders">
                                <div class="slider-main">
                                    <ul class="ns slider">
                                        <!-- 970 * 645 px -->
                                        @{
                                            int i = 0;
                                            foreach (string img in pic)
                                            {
                                                <li class="slick-item pic"><img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" /></li>

                                                i++;
                                            }

                                        }
                                    </ul>
                                </div>
                                <div class="slider-thumb">
                                    <ul class="ns slider">

                                        @{
                                            i = 0;
                                            foreach (string img in pic)
                                            {
                                                <li class="slick-item">
                                                    <div class="thumb imgFill"><img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" /></div>
                                                </li>

                                                i++;

                                            }

                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="case-profile editor-style">
                                <h3 class="title">@data.title</h3>

                                @Html.Raw(FunctionService.FormatImagePath(data.content))

                                <div class="contact">
                                    <ul class="ns">
                                        @if (!string.IsNullOrEmpty(data.phone))
                                        {
                                            <li>
                                                <div class="icon btn btn-inline btn-circle fill-mg no-hover">
                                                    <i class="icon-phone"></i>
                                                </div>
                                                <span>@ViewBag.ResLang["貴賓專線"]：<a href="tel:@data.phone">@data.phone</a></span>
                                            </li>
                                        }

                                        @if (!string.IsNullOrEmpty(data.address))
                                        {

                                            <li>
                                                <div class="icon btn btn-inline btn-circle fill-mg no-hover">
                                                    <i class="icon-location"></i>
                                                </div>
                                                @if (!string.IsNullOrEmpty(data.map_link))
                                                {
                                                    <span><a href="@data.map_link" target="_blank">@data.address</a></span>
                                                }
                                                else
                                                {
                                                    <span>@data.address</span>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="buttons">
                                    <ul class="ns">
                                        @if (data.reservation == "Y")
                                        {
                                            <li>
                                                <button id="case-popup-toggle" class="btn btn-rounded border-mg w150 h50">
                                                    <i class="icon icon-form"></i>
                                                    <span>@ViewBag.ResLang["預約賞屋"]</span>
                                                </button>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.url))
                                        {
                                            <li>
                                                <a href="@data.url" target="_blank" class="btn btn-rounded border-mg w150 h50">
                                                    <i class="icon icon-link"></i>
                                                    <span>@ViewBag.ResLang["建案連結"]</span>
                                                </a>
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(data.files))
                                        {
                                            <li>
                                                <a href="@Url.Content("~/"+data.files)" class="btn btn-rounded border-mg w150 h50">
                                                    <i class="icon icon-download"></i>
                                                    <span>@ViewBag.ResLang["型錄下載"]</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section other {
    <div class="case-popup">
        <div class="case-popup-fade"></div>
        <div class="case-popup-wrapper">
            <div class="case-popup-close">
                <button type="button" class="btn btn-circle fill-mg">
                    <i class="icon icon-close"></i>
                </button>
            </div>
            <div class="case-popup-box">
                <div class="case-popup-inner">
                    <div class="head hg">
                        <h3 class="title f30">@data.title / @ViewBag.ResLang["預約賞屋"]</h3>
                        <p class="txt">@ViewBag.ResLang["留下您的基本資料我們的專員會與您聯繫"]</p>
                    </div>
                    <div class="content">

                        <form class="form" action="@Url.Content("~/" + ViewBag.Lang + "/Cases/ContactSend")" name="ContactForm" id="ContactForm" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="category" id="category" value="@data.guid" />
                            <input type="hidden" name="cases" id="cases" value="@data.title" />
                            <div class="form-row">
                                <div class="form-group for-input">
                                    <input type="text" class="form-control" required name="name" id="name" value="@if (ViewBag.Form != null) {@ViewBag.Form["name"].ToString()}" />
                                    <label class="form-label"><span>*</span>@ViewBag.ResLang["姓名"]：</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group for-input">
                                    <input type="text" class="form-control" required name="tel" id="tel" value="@if (ViewBag.Form != null) {@ViewBag.Form["tel"].ToString()}" />
                                    <label class="form-label"><span>*</span>@ViewBag.ResLang["電話"]：</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group for-input">
                                    <input type="text" class="form-control" name="email" id="email" value="@if (ViewBag.Form != null) {@ViewBag.Form["email"].ToString()}" />
                                    <label class="form-label">E-mail：</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group for-radio">
                                    <input class="form-control" type="checkbox" id="need1" name="need" checked="checked" value="預約看屋" />
                                    <label class="form-label" for="radio01">@ViewBag.ResLang["預約看屋"]</label>
                                </div>
                                <div class="form-group for-radio">
                                    <input class="form-control" type="checkbox" id="need2" name="need" checked="checked" value="索取資料" />
                                    <label class="form-label" for="radio02">@ViewBag.ResLang["索取資料"]</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group for-checkbox">
                                    <input class="form-control" type="checkbox" id="keep" name="keep" value="Y" />
                                    <label class="form-label" for="checkbox">@Html.Raw(ViewBag.ResLang["我已閱讀並同意個人資料保護條款"].Replace("{url}", Url.Content("~/" + ViewBag.Lang + "/Home/Privacy")))</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group for-input has-code">
                                    <input class="form-control" type="text" required name="verification" id="verification" />
                                    <label class="form-label"><span>*</span>@ViewBag.ResLang["驗證碼"]</label>
                                    <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                                </div>
                            </div>
                            <div class="form-row action">
                                <button class="btn btn-inline fill-mg" type="submit">@ViewBag.ResLang["送出預約"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {

            $('.selectpicker').change(function () {

                window.location.href = $(this).val();
            });

        });
    </script>

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")

    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {

            $("#ContactForm").each(function () {
                $("#ContactForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);
                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        //element.parents('.form-group').addClass("error");

                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                        //$(findID).parents('.form-group').removeClass("error");
                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });

            });
        });
    </script>
}