﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-charity";
    List<charity_category> Category  = ViewBag.Category;
    var data = ViewBag.Data;

}


    <main id="main">
        <div class="hero">
            @Html.Partial("Hero")<!--共用選單-->
            <div class="hero-nav wow fadeInUp">
                <div class="hero-nav-toggle">
                    <button type="button" class="btn">
                        <span class="btn-inner">@ViewBag.ResLang["公益活動"]</span>
                    </button>
                </div>
                @Html.Partial("Nav")<!--共用選單-->
            </div>
        </div>
        <div class="primary">
            <div class="primary-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["公益活動"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Charity">@ViewBag.ResLang["公益活動"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Charity/@ViewBag.CategoryData.guid">@ViewBag.CategoryData.title</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="subnav">
                        <div class="subnav-toggle">
                            <button type="button" class="btn">
                                <span class="btn-inner">@ViewBag.CategoryData.title</span>
                            </button>
                        </div>
                        <div class="subnav-menu">
                            <ul class="ns">
                                @foreach (charity_category item in Category)
                                {
                                    <li @if (item.guid == ViewBag.CategoryData.guid) { @Html.Raw(" class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/Charity/@item.guid" class="btn">@item.title</a></li>
                                }
                                <li><a href="http://www.cathay-cultural.org.tw/" target="_blank" class="btn">@ViewBag.ResLang["前往基金會"]&nbsp;<i class="icon-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    @if (!string.IsNullOrEmpty(ViewBag.CategoryData.content))
                    {
                        <div class="article-info editor-style wow fadeInUp">
                            <p>    @Html.Raw(FunctionService.FormatImagePath(ViewBag.CategoryData.content))</p>
                        </div>
                    }


                    <div class="article-list">
                        <ul class="ns">
                            @foreach (charitys item in data)
                            {
                                charity_category categoryData = Category.Where(m => m.guid == item.category).FirstOrDefault();

                                <li class="list-item wow fadeInUp">
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/About/CharityDetail/@item.guid">
                                        <div class="pic">
                                            <!-- 320 * 240 px -->
                                            <img src="@Url.Content("~" + item.pic)" alt="@item.pic_alt" />
                                        </div>
                                        <div class="content">
                                            <div class="subline">
                                                <ul class="ns">
                                                    <li class="catalog">@categoryData.title</li>
                                                    <li class="date">@DateTime.Parse(item.startdate.ToString()).ToString("yyyy/MM/dd")</li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <h3 class="title">@item.title</h3>
                                                <div class="summary">@item.notes</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="pagination wow fadeInUp">
                        @Html.Raw(ViewBag.pageView)
                    </div>
                </div>
            </div>
        </div>
    </main>