﻿<div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/about/hero.jpg")"></div>
<div class="hero-inner">
    <h1 class="title">@ViewBag.ResLang["關於國建"]</h1>
</div>