﻿@using Web.Models;
@using Web.Service;
@using PagedList;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-house";
    PagedList<about_houses> data = ViewBag.AboutHouses;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["房地產指數"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["房地產指數"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/House">@ViewBag.ResLang["房地產指數"]</a></li>
                        </ul>
                    </div>
                </div>
                @Html.Raw(ViewBag.Abouts.content)
            </div>

            <div class="primary-body">
                <div class="house-top">
                    <ul class="ns">
                        @foreach (var item in ViewBag.ThreeData)
                        {
                            <li class="list-item">
                                <div class="year">
                                    <div class="pic-fill imgFill">
                                        <img src="@(!string.IsNullOrEmpty(item.pic) ? Url.Content("~" + item.pic) : Url.Content("~/Styles/images/static/about/0002_cover2019.jpg"))" alt="@item.pic_alt" />
                                    </div>
                                    <h3 class="title">@Html.Raw((int.Parse(item.title) - 1911).ToString() + "年")</h3>
                                </div>
                                <table class="content">
                                    <tr>
                                        <td><span class="fw-700">@ViewBag.ResLang["新聞稿"]</span></td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.news_file1))
                                            {
                                                <a href="@Url.Content("~/"+item.news_file1)" target="_blank">Q1</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.news_file2))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file2)" target="_blank">Q2</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.news_file3))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file3)" target="_blank">Q3</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.news_file4))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file4)" target="_blank">Q4</a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="fw-700">@ViewBag.ResLang["簡冊"]</span></td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.detect_file1))
                                            {
                                                <a href="@Url.Content("~/"+item.detect_file1)" target="_blank">Q1</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.detect_file2))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file2)" target="_blank">Q2</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.detect_file3))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file3)" target="_blank">Q3</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.detect_file4))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file4)" target="_blank">Q4</a>
                                            }

                                            @if (string.IsNullOrEmpty(item.detect_file1) && string.IsNullOrEmpty(item.detect_file2) && string.IsNullOrEmpty(item.detect_file3) && string.IsNullOrEmpty(item.detect_file4))
                                            {
                                                @Html.Raw("-")
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="fw-700">@ViewBag.ResLang["季報"]</span></td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.season_file1))
                                            {
                                                <a href="@Url.Content("~/"+item.season_file1)" target="_blank">Q1</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.season_file2))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file2)" target="_blank">Q2</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.season_file3))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file3)" target="_blank">Q3</a>
                                            }
                                            @if (!string.IsNullOrEmpty(item.season_file4))
                                            {
                                                @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file4)" target="_blank">Q4</a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="fw-700">@ViewBag.ResLang["市場回顧"]</span></td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.files))
                                            {
                                                <a href="@Url.Content("~/"+item.files)" target="_blank">PDF</a>
                                            }
                                            else
                                            {
                                                @Html.Raw("-")
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        }
                    </ul>
                </div>
                <div class="table-wrapper wow fadeIn">
                    <table class="table table-style table-fixed table-responsive">
                        <thead>
                            <tr>
                                <th>@ViewBag.ResLang["年度"]</th>
                                <th>@ViewBag.ResLang["新聞稿"]</th>
                                <th>@ViewBag.ResLang["簡冊"]</th>
                                <th>@ViewBag.ResLang["季報"]</th>
                                <th>@ViewBag.ResLang["市場回顧"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (about_houses item in data.Skip(3))
                            {
                                string year = item.title;
                                if (ViewBag.Lang == "tw")
                                {
                                    year = (int.Parse(item.title) - 1911).ToString() + "年";
                                }
                                <tr>
                                    <td><span class="fw-700">@year</span></td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.news_file1))
                                        {
                                            <a href="@Url.Content("~/"+item.news_file1)" target="_blank">Q1</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.news_file2))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file2)" target="_blank">Q2</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.news_file3))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file3)" target="_blank">Q3</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.news_file4))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.news_file4)" target="_blank">Q4</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.detect_file1))
                                        {
                                            <a href="@Url.Content("~/"+item.detect_file1)" target="_blank">Q1</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.detect_file2))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file2)" target="_blank">Q2</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.detect_file3))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file3)" target="_blank">Q3</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.detect_file4))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.detect_file4)" target="_blank">Q4</a>
                                        }

                                        @if (string.IsNullOrEmpty(item.detect_file1) && string.IsNullOrEmpty(item.detect_file2) && string.IsNullOrEmpty(item.detect_file3) && string.IsNullOrEmpty(item.detect_file4))
                                        {
                                            @Html.Raw("-")
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.season_file1))
                                        {
                                            <a href="@Url.Content("~/"+item.season_file1)" target="_blank">Q1</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.season_file2))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file2)" target="_blank">Q2</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.season_file3))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file3)" target="_blank">Q3</a>
                                        }
                                        @if (!string.IsNullOrEmpty(item.season_file4))
                                        {
                                            @Html.Raw("/") <a href="@Url.Content("~/"+item.season_file4)" target="_blank">Q4</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.files))
                                        {
                                            <a href="@Url.Content("~/"+item.files)" target="_blank">PDF</a>
                                        }
                                        else
                                        {
                                            @Html.Raw("-")
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>