﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-investment";
    List<about_investment> investments = ViewBag.investments;
    about_investment data = ViewBag.Data;
}


    <main id="main">
        <div class="hero">
            @Html.Partial("Hero")<!--共用選單-->
            <div class="hero-nav wow fadeInUp">
                <div class="hero-nav-toggle">
                    <button type="button" class="btn">
                        <span class="btn-inner">@ViewBag.ResLang["投資事業"]</span>
                    </button>
                </div>
                @Html.Partial("Nav")<!--共用選單-->
            </div>
        </div>
        <div class="primary">
            <div class="primary-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["投資事業"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment">@ViewBag.ResLang["投資事業"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment/@data.guid">@data.title</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="subnav">
                        <div class="subnav-toggle">
                            <button type="button" class="btn">
                                <span class="btn-inner">@data.title</span>
                            </button>
                        </div>
                        <div class="subnav-menu">
                            <ul class="ns">
                                @if (investments != null && investments.Count > 0)
                                {
                                    foreach (about_investment item in investments)
                                    {
                                        <li @if (data.guid == item.guid) { @Html.Raw("class=\"current\"")}><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment/@item.guid" class="btn">@item.title</a></li>
                                    }

                                }



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                </div>
            </div>
        </div>
    </main>