﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-manage";
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用頁面-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["公司治理"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["公司治理"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageCommittee">@ViewBag.ResLang["委員會"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["委員會"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>
            <div class="primary-body">
                @Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content))
            </div>
        </div>
    </div>
</main>


