﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-manage";

    List<regulations> data = ViewBag.Data;
}

    <main id="main">
        <div class="hero">
            @Html.Partial("Hero")<!--共用選單-->
            <div class="hero-nav wow fadeInUp">
                <div class="hero-nav-toggle">
                    <button type="button" class="btn">
                        <span class="btn-inner">@ViewBag.ResLang["公司治理"]</span>
                    </button>
                </div>
                @Html.Partial("Nav")<!--共用選單-->
            </div>
        </div>
        <div class="primary">
            <div class="primary-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["公司治理"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageRegulation">@ViewBag.ResLang["重要公司內規"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="subnav">
                        <div class="subnav-toggle">
                            <button type="button" class="btn">
                                <span class="btn-inner">@ViewBag.ResLang["重要公司內規"]</span>
                            </button>
                        </div>
                        <div class="subnav-menu">
                            @Html.Partial("SubNav")<!--共用選單-->
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    <div class="table-wrapper wow fadeIn">
                        <table class="table table-style table-responsive">
                            <thead>
                                <tr>
                                    <th width="25%">@ViewBag.ResLang["項次"]</th>
                                    <th width="50%">@ViewBag.ResLang["項目"]</th>
                                    <th width="25%">@ViewBag.ResLang["瀏覽"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    int i = 1;
                                }
                                @foreach (regulations item in data)
                                {
                                    <tr>
                                        <td><span class="fw-700">@i.ToString()</span></td>
                                        <td class="t-left">@item.title</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.files))
                                            {
                                                <a href="@Url.Content("~/"+item.files)" target="_blank" >PDF</a>
                                            }
                                            else
                                            {
                                                @Html.Raw("-")
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>


