﻿@using Web.Models;
@using Web.Service;
@using PagedList;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-manage";

    PagedList<resolutions> data = ViewBag.ResolutionsUsePage;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用頁面-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["公司治理"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["公司治理"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageResolution">@ViewBag.ResLang["董事會決議事項"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["董事會決議事項"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>

            <div class="primary-body">
                <div class="faq-list resolution-list">
                    @foreach (resolutions item in data)
                    {
                        <div class="faq-box wow fadeInUp">
                            <div class="faq-box-q">
                                <h3 class="title">@item.title</h3>
                            </div>
                            <div class="faq-box-a editor-style">
                                @Html.Raw(FunctionService.FormatImagePath(item.content))
                            </div>
                        </div>
                    }

                    </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
            
            
            
        </div>
    </div>
</main>


