﻿<div class="hero-nav-menu">
    <ul class="ns">
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="about-news"><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["最新消息"]</a></li>
        }

        <li data-page="about-info"><a href="@Url.Content("~/" + ViewBag.Lang)/About/info">@ViewBag.ResLang["公司簡介"]</a></li>
        <li data-page="about-organization"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Organization">@ViewBag.ResLang["公司組織"]</a></li>
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="about-cases"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["經典建案"]</a></li>
        }
        <li data-page="about-philosophy"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Philosophy">@ViewBag.ResLang["經營理念"]</a></li>
        <li data-page="about-operation"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Operation">@ViewBag.ResLang["營運概況"]</a></li>
        <li data-page="about-investment"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment">@ViewBag.ResLang["投資事業"]</a></li>
        <li data-page="about-awards"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Awards">@ViewBag.ResLang["得獎紀事"]</a></li>
        <li data-page="about-house"><a target="_blank" href="@Url.Content("~/tw")/About/House">@ViewBag.ResLang["房地產指數"]</a></li>
        <li data-page="about-manage"><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
        <li data-page="about-audit"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Audit">@ViewBag.ResLang["內部稽核"]</a></li>
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="about-charity"><a href="http://www.cathay-cultural.org.tw/" target="_blank">@ViewBag.ResLang["公益活動"]</a></li>
        }

        <li data-page="about-linyuan"><a href="@Url.Content("~/" + ViewBag.Lang)/About/Linyuan">@ViewBag.ResLang["霖園集團"]</a></li>
    </ul>
</div>