﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-news";
    List<news_category> Category = ViewBag.Category;
    var data = ViewBag.Data;
}

<main id="main">
    <div class="hero">

        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["最新消息"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["最新消息"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["最新消息"]</a></li>
                            @if (!string.IsNullOrEmpty(ViewBag.ID))
                            {
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News/@ViewBag.ID">@ViewBag.CategoryData.title</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["全部消息"]</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["全部消息"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li @if (string.IsNullOrEmpty(ViewBag.ID)) { @Html.Raw(" class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/News" class="btn">@ViewBag.ResLang["全部消息"]</a></li>
                            @foreach (news_category item in Category)
                            {
                                if (ViewBag.Lang == "en" && item.title == "熱銷建案")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "國泰房地產指數")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "活動預告")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "得獎資訊")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "其他消息")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "CSR")
                                {

                                }
                                else if (ViewBag.Lang == "en" && item.title == "電子報")
                                {

                                }
                                else
                                {
                                    <li @if (item.guid == ViewBag.ID) { @Html.Raw(" class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/News/@item.guid" class="btn">@item.title</a></li>
                                }

                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="article-list">
                    <ul class="ns">

                        @foreach (news item in data)
                        {
                            news_category categoryData = Category.Where(m => m.guid == item.category).FirstOrDefault();

                            try
                            {
                                <li class="list-item wow fadeInUp">
                                    <a href="@Url.Content("~/" + ViewBag.Lang)/About/NewsDetail/@item.guid">
                                        <div class="pic">
                                            <!-- 320 * 240 px -->
                                            <img src="@Url.Content("~" + item.pic) " alt="@item.pic_alt" />
                                        </div>
                                        <div class="content">
                                            <div class="subline">
                                                <ul class="ns">
                                                    <li class="catalog">@categoryData.title</li>
                                                    <li class="date">@DateTime.Parse(item.startdate.ToString()).ToString("yyyy/MM/dd")</li>
                                                </ul>
                                            </div>
                                            <div class="info">
                                                <h3 class="title">@item.title</h3>
                                                <div class="summary">@item.notes</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                            catch { }
                        }



                    </ul>
                </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>
