﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-operation";
    List<cases_classic> Classic = ViewBag.Classic;
    List<cases_category> Category = ViewBag.CasesCategory;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["營運概況"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="about-info-section about-op-section profile">
            <div class="section-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["營運概況"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Operation">@ViewBag.ResLang["營運概況"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content))
                </div>
            </div>
        </div>
        <div class="about-info-section about-op-section cases">
            <div class="section-inner container c-md">
                <div class="cases-list cases-slider wow fadeInUp">
                    <ul class="ns slider">
                        @foreach (cases item in ViewBag.CasesList)
                        {
                            //經典建案
                            //cases_classic temp = Classic.Where(x => x.guid == item.classic).FirstOrDefault();

                            //熱銷建案
                            cases_category temp = Category.Where(m => m.guid == item.category).FirstOrDefault();

                            <li class="list-item">
                                <a href="@Url.Content("~/" + ViewBag.Lang)/About/CasesDetail/@item.guid">
                                    <div class="pic">
                                        <!-- 330 * 440 px -->
                                        <img src="@Url.Content("~" + item.list_pic)" alt="@item.list_pic_alt" />
                                        <div class="pic-hover">
                                            <p class="en">@FunctionService.CasesEnSubTitle(item.guid)</p>
                                            <p class="zh">@item.sub_title</p>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p class="txt">@temp.title</p>
                                        <h4 class="title">@item.title</h4>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>