﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "about";
    ViewBag.BodyDataPage = "about-organization";
    List<news_category> Category = ViewBag.Category;
    var data = ViewBag.Data;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["公司組織"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="about-org-section">
            <div class="section-bg pic-fill imgFill fill-bottom wow fadeIn">
                <img src="~/Styles/images/static/about/about-organization/organization-bg.jpg" alt="" />
            </div>
            <div class="section-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["公司組織"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["關於國建"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Organization">@ViewBag.ResLang["公司組織"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    @Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content))
                </div>
            </div>
        </div>
    </div>
</main>