﻿<ul class="ns">
    <li @if (ViewBag.SubActive == "ManageDirectors") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors" class="btn">@ViewBag.ResLang["董事會介紹"]</a></li>
    @if (ViewBag.Lang == "en")
    {

    }
    else
    {
        <li @if (ViewBag.SubActive == "ManageRegulation") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageRegulation" class="btn">@ViewBag.ResLang["重要公司內規"]</a></li>
    }

    <!--
    <li @if (ViewBag.SubActive == "ManageElect") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageElect" class="btn">@ViewBag.ResLang["獨立董事選任資訊"]</a></li>
    -->

    @if (ViewBag.Lang == "en")
    {

    }
    else
    {
        <li @if (ViewBag.SubActive == "ManageResolution") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageResolution" class="btn">@ViewBag.ResLang["董事會決議事項"]</a></li>
    }

    <li @if (ViewBag.SubActive == "AuditCommittee") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/AuditCommittee" class="btn">@ViewBag.ResLang["功能性委員會決議事項"]</a></li>
    <li @if (ViewBag.SubActive == "ManageSafety") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageSafety" class="btn">@ViewBag.ResLang["資訊安全管理"]</a></li>

    <li @if (ViewBag.SubActive == "ManageCommittee") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageCommittee" class="btn">@ViewBag.ResLang["委員會"]</a></li>
    <li @if (ViewBag.SubActive == "ManageCommunication") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageCommunication" class="btn">@ViewBag.ResLang["獨立董事與內部稽核主管及會計師之溝通情形"]</a></li>
    <li><a href="https://mops.twse.com.tw/mops/web/t93sc03_1" class="btn" target="_blank">@ViewBag.ResLang["董事進修情形"]</a></li>

    @if (ViewBag.Lang == "en")
    {

    }
    else
    {
        <li @if (ViewBag.SubActive == "ManageOthers") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageOthers" class="btn">@ViewBag.ResLang["其他資訊"]</a></li>
    }

</ul>