﻿@using Web.Models;
@using PagedList;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "investor";
    ViewBag.BodyDataPage = "investor-finance";
    PagedList<finance_report> data = ViewBag.DataUsePage;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["財務資訊"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["財務資訊"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["投資人專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceStatement">@ViewBag.ResLang["財務資訊"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceAnnual">@ViewBag.ResLang["公司年報"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["公司年報"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceStatement" class="btn">@ViewBag.ResLang["月營收報告"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceOperation" class="btn">@ViewBag.ResLang["財務報表"]</a></li>
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceAnnual" class="btn">@ViewBag.ResLang["公司年報"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="table-wrapper wow fadeIn">
                    <table class="table table-style table-fixed table-responsive">
                        <thead>
                            <tr>
                                <th>@ViewBag.ResLang["年度"]</th>
                                <th>@ViewBag.ResLang["說明"]</th>
                                <th>@ViewBag.ResLang["相關檔案"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (finance_report item in data)
                            {
                                string date_year = item.year;

                                if (ViewBag.Lang == "tw")
                                {
                                    date_year = (int.Parse(date_year) - 1911).ToString() + "年";                                 
                                }
                                <tr>
                                    <td class="fw-700">@date_year</td>
                                    <td class="fw-700">@item.title</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.files))
                                        {
                                            <a href="@Url.Content("~/"+item.files)" target="_blank">PDF</a>
                                        }
                                        else
                                        {
                                            @Html.Raw("-")
                                        }
                                    </td>
                                </tr>
                            }
                         </tbody>
                    </table>
                </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>