﻿<div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/investor/hero.jpg")"></div>
<div class="hero-inner">
    <h1 class="title">@ViewBag.ResLang["投資人專區"]</h1>
</div>
