﻿<div class="hero-nav-menu">
    <ul class="ns">
        <li data-page="investor-info"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["公司基本資料"]</a></li>
        <li data-page="investor-finance"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceStatement">@ViewBag.ResLang["財務資訊"]</a></li>
        <li data-page="investor-announcement"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Announcement">@ViewBag.ResLang["重要公告"]</a></li>
        <li data-page="investor-shareholder"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
        <li data-page="investor-others"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Others">@ViewBag.ResLang["其他"]</a></li>
    </ul>
</div>
