﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "investor";
    ViewBag.BodyDataPage = "investor-others";
    notes_data data = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["其他"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["其他"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["投資人專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Others">@ViewBag.ResLang["其他"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">

                @Html.Raw(FunctionService.FormatImagePath(data.content))

            </div>
        </div>
    </div>
</main>