﻿@using Web.Models;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "investor";
    ViewBag.BodyDataPage = "investor-shareholder";

    Dictionary<string, List<string>> ListData = ViewBag.ListData;
    shareholders data = ViewBag.Data;

    int i = 0;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["股東專區"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["股東專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["投資人專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股權結構&股價資訊"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["股權結構&股價資訊"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder" class="btn">@ViewBag.ResLang["股權結構&股價資訊"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting" class="btn">@ViewBag.ResLang["股東服務"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="investor-stock">
                    <div class="stock-chart">
                        <div class="chart">
                            <canvas id="canvas"></canvas>
                        </div>
                        <div class="content">
                            <h3 class="title">股權結構</h3>
                            <ul class="ns txt fw-700">
                                @if (ListData.Count > 0)
                                {
                                    i = 0;
                                    var title = ListData["title"];
                                    var per = ListData["per"];

                                    foreach (var color in ListData["color"])
                                    {
                                        try
                                        {
                                             <li><span style="background-color: @color"></span>@title[i]&nbsp;&nbsp;-&nbsp;&nbsp;@per[i]</li>
                                              i++;
                                        }
                                        catch { }
                                       
                                    }
                                }

                              
                            </ul>
                        </div>
                    </div>
                    <div class="stock-info">
                        <h3 class="title">股價資訊</h3>
                        <p class="txt">請連結至台灣證券交易所查詢</p>
                        @if (!string.IsNullOrEmpty(data.link))
                        {
                            <a href="@data.link" target="blank" class="btn btn-inline">
                                <img src="~/styles/images/static/investor/investor-shareholder/twse.png" alt="" />
                            </a>
                        }
                        else
                        {
                            <a href="javascript:void(0);"  class="btn btn-inline">
                                <img src="~/styles/images/static/investor/investor-shareholder/twse.png" alt="" />
                            </a>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {
    @Scripts.Render("~/Scripts/plugins/chart.js")
    @Scripts.Render("~/Scripts/plugins/chartjs-datalabels.js")
<script>
        $(function () {
            var ctx = $('#canvas')[0].getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [@Html.Raw(ViewData["JsTitle"])],
                    datasets: [{
                        data: [@Html.Raw(ViewData["JsPer"])],
                        backgroundColor: [@Html.Raw(ViewData["JsColor"])],
                        borderWidth: 0
                    }]
                },
                options: {
                    legend: false,
                    aspectRatio: 1,
                    hover: false,
                    tooltips: {
                        enabled: false,
                    },
                    plugins: {
                        datalabels: {
                            anchor: function (ctx) {
                                if (ctx.dataIndex === 3) {
                                    return 'center'
                                } else {
                                    return 'end'
                                }
                            },
                            align: function (ctx) {
                                if (ctx.dataIndex === 3) {
                                    return 'center'
                                } else {
                                    return 'start'
                                }
                            },
                            offset: function (ctx) {
                                if (ctx.dataIndex != 1 && window.innerWidth > 480) {
                                    return 40
                                } else {
                                    return 10
                                }
                            },
                            font: function () {
                                if (window.innerWidth > 480) {
                                    return {
                                        family: 'Noto Sans TC',
                                        size: 16,
                                        weight: 500,
                                        lineHeight: 1.5
                                    }
                                } else {
                                    return {
                                        family: 'Noto Sans TC',
                                        size: 12,
                                        weight: 500,
                                        lineHeight: 1.2
                                    }
                                }
                            },
                            color: '#FFFFFF',
                            textAlign: 'center',
                            textShadowColor: 'rgba(0,0,0,0.5)',
                            textShadowBlur: 5,
                            // formatter: function (value, ctx) {
                            //     return ctx.chart.data.labels[ctx.dataIndex] + '\n' + value + '%';
                            // }
                        }
                    }
                }
            });
        });
</script>
}