﻿@using Web.Models;
@using PagedList;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "investor";
    ViewBag.BodyDataPage = "investor-shareholder";

    PagedList<share_faq> data = ViewBag.DataUsePage;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["股東專區"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["股東專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["投資人專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting">@ViewBag.ResLang["股東服務"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderFaq">@ViewBag.ResLang["投資人問答集"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["股東服務"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder" class="btn">@ViewBag.ResLang["股權結構&股價資訊"]</a></li>
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting" class="btn">@ViewBag.ResLang["股東服務"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body has-nav">
                <div class="primary-body-nav wow fadeIn">
                    <ul class="ns">
                        @Html.Partial("ShareholderNav")<!--共用選單-->
                    </ul>
                </div>
                <div class="primary-body-main">
                    <div class="faq-list">



                        @foreach (share_faq item in data)
                        {
                            <div class="faq-box wow fadeInUp">
                                <div class="faq-box-q">
                                    <h3 class="title">@item.title</h3>
                                </div>
                                <div class="faq-box-a editor-style">
                                    <p>@Html.Raw(item.notes.Replace(System.Environment.NewLine, "</p><p>"))</p>
                                </div>
                            </div>
                        }

                        </div>
                    <div class="pagination wow fadeInUp">
                        @Html.Raw(ViewBag.pageView)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>









@section scripts {

}