﻿<ul class="ns">
    <li @if (ViewBag.UrlPath == "ShareholderMeeting") { @Html.Raw("class=\"current\"") } "><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting">@ViewBag.ResLang["股東常會"]</a></li>
    <li @if (ViewBag.UrlPath == "ShareholderDividend") { @Html.Raw("class=\"current\"") } "><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderDividend">@ViewBag.ResLang["股利資訊"]</a></li>
    @if (ViewBag.Lang == "en")
    {

    }
    else
    {
        <li @if (ViewBag.UrlPath == "ShareholderFaq") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderFaq">@ViewBag.ResLang["投資人問答集"]</a></li>
    }
    @if (ViewBag.Lang == "en")
    {

    }
    else
    {
        <li @if (ViewBag.UrlPath == "ShareholderDownload") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderDownload">@ViewBag.ResLang["股東辦理事項表單下載"]</a></li>
    }

</ul>