﻿@using Web.Models;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "investor";
    ViewBag.BodyDataPage = "investor-shareholder";
    List<share_download> data = ViewBag.Data;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["股東專區"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["股東專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["投資人專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting">@ViewBag.ResLang["股東服務"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting">@ViewBag.ResLang["股東常會"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["股東服務"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns"> 
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder" class="btn">@ViewBag.ResLang["股權結構&股價資訊"]</a></li>
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/ShareholderMeeting" class="btn">@ViewBag.ResLang["股東服務"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body has-nav">
                <div class="primary-body-nav wow fadeIn">
                    <ul class="ns">
                        @Html.Partial("ShareholderNav")<!--共用選單-->
                    </ul>
                </div>
                <div class="primary-body-main">
                    <div class="table-wrapper wow fadeIn">
                        <table class="table table-style table-responsive">
                            <thead>
                                <tr>
                                    <th width="62.5%">@ViewBag.ResLang["項目"]</th>
                                    <th width="37.5%">@ViewBag.ResLang["相關檔案"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (share_download item in data)
                                {
                                    <tr>
                                        <td class="t-left fw-700"><i class="f13 icon-chevrons-right t-mg"></i> @item.title</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.files))
                                            {
                                                <a href="@Url.Content("~/"+item.files)" target="_blank">PDF</a>
                                            }
                                            else
                                            {
                                                @Html.Raw("-")
                                            }
                                        </td>
                                    </tr>
                                }

                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

