/* CSS Document */
#tab3
{
	width:100%;
}
.topTab3
{
	width:95%;
	height:80px;
	padding-bottom:10px;
	border-bottom:#000 solid; 
	margin:auto;
	
}
.detailTab3
{
	width:100%;
	height:1200px;
	display:block;
}
.topTab3 img
{
	float:right;
	padding-top:15px;
	padding-right:20px;
}
.contentTab3
{
	width:100%;
}
.contentTab3 div
{
	width:75%;
	height:80px;
	margin:auto;
	text-align:left;
	line-height:80px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:50px;
	color:#827842;
	border-bottom:#000 dashed;	
}
.contentTab3 img
{
	width:55px;
	float:right;
	padding-right:30px;
	padding-top:10px;
}
.tab12{
	overflow:hidden !important;
}
.detailAboutUs
{
	width:95%;
	display:none;
	font-size:40px;
	text-align:left;
	margin:auto;
	color:#605a4d;
}