/* -------------------------------------------
 *  basic
 * ------------------------------------------ */

html, body
	margin: 0
	padding: 0
	width: 100%
html
	height: 100%
	&.menu-opened, &.body-fixed
		overflow: hidden
body
	background-color: #ffffff
	overflow: visible
	color: #000000
	font-family: font(noto)
	font-size: 18px
	font-weight: 400
	line-height: 1.5
	-webkit-backface-visibility: hidden
	-moz-backface-visibility: hidden
	backface-visibility: hidden
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
a
	+transition-property(color)
	+transition-duration(.3s)
	+transition-timing-function(ease)
.clearfix
	&:after
		display: block
		content: ''
		clear: both
.hidden
	display: none
.invisible
	visibility: hidden
	&.wow
		visibility: hidden !important
.wow
	visibility: hidden
.for-desktop
	+max($max-sm)
		display: none !important
.for-mobile
	+min($min-md)
		display: none !important