/* -------------------------------------------
 *  shown / hidden
 * ------------------------------------------ */

.shown-1199
	+min($min-bg)
		display: none
.shown-991
	+min($min-lg)
		display: none
.shown-767
	+min($min-md)
		display: none
.shown-479
	+min($min-sm)
		display: none
.hidden-767
	+max($max-sm)
		display: none

/* -------------------------------------------
 *  typograpy
 * ------------------------------------------ */

// font family
.ff-noto
	font-family: font(noto)
.ff-osw
	font-family: font(oswald)
.ff-rbt
	font-family: font(roboto)
.ff-rbtc
	font-family: font(roboto-c)

// font size
.f13
	font-size: 13px
.f16
	font-size: 16px
.f18
	font-size: 18px
.f20
	font-size: 20px
.f24
	font-size: 24px
.f25
	font-size: 25px
.f28
	font-size: 28px
.f30
	font-size: 30px
.f36
	font-size: 36px
.f40
	font-size: 40px

// colors
.t-mg
	color: color(main-green)

// text align
.t-left
	text-align: left
.t-center
	text-align: center
.t-right
	text-align: right

// font weight
.fw-700
	font-weight: 700
.fw-500
	font-weight: 500

// line height
.lh-150
	line-height: 1.5
.lh-175
	line-height: 1.75

// letter spacing
.ls-005
	letter-spacing: 0.05em
.ls-01
	letter-spacing: 0.1em

/* -------------------------------------------
 *  hgroups
 * ------------------------------------------ */

// hg basic
.hg
	text-align: center
	&.t-left
		text-align: left
	&.t-right
		text-align: right
	.title
		line-height: 1.15
	.f30
		+max($max-sm)
			font-size: 25px
		+max($max-xs)
			font-size: 22px

/* -------------------------------------------
 *  list style
 * ------------------------------------------ */

ul, ol
	&.ns
		margin: 0
		padding: 0
		list-style-type: none
dl
	&.ns
		margin: 0
		dt, dd
			margin: 0

/* ------------------------------------------
 *  flexbox
 * -----------------------------------------*/

.d-flex
	+flexbox
.flex-column
	+flex-column
.justify-content-center
	+justify-content-center
.align-items-center
	+align-items-center

/* ------------------------------------------
 *  images
 * -----------------------------------------*/

.pic
	img
		display: block
		width: 100% !important
		height: auto !important
.pic-fill
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.imgFill
	&.fill-bottom
		background-size: 100% auto !important
		background-position: center bottom !important

// hoverScale
.hoverScale, .hoverScale a
	display: block
	overflow: hidden
.hoverScale
	.pic
		overflow: hidden
		-webkit-backface-visibility: hidden
		-moz-backface-visibility: hidden
		backface-visibility: hidden
		+scale(1.01)
		+transition-property(opacity, transform)
		+transition-duration(.75s)
		+transition-delay(.1s)
		+transition-timing-function(ease)
	&:hover
		.pic
			+scale(1.05)

// svg
.icon
	display: block
	svg, img
		display: block
	&.icon-fs
		svg
			width: 1em
			height: 1em

/* ------------------------------------------
 *  videos
 * -----------------------------------------*/
							
// iframe wrapper
.if-wrapper
	position: relative
	padding-bottom: 56.25%
	iframe
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: block
		width: 100%
		height: 100%
		margin: 0 !important

/* -------------------------------------------
 *  buttons
 * ------------------------------------------ */

.btn
	position: relative
	+flexbox
	+justify-content-center
	+align-items-center
	overflow: hidden
	line-height: 1
	-webkit-mask-image: -webkit-radial-gradient(white, black)
	.btn-inner
		position: relative
		display: block

	&.w150
		min-width: 150px
		padding: 0 20px

	&.h50
		height: 50px
		&.btn-rounded
			+btn-rounded(50px)
		+max($max-xs)
			height: 40px
			+btn-rounded(40px)

	&.btn-inline
		+inline-flex
	&.btn-vertical
		+flex-column
	&.btn-circle
		border-radius: 50%
		overflow: hidden
		&.w40
			width: 40px
			height: 40px
	
	&.fill-mg
		background-color: color(main-green)
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: color(bright-green)

	&.fill-teal
		background-color: color(teal)
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: color(main-green)

	&.fill-atoll
		background-color: color(atoll)
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: color(limed-spruce)

	&.fill-gray
		background-color: #6B6B6B
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: #4D4D4D

	&.fill-darkGray
		background-color: #4D4D4D
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: #252525

	&.fill-ls
		background-color: color(limed-spruce)
		color: #ffffff
		+transition(background-color .3s ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: color(atoll)

	&.fill-gradient
		color: #ffffff
		background-color: #006930
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			+h-gradient($gradient-ltr)
			+transition(opacity .3s ease)
		.desktop &
			&:not(.no-hover):hover
				&::before
					opacity: 0

	&.border-mg
		border: 1px solid color(main-green)
		color: color(main-green)
		+transition-property(color, background-color, border-color)
		+transition-duration(.3s)
		+transition-timing-function(ease)
		.desktop &
			&:not(.no-hover):hover
				background-color: color(bright-green)
				border-color: color(bright-green)
				color: #ffffff

/* -------------------------------------------
 *  plugins
 * ------------------------------------------ */

// slick
.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent
	&.slick-dotted
		padding-bottom: 50px
		+max($max-xs)
			padding-bottom: 35px
.slick-list
	position: relative
	overflow: hidden
	display: block
	margin: 0
	padding: 0
	&:focus
		outline: none
	&.dragging
		cursor: pointer
		cursor: hand
.slick-slider .slick-track,
.slick-slider .slick-list
	+translate3d(0, 0, 0)
.slick-track
	position: relative
	left: 0
	top: 0
	display: block
	margin-left: auto
	margin-right: auto
	&:before, &:after
		content: ''
		display: table
	&:after
		clear: both
	.slick-loading &
		visibility: hidden
.slick-slide
	float: left
	height: 100%
	min-height: 1px
	[dir="rtl"] &
		float: right
	img
		display: block
	&.slick-loading img
		display: none
	display: none
	&.dragging img
		pointer-events: none
	.slick-initialized &
		display: block
	.slick-loading &
		visibility: hidden
	.slick-vertical &
		display: block
		height: auto
		border: 1px solid transparent
.slick-arrow.slick-hidden
	display: none
.slick-item
	display: block !important
.slick-arrow
	position: absolute
	z-index: 5
	top: calc(50% - 30px)
	.btn
		width: 60px
		height: 60px
		background-color: #ffffff
		box-shadow: 8px 8px 30px rgba(0,0,0,.1)
		font-size: 40px
		color: color(main-green)
		+transition-property(background-color, color)
		+transition-duration(.3s)
		+transition-timing-function(ease)
		-webkit-mask-image: none
		svg
			width: 1em
			height: 1em
		.desktop &
			&:hover
				color: #ffffff
				background-color: color(main-green)
	&.slick-prev
		left: 0
		svg
			margin-right: 0.1em
	&.slick-next
		right: 0
		svg
			margin-left: 0.1em
.slick-dots
	position: absolute
	left: 0
	right: 0
	bottom: 0
	font-size: 0
	+flexbox
	+justify-content-center
	+align-items-center
	li
		border-radius: 50%
		overflow: hidden
		border-width: 3px
		border-style: solid
		border-color: transparent
		+transition(border-color .3s ease)
		+ li
			margin-left: 10px
		button
			display: block
			width: 11px
			height: 11px
			background-color: color(ocean-blue)
			+transition(background-color .3s ease)
		&.slick-active
			border-color: color(light-blue)
			button
				background-color: #ffffff


// parallax
.parallax-mirror
	+animation-name(fadeIn)
	+animation-duration(1s)
	+animation-fill-mode(both)
	+animation-delay(.2s)

/* ------------------------------------------
 *  editor
 * -----------------------------------------*/

.editor-style
	h1, h2, h3, h4, h5, h6, p, img, figure, ul, ol, table, video, audio, iframe
		margin-top: 1rem
		margin-bottom: 1rem
	*:first-child
		margin-top: 0 !important
	*:last-child
		margin-bottom: 0 !important
	ul
		&:not(.ns)
			margin-left: 1.5em

.editor
	font-size: 16px
	line-height: 2
	section
		margin: 3em 0
		+max($max-sm)
			margin: 2em 0
		+max($max-xs)
			margin: 1.5em 0
	h1, h2, h3, h4, h5, h6
		line-height: 1.3
	img
		display: inline-block
		vertical-align: top
	a
		color: color(main-green)
		text-decoration: underline
	.indent
		padding-left: 1em
    
/* ------------------------------------------
 *  table
 * -----------------------------------------*/

.hg + .table-wrapper
	margin-top: 30px

// basic
.table
	&.table-fixed
		table-layout: fixed
	&.table-responsive
		+max($max-sm)
			table-layout: unset
			text-align: left
			thead
				display: none
			tbody
				tr, td
					display: block
				tr
					border: 1px solid color(main-green)
					+ tr
						margin-top: 25px
					td
						position: relative
						padding-left: 125px
						border: none
						min-height: calc(1.5em + 20px)
						+ td
							border-top: 1px solid color(main-green)
						&::before
							content: attr(data-title)
							position: absolute
							top: -1px
							left: -1px
							bottom: -1px
							+flexbox
							+justify-content-center
							+align-items-center
							width: 110px
							padding: 10px
							color: #ffffff
							font-weight: 500
						&:nth-child(odd)
							&::before
								background-color: #313E46
						&:nth-child(even)
							&::before
								background-color: color(main-green)

// style 1
.table-style
	width: 100%
	font-family: font(roboto)
	font-size: 16px
	text-align: center
	color: #3C3C3C
	th, td
		padding: 10px 20px
		vertical-align: middle
		+max($max-sm)
			padding: 10px
	th
		color: #ffffff
		font-weight: 500
		border-width: 1px
		border-style: solid
		&:nth-child(odd)
			background-color: #313E46
			border-color: #313E46
		&:nth-child(even)
			background-color: color(main-green)
			border-color: color(main-green)
	td
		border: 1px solid color(main-green)
		a
			color: color(main-green)
			text-decoration: underline
			&:hover
				color: color(bright-green)
	tr
		&:first-child
			td
				border-top: none
		&:nth-child(odd)
			background-color: #ffffff
		&:nth-child(even)
			background-color: #E7F9EF
		td
			&.filled
				background-color: #E7F9EF

// style 2
.table-style2
	width: 100%
	font-size: 16px
	text-align: center
	color: #3C3C3C
	th, td
		padding: 20px
		vertical-align: middle
		+max($max-sm)
			padding: 10px
	th
		background-color: #313E46
		color: #ffffff
		font-weight: 500
	td
		border-bottom: 1px solid #DCDCDC
	tr
		&:nth-child(odd)
			background-color: rgba(color(main-green),.1)
		&:nth-child(even)
			background-color: #ffffff
		td
			&.filled
				background-color: rgba(color(main-green),.1)
		

/* -------------------------------------------
 *  form
 * ------------------------------------------ */

// form style
.form-style
	font-size: 16px
	font-weight: 700
	.form-row
		+min($min-bg)
			+flexbox
			+justify-content-between
			margin: 0 -25px
			+ .form-row
				margin-top: 40px
		+max($max-lg)
			+ .form-row
				margin-top: 20px
		+max($max-xs)
			+ .form-row
				margin-top: 30px
		&.action
			+justify-content-center
			+max($max-lg)
				+flexbox
		.form-group
			position: relative
			+min($min-sm)
				+flexbox
				+justify-content-between
			+min($min-bg)
				+flex(1)
				margin: 0 25px
			+max($max-lg)
				+ .form-group
					margin-top: 20px
			+max($max-xs)
				+ .form-group
					margin-top: 30px
			.form-label
				+flexbox
				+align-items-center
				text-align: left
				span
					color: #FF1100
				+min($min-sm)
					width: 135px
					height: 60px
					padding-right: 15px
			.form-controls
				+flexbox
				+align-items-center
				margin: 0 -5px
				+min($min-sm)
					width: calc(100% - 125px)
				+max($max-xs)
					margin-top: 10px
				.form-control
					+flex(1)
					margin: 0 5px
					position: relative
					height: 60px
					+max($max-xs)
						max-width: 100%
						height: 50px
					&:not(.for-select)
						background-color: #E5F3EC
						border: 1px solid color(main-green)
						border-radius: 10px
						-webkit-appearance: none
						-moz-appearance: none
						appearance: none
					&:not(.for-select):not(textarea)				
						padding: 0 15px
					.bootstrap-select
						position: relative
						z-index: 5
						display: block
						width: 100%
						overflow: hidden
						background-color: #E5F3EC
						border: 1px solid color(main-green)
						border-radius: 10px
						> .dropdown-toggle
							display: block
							height: 58px
							background: none
							border: none
							font-weight: 700
							+max($max-xs)
								height: 48px
							&::after
								display: none
							.filter-option
								+flexbox
								+justify-content-between
								+align-items-center
								padding: 0 15px
								&::after
									content: '\e901'
									color: color(main-green)
									font-family: font(icon)
									font-size: 25px
									+transition(transform .3s ease)
						.dropdown-menu
							float: none
							background: none
						> .dropdown-menu
							position: static !important
							display: block
							+transform(none !important)
							min-width: unset !important
							min-height: unset !important
							max-height: 0 !important
							margin: 0
							padding: 0
							background: none
							border: none
							border-radius: 0
							+transition(max-height .35s ease)
							> .inner
								+min($min-bg)
									max-height: 250px !important
								+max($max-lg)
									max-height: 200px !important
								> ul
									> li
										&.disabled
											display: none
							.dropdown-item
								padding: 10px 15px
								+transition(none)
								&:hover
									color: #ffffff
									background-color: color(bright-green)
								&.active, &:active
									background-color: color(main-green)
									color: #ffffff
						&.show
							> .dropdown-toggle
								.filter-option
									&::after
										+rotate(180)
							> .dropdown-menu
								+min($min-bg)
									max-height: 250px !important
								+max($max-lg)
									max-height: 200px !important
				textarea.form-control
					height: auto
					padding: 15px
				&.for-code
					position: relative
					display: block
					.form-control
						width: 100%
					.code
						position: absolute
						top: 10px
						right: 10px
						display: block
						width: auto
						height: 40px
						+max($max-xs)
							top: 5px
							right: 5px
			#twzipcode
				[name="zipcode"]
					display: none

// form submit
.form-submit
	position: relative
	width: 100%
	max-width: 600px
	margin: 0 auto
	padding-top: 60px
	&::before
		content: '\e907'
		position: absolute
		top: 0
		left: calc(50% - 60px)
		+flexbox
		+justify-content-center
		+align-items-center
		width: 120px
		height: 120px
		background-color: color(main-green)
		border-radius: 50%
		font-family: font(icon)
		font-size: 60px
		color: #ffffff
	+max($max-xs)
		padding-top: 40px
		&::before
			left: calc(50% - 40px)
			width: 80px
			height: 80px
			font-size: 30px
	.form-submit-box
		padding: 90px 50px 55px
		background-color: #ffffff
		border: 1px solid color(main-green)
		border-radius: 20px
		+box-shadow(0 10px 20px rgba(0,0,0,.3))
		font-size: 16px
		font-weight: 700
		text-align: center
		+max($max-xs)
			padding: 60px 25px 35px
		.head
			color: #3C3C3C
			.title
				+ .txt
					margin-top: 20px
					+max($max-xs)
						margin-top: 10px
		.button
			margin-top: 40px
			.btn
				width: 160px
				height: 60px
				border-radius: 20px
			+max($max-xs)
				margin-top: 25px
				.btn
					width: 150px
					height: 50px
					border-radius: 10px
	&.alt
		max-width: 700px
		padding-top: 0		
		+min($min-sm)
			&::before
				width: 100px
				height: 100px
				margin-top: 50px
				font-size: 42px
			.form-submit-box
				padding-top: 160px
				.head
					.txt
						font-size: 18px
						line-height: 2
				.button
					margin-top: 30px
		+max($max-xs)
			&::before
				margin-top: 35px
			.form-submit-box
				padding-top: 130px

/* ------------------------------------------
 *  shared
 * -----------------------------------------*/

// pagination
.pagination
	+flexbox
	+justify-content-center
	+align-items-center
	margin-top: 80px
	+max($max-lg)
		margin-top: 50px
	+max($max-sm)
		margin-top: 35px
	ul
		+flexbox
		+justify-content-center
		+align-items-center
	.arrow
		color: rgba(color(main-green), .5)
		font-size: 20px
		ul
			li
				+flexbox
				+justify-content-center
				+align-items-center
				width: 25px
		a:hover
			color: color(main-green)
	.jump
		margin: 0 25px
		ul
			li
				+ li
					margin-left: 10px
				.btn
					width: 30px
					height: 30px
					background-color: #ffffff
					border: 1px solid color(main-green)
					color: #999999
					font-family: font(roboto)
					font-size: 16px
					color: color(main-green)
					+transition-property(background-color, border-color, color)
					+transition-duration(.3s)
					+transition-timing-function(ease)
					&:hover
						background-color: color(bright-green)
						border-color: color(bright-green)
						color: #ffffff
				&.current
					.btn
						pointer-events: none
						color: #ffffff
						background-color: color(main-green)
	+max($max-sm)
		.jump
			margin: 0 10px
			ul
				li
					+ li
						margin-left: 5px
	+max($max-sm)
		.jump
			ul
				li
					+ li
						margin-left: 2px

// info box
=dashedLine
	background-image: linear-gradient(to right, #C8C8C8 75%, rgba(255,255,255,0) 0%)
	background-size: 7.5px 1px
	background-repeat: repeat-x
.info-box
	font-size: 16px
	font-weight: 500
	+min($min-bg)
		margin: 0 30px
		ul
			+dashedLine
		+max($max-bg)
			margin: 0 15px
	ul
		background-position: top
		li
			padding: 18px 20px
			+dashedLine
			background-position: bottom
			+max($max-xs)
				padding: 15px
			.tt
				&::before
					content: '\e906'
					display: inline-block
					margin-right: 3px
					font-family: font(icon)
					font-size: 0.8em
				&::after
					content: '：'
			.txt
				a:hover
					color: color(bright-green)

// faq
.faq-list
	.faq-box
		border-top: 1px solid #DCDCDC
		+transition-property(background-color, border-color)
		+transition-duration(.3s)
		+transition-timing-function(ease)
		&:last-child
			border-bottom: 1px solid #DCDCDC
		&:hover
			background-color: rgba(0,0,0,.025)
		.faq-box-q
			position: relative
			padding: 30px 90px 30px 40px
			cursor: pointer
			+min($min-md)
				+flexbox
				+justify-content-between
				+align-items-center
			&::after
				position: absolute
				top: calc(50% - 15px)
				right: 40px
				content: '\e901'
				display: block
				font-family: font(icon)
				font-size: 30px
				line-height: 1
				color: color(main-green)
				+transition(transform .3s ease)
			.title
				+flexbox
				+align-items-center
				font-size: 18px
				font-weight: 700
				color: #3C3C3C
				line-height: 1.3
				+transition(color .3s ease)
				&::before
					+flex-shrink(0)
					content: 'Q'
					display: block
					width: 40px
					height: 40px
					margin-right: 15px
					border-radius: 50%
					background-color: color(main-green)
					color: #ffffff
					font-size: 1.05em
					text-align: center
					line-height: 35px
			.date
				font-family: font(oswald)
				font-size: 16px
				order: 3
				+max($max-sm)
					margin-top: 5px
					padding-left: 45px
					font-size: 14px
					opacity: .7
		.faq-box-a
			display: none
			padding: 0 95px 40px
			font-size: 16px
			line-height: 1.75
			color: #323232
		&.active
			background-color: rgba(color(main-green),.05)
			border-top-color: color(main-green)
			.faq-box-q
				&::after
					+rotate(180)
				.title
					color: color(main-green)
		+max($max-md)
			.faq-box-q
				padding: 20px 75px 20px 30px
				&::after
					top: calc(50% - 25px/2)
					right: 30px
					font-size: 25px
				.title
					&::before
						width: 35px
						height: 35px
						margin-right: 10px
						font-size: 1em
						line-height: 30px
			.faq-box-a
				padding: 0 85px 30px
		+max($max-sm)
			.faq-box-a
				padding: 0 30px 30px
		+max($max-xs)
			.faq-box-q
				padding: 15px 45px 15px 15px
				&::after
					right: 15px
				.title
					font-size: 16px
			.faq-box-a
				padding: 0 15px 15px

// terms
.terms
	+min($min-bg)
		padding: 0 30px
	.title
		font-size: 20px
		font-weight: 700
		+max($max-xs)
			font-size: 18px
