/* -------------------------------------------
 *  layout
 * ------------------------------------------ */

.wp
  overflow: hidden

.container
  width: calc(100% - 110px)
  max-width: 1680px
  margin: 0 auto
  &.c-lg
    max-width: none
  &.c-lg-alt
    max-width: none
    +min($min-xl2)
      padding: 0 40px
  &.c-md
    max-width: 1400px
  &.c-sm
    max-width: 1200px
  +max($max-xl)
    width: calc(100% - 100px)
  +max($max-sm)
    width: calc(100% - 50px)
  +max($max-xs)
    width: calc(100% - 40px)
  
/* -------------------------------------------
 *  header
 * ------------------------------------------ */

.header
  position: fixed
  z-index: 999
  top: 0
  left: 0
  right: 0
  +transition-property(background-color, visibility, opacity)
  +transition-duration(.5s)
  +transition-timing-function(ease)
  .header-toggle
    position: absolute
    z-index: -100
    top: 0
    left: 0
    visibility: hidden
    opacity: 0
    +transition-property(visibility, opacity)
    +transition-duration(.5s)
    +transition-timing-function(ease)
    +max($max-lg)
      display: none
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 10px
      bottom: 10px
      display: block
      +box-shadow(0 0 10px 10px rgba(0,0,0,0.2))
    .btn
      position: relative
      z-index: 1
      width: 80px
      height: 80px
      +flex-column
      background-color: #ffffff
      border-bottom-right-radius: 10px
      img
        display: block
        width: 40px
      span
        display: block
        margin-top: 5px
        color: color(main-green)
        font-size: 14px
        text-align: center
  .header-main
    +transition-property(visibility, opacity, transform)
    +transition-duration(.3s)
    +transition-timing-function(ease)
  .menu-head
    .logo
      position: relative
      a, img
        display: block
      a
        padding-top: 4px
      > div
        +transition-property(visibility, opacity)
        +transition-duration(.3s)
        +transition-timing-function(ease)
      .logo-w
        position: absolute
        z-index: 5
        top: 0
        left: 0
      .logo-b
        position: relative
        z-index: -100
        visibility: hidden
        opacity: 0
  .menu-main
    .buttons
      +flexbox
      +align-items-center
      > div
        + div
          margin-left: 15px
      .lang
        +btn-rounded(40px)
        padding: 0 20px
        background-color: #ffffff
        border: 1px solid color(main-green)
        text-align: center
        ul
          +flexbox
          +justify-content-center
          +align-items-center
          height: 38px
          font-size: 17px
          color: #B4B4B4
          li
            + li
              margin-left: 10px
            a
              .desktop &
                &:hover
                  color: color(bright-green)
            &.active
              font-weight: 500
              a
                color: color(main-green)
                pointer-events: none
      .social
        ul
          +flexbox
          +align-items-center
          li
            + li
              margin-left: 10px
            .btn
              width: 40px
              height: 40px
              color: #ffffff
              &.facebook
                background-color: #3b5998
  &.scroll
    .menu-head
      .logo
        .logo-w
          z-index: -100
          visibility: hidden
          opacity: 0
        .logo-b
          z-index: 5
          visibility: visible
          opacity: 1
  +min($min-bg)
    &.loading
      visibility: hidden
      opacity: 0
    .menu-head
      .logo
        position: absolute
        top: 20px
        left: 55px
        +max($max-xl)
          left: 50px
        +max($max-bg)
          left: 25px
      .buttons
        display: none
    .menu-main
      .menu-main-inner
        +flexbox
        +justify-content-between
        +align-items-center
        color: #ffffff
        +max($max-bg)
          width: calc(100% - 50px)
        &::before
          content: ''
          display: block
          width: 188px
          height: 1px
      .mainlinks
        overflow: hidden
        &:hover
          overflow: visible
        > ul
          +flexbox
          +justify-content-center
          > li
            .ml-tt
              position: relative
              z-index: 2
              font-size: 18px
              text-align: center
              line-height: 1
              +flexbox
              +align-items-center
              height: 80px
              .ml-tt-txt
                margin: 0 30px
                white-space: nowrap
                cursor: pointer
                +max($max-bg)
                  margin: 0 20px
                &::after
                  content: ''
                  position: absolute
                  left: 0
                  right: 0
                  bottom: 0
                  height: 0
                  +h-gradient($gradient-ltr)
                  +transition(height .3s ease)
                .desktop &
                  &:hover
                    color: color(main-green)
                    &::after
                      height: 5px
            .ml-sm
              position: absolute
              top: 79px
              left: 0
              right: 0
              padding: 40px 0
              background-color: #ffffff
              border-top: 1px solid #DCDCDC
              visibility: hidden
              opacity: 0
              color: #3C3C3C
              +box-shadow(0 15px 15px 0 rgba(0,0,0,0.05))
              +transition-property(visibility, opacity)
              +transition-duration(.3s)
              +transition-timing-function(ease)
              .ml-sm-inner
                +flexbox
                +justify-content-between
              .sm-pic
                width: 360px
              .sm-links
                width: calc(100% - 400px)
                ul
                  +gridbox
                  grid-auto-flow: column
                  grid-template-rows: repeat(4, auto)
                  grid-column-gap: 40px
                  grid-row-gap: 0
                  -ms-grid-columns: calc(25% - 120px/4) calc(25% - 120px/4) calc(25% - 120px/4) calc(25% - 120px/4)
                  grid-template-columns: repeat( 4, calc(25% - 120px/4) )
                  li
                    font-size: 18px
                    font-weight: 500
                    line-height: 1
                    border-bottom: 1px solid #DCDCDC
                    &:nth-child(4n+0)
                      border-bottom: none
                    .msie &
                      margin-left: 40px
                      &:nth-child(1), &:nth-child(5), &:nth-child(9), &:nth-child(13)
                        -ms-grid-row: 1
                        margin-top: 0
                      &:nth-child(2), &:nth-child(6), &:nth-child(10), &:nth-child(14)
                        -ms-grid-row: 2
                      &:nth-child(3), &:nth-child(7), &:nth-child(11), &:nth-child(15)
                        -ms-grid-row: 3
                      &:nth-child(4), &:nth-child(8), &:nth-child(12), &:nth-child(16)
                        -ms-grid-row: 4
                      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
                        -ms-grid-column: 1
                        margin-left: 0
                      &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
                        -ms-grid-column: 2
                      &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12)
                        -ms-grid-column: 3
                      &:nth-child(13), &:nth-child(14), &:nth-child(15), &:nth-child(16)
                        -ms-grid-column: 4
                    a
                      display: block
                      padding: 17.5px 0 17.5px 30px
                      +transition-property(color, padding)
                      &::before
                        content: '\e903'
                        display: inline-block
                        vertical-align: 0
                        margin-left: -1.25em
                        font-family: font(icon)
                        font-size: 1.25em
                        line-height: 1
                        color: color(main-green)
                      .desktop &
                        &:hover
                          color: color(bright-green)
              .sm-slider
                width: calc(100% - 220px)
                .slick-slider
                  width: 100%
                .slick-arrow
                  .btn
                    width: 40px
                    height: 40px
                    font-size: 25px
                    +box-shadow(0 10px 20px rgba(0,0,0,0.3))
                  &.slick-prev
                    left: -20px
                  &.slick-next
                    right: -20px
                .slick-track
                  margin: 0 -3px
                .slick-slide
                  margin: 0 3px
                  figure
                    img, figcaption
                      display: block
                    img
                      width: 100%
                      +transition(opacity .3s ease)
                    figcaption
                      margin-top: 15px
                      font-size: 18px
                      line-height: 1
                      text-align: center
                      +transition(color .3s ease)
                  a
                    display: block
                    .desktop &
                      &:hover
                        img
                          opacity: 0.75
                        figcaption
                          color: color(main-green)
              &.for-cases
                .sm-links
                  width: 160px
                  ul
                    display: block
                    li
                      &:last-child
                        border-bottom: none
            &.current, &.active
              .ml-tt
                .ml-tt-txt
                  color: color(main-green)
                  &::after
                    height: 5px
            &.active
              .ml-sm
                visibility: visible
                opacity: 1
            + li
              .ml-tt
                .ml-tt-txt::before
                  content: ''
                  position: absolute
                  top: 27px
                  left: 0
                  display: block
                  width: 1px
                  height: 26px
                  background-color: #DCDCDC
      .buttons
        +justify-content-end
    &:not(.scroll):not(:hover)
      .menu-main
        .mainlinks
          > ul
            > li
              &.current
                .ml-tt
                  .ml-tt-txt
                    color: #ffffff
                    &::after
                      background: #ffffff
    &.scroll, &:not(.scroll):hover
      .menu-main
        .menu-main-inner
          color: #3C3C3C
        .mainlinks
          > ul
            > li
              .ml-tt
                font-weight: 500
    &:not(.scroll):hover
      .menu-head
        .logo
          .logo-w
            z-index: -100
            visibility: hidden
            opacity: 0
          .logo-b
            z-index: 5
            visibility: visible
            opacity: 1
    &:not(.scroll):hover, &.opened
      background-color: #ffffff
    &.scroll:not(.opened)
      right: auto
      width: 80px
      .header-toggle
        z-index: 5
        visibility: visible
        opacity: 1
        +transition-delay(.25s)
      .header-main
        visibility: hidden
        opacity: 0
        +translateX(-100px)
  +max($max-lg)
    .menu-head
      +flexbox
      +justify-content-between
      +align-items-center
      height: 90px
      padding: 0 25px
      +transition(background-color .3s ease .5s)
      +max($max-xs)
        height: 70px
        padding: 0 20px
      &::after
        content: ''
        position: absolute
        z-index: 5
        left: 0
        right: 0
        bottom: 0
        display: block
        opacity: 0
        height: 2px
        background-color: #FFF200
        +transition(opacity .3s ease .5s)
      .logo
        +max($max-xs)
          width: 150px
      .buttons
        +flexbox
        +align-items-center
        > div + div
          margin-left: 10px
        .btn
          cursor: pointer
          width: 35px
          height: 35px
          +min($min-sm)
            width: 40px
            height: 40px
        .menu-toggle
          .btn
            .btn-inner
              position: relative
              width: 15px
              span, &::before, &::after
                display: block
                width: 100%
                height: 2px
                background-color: #ffffff
              span
                margin: 4px 0
              &::before, &::after
                content: ''
                position: absolute
                left: 0
                +transform-origin(left center)
                +transition(transform .3s ease)
              &::before
                top: 0
              &::after
                bottom: 0
          +min($min-sm)
            .btn-inner
              width: 17px
              span
                margin: 5px 0
        .lang
          .current
            display: none
          .btn
            font-size: 14px
    .menu-main
      position: fixed
      z-index: -100
      top: 90px
      left: 0
      right: 0
      bottom: 0
      background-color: #ffffff
      overflow: auto
      visibility: hidden
      +translateY(-100%)
      +transition-property(z-index, visibility, transform)
      +transition-duration(.5s)
      +transition-timing-function(ease)
      +max($max-xs)
        top: 70px
      .menu-main-inner
        width: 100%
      .mainlinks
        color: #0B5826
        font-size: 18px
        > ul
          > li
            border-bottom: 1px solid #E5E5E5
        .ml-tt
          .ml-tt-txt
            +flexbox
            +justify-content-between
            +align-items-center
            padding: 20px 35px
            &::after
              content: '\e903'
              display: block
              width: 20px
              height: 20px
              font-family: font(icon)
              font-size: 20px
              line-height: 1
              +transition(transform .3s ease)
            +max($max-xs)
              padding: 15px 35px
          &.active
            .ml-tt-txt
              &::after
                +rotate(90)
        .ml-sm
          display: none
          background-color: #EBF2ED
          .ml-sm-inner
            width: 100%
            > div + div
              border-top: 1px solid #FFFFFF
          ul
            li
              + li
                border-top: 1px solid #FFFFFF
          a
            display: block
            padding: 20px 55px
            +max($max-xs)
              padding: 15px 55px
          .sm-pic
            display: none
          .sm-slider
            figure
              img
                display: none
      .buttons
        margin-top: 35px
        +justify-content-center
        .lang
          display: none
    &:not(.scroll), &:not(.menu-opened)
      .menu-head
        .logo
          > div
            +transition-delay(.5s)
            +transition-property(z-index, visibility, opacity)
    &.scroll, &.menu-opened
      .menu-head
        background-color: #ffffff
        +transition-delay(0s)
        .logo
          > div
            +transition-delay(0s)
          .logo-w
            z-index: -100
            visibility: hidden
            opacity: 0
          .logo-b
            z-index: 5
            visibility: visible
            opacity: 1
    &.menu-opened
      .menu-head
        &::after
          opacity: 1
          +transition-delay(0s)
        .buttons
          .menu-toggle
            .btn
              .btn-inner
                span
                  opacity: 0
                &::before, &::after
                  margin-left: 2px
                &::before
                  top: -1px
                  +rotate(45)
                &::after
                  bottom: -1px
                  +rotate(-45)
      .menu-main
        z-index: 2
        visibility: visible
        +translateY(0)

/* -------------------------------------------
 *  footer
 * ------------------------------------------ */

#footer
  .footer-main
    position: relative
    padding: 80px 0 40px
    background-image: radial-gradient(circle at top left, #9FDC70, color(main-green) 25%)
    color: #ffffff
    +max($max-lg)
      padding: 50px 0 100px
    +max($max-xs)
      padding: 35px 0 75px
    .footer-inner
      position: relative
      z-index: 1
      +flexbox
      +min($min-xl2)
        +justify-content-between
      +max($max-xl)
        +flex-column
        +align-items-center
    .footer-profile
      font-size: 18px
      > div
        + div
          margin-top: 25px
        ul
          li
            + li
              margin-top: 0.5em
            span
              display: inline-block
              vertical-align: -2px
              width: 1px
              height: 1em
              margin: 0 0.5em
              background-color: rgba(255,255,255, 0.75)
      +max($max-xl)
        text-align: center
      +max($max-xs)
        font-size: 16px
        > div
          + div
            margin-top: 15px
      .logo
        display: inline-block
        img
          display: block
        +max($max-xs)
          img
            width: 185px
      .social
        .btn
          width: 40px
          height: 40px
          border: 1px solid #ffffff
          color: #ffffff
          font-size: 20px
          opacity: 0.5
          +transition-property(opacity, border-color, background-color)
          +transition-duration(.3s)
          +transition-timing-function(ease)
          &:hover
            opacity: 1
          &.facebook
            &:hover
              border-color: #3b5998
              background-color: #3b5998
    .footer-menu
      +flexbox
      +min($min-xl2)
        width: calc(100% - 345px)
      +max($max-xl)
        width: 100%
        margin-top: 50px
      +max($max-lg)
        display: none
      .col
        +flex-grow(1)
        .col-tt
          font-size: 20px
        .col-ctx
          margin-top: 20px
          font-size: 17px
          ul
            +gridbox
            grid-auto-flow: column
            grid-template-rows: repeat(7, auto)
            grid-column-gap: 1.5em
            grid-row-gap: 1em
            li
              a
                opacity: 0.5
                +transition-property(opacity)
                &:hover
                  opacity: 1
              .msie &
                margin-top: 1em
                margin-left: 1.5em
                &:nth-child(1), &:nth-child(8)
                  -ms-grid-row: 1
                  margin-top: 0
                &:nth-child(2), &:nth-child(9)
                  -ms-grid-row: 2
                &:nth-child(3), &:nth-child(10)
                  -ms-grid-row: 3
                &:nth-child(4), &:nth-child(11)
                  -ms-grid-row: 4
                &:nth-child(5), &:nth-child(12)
                  -ms-grid-row: 5
                &:nth-child(6), &:nth-child(13)
                  -ms-grid-row: 6
                &:nth-child(7), &:nth-child(14)
                  -ms-grid-row: 7
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)
                  -ms-grid-column: 1
                  margin-left: 0
                &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14)
                  -ms-grid-column: 2
      +min(1681px)
        .col
          padding: 0 3.5%
          white-space: nowrap
      +mm($max-xl2, $min-xl2)
        .col
          padding: 2%
      +max($max-xl2)
        .col
          .col-ctx
            ul
              grid-column-gap: 1em
              li
                .msie &
                  margin-left: 1em
      +min($min-xl2)
        .col
          border-left: 1px solid rgba(0,0,0,0.1)
          &:last-child
            padding-right: 0
      +max($max-xl)
        .col
          + .col
            padding-left: 2%
            border-left: 1px solid rgba(0,0,0,0.1)
    .footer-scroll
      position: absolute
      right: 30px
      bottom: -54px
      +max($max-lg)
        right: calc(50% - 54px)
      button
        position: relative
        display: block
        width: 108px
        height: 108px
        padding-bottom: 45px
        color: color(main-green)
        text-align: center
        +transition(color .3s ease)
        .btn-inner
          position: relative
          z-index: 2
          font-size: 16px
          +max($max-xs)
            font-size: 15px
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          display: block
          width: 78px
          height: 78px
          background-color: #313E46
          +transform(translateX(54px) rotate(45deg))
          +transform-origin(top left)
          +transition(background-color .3s ease)
        &:hover
          color: #ffffff
          &::before
            background-color: color(bright-green)
  .footer-bottom
    position: relative
    background-color: #313E46
    color: #768690
    font-size: 16px
    line-height: 1
    .footer-inner
      text-align: center
      ul
        li
          a
            +transition-property(color)
            &:hover
              color: #ffffff
    +min($min-sm)
      .footer-inner
        ul
          +flexbox
          +justify-content-center
          +align-items-center
          li
            + li
              margin-left: 25px
              padding-left: 25px
              border-left: 1px solid #768690
        +max($max-lg)
          ul
            +flex-wrap
            li
              + li
                margin-left: 15px
                padding-left: 15px
    +min($min-bg)
      .footer-inner
        ul
          height: 60px
    +max($max-lg)
      padding: 25px 0
      .footer-inner
        ul
          li
            &:first-child
              width: 100%
              margin-bottom: 1em
              + li
                border: none
                padding: 0
    +max($max-xs)
      font-size: 15px
      line-height: 1.5
      .footer-inner
        ul
          li
            &.link
              display: inline-block
              margin-top: 5px
              line-height: 1
              + .link
                margin-left: 10px
                padding-left: 10px
                border-left: 1px solid #768690

/* -------------------------------------------
 *  pages
 * ------------------------------------------ */

// hero
.hero
  position: relative
  color: #ffffff
  display: table
  width: 100%
  +min($min-bg)
    overflow: hidden
  .hero-inner
    position: relative
    z-index: 2
    display: table-cell
    width: 100%
    height: 460px
    vertical-align: middle
    text-align: center
    +min($min-md)
      padding-bottom: 30px
    +max($max-xl)
      height: calc(30vw + 60px)
    +max($max-lg)
      height: calc(35vw + 60px)
    +max($max-md)
      height: calc(45vw + 60px)
    +max($max-sm)
      height: calc(50vw + 50px)
      padding-bottom: 25px
    +max($max-xs)
      height: calc(60vw + 50px)
    .title
      font-size: 60px
      font-weight: 700
      line-height: 1
      +max($max-xl)
        font-size: 48px
      +max($max-md)
        font-size: 35px
      +max($max-xs)
        font-size: 30px
  .hero-nav
    position: absolute
    z-index: 5
    left: 0
    right: 0
    bottom: 0
    color: #ffffff
    +min($min-bg)
      background-color: rgba(0,0,0,0.4)
      .hero-nav-toggle
        display: none
      .hero-nav-menu
        display: block !important
        ul
          +flexbox
          +justify-content-center
          +align-items-center
          li
            position: relative
            a
              position: relative
              +flexbox
              +justify-content-center
              +align-items-center
              height: 60px
              padding: 0 25px
              font-size: 18px
              white-space: nowrap
              +transition-property(background-color)
              &:hover
                background-color: color(bright-green)
            &.current
              a
                z-index: 1
                &:hover
                  background: none
              &::before
                content: ''
                position: absolute
                top: -10px
                left: 0
                right: 0
                bottom: 0
                display: block
                +v-gradient(color(main-green), #007737)
    +max($max-lg)
      +animation-name(fadeIn)
      .hero-nav-toggle
        background-color: rgba(0,0,0,0.4)
        +transition(background-color .3s ease .5s)
        .btn
          +justify-content-between
          width: 100%
          height: 60px
          padding: 0 25px
          cursor: pointer
          +max($max-sm)
            height: 50px
          +max($max-xs)
            padding: 0 20px
          .btn-inner
            font-size: 18px
            &::before
              content: '\e904'
              display: inline-block
              vertical-align: 0
              width: 20px
              height: 20px
              margin-right: 20px
              font-family: font(icon)
              font-size: 20px
              line-height: 1
            +max($max-sm)
              font-size: 16px
            +max($max-xs)
              &::before
                margin-right: 15px
          &::after
            content: '\e901'
            display: block
            font-family: font(icon)
            font-size: 1.3em
            line-height: 1
            +transition(transform .3s ease)
      .hero-nav-menu
        display: none
        position: absolute
        left: 0
        right: 0
        top: 60px
        background-color: #000000
        max-height: 40vh
        overflow: auto
        +max($max-sm)
          top: 50px
        ul
          li
            a
              display: block
              padding: 15px 25px
              font-size: 18px
              +max($max-sm)
                padding: 10px 25px
                font-size: 16px
              +max($max-xs)
                padding: 10px 20px
            &.current
              a
                background-color: color(bright-green)
      &.menu-opened
        .hero-nav-toggle
          background-color: color(main-green)
          +transition-delay(0s)
          .btn
            &::after
              +rotate(180)
        
// primary
.primary
  position: relative
  overflow: hidden
  color: #323232
  &.of-visible
    overflow: visible
  .primary-bg
    z-index: 0
  &.bg-gray
    background-color: #F0F0F0
  .primary-inner
    position: relative
    z-index: 1
    &:not(.no-padding)
      padding: 80px 0 100px
      +max($max-lg)
        padding: 75px 0
      +max($max-md)
        padding: 50px 0
      +max($max-xs)
        padding: 35px 0
      &.bottom-0
        padding-bottom: 0
    &.upper
      background-color: #ffffff
      border-radius: 20px
      overflow: hidden
      +box-shadow(0 10px 20px rgba(0,0,0,.3))
      +min($min-bg)
        +translateY(-100px)
        padding: 65px 65px 100px
      +mm($max-lg, $min-md)
        +translateY(-75px)
        padding: 50px
      +max($max-sm)
        +translateY(-50px)
        padding: 35px
      +max($max-xs)
        +translateY(-25px)
        padding: 25px 20px
  [class*="-section"]
    position: relative
    .section-bg
      position: absolute
      z-index: 0
    .section-inner
      position: relative
      z-index: 2
  .primary-head
    position: relative
    z-index: 5
    + .primary-body
      margin-top: 75px
    +max($max-lg)
      +animation-name(fadeIn)
      + .primary-body
        margin-top: 50px
    +max($max-xs)
      + .primary-body
        margin-top: 35px
    .heading
      position: relative
      font-weight: 700
      +mm($max-lg, $min-md)
        +flexbox
        +flex-wrap
        +align-items-center
        &::before
          content: ''
          +flex-grow(1)
          order: 2
          display: block
          height: 1px
          margin: 0 25px
          background-color: #DCDCDC
    .title
      font-size: 40px
      text-align: center
      line-height: 1
      color: #323232
      .title-txt
        display: block
      +min($min-bg)
        +flexbox
        +align-items-center
        .title-txt
          +flex-shrink(0)
          margin: 0 45px
        .line
          +flex-grow(1)
          display: block
          &::before
            content: ''
            display: block
            height: 1px
            background-color: #DCDCDC
      +mm($max-lg, $min-md)
        order: 1
      +max($max-lg)
        font-size: 35px
      +max($max-xs)
        font-size: 28px
    .breadcrumb
      font-size: 16px
      line-height: 1
      color: #3C3C3C
      +min($min-bg)
        position: absolute
        top: 50%
        right: 0
        +translateY(-50%)
      +mm($max-lg, $min-md)
        order: 3
      +max($max-sm)
        margin: 15px auto 0
      +max($max-xs)
        font-size: 14px
      ul
        +flexbox
        +flex-wrap
        +justify-content-end
        +align-items-center
        margin: -5px 0
        +max($max-sm)
          +justify-content-center
        li
          margin: 5px 0
          &::before, &::after
            display: inline-block
            vertical-align: 1px
            color: color(main-green)
          &::before
            content: '/'
            margin-right: 0.4em
          &:last-child
            &::after
              content: '/'
              margin-left: 0.4em
          + li
            margin-left: 0.5em
          a
            &:hover
              color: color(main-green)
    .dropmenu
      .bootstrap-select
        width: 100%
        line-height: 1
        > .dropdown-toggle
          &::after
            display: none
          .filter-option
            +flexbox
            +justify-content-between
            +align-items-center            
            &::after
              content: '\e901'
              display: block
              font-family: font(icon)
              font-size: 1.3em
              line-height: 1
              color: color(main-green)
              +transition(transform .3s ease)
        > .dropdown-menu
            > .inner
              > .dropdown-menu
                background: none
      +min($min-bg)
        position: absolute
        z-index: 10
        top: calc(50% - 30px)
        left: 0
        width: 200px
        .bootstrap-select
          > .dropdown-toggle
            height: 60px
            padding: 0 20px 0 25px
            border: none
            border-radius: 10px
            background-color: #F0F0F0
            .filter-option
              font-weight: 700
              &::after
                font-size: 1.5em
          > .dropdown-menu
            .dropdown-item
              padding: 10px 25px
              +transition(none)
              &:active, &.active
                background-color: color(main-green)
      +max($max-lg)
        width: 100%
        order: 4
        margin-top: 25px
        .bootstrap-select
          border: 1px solid color(main-green)
          border-radius: 10px
          overflow: hidden
          +transition(background-color .3s ease)
          > .dropdown-toggle
            height: 55px
            padding: 0 20px
            border: none
            border-radius: 0
            color: color(main-green)
            background: none
            +max($max-sm)
              height: 45px
              padding: 0 15px
            .filter-option
              .filter-option-inner
                +flexbox
                +align-items-center
                &::before
                  content: '\e904'
                  display: block
                  vertical-align: 0
                  width: 20px
                  height: 20px
                  margin-right: 15px
                  font-family: font(icon)
                  font-size: 20px
                  line-height: 1
          > .dropdown-menu
            position: static !important
            +transform(none !important)
            display: block
            margin: 0
            padding: 0
            background: none
            border: none
            border-radius: 0
            max-height: 0 !important
            min-height: unset !important
            overflow: hidden
            +transition(all .3s ease)
            .dropdown-item
              display: block
              padding: 20px
              font-size: 18px
              color: #ffffff
              &:hover
                background: none
              &.active, &:active
                background-color: color(bright-green)
              +max($max-sm)
                font-size: 16px
                padding: 15px
            ul
              li
                border-top: 1px solid rgba(255,255,255,.2)
                &.selected, &.active
                  border-top: none
                  + li
                    border-top: none
          &.show
            background-color: color(main-green)
            border: none
            > .dropdown-toggle
              color: #ffffff
              .filter-option
                &::after
                  +rotate(180)
                  color: #ffffff
            > .dropdown-menu
              max-height: 500px !important
              +transition(all 1s ease)
    .subnav
      margin-top: 30px
      overflow: hidden
      +min($min-bg)
        margin-bottom: -25px
        .subnav-toggle
          display: none
        .subnav-menu
          display: block !important
          ul
            +flexbox
            +flex-wrap
            +justify-content-center
            margin: -10px 0
            li
              margin-top: 10px
              margin-bottom: 10px
              + li
                margin-left: 20px
              .btn
                min-width: 120px
                height: 50px
                padding: 0 25px
                font-size: 16px
                font-weight: 500
                color: #969696
                border: 1px solid #C8C8C8
                border-radius: 10px
                +transition-property(color, background-color, border-color)
                +transition-duration(.3s)
                +transition-timing-function(ease)
                &:hover
                  color: #ffffff
                  background-color: color(bright-green)
                  border-color: color(bright-green)
              &.current
                .btn
                  color: #ffffff
                  background-color: color(main-green)
                  border-color: color(main-green)
      +max($max-lg)
        width: 100%
        border: 1px solid color(main-green)
        border-radius: 5px
        overflow: hidden
        +transition(background-color .3s ease)
        .subnav-toggle
          color: color(main-green)
          +transition(color .3s ease)
          .btn
            +justify-content-between
            width: 100%
            height: 55px
            padding: 0 20px
            +max($max-sm)
              height: 45px
              padding: 0 15px
            .btn-inner
              font-size: 18px
              text-align: left
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              &::before
                content: '\e904'
                display: inline-block
                vertical-align: 0
                width: 20px
                height: 20px
                margin-right: 15px
                font-family: font(icon)
                font-size: 20px
                line-height: 1
              +max($max-sm)
                font-size: 16px
              +max($max-xs)
                &::before
                  margin-right: 15px
            &::after
              content: '\e901'
              display: block
              font-family: font(icon)
              font-size: 1.3em
              line-height: 1
              +transition(transform .3s ease)
        .subnav-menu
          display: none
          color: #ffffff
          .btn
            display: block
            padding: 20px
            font-size: 18px
            +max($max-sm)
              font-size: 16px
              padding: 15px
          ul
            li
              border-top: 1px solid rgba(255,255,255,.2)
              &.current
                border-top: none
                background-color: color(bright-green)
                + li
                  border-top: none
        &.menu-opened
          background-color: color(main-green)
          border: none
          .subnav-toggle
            color: #ffffff
            .btn
              &::after
                +rotate(180)
  .primary-body
    &.has-nav
      +min($min-bg)
        +flexbox
        +justify-content-between
        +align-items-start
        .primary-body-main
          width: calc(100% - 280px)
      .primary-body-nav
        font-size: 16px
        font-weight: 700
        color: #3C3C3C
        +min($min-bg)
          width: 210px
          ul
            border-top: 1px solid color(main-green)
            li
              border-bottom: 1px solid color(main-green)
              a
                display: block
                padding: 17.5px 20px
                +transition-property(color, background-color)
                &::before
                  content: '\e906'
                  display: inline-block
                  width: 15px
                  margin-left: -15px
                  font-family: font(icon)
                  font-size: 0.8em
                  color: color(main-green)
                .desktop &
                  &:hover
                    background-color: rgba(color(bright-green),.05)
                    color: color(main-green)
              &.current
                background-color: rgba(color(main-green), .1)
                a
                  color: inherit
                  &:hover
                    background: initial
        +max($max-lg)
          ul
            +flexbox
            +flex-wrap
            +justify-content-center
            +align-items-center
            margin: -5px 0
            li
              margin: 5px 0
              line-height: 1
              + li
                margin-left: 20px
                padding-left: 20px
                border-left: 1px solid color(main-green)
                +max($max-xs)
                  margin-left: 10px
                  padding-left: 10px
              &.current
                color: color(main-green)
              +max($max-sm)
                max-width: 150px
                a
                  display: block
                  overflow: hidden
                  white-space: nowrap
                  text-overflow: ellipsis
          + .primary-body-main
            margin-top: 50px
            +max($max-xs)
              margin-top: 35px
  .primary-foot
    background-color: #F0F0F0
    ul
      +flexbox
      +justify-content-between
      +align-items-center
      height: 80px
      font-size: 16px
      color: #969696
      +min($min-lg)
        padding: 0 20px
      +max($max-xs)
        height: 60px
        font-size: 15px
      a
        .desktop &
          &:hover
            color: color(main-green)
        .icon
          font-size: 1.25em
        span
          display: block
      li
        &.prev
          .btn
            span
              margin-left: 10px
        &.next
          .btn
            +flex-row-reverse
            span
              margin-right: 10px
        &.disabled
          visibility: hidden