﻿<ol>
    <li>通過本公司呈報金融監督管理委員會證券期貨局之「一○九年度稽核計劃」。</li>
    <li>通過本公司一○九年度會計師委任暨簽證報酬審議。</li>
    <li>通過本公司台中市北屯區「國泰Mega+」新建工程委由關係人「三井工程股份有限公司」承攬。</li>
    <li>通過出售本公司預售建案之房地及車位予關係人。</li>
    <li>通過修正本公司「誠信經營守則」。</li>
    <li>通過修正本公司「董事會績效評估辦法」。</li>
    <li>通過修正本公司「審計委員會組織規程」。</li>
</ol>