﻿<ol>
    <li>通過修正本公司「章程」。</li>
    <li>通過一○六年度盈餘分派案。</li>
    <li>通過解除本公司董事競業禁止之限制。</li>
    <li>通過一○七年股東常會議程。</li>
    <li>通過解除本公司經理人競業禁止之限制。</li>
    <li>通過修正本公司「股務單位內部控制制度及內部稽核實施細則」。</li>
    <li>通過將本公司台南「永華路」結構、裝修、公設、機電、景觀新建工程委由「三井工程股份有限公司」承攬。</li>
    <li>通過將本公司持有民生建國大樓都更案「飯店樓層」出租予國泰飯店管理顧問事業（股）公司。</li>
</ol>