﻿<ol>
    <li>通過一○七年度盈餘分派案。</li>
    <li>通過解除本公司董事競業禁止之限制。</li>
    <li>通過修正本公司「取得或處分資產處理程序」。</li>
    <li>通過修正本公司「資金貸與及背書保證作業程序」。</li>
    <li>通過一○八年股東常會議程。</li>
    <li>通過修正本公司「股務單位內部控制制度及內部稽核實施細則」。</li>
    <li>通過本公司新任公司治理主管人事案。</li>
    <li>通過解除本公司經理人競業禁止之限制。</li>
    <li>通過訂定本公司「處理董事要求之標準作業程序」。</li>
    <li>通過本公司向關係人取得台北國際大樓之使用權資產。</li>
    <li>通過將本公司板橋「國泰朋」新建工程委由「三井工程股份有限公司」承攬。</li>
</ol>