﻿<ol>
    <li>通過本公司呈報金融監督管理委員會證券期貨局之「一○七年度內部控制制度聲明書」。</li>
    <li>通過一○八年度企業社會責任策略計畫。</li>
    <li>通過一○七年度營業報告書。</li>
    <li>通過一○七年度個體財務報告及合併財務報告。</li>
    <li>通過訂定一○八年度股東常會召開事由、日期、地點、受理股東提案等相關事宜。</li>
    <li>通過修正「董事薪酬給付準則」及「經理人薪酬給付準則」等辦法。</li>
    <li>通過部份經理人薪酬調整案。</li>
    <li>通過一○七年度員工及董事酬勞分派審議。</li>
    <li>通過將本公司「國泰田」新建工程委由「三井工程股份有限公司」承攬。</li>
</ol>