﻿<ol>
    <li>通過授權董事長於新台幣五○○億元額度內向各金融機構辦理授信。</li>
    <li>通過一○八年度業務目標。</li>
    <li>通過一○七年度實際參與業務執行董事及經理人發放年終獎金及特別獎勵金案。</li>
    <li>通過一○七年度獨立董事及實際參與業務執行董事之薪酬評估。</li>
    <li>通過一○七年度經理人之薪酬評估。</li>
    <li>通過修正本公司「公司治理實務守則」。</li>
</ol>