body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	width: 385px;
	height: 60px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 5px;
}

#divUpload
{
    font: 12px/16px Arial, Helvetica, sans-serif;
}

#fileQueue2 {
	width: 385px;
	height: 60px;
	overflow: auto;
	border: 1px solid #E5E5E5;
	margin-bottom: 5px;
}

#divUpload2
{
    font: 12px/16px Arial, Helvetica, sans-serif;
}