﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-community";
    communitys data = ViewBag.Data;
    List<community_category> Category  = ViewBag.Category;
}


<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["社區關懷"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["社區關懷"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community">@ViewBag.ResLang["社區關懷"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community/@data.category">@ViewBag.CategoryData.title</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.CategoryData.title</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            @foreach (community_category item in Category)
                            {
                                <li @if (item.guid == ViewBag.CategoryData.guid) { @Html.Raw(" class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community/@item.guid" class="btn">@item.title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <article class="article-wrapper wow fadeIn">
                    <header class="article-head">
                        <div class="subline">
                            <ul class="ns">
                                <li class="catalog">@ViewBag.CategoryData.title</li>
                                <li class="date">@DateTime.Parse(data.startdate.ToString()).ToString("yyyy/MM/dd")</li>
                            </ul>
                        </div>
                        <h3 class="title">@data.title</h3>
                    </header>
                    <div class="article-content editor editor-style">
                        @Html.Raw(FunctionService.FormatImagePath(data.content))
                    </div>
                </article>
            </div>
        </div>
        <div class="primary-foot">
            <div class="primary-foot-inner container c-md">
                <ul class="ns">
                    @if (ViewData["prev"] == null)
                    {
                        <li class="prev disabled"></li>
                    }
                    else
                    {
                        <li class="prev">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Customer/CommunityDetail/@ViewData["prev"]" class="btn">
                                <i class="icon icon-arrow-left"></i>
                                <span>@ViewBag.ResLang["上一則"]</span>
                            </a>
                        </li>
                    }
                    <li class="back"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community/@data.category">@ViewBag.ResLang["返回列表"]</a></li>
                    @if (ViewData["next"] == null)
                    {
                        <li class="next disabled"></li>
                    }
                    else
                    {
                        <li class="next">

                            <a href="@Url.Content("~/" + ViewBag.Lang)/Customer/CommunityDetail/@ViewData["next"]" class="btn">
                                <i class="icon icon-arrow-right"></i>
                                <span>@ViewBag.ResLang["下一則"]</span>
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</main>