﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-construction";
    List<constructions> Constructions = ViewBag.Category;
    constructions data = ViewBag.Data;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["建築工法"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary bg-gray">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["建築工法"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["建築工法"]</a></li>

                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction/@data.guid">@data.title</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@data.title</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            @if (Constructions.Count > 0)
                            {
                                foreach (constructions item in Constructions)
                                {
                                    <li @if (data.guid == item.guid) { @Html.Raw("class=\"current\"") } ><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction/@item.guid" class="btn">@item.title</a></li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="editor">
                    <!-- 編輯器開始 -->
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                    <!-- 編輯器結束 -->
                </div>

            </div>
        </div>
    </div>
</main>
