﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-contact";

}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["聯絡我們"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["聯絡我們"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm">@ViewBag.ResLang["聯絡詢問表單"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["聯絡詢問表單"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo" class="btn">@ViewBag.ResLang["聯絡資訊"]</a></li>
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm" class="btn">@ViewBag.ResLang["聯絡詢問表單"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="customer-form-section message wow fadeIn">
                    <p class="t-center fw-700">@ViewBag.ResLang["留下您的基本資料我們的專員會與您聯繫"]</p>
                    <form class="form customer-form-style" action="@Url.Content("~/" + ViewBag.Lang + "/Customer/ContactSend")" name="ContactForm" id="ContactForm" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-main">
                            <fieldset class="form-fieldset">
                                <div class="form-group">
                                    <!-- 表單驗證錯誤 class 加 error -->
                                    <div class="form-label"><span>*</span>@ViewBag.ResLang["姓名"]：</div>
                                    <input type="text" class="form-control" required name="name" id="name" value="@if (ViewBag.Data != null) {@ViewBag.Data["name"].ToString()}" />
                                </div>
                                <div class="form-group">
                                    <div class="form-label">@ViewBag.ResLang["公司名稱"]：</div>
                                    <input type="text" class="form-control" name="company" id="company" value="@if (ViewBag.Data != null) {@ViewBag.Data["company"].ToString()}" />
                                </div>
                                <div class="form-group">
                                    <div class="form-label"><span>*</span>@ViewBag.ResLang["聯絡電話"]：</div>
                                    <input type="tel" class="form-control" required name="tel" id="tel" value="@if (ViewBag.Data != null) {@ViewBag.Data["tel"].ToString()}" />
                                </div>
                                <div class="form-group">
                                    <div class="form-label"><span>*</span>E-mail：</div>
                                    <input type="email" class="form-control" required name="email" id="email" value="@if (ViewBag.Data != null) {@ViewBag.Data["email"].ToString()}" />
                                </div>
                            </fieldset>
                            <fieldset class="form-fieldset">
                                <div class="form-group">
                                    <div class="form-label"><span>*</span>@ViewBag.ResLang["主題"]：</div>
                                    <div class="form-control">
                                        <select class="selectpicker" required title=" " name="subject" id="subject">
                                            @foreach (form_subject item in ViewBag.formSubject)
                                            {
                                                <option value="@item.title" @if (ViewBag.Data != null && item.guid == ViewBag.Data["subject"].ToString()) { @Html.Raw("selected") }>@item.title</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label"><span>*</span>@ViewBag.ResLang["內容"]：</div>
                                    <textarea class="form-control" required rows="5" name="content" id="content">@if (ViewBag.Data != null) {@ViewBag.Data["content"].ToString()}</textarea>
                                </div>
                                <div class="form-group has-code">
                                    <div class="form-label">@ViewBag.ResLang["驗證碼"]</div>
                                    <input type="text" class="form-control" required name="verification" id="verification" />
                                    <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn fill-mg">@ViewBag.ResLang["確認送出"]</button>
                            <button type="reset" class="btn fill-darkGray">@ViewBag.ResLang["重新填寫"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")


    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {



            $("#ContactForm").each(function () {
                $("#ContactForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);
                        return true;
                    },
                    errorPlacement: function (error, element) {
                        // element.attr('style', 'border:#FF0000 1px solid;');
                        //element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        element.attr("placeholder" , error.text());
                        element.parents('.form-group').addClass("error");

                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                        $(findID).parents('.form-group').removeClass("error");
                        //$(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
    </script>

}