﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-contact";
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["聯絡我們"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="/styles/images/static/urban/urban-contact/primary-bg.jpg" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["聯絡我們"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm">@ViewBag.ResLang["聯絡詢問表單"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["聯絡詢問表單"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo" class="btn">@ViewBag.ResLang["聯絡資訊"]</a></li>
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm" class="btn">@ViewBag.ResLang["聯絡詢問表單"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="form-submit wow fadeIn">
                    <div class="form-submit-box">
                        <div class="head hg">
                            <h3 class="title f30">@ViewBag.ResLang["客戶專區"]  /  @ViewBag.ResLang["聯絡我們"]</h3>
                            <p class="txt">@Html.Raw(ViewBag.ResLang["您的表單已成功送出"])</p>
                        </div>
                        <div class="button">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm" class="btn btn-inline fill-mg">@ViewBag.ResLang["返回"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
