﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-contact";

    List<contact_info> data = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["聯絡我們"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["聯絡我們"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡資訊"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["聯絡資訊"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            <li class="current"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo" class="btn">@ViewBag.ResLang["聯絡資訊"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactForm" class="btn">@ViewBag.ResLang["聯絡詢問表單"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="customer-contact-info">

                    @foreach (contact_info item in data)
                    {
                        Dictionary<string, List<string>> subData = FunctionService.InfinityJsonFormat(item.content);

                      
                        List<string> titleList = subData["title"].ToList();
                        List<string> telList = subData["tel"].ToList();
                        int i = 0;

                        <div class="info-box wow fadeInUp">
                            <h3 class="title">@item.title @ViewBag.ResLang["聯絡單位"]</h3>
                            <ul class="ns">
                                @foreach (string title in titleList)
                                {
                                    <li>
                                        <span class="tt t-mg">@title</span>
                                        <!--<span class="txt">Tel - <a href="tel:02-2377-9968">02-2377-9968</a> 分機 5420</span>-->
                                        <span class="txt">
                                            @try
                                            {
                                                @Html.Raw("Tel - "+telList[i].ToString())
                                            }
                                            catch { }
                                        </span>

                                    </li>
                                    i++;
                                }


                            </ul>
                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</main>