﻿<div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/customer/hero.jpg")"></div>
<div class="hero-inner">
    <h1 class="title">@ViewBag.ResLang["客戶專區"]</h1>
</div>
