﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-knowledge";
    List<knowledges> data  = ViewBag.Data;
}


    <main id="main">
        <div class="hero">
            @Html.Partial("Hero")<!--共用選單-->
            <div class="hero-nav wow fadeInUp">
                <div class="hero-nav-toggle">
                    <button type="button" class="btn">
                        <span class="btn-inner">@ViewBag.ResLang["居家常識"]</span>
                    </button>
                </div>
                @Html.Partial("Nav")<!--共用選單-->
            </div>
        </div>
        <div class="primary">
            <div class="primary-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["居家常識"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Knowledge">@ViewBag.ResLang["居家常識"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    <div class="download-list">
                        <ul class="ns">

                            @foreach (knowledges item in data)
                            {
                                <li class="list-item wow fadeInUp">
                                    <a href="@if (!string.IsNullOrEmpty(item.files)){@Url.Content("~/"+item.files.ToString())}else { @Html.Raw("javascript:void(0)")}" @if (!string.IsNullOrEmpty(item.files)) { @Html.Raw("target = \"_blank\"") } class="list-item-inner">
                                      <div class="head">
                                          <div class="pic">
                                              <!-- 280 * 305 px -->
                                              <img src="@Url.Content("~/" + item.pic)" alt="@item.pic_alt" />
                                          </div>
                                            <h3 class="title btn">@item.title</h3>
                                        </div>
                                        <div class="content">@item.content</div>
                                    </a>
                                </li>
                            }




                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>