﻿<div class="hero-nav-menu">
    <ul class="ns">
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="customer-construction"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["建築工法"]</a></li>
        }

        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="customer-community"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community">@ViewBag.ResLang["社區關懷"]</a></li>
        }

        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="customer-knowledge"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Knowledge">@ViewBag.ResLang["居家常識"]</a></li>
        }

        <li data-page="customer-contact"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
        @*<li data-page="customer-member"><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>*@
        <li data-page="customer-member"><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="customer-vip"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Vip">@ViewBag.ResLang["尊榮優惠"]</a></li>
        }

        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="customer-appdownload"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/AppDownload">@ViewBag.ResLang["App下載"]</a></li>
        }

    </ul>
</div>