﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-vip";
    notes_data data = ViewBag.Data;
}
    <main id="main">
        <div class="hero">
            @Html.Partial("Hero")<!--共用選單-->
            <div class="hero-nav wow fadeInUp">
                <div class="hero-nav-toggle">
                    <button type="button" class="btn">
                        <span class="btn-inner">@ViewBag.ResLang["尊榮優惠"]</span>
                    </button>
                </div>
                @Html.Partial("Nav")<!--共用選單-->
            </div>
        </div>
        <div class="primary">
            <div class="primary-inner container c-md">
                <div class="primary-head wow fadeInDown">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["尊榮優惠"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Vip">@ViewBag.ResLang["尊榮優惠"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="primary-body">
                    @Html.Raw(FunctionService.FormatImagePath(data.content))
                </div>
            </div>
        </div>
    </main>

