﻿<div class="title fs_20 wow fadeInUp">本金平均攤還法(即本金定額攤還法) </div>
<div class="loan-rule wow fadeInUp">
    <table class="rule-table">
        <tr>
            <th>1. 條件：</th>
            <td><span>計算基礎為全部貸款本金每月平均分攤，利息則按貸款餘額逐期計算。 </span></td>
        </tr>
        <tr>
            <th rowspan="2">2. 特點：</th>
            <td><span>A. 計算較本息平均攤還法簡易。 </span></td>
        </tr>
        <tr>
            <td class="border-clear"><span>B. 每月攤還之本金金額固定，但每月償付之利息金額則逐月遞減。</span></td>
        </tr>
        <tr>
            <th rowspan="2">3. 計算方式：</th>
            <td>
                <span>
                    A. 試算公式：<br>
                    平均每月應攤付本金金額＝貸款本金÷還款總月數<br>
                    (公式中：還款總月數＝貸款年期×12)
                </span>
            </td>
        </tr>
        <tr>
            <td class="border-clear">
                <span>
                    B. 每月應攤還本金與利息試算：<br>
                    每月應付本息金額＝每月應還本金＋每月應付利息<br>
                    每月應付利息金額＝本金餘額×月利率(公式中：月利率＝年利率÷12)
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="title fs_20 wow fadeInUp">本息平均攤還法(即本息定額攤還法) </div>
<div class="loan-rule wow fadeInUp">
    <table class="rule-table">
        <tr>
            <th rowspan="2">1. 條件：</th>
            <td><span>A. 計算基礎為採年金法將貸款期間內全部貸款本金與利息平均分攤於每一期中償付。</span></td>
        </tr>
        <tr>
            <td class="border-clear"><span>B. 以貸款利率不變為要件，求出每月之平均攤還率，故當利率調整時，必須依剩餘期間重新計算。</span></td>
        </tr>
        <tr>
            <th rowspan="3">2. 特點：</th>
            <td><span>A. 在利率不變的條件下，每月攤還金額相等，對於還款預算較易掌握。 </span></td>
        </tr>
        <tr>
            <td class="border-clear"><span>B. 由於每月償付之貸款本息金額相等，故有本金償付金額逐月遞增及利 息償付金額逐月遞減現象。</span></td>
        </tr>
        <tr>
            <td class="border-clear"><span>C. 計算過程較為複雜。</span></td>
        </tr>
        <tr>
            <th rowspan="2">3. 計算方式：</th>
            <td>
                <span>
                    A. 試算公式：<br>
                    每月應付本息金額之平均攤還率 ＝{[(1＋月利率)^月數]×月利率}÷{[(1＋月利率)^月數]－1}<br>
                    (公式中：月利率 ＝ 年利率／12 ； 月數=貸款年期 ｘ 12)
                </span>
            </td>
        </tr>
        <tr>
            <td class="border-clear">
                <span>
                    B. 每月應攤還本金與利息試算：<br>
                    平均每月應攤付本息金額＝貸款本金×每月應付本息金額之平均攤還率＝每月應還本金金額＋每月應付利息金額<br>
                    每月應付利息金額＝本金餘額×月利率<br>
                    每月應還本金金額＝平均每月應攤付本息金額－每月應付利息金額
                </span>
            </td>
        </tr>
    </table>
</div>
