﻿<div class="career-head wow fadeIn">
    <h3 class="title">為何加入國泰建設？</h3>
    <div class="txt">
        <p>本公司成立於民國五十三年九月十四日，係國內資本雄厚業績優良之建設公司，亦為建築界第一家股票上市公司。同時亦為享有盛名之霖園集團重要成員之一，本公司秉持「誠信正派、專業負責、穩健經營」原則，雖歷經多次景氣變動，仍能日益茁壯而成為國內大型建設公司。<br />本公司招募職缺將不定期開放，竭誠的歡迎您加入國泰建設這個大家庭！</p>
    </div>
</div>
<div class="career-main">
    <div class="career-main-section top">
        <div class="content wow fadeIn">
            <div class="content-inner">
                <h4 class="title">我國泰、我榮耀</h4>
                <div class="txt">
                    <ul class="ns">
                        <li>傳承超過50年的堅持</li>
                        <li>肩負超過5萬戶的責任</li>
                        <li>贏得客戶一輩子的信任</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pic wow fadeInRightSmall">
            <img src="Styles/images/static/career/section01.png" alt="" />
        </div>
    </div>
    <div class="career-main-section bottom">
        <div class="content wow fadeIn">
            <div class="content-inner">
                <h4 class="title">幸福人生、國泰展開</h4>
                <div class="txt">
                    <ol>
                        <li>薪資獎金：具競爭力之薪資水準及年終獎金三節獎金</li>
                        <li>健康照顧：定期健檢、定期健走活動</li>
                        <li>家庭照顧：員工福利團險、子女教育獎助、家庭日活動</li>
                        <li>身心調劑：各類社團活動、各項球類競賽、定期團體旅遊、藝文活動補助</li>
                        <li>學習資源：基礎專知課程、定期教育訓練</li>
                        <li>其他福利：關係企業優惠</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="pic wow fadeInLeftSmall">
            <img src="Styles/images/static/career/section02.png" alt="" />
        </div>
    </div>
</div>
<div class="career-foot">
    <a href="https://www.104.com.tw/company/1jsz368?jobsource=joblist_r_cust" target="_blank">
        <img src="Styles/images/static/career/button01.png" alt="" />
    </a>
    <a href="/" target="_blank">
        <img src="Styles/images/static/career/button02.png" alt="" />
    </a>
</div>