﻿<div class="investor-others-section clearfix">
    <div class="info-box wow fadeInUp">
        <h3 class="title">法人說明會</h3>
        <ul class="ns">
            <li>
                <span class="txt">每年年底召開法人說明會。</span>
            </li>
            <li>
                <span class="txt">本公司與政治大學台灣房地產研究中心合作。</span>
            </li>
            <li>
                <span class="txt">定期發布「國泰房地產價格指數」相關資訊，歡迎參考。</span>
            </li>
        </ul>
    </div>
    <div class="info-box two-third wow fadeInUp">
        <h3 class="title">免責聲明</h3>
        <ul class="ns">
            <li>
                <span class="txt">本專區所公布之財務報告、年報、月營收報告及其他資訊，係於法令或主管機關要求之申報當日當時所提供之正確資訊。</span>
            </li>
            <li>
                <span class="txt">本專區中所揭露之資訊僅供資訊流通之用，不得據以買賣本公司或第三人發行之有價證券，或要求本公司負責。</span>
            </li>
            <li>
                <span class="txt">本專區所公布資訊可能含有技術錯誤或打字錯誤，本公司保有隨時修正之權。</span>
            </li>
        </ul>
    </div>
</div>