﻿<section class="vip-section editor-style wow fadeInUp">
    <h3 class="title title-h3">壹、國泰商旅</h3>
    <h4 class="title title-h4">專享禮遇<span class="t-mg">(登錄國泰商旅網站享 AMAZZING CLUB 榮耀會員優惠)</span></h4>
    <h5 class="title title-h5">一、餐飲服務</h5>
    <ul>
        <li>會員每合格消費$18 即可累積 AMAZZING CLUB 獎勵點數 1 點之權利。</li>
        <li>會員用餐可享優惠折扣 9 折；並享合格消費兌換獎勵點數回饋。</li>
        <li>壽星生日禮：生日壽星當天消費即贈送獎勵點數 200 點 (原需消費達 NT3,600 方可累積)</li>
    </ul>
    <h5 class="title title-h5">二、住宿服務</h5>
    <ul>
        <li>會員每合格消費$18 即可累積 AMAZZING CLUB 獎勵點數 1 點之權利。</li>
        <li>會員享當日優惠房價 95 折；並享特定專案優惠價再額外 95 折之回饋。另消費更可累積獎勵點數。</li>
        <li>預定國泰商旅官方網站住房專案可享亞洲萬里通哩程單次贈 250 哩；並可同時累積AMAZZING CLUB 會員獎勵點數。</li>
        <li>憑卡預定國泰商旅旗下飯店套房等級房型可享住滿 24 小時服務。</li>
        <li>壽星生日獨享：壽星享生日當月贈點 1288 點；榮耀會員享每年兩次飯店住宿升等優惠，依訂房房型升等至下一等級房型﹝視現場狀況彈性調整﹞</li>
    </ul>
    <h5 class="title title-h5">三、設施服務</h5>
    <ul>
        <li>使用 THE Lounge 消費可享買一送一(入場費用 NT$300+10%)。</li>
        <li>和逸飯店台北民生館健身房免費入場使用</li>
    </ul>
    <h5 class="title title-h5 t-mg">四、尊榮卡限量優惠 (至 108 年 12 月 30 日止且不得與其他優惠合併使用、折抵) </h5>
    <ul>
        <li class="t-mg">和逸飯店(台北民生、忠孝館、台南西門館及高雄中山館計四館)平日(週一~週四)訂房享房價七折優惠，每月限 20 晚。不適用日期為 108.9/13~15 及 10/10~13。</li>
        <li class="t-mg">須入住三日前預訂，訂房時間週一~週五 10:00~17:00，訂房專線 02-77063677</li>
        <li class="fw-700">會員權益事項</li>
        <li>尊榮卡限定本人使用，會員持有兩張以上，恕無法同時使用。</li>
        <li>壽星生日當月住宿優惠需出示身分證件以供查核。</li>
        <li>國泰建設保留隨時新增、修改與取消等優惠內容之權利，且無須承擔任何賠償或損害之責任。</li>
        <li>國泰建設針對上述會員優惠內容將不定期調整，若有變更以國泰建設官網公告為準。<a href="http://www.cathay-red.com.tw/customer_vipcard.asp" target="_blank">http://www.cathay-red.com.tw/customer_vipcard.asp</a></li>
    </ul>
</section>
<section class="vip-section editor-style wow fadeInUp">
    <h3 class="title title-h3 t-mg">貳、國泰萬怡酒店</h3>
    <h4 class="title title-h4 t-mg">專享禮遇</h4>
    <h5 class="title title-h5 t-mg">住宿服務</h5>
    <ul>
        <li class="t-mg">卓越客房升等行政客房(至 108 年 12 月 30 日止，每卡每次限 1 間，每月限 10 晚)</li>
        <li class="t-mg">優惠唯一訂房專線 02-77503399，現場及網路訂房不適用。</li>
        <li>尊榮卡限定本人使用，恕無法與其他優惠同時使用。</li>
        <li>國泰建設保留隨時新增、修改與取消等優惠內容之權利，且無須承擔任何賠償或損害之責任。</li>
        <li>國泰建設針對上述會員優惠內容將不定期調整，若有變更以國泰建設官網公告為準。<a href="http://www.cathay-red.com.tw/customer_vipcard.asp" target="_blank">http://www.cathay-red.com.tw/customer_vipcard.asp</a></li>
    </ul>
</section>
<section class="vip-section editor-style wow fadeInUp">
    <h3 class="title title-h3">叁、國泰健康管理</h3>
    <h4 class="title title-h4">專享禮遇</h4>
    <h5 class="title title-h5">一、健康檢查｢個人型套檢｣享專案價</h5>
    <ul class="t-mg">
        <li>經濟型專案套檢(原價 8000 元)尊榮卡友享七折優惠。</li>
        <li>其他標準套檢享九折再優惠 1500 元。(與前項七折優惠每月限 10 名)</li>
        <li>尊榮卡會員二親等親屬享九折優惠。</li>
    </ul>
    <h5 class="title title-h5">二、消費個人型標準套檢再享健康管理服務 6 個月</h5>
    <h5 class="title title-h5">三、台南體適能中心限尊榮卡會員本人免費使用，不含停車優惠</h5>
    <h4 class="title title-h4">會員權益事項</h4>
    <ul class="ns">
        <li>◎標準套檢原價依乙方官方網站公告為準。</li>
        <li>◎健康檢查項目，<span class="t-mg">需事前來電預約。敦南 02-2739-0333、內湖 02-8751-0258、新竹 03-526-8555 、台南 06-215-8500</span></li>
        <li>◎尊榮卡優惠服務不與其他優惠折扣或其他抵用卷合併使用。</li>
        <li>◎台南體適能中心使用需出示尊榮卡並限本人方能入場，不含停車優惠。</li>
        <li>◎國泰建設保留隨時新增、修改與取消等優惠內容之權利，且無須承擔任何賠償或損害之責任。</li>
        <li>◎國泰建設針對上述會員優惠內容將不定期調整，若有變更以國泰建設官網公告為準。<a href="http://www.cathay-red.com.tw/customer_vipcard.asp" target="_blank">http://www.cathay-red.com.tw/customer_vipcard.asp</a></li>
    </ul>
</section>