$fonts: (

  noto: ('Noto Sans TC', 'Source Sans Pro', 'Heiti TC', 'Microsoft JhengHei', sans-serif),
  oswald: ('Oswald', 'Noto Sans TC', 'Heiti TC', 'Microsoft JhengHei', sans-serif),
  roboto: ('Roboto', 'Noto Sans TC', 'Heiti TC', 'Microsoft JhengHei', sans-serif),
  roboto-c: ('Roboto Condensed', 'Noto Sans TC', 'Heiti TC', 'Microsoft JhengHei', sans-serif),
  icon: ('icomoon' !important),

);

$colors: (

  main-green: #009043, 
  bright-green: #69B72D,
  teal: #00907F,
  atoll: #0B6685,
  limed-spruce: #313E46

);

$gradient-ltr: #009043, #69B72D;
$gradient-rtl: #69B72D, #009043;

@function font($font-name) {
  @return map-get($fonts, $font-name);
}
@function color($color-name) {
  @return map-get($colors, $color-name);
}