﻿<div class="about-audit-section wow fadeInUp">
    <h3 class="title fw-700">內部稽核目的</h3>
    <p>國泰建設設置內部稽核的目的在於促進公司之健全經營，協助董事會及經理人檢查及覆核內部控制制度之有效性，並合理確保營運之效果及效率、報導具可靠性、及時性、透明性及符合相關規範以及相關法令規章之遵循，並適時提供改進建議，確保各項制度得以持續有效實施及作為檢討修正內部控制制度之依據，達成董事會及經理人既定之目標。</p>
</div>
<div class="about-audit-section wow fadeInUp">
    <h3 class="title fw-700">內部稽核組織及工作職掌</h3>
    <p>國泰建設稽核人員直屬董事會下執行公司內部稽核工作，並於稽核項目完成後交付各獨立董事查閱。內部稽 核主管之任免，必須經由董事會通過後為之。</p>
</div>
<div class="about-audit-section wow fadeInUp">
    <h3 class="title fw-700">組織圖</h3>
    <div class="org">
        <ul class="ns">
            <li>
                <div class="btn fill-ls no-hover">董事會</div>
            </li>
            <li>
                <div class="btn fill-mg no-hover">稽核室</div>
            </li>
            <li>
                <div class="btn border-mg no-hover">1.督促各單位制定內部控制制度並遵循。<br />2. 擬定年度稽核計劃並執行。<br />3. 呈核稽核報告並追蹤缺失。<br />4.覆核各單位及子公司之自行評估事項。<br />5.其他依據法令規定執行事項。</div>
            </li>
        </ul>
    </div>
</div>
<div class="about-audit-section wow fadeInUp">
    <h3 class="title fw-700">內部稽核之運作</h3>
    <p>一、稽核對象及範圍</p>
    <p class="indent">稽核範圍包含本公司所有財務、業務等營運及管理功能，並依法令規定分為八大營運循環控制作業，十八項管理性控制作業及電腦化資訊處理作業，分別執行稽核。</p>
    <p class="indent">稽核對象包括本公司有所單位，及符合法令規定未設置稽核人員之各子公司。</p>
    <p>二、內部稽核時機</p>
    <p class="indent">1. 例行性內部稽核</p>
    <p class="indent">為確保公司內部控制制度之有效實行，稽核室於每年底依據各作業循環之特性及參考證期局所頒佈應行加強稽核之重點，擬定年度稽核計劃，經董事會通過後，依所排定之稽核時間確實執行。 </p>
    <p class="indent">2. 不定期內部稽核</p>
    <p class="indent">為確保公司內部控制制度之有效實行，依實際狀況與業務所需，不定期對各單位與子公司執行特定稽核項目項目之查核或盤點。 </p>
    <p class="indent">3. 自行評估本公司為落實自我監督之機制及提升內部稽核部門之檢查品質與效率，各單位與子公司每年辦理自行評估兩次，上下半年各執行一次，執行完畢後交由內部稽核單位複核。</p>
</div>