﻿<div class="profile-txt editor editor-style wow fadeInUp">
    <p>本公司成立於民國53年9月14日，迄今達半世紀，是國內知名集團企業-霖園集團成員之一，同時也是國內資本雄厚業績優良之專業房地產開發公司，亦是營建產業第一家股票上市公司。</p>
    <p>期間始終秉持著「誠信正派、專業負責、穩健經營」的理念，雖歷經多次房地產景氣循環波動，但仍能在競爭激烈的環境中成長、茁壯，除持續強化品牌、專業外，實端賴廣大客戶的信賴支持與全體員工的辛勤努力，進而發展成為國內大型專業房地產開發公司，而且營業範圍更遍及台灣各主要都會區，並先後在國內興建各類型房屋近53,000戶、總建築面積達810萬平方公尺。 除了核心的不動產開發本業外，多年來更積極佈建與本業相關聯的其他房地產事業，如:三井工程、霖園管理維護、國泰建築經理等房地產關聯性產業，積極塑造成為全方位的國泰地產集團。同時，為擴大營業規模，更積極開展多角化新事業，如：國泰健康管理、國泰飯店觀光事業等。此外，配合台灣4G產業發展，我們也轉投資行動通訊產業(台灣之星)。</p>
    <p>此外，為強化房地產市場資訊透明，健全市場發展，並善盡企業社會責任，自民國91年底起，與政治大學台灣房地產研究中心合作編製「國泰房地產指數季報」，於每季發佈研究成果，目前已成為國內最具參考性的房地產資訊之一。</p>
</div>
<div class="profile-circles wow zoomIn">
    <img src="Styles/images/static/about/about-info/profile-circles.png" alt="" />
</div>