﻿<div class="about-investment-section intro">
    <div class="intro-head wow fadeInUp">
        <h3 class="title">
            <img src="Styles/images/static/about/about-investment/cathay-heathcare.png" alt="" />
            <span class="hidden">國泰健康管理</span>
        </h3>
        <p class="txt">成立於民國100年3月，為集團新事業體，是國內唯一擁有醫院資源支持，並獨立營運於醫院之外的健康管理公司。母公司國泰建設秉持以人為本的信念，深刻了解每位民眾渴望追求幸福美滿的家，家是由人所構成，人的幸福除了擁有實質的財富外，健康才是人生最大的財富，因此，國泰健康管理堅持以高服務標準，結合國泰綜合醫院專業團隊及新穎儀器提供醫學中心級的健康服務，替民眾建構一個從『保健預防』到『疾病治療及追蹤』的完善照護網絡。</p>
    </div>
    <div class="intro-list">
        <ul class="ns">
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list01.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">敦南健檢中心</p>
                    <p class="en">Dunnan Center</p>
                    <ul class="ns links">
                        <li><a href="https://www.cathay-hcm.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayHcm/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list02.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">內湖健檢中心</p>
                    <p class="en">Neihu Center</p>
                    <ul class="ns links">
                        <li><a href="https://www.cathay-hcm.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayHcm/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list03.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">新竹健檢中心</p>
                    <p class="en">Hsinchu Center</p>
                    <ul class="ns links">
                        <li><a href="https://www.cathay-hcm.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayHcm/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list04.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">台南健檢及體適能中心</p>
                    <p class="en">Tainan Center & Fitness</p>
                    <ul class="ns links">
                        <li><a href="https://www.cathay-hcm.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayHcm/" target="_blank">FB(健檢)</a></li>
                        <li><a href="https://www.facebook.com/cathaygym" target="_blank">FB(體適能)</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list05.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">國泰台北會館產後護理之家</p>
                    <p class="en">Cathay Postpartum <br />Nursing Care Center (Taipei)</p>
                    <ul class="ns links">
                        <li><a href="http://www.cathaybabycare.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayBabyCare/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment01-list06.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">國泰台南產後護理之家</p>
                    <p class="en">Cathay Postpartum <br />Nursing Care Center (Tainan)</p>
                    <ul class="ns links">
                        <li><a href="http://www.cathaybabycare.com.tw/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CathayBabyCare/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    </div>