﻿<div class="about-investment-section intro">
    <div class="intro-head wow fadeInUp">
        <h3 class="title">
            <img src="Styles/images/static/about/about-investment/cathay-logo.png" alt="" />
            <span>國泰建經</span>
        </h3>
        <p class="txt">成立於民國94年3月，目前擔任國泰一號、國泰二號兩檔不動產投資信託基金(REIT)之管理機構，並曾擔任國泰敦南商業大樓部分樓層不動產資產信託(REAT)之管理機構(已於101年1月結案)。國泰一號基金94年10月上市，發行總額139億3千萬元，投資標的為台北喜來登飯店、台北西門大樓、台北中華大樓，是國內唯一同時擁有飯店、商場及辦公大樓之REIT；國泰二號基金95年10月上市，發行總額72億元，投資標的為民生商業大樓、世界大樓、安和商業大樓，為純辦公大樓之REIT。秉持專業管理的企業精神，接辦受託機構委任進行信託財產管理工作，並提供各項專業服務。</p>
    </div>
    <div class="intro-list">
        <h4 class="title wow fadeInDown">國泰一號不動產標的</h4>
        <ul class="ns">
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list01.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">中華大樓</p>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list02.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">西門大樓</p>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list03.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">喜來登飯店</p>
                </div>
            </li>
        </ul>
        <h4 class="title wow fadeInDown">國泰二號不動產標的</h4>
        <ul class="ns">
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list04.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">世界大樓</p>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list05.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">安和商業大樓</p>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment02-list06.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">民生商業大樓</p>
                </div>
            </li>
        </ul>
    </div>
    </div>