﻿<div class="about-investment-section intro">
    <div class="intro-head wow fadeInUp">
        <h3 class="title">國泰飯店觀光事業</h3>
        <p class="txt">成立於民國101年3月，為集團旗下新事業體，核心業務涵蓋旅館品牌發展、旅館籌建與經營，以及引進國際品牌旅館等項目。旗下自創品牌和逸飯店(HOTEL COZZI)陸續開出台北民生館、台北忠孝館、台南西門館、高雄中山館，108年台南西門館與美國卡通頻道攜手合作，打造全台唯一卡通頻道聯名主題旅宿體驗，109年更將於桃園高鐵特區推出第五間以海洋為主題的桃園青埔館。此外延續COZZI品牌精神，設立Cozzi Café仁愛店與信義置地店，將社區概念化延伸至商辦大樓；自有第二品牌慕軒飯店(MADISON TAIPEI HOTEL)於103年創立，以紐約上東城為模範的低調奢華都會飯店。107年國泰飯店觀光事業首度以飯店管理顧問之姿，與全球最大飯店品牌─萬豪國際集團合作打造台北國泰萬怡酒店，同年12月於台北市中心閃亮問世。國泰飯店觀光事業除了持續穩定成長，提高營收及顧客滿意度，同時將積極培育餐旅人才，成為國內旅館業領導品牌。</p>
    </div>
    <div class="intro-list col-4">
        <ul class="ns">
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list01.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">和逸飯店<span class="f16">‧台北民生館</span></p>
                    <p class="en">HOTEL COZZI Minsheng Taipei</p>
                    <ul class="ns links">
                        <li><a href="https://www.hotelcozzi.com/%E5%8F%B0%E5%8C%97%E6%B0%91%E7%94%9F%E9%A4%A8/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/hotelcozzims/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list02.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">和逸飯店<span class="f16">‧台北忠孝館</span></p>
                    <p class="en">HOTEL COZZI Zhongxiao Taipei</p>
                    <ul class="ns links">
                        <li><a href="https://www.hotelcozzi.com/%E5%8F%B0%E5%8C%97%E5%BF%A0%E5%AD%9D%E9%A4%A8/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/hotelcozzizx/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list03.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">和逸飯店<span class="f16">‧台南西門館</span></p>
                    <p class="en">HOTEL COZZI Ximen Tainan</p>
                    <ul class="ns links">
                        <li><a href="https://www.hotelcozzi.com/%E5%8F%B0%E5%8D%97%E8%A5%BF%E9%96%80%E9%A4%A8/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/hotelcozzixm/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list04.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">和逸飯店<span class="f16">‧高雄中山館</span></p>
                    <p class="en">HOTEL COZZI Zhongshan Kaohsiun</p>
                    <ul class="ns links">
                        <li><a href="https://www.hotelcozzi.com/%E9%AB%98%E9%9B%84%E4%B8%AD%E5%B1%B1%E9%A4%A8/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/hotelcozzizs/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list05.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">和逸飯店<span class="f16">‧桃園青埔館</span></p>
                    <p class="en">HOTEL COZZI Qingpu Taoyuan</p>
                    <ul class="ns links">
                        <li><a href="javascript:void(0)" target="_blank">官方網站</a></li>
                        <li><a href="javascript:void(0)" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list06.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">慕軒飯店</p>
                    <p class="en">MADISON TAIPEI HOTEL</p>
                    <ul class="ns links">
                        <li><a href="https://www.madisontaipei.com/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/madisontaipei/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list07.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">Cozzi Cafe仁愛店</p>
                    <p class="en">仁愛店/信義置地店</p>
                    <ul class="ns links">
                        <li><a href="http://www.cozzicafe.com/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/cozzicafe/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-item wow fadeInUp">
                <div class="pic has-shadow">
                    <img src="Styles/images/static/about/about-investment/investment03-list08.png" alt="" />
                </div>
                <div class="caption">
                    <p class="zh">台北國泰萬怡酒店</p>
                    <p class="en">Courtyard by Marriott Taipei Downtown</p>
                    <ul class="ns links">
                        <li><a href="http://courtyardtaipeidowntown.com/" target="_blank">官方網站</a></li>
                        <li><a href="https://www.facebook.com/CourtyardbyMarriottTaipeiDowntown/" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    </div>