﻿<div class="about-investment-section rent">
    <div class="head wow fadeInUp">
        <h3 class="title">台中金融大樓</h3>
    </div>
    <div class="content">
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">樓層</td>
                    <td class="txt">44F/B6F</td>
                </tr>
                <tr>
                    <td class="tt t-mg">位置</td>
                    <td class="txt">台中市英才路530、532號</td>
                </tr>
                <tr>
                    <td class="tt t-mg">連絡電話</td>
                    <td class="txt">04-23022268</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">55坪、68坪、77坪、82坪</td>
                </tr>
                <tr>
                    <td class="tt t-mg">公設比</td>
                    <td class="txt">標準層公設約38%</td>
                </tr>
                <tr>
                    <td class="tt t-mg">使用分區</td>
                    <td class="txt">住宅區</td>
                </tr>
                <tr>
                    <td class="tt t-mg">屋齡</td>
                    <td class="txt">93年12月完工</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">停車位</td>
                    <td class="txt">室內臨停車位301部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">適合行業</td>
                    <td class="txt">一般企業公司</td>
                </tr>
                <tr>
                    <td class="tt t-mg">大樓結構</td>
                    <td class="txt">SC鋼骨結構大樓</td>
                </tr>
                <tr>
                    <td class="tt t-mg">外觀</td>
                    <td class="txt">三度空間圓弧造型、玻璃帷幕外牆</td>
                </tr>
                <tr>
                    <td class="tt t-mg">空調</td>
                    <td class="txt">水冷式中央空調、五部TRANE主機</td>
                </tr>
                <tr>
                    <td class="tt t-mg">電梯</td>
                    <td class="txt">客梯六部(17人/部，240m/min)，貨梯一部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">發電機</td>
                    <td class="txt">自動發電機二部</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">電梯廳</td>
                    <td class="txt">進口天然石材</td>
                </tr>
                <tr>
                    <td class="tt t-mg">飲水設備</td>
                    <td class="txt">紫外線殺菌飲水系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">盥洗室</td>
                    <td class="txt">天然花崗石地坪，高級TOTO盥洗設備</td>
                </tr>
                <tr>
                    <td class="tt t-mg">監視設備</td>
                    <td class="txt">一樓服務台及中控室設監視系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">地板、礦纖板、照明、空調、消防設施</td>
                </tr>
                <tr>
                    <td class="tt t-mg">室內地坪</td>
                    <td class="txt">PVC地板</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pics">
        <ul class="ns">
            <!-- 460 * 312 px -->
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic01.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic02.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic03.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic04.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic05.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent01-pic06.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<div class="about-investment-section rent">
    <div class="head wow fadeInUp">
        <h3 class="title">台南世華廣場</h3>
    </div>
    <div class="content">
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">樓層</td>
                    <td class="txt">23F/B3F</td>
                </tr>
                <tr>
                    <td class="tt t-mg">位置</td>
                    <td class="txt">台南市永華路二段248、250號</td>
                </tr>
                <tr>
                    <td class="tt t-mg">連絡電話</td>
                    <td class="txt">06-2956220</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">35坪、64坪、71坪、82坪</td>
                </tr>
                <tr>
                    <td class="tt t-mg">公設比</td>
                    <td class="txt">標準層公設約25%</td>
                </tr>
                <tr>
                    <td class="tt t-mg">使用分區</td>
                    <td class="txt">鄰里商業區</td>
                </tr>
                <tr>
                    <td class="tt t-mg">屋齡</td>
                    <td class="txt">84年1月完工</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">停車位</td>
                    <td class="txt">室內停車位61部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">適合行業</td>
                    <td class="txt">一般企業公司</td>
                </tr>
                <tr>
                    <td class="tt t-mg">大樓結構</td>
                    <td class="txt">SRC結構大樓</td>
                </tr>
                <tr>
                    <td class="tt t-mg">外觀</td>
                    <td class="txt">白色烤漆鋼板外牆</td>
                </tr>
                <tr>
                    <td class="tt t-mg">空調</td>
                    <td class="txt">各戶獨立空調主機</td>
                </tr>
                <tr>
                    <td class="tt t-mg">電梯</td>
                    <td class="txt">客梯四部(17人/部，105m/min) </td>
                </tr>
                <tr>
                    <td class="tt t-mg">發電機</td>
                    <td class="txt">自動發電機</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">電梯廳</td>
                    <td class="txt">進口天然石材</td>
                </tr>
                <tr>
                    <td class="tt t-mg">飲水設備</td>
                    <td class="txt">-</td>
                </tr>
                <tr>
                    <td class="tt t-mg">盥洗室</td>
                    <td class="txt">高級磁磚地坪，盥洗設備</td>
                </tr>
                <tr>
                    <td class="tt t-mg">監視設備</td>
                    <td class="txt">一樓服務台、停車場及各樓層監視系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">地板、礦纖板、照明、空調、消防設施</td>
                </tr>
                <tr>
                    <td class="tt t-mg">室內地坪</td>
                    <td class="txt">PVC地板</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pics">
        <ul class="ns">
            <!-- 460 * 312 px -->
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic01.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic02.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic03.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic04.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic05.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent02-pic06.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<div class="about-investment-section rent">
    <div class="head wow fadeInUp">
        <h3 class="title">高雄中央廣場</h3>
    </div>
    <div class="content">
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">樓層</td>
                    <td class="txt">30F/B5F</td>
                </tr>
                <tr>
                    <td class="tt t-mg">位置</td>
                    <td class="txt">高雄市中山二路260號</td>
                </tr>
                <tr>
                    <td class="tt t-mg">連絡電話</td>
                    <td class="txt">07-2360301</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">120坪、160坪、280坪、540坪</td>
                </tr>
                <tr>
                    <td class="tt t-mg">公設比</td>
                    <td class="txt">標準層公設約33%</td>
                </tr>
                <tr>
                    <td class="tt t-mg">使用分區</td>
                    <td class="txt">商業區</td>
                </tr>
                <tr>
                    <td class="tt t-mg">屋齡</td>
                    <td class="txt">89年11月完工</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">停車位</td>
                    <td class="txt">室內停車位249部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">適合行業</td>
                    <td class="txt">一般企業公司</td>
                </tr>
                <tr>
                    <td class="tt t-mg">大樓結構</td>
                    <td class="txt">SC鋼骨結構大樓</td>
                </tr>
                <tr>
                    <td class="tt t-mg">外觀</td>
                    <td class="txt">玻璃帷幕外牆</td>
                </tr>
                <tr>
                    <td class="tt t-mg">空調</td>
                    <td class="txt">分層獨立冰水主機</td>
                </tr>
                <tr>
                    <td class="tt t-mg">電梯</td>
                    <td class="txt">客梯六部(12人/部，105m/min)，貨梯一部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">發電機</td>
                    <td class="txt">自動發電機</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">電梯廳</td>
                    <td class="txt">進口花崗石</td>
                </tr>
                <tr>
                    <td class="tt t-mg">飲水設備</td>
                    <td class="txt">紫外線殺菌飲水系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">盥洗室</td>
                    <td class="txt">進口磁磚地坪，HCG盥洗設備</td>
                </tr>
                <tr>
                    <td class="tt t-mg">監視設備</td>
                    <td class="txt">一樓服務台及中控室設監視系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">地板、礦纖板、照明、空調、消防設施</td>
                </tr>
                <tr>
                    <td class="tt t-mg">室內地坪</td>
                    <td class="txt">PVC地板</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pics">
        <ul class="ns">
            <!-- 460 * 312 px -->
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic01.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic02.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic03.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic04.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic05.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent03-pic06.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<div class="about-investment-section rent">
    <div class="head wow fadeInUp">
        <h3 class="title">高雄運通企業大樓</h3>
    </div>
    <div class="content">
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">樓層</td>
                    <td class="txt">8F/B1F</td>
                </tr>
                <tr>
                    <td class="tt t-mg">位置</td>
                    <td class="txt">高雄市新衙路286、288號</td>
                </tr>
                <tr>
                    <td class="tt t-mg">連絡電話</td>
                    <td class="txt">07-2360301</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">100坪、130坪、170坪、225坪</td>
                </tr>
                <tr>
                    <td class="tt t-mg">公設比</td>
                    <td class="txt">標準層公設約24~30%</td>
                </tr>
                <tr>
                    <td class="tt t-mg">使用分區</td>
                    <td class="txt">工業區</td>
                </tr>
                <tr>
                    <td class="tt t-mg">屋齡</td>
                    <td class="txt">79年12月完工</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">停車位</td>
                    <td class="txt">室內停車位95部</td>
                </tr>
                <tr>
                    <td class="tt t-mg">適合行業</td>
                    <td class="txt">一般工業廠房使用</td>
                </tr>
                <tr>
                    <td class="tt t-mg">大樓結構</td>
                    <td class="txt">RC結構大樓</td>
                </tr>
                <tr>
                    <td class="tt t-mg">外觀</td>
                    <td class="txt">玻璃帷幕外牆</td>
                </tr>
                <tr>
                    <td class="tt t-mg">空調</td>
                    <td class="txt">各戶獨立空調主機</td>
                </tr>
                <tr>
                    <td class="tt t-mg">電梯</td>
                    <td class="txt">每棟客梯六部(14人/部，90m/min)</td>
                </tr>
                <tr>
                    <td class="tt t-mg">發電機</td>
                    <td class="txt">自動發電機</td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper wow fadeInUp">
            <table class="rent-table">
                <tr>
                    <td class="tt t-mg">電梯廳</td>
                    <td class="txt">高級石材地磚</td>
                </tr>
                <tr>
                    <td class="tt t-mg">飲水設備</td>
                    <td class="txt">-</td>
                </tr>
                <tr>
                    <td class="tt t-mg">盥洗室</td>
                    <td class="txt">磁磚地坪，盥洗設備完善</td>
                </tr>
                <tr>
                    <td class="tt t-mg">監視設備</td>
                    <td class="txt">一樓服務台設監視系統</td>
                </tr>
                <tr>
                    <td class="tt t-mg">標準層</td>
                    <td class="txt">地板、礦纖板、照明、空調、消防設施</td>
                </tr>
                <tr>
                    <td class="tt t-mg">室內地坪</td>
                    <td class="txt">PVC地板</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pics">
        <ul class="ns">
            <!-- 460 * 312 px -->
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic01.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic02.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic03.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic04.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic05.jpg" alt="" /></li>
            <li class="pic wow fadeInUp"><img src="Styles/images/static/about/about-investment/rent04-pic06.jpg" alt="" /></li>
        </ul>
    </div>
</div>