﻿<div class="table-head alt alt-others">
    <ul class="ns">
        <li>
            <h3 class="title fw-700">1. 董事會績效評估結果</h3>
            <p class="txt"><a class="t-mg" href="/">最近年度董事會績效評估結果</a></p>
        </li>
        <li>
            <h3 class="title fw-700">2. 董事會成員多元化政策落實情形</h3>
            <p class="txt"><a class="t-mg" href="/">國泰建設股份有限公司多元化政策之落實情形</a></p>
        </li>
        <li>
            <h3 class="title fw-700">3. 違反誠信經營守則檢舉信箱</h3>
            <p class="txt"><a class="t-mg" href="mailto:honest@cathay-red.com.tw">honest@cathay-red.com.tw</a></p>
        </li>
    </ul>
</div>