﻿<div class="table-wrapper wow fadeIn">
    <div class="table-head alt">
        <h3 class="title fw-700">獨立董事與稽核主管及會計師之溝通情形</h3>
        <p class="txt">1. 會計師對本公司財務狀況及內控查核等情形向獨立董事報告，並針對重大調整或法令修訂影響情形進行溝通。<br />2. 本公司稽核主管定期向獨立董事溝通稽核報告及其追蹤執行情形討論。</p>
    </div>
</div>
<div class="table-wrapper wow fadeIn">
    <div class="table-head alt">
        <h3 class="title fw-700">歷次獨立董事與內部稽核主管之溝通情形摘要</h3>
    </div>
    <table class="table table-style table-responsive">
        <thead>
            <tr>
                <th width="25%">日期</th>
                <th width="75%">溝通重點</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fw-700">106/08/10</span></td>
                <td class="t-left">106 年上半年度合併財務報表報告討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">106/11/09</span></td>
                <td class="t-left">106 年度關鍵查核事項討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">107/03/16</span></td>
                <td class="t-left">106 年度財務報表查核事項及 IFRS 修訂調整等討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">107/06/05</span></td>
                <td class="t-left">107 年度股東會前溝通及轉投資事項討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">107/11/08</span></td>
                <td class="t-left">107 年度關鍵查核事項、證管法令更新及 IFRS16 導入事項討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">108/03/21</span></td>
                <td class="t-left">1.108 年度 IFRS 16「租賃」施行計劃之進度評估<br />2.證管法令更新與獨立董事及會計主管討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">108/06/05</span></td>
                <td class="t-left">108 年度股東會前溝通及因應境外公司經濟實質法案討論</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-wrapper wow fadeIn">
    <div class="table-head alt">
        <h3 class="title fw-700">歷次獨立董事與會計師溝通情形摘要</h3>
    </div>
    <table class="table table-style table-responsive">
        <thead>
            <tr>
                <th width="25%">日期</th>
                <th width="75%">溝通重點</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fw-700">106/08/10</span></td>
                <td class="t-left">修正本公司「內部控制制度」討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">106/11/09</span></td>
                <td class="t-left">1. 106 年第三季稽核執行情形<br />2. 對公設點交作業流程與業務討論 </td>
            </tr>
            <tr>
                <td><span class="fw-700">107/03/16</span></td>
                <td class="t-left">1. 106 年全年度稽核執行情形<br />2. 對交屋及售後服務流程作業討論</td>
            </tr>
            <tr>
                <td><span class="fw-700">108/03/21</span></td>
                <td class="t-left">107 年全年度稽核執行情形與稽核主管討論</td>
            </tr>
        </tbody>
    </table>
</div>