﻿<div class="table-wrapper wow fadeIn">
    <div class="table-head">
        <h3 class="title fw-700">審計委員會</h3>
        <p class="txt">第1屆委員(任期106年6月16日至109年6月15日)</p>
    </div>
    <table class="table table-style table-responsive">
        <thead>
            <tr>
                <th width="25%">職稱</th>
                <th width="25%">姓名</th>
                <th width="50%">學經歷</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fw-700">召集人</span></td>
                <td>林秀玲</td>
                <td class="t-left">台灣大學法律系&nbsp;&nbsp;/&nbsp;&nbsp;達勝肆創業投資股份有限公司董事長</td>
            </tr>
            <tr>
                <td rowspan="5"><span class="fw-700">董事</span></td>
                <td>吳志偉</td>
                <td class="t-left">美國加州州立大學企管碩士&nbsp;&nbsp;/&nbsp;&nbsp;美國Preferred Bank獨立董事</td>
            </tr>
            <tr>
                <td>張元宵</td>
                <td class="t-left">美國南美以美大學法律博士&nbsp;&nbsp;/&nbsp;&nbsp;衛理法律事務所開業律師</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-wrapper wow fadeIn">
    <div class="table-head">
        <h3 class="title fw-700">薪酬委員會</h3>
        <p class="txt">第3屆委員(任期106年6月16日至109年6月15日)</p>
    </div>
    <table class="table table-style table-responsive">
        <thead>
            <tr>
                <th width="25%">職稱</th>
                <th width="25%">姓名</th>
                <th width="50%">學經歷</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="fw-700">召集人</span></td>
                <td>林秀玲</td>
                <td class="t-left">台灣大學法律系&nbsp;&nbsp;/&nbsp;&nbsp;達勝肆創業投資股份有限公司董事長</td>
            </tr>
            <tr>
                <td rowspan="5"><span class="fw-700">董事</span></td>
                <td>吳志偉</td>
                <td class="t-left">美國加州州立大學企管碩士&nbsp;&nbsp;/&nbsp;&nbsp;美國Preferred Bank獨立董事</td>
            </tr>
            <tr>
                <td>張元宵</td>
                <td class="t-left">美國南美以美大學法律博士&nbsp;&nbsp;/&nbsp;&nbsp;衛理法律事務所開業律師</td>
            </tr>
        </tbody>
    </table>
</div>