﻿<div class="profile-txt editor editor-style wow fadeInUp">
    <p>一O七年度房地產市場，雖然國內經濟略有放緩，但於第四季才明顯趨緩，對房市尚未產生明顯衝擊，加上政策面以健全為主，無打房措施，搭配利率仍處低檔，使得房市消費信心持續回穩，成交量明顯提升，價格止跌小彈，全年呈現價穩量增的彈升修復格局。本公司掌握彈升契機，持續穩中帶攻策略，於五至七月間陸續推出三重「<span class="t-mg fw-700">國泰悦</span>」、板橋「<span class="t-mg fw-700">國泰明</span>」、新店「<span class="t-mg fw-700">國泰豐格</span>」等三個預售建案，由於產品貼切市場需求，不僅價格高於當地水準，且銷售表現良好。</p>
    <p>在營收方面，人帳建案有：台北「<span class="t-mg fw-700">國泰沐善</span>」、 新北「<span class="t-mg fw-700">國泰金城</span>」、台中「<span class="t-mg fw-700">御博苑</span>」、台南「<span class="t-mg fw-700">文林現</span>」及高雄「<span class="t-mg fw-700">國泰DOUBLE A馥建築</span>」等五個整批建案，以及新北、竹北、台中、台南、高雄等五個前一年度已完工餘留部分，統計全年營收合計為新台幣壹佰貳拾億壹仟貳佰伍拾萬餘元，較前一年度明顯增長2 0.76%。</p>
</div>
<div class="profile-pic pic wow fadeInUp">
    <img src="Styles/images/static/about/about-operation/profile-pic.jpg" alt="" />
</div>