﻿<div class="tree">
    <div class="tree-row wow fadeIn top">
        <div class="tree-group">
            <div class="btn border-mg no-hover">
                <img src="Styles/images/static/about/about-organization/logo.png" alt="" />
                <span class="fw-700">股東大會</span>
            </div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group side for-line">
            <span class="line line-h"></span>
        </div>
        <div class="tree-group">
            <div class="btn fill-mg no-hover">董事會</div>
            <span class="line line-v"></span>
        </div>
        <div class="tree-group side for-btn">
            <div class="btn fill-teal no-hover">審計委員會 / <br class="shown-1199" />薪資報酬委員會</div>
            <span class="line line-h"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group">
            <div class="btn fill-mg no-hover">董事長</div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group">
            <div class="btn fill-mg no-hover">副董事長</div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group">
            <div class="btn fill-mg no-hover">總經理</div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group line-extra">
            <div class="btn fill-mg no-hover">總工程師 / 副總經理</div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn">
        <div class="tree-group">
            <div class="btn fill-mg no-hover">協理</div>
            <span class="line line-v"></span>
        </div>
    </div>
    <div class="tree-row wow fadeIn bottom">
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-gray no-hover">稽核室</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">人力資源部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">營運管理部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">技術本部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">專案三部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">專案二部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">專案一部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-atoll no-hover">開發部</div>
        </div>
        <div class="tree-group">
            <span class="line line-v"></span>
            <div class="btn fill-mg no-hover">總經理室</div>
        </div>
    </div>
</div>