﻿<div class="about-ph-section core">
    <div class="section-inner container c-md">
        <hgroup class="hg section-hg wow fadeInDown">
            <h3 class="title">- 核心價值 & 四大保證 -</h3>
        </hgroup>
        <div class="content">
            <ul class="ns">
                <li class="pic wow zoomIn">
                    <img src="Styles/images/static/about/about-philosophy/core01.png" alt="" />
                </li>
                <li class="pic wow zoomIn">
                    <img src="Styles/images/static/about/about-philosophy/core02.png" alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-ph-section ph">
    <div class="section-bg pic-fill" data-parallax="scroll" data-image-src="Styles/images/static/about/about-philosophy/ph-bg.jpg"></div>
    <div class="section-inner container c-md">
        <hgroup class="hg section-hg wow fadeInDown">
            <h3 class="title">- 經營理念 -</h3>
        </hgroup>
        <div class="content">
            <ul class="ns">
                <li class="wow fadeInUp">
                    <div class="icon">
                        <img src="Styles/images/static/about/about-philosophy/ph01.png" alt="" />
                    </div>
                    <h4 class="caption">
                        <span class="zh fw-700">經營腳踏實地<br />工作精益求精</span>
                        <span class="en">Operate in a down-to-earth manner.<br />Work to strive for Excellency.</span>
                    </h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="icon">
                        <img src="Styles/images/static/about/about-philosophy/ph02.png" alt="" />
                    </div>
                    <h4 class="caption">
                        <span class="zh fw-700">注重商業道德<br />講究職業良心</span>
                        <span class="en">Respect business ethics.<br />Value professional conscience.</span>
                    </h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="icon">
                        <img src="Styles/images/static/about/about-philosophy/ph03.png" alt="" />
                    </div>
                    <h4 class="caption">
                        <span class="zh fw-700">專業建築技術<br />提升住的品質</span>
                        <span class="en">Provide building expertise.<br />Improve the quality of living.</span>
                    </h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="icon">
                        <img src="Styles/images/static/about/about-philosophy/ph04.png" alt="" />
                    </div>
                    <h4 class="caption">
                        <span class="zh fw-700">堅守四大保證<br />確保客戶權益</span>
                        <span class="en">Keep the four promises.<br />Ensure the rights of our clients.</span>
                    </h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="icon">
                        <img src="Styles/images/static/about/about-philosophy/ph05.png" alt="" />
                    </div>
                    <h4 class="caption">
                        <span class="zh fw-700">創造股東利益<br />加強員工福利</span>
                        <span class="en">Create profits for the shareholders.<br />Strengthen the employees' welfare.</span>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</div>