﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
    var data = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Faq">@ViewBag.ResLang["常見問題"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["常見問題"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="faq-list">

                    @foreach (member_faq item in data)
                    {
                        <div class="faq-box wow fadeInUp">
                            <div class="faq-box-q">
                                <h3 class="title">@item.title</h3>
                                @*<p class="date">@DateTime.Parse(item.create_date.ToString()).ToString("yyyy-MM-dd")</p>*@
                            </div>
                            <div class="faq-box-a editor-style">
                                @Html.Raw(FunctionService.FormatImagePath(item.notes))
                                @*<p>@item.notes</p>*@
                            </div>
                        </div>

                    }


                </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>



@Html.Partial("User")<!--共用選單-->

@section scripts {

}