﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
}


<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner bottom-0">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["App下載"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="subnav">
                        <div class="subnav-toggle">
                            <button type="button" class="btn">
                                <span class="btn-inner">@ViewBag.ResLang["App下載"]</span>
                            </button>
                        </div>
                        <div class="subnav-menu">
                            @Html.Partial("SubNav")<!--共用選單-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body customer-app-section">
                <div class="primary-body-inner container c-sm">
                    <div class="app-intro">
                        <div class="icon">
                            <img src="~/Styles/images/static/customer/customer-member/app-icon.png" alt="" />
                        </div>
                        <div class="content">
                            <h3 class="title">CRE客戶關懷</h3>
                            <div class="txt">
                                <p>國泰建設給您實在的好房子</p>
                                <p><span class="t-mg fw-700">» 國泰尊榮會員</span> - 購買國泰房子的客戶們，可於專區內報修報名顧客關懷活動及專有尊榮優惠。</p>
                                <p><span class="t-mg fw-700">» 國泰小管家</span> - 紀錄您住宅的稅賦及貸款等</p>
                                <p><span class="t-mg fw-700">» 住宅知識庫</span> - 提供您住宅維護保養及社區防災資訊等</p>
                                <p><span class="t-mg fw-700">» 熱銷建案</span> - 給您購屋的最新建案資訊</p>
                            </div>
                        </div>
                        <div class="links">
                            <ul class="ns">
                                <li>
                                    <a href="https://www.apple.com/ios/app-store/" target="_blank" class="btn">
                                        <span class="btn-inner">
                                            <img src="~/Styles/images/static/customer/customer-member/app-store.png" alt="" />
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/" target="_blank" class="btn">
                                        <span class="btn-inner">
                                            <img src="~/Styles/images/static/customer/customer-member/google-play.png" alt="" />
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="app-previews">
                        <ul class="ns slider">
                            <li class="slick-item pic">
                                <img src="~/Styles/images/static/customer/customer-member/app01.png" alt="" />
                            </li>
                            <li class="slick-item pic">
                                <img src="~/Styles/images/static/customer/customer-member/app02.png" alt="" />
                            </li>
                            <li class="slick-item pic">
                                <img src="~/Styles/images/static/customer/customer-member/app03.png" alt="" />
                            </li>
                            <li class="slick-item pic">
                                <img src="~/Styles/images/static/customer/customer-member/app04.png" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("User")<!--共用選單-->

@section scripts {
    <script>
    $(function() {
      $('.app-previews').find('.slider').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
        autoplay: true,
        autoplaySpeed: 5000,
        responsive: [
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
    </script>
}