﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
}

<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["會員登入"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Login">@ViewBag.ResLang["會員登入"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="primary-body">
                <div class="customer-form-section login wow fadeIn">
                    <p class="t-center fw-700">@ViewBag.ResLang["請輸入您的帳號密碼"]</p>
                    <form class="form customer-form-style" action="@Url.Content("~/" + ViewBag.Lang + "/Login/LoginAction")" name="LoginForm" id="LoginForm" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-main">
                            <div class="form-group">
                                <!-- 表單驗證錯誤 class 加 error <div class="form-group error"> -->
                                <div class="form-label">@ViewBag.ResLang["帳號"]：</div>
                                <input type="text" class="form-control" required name="UserId" id="UserId" onkeyup="this.value = this.value.toUpperCase();"/>
                            </div>
                            <div class="form-group">
                                <div class="form-label">@ViewBag.ResLang["密碼"]：</div>
                                <input type="password" class="form-control" required name="Password" id="Password" />
                            </div>
                            <div class="form-group has-code">
                                <div class="form-label">@ViewBag.ResLang["驗證碼"]</div>
                                <input type="text" class="form-control" required name="verification" id="verification" placeholder="請依照大小寫輸入"/>
                                <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn fill-mg submitBut">@ViewBag.ResLang["確認送出"]</button>
                            @*<button type="button" class="btn fill-mg dontlogin">@ViewBag.ResLang["確認送出"]</button>*@
                            <p><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Forget">@ViewBag.ResLang["忘記密碼"]</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")

    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {

            $("#LoginForm").each(function () {
                $("#LoginForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);
                        return true;
                    },
                    errorPlacement: function (error, element) {
                        // element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        element.parents('.form-group').addClass("error");

                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                        $(findID).parents('.form-group').removeClass("error");
                        //$(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });

            });

            $(".dontlogin").on("click", function () {
                swal("會員專區目前維修中", "", "error");
            });
        });
    </script>

}