﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
}
<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="/styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content(" ~/" + ViewBag.Lang)/Member/Password">@ViewBag.ResLang["修改密碼"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["修改密碼"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="customer-form-section forget wow fadeIn">
                    <p class="t-center fw-700">@ViewBag.ResLang["修改密碼"]</p>
                    <div class="highlight">
                        <p>@ViewBag.ResLang["修改密碼僅適於APP註冊會員"]</p>
                        <p>@ViewBag.ResLang["若您非APP註冊會員請聯繫您的專員處理"]</p>
                    </div>

                    <form class="form customer-form-style" action="@Url.Content("~/" + ViewBag.Lang + "/Member/ChangePassword")" name="PwdForm" id="PwdForm" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-main">
                            <div class="form-group">
                                <!-- 表單驗證錯誤 class 加 error -->
                                <div class="form-label">@ViewBag.ResLang["請輸入舊密碼"]：</div>
                                <input type="password" class="form-control" required name="OldPassword" id="OldPassword" />
                            </div>
                            <div class="form-group">
                                <div class="form-label">@ViewBag.ResLang["請輸入新密碼"]：</div>
                                <input type="password" class="form-control" required name="NewPassword" id="NewPassword" />
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="submit" class="btn fill-mg submitBut">@ViewBag.ResLang["確認修改"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>



@Html.Partial("User")<!--共用選單-->

@section scripts {

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")


    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {



            $("#PwdForm").each(function () {
                $("#PwdForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);
                        return true;
                    },
                    errorPlacement: function (error, element) {
                        // element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        element.parents('.form-group').addClass("error");

                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                        $(findID).parents('.form-group').removeClass("error");
                        //$(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });
    </script>

}