﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
}

<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="/styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content(" ~/" + ViewBag.Lang)/Member/Password">@ViewBag.ResLang["修改密碼"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["修改密碼"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            @Html.Partial("SubNav")<!--共用選單-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="form-submit alt wow fadeIn">
                    <div class="form-submit-box">
                        <div class="head hg">
                            <p class="txt">@Html.Raw(ViewBag.ResLang["您的密碼已重新修改"])</p>
                        </div>
                        <div class="button">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Member/Login" class="btn btn-inline fill-mg">@ViewBag.ResLang["重新登入"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@Html.Partial("User")<!--共用選單-->
