﻿@using Web.Models;
@using Web.Service;
@using Web.ServiceModels;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
    List<PaymentModel> Payments = ViewBag.Payments;
    PaymentModel paymentFirst = ViewBag.PaymentsFirst;
}

<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Payment">@ViewBag.ResLang["繳款紀錄"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["繳款紀錄"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")
                    </div>
                </div>
            </div>
            <div class="primary-body has-nav">
                <div class="primary-body-nav wow fadeIn">
                    <ul class="ns">
                        @if (ViewBag.PaymentTitleList != null && ViewBag.PaymentTitleList.Count != 0)
                        {
                            foreach (var data in ViewBag.PaymentTitleList)
                            {
                                var MCU = data.WFMCU.Replace(" ", "").ToString();
                                var L010 = data.WFDL010.Replace(" ", "").ToString();
                                var Url_MCU = HttpUtility.UrlEncode(MCU);
                                var Url_L010 = HttpUtility.UrlEncode(L010);
                                var checkshow = data.checkshow;

                                if (data.checkshow == 1)
                                {
                                    <li @if (ViewBag.PaymentTitle.WFMCU == data.WFMCU && ViewBag.PaymentTitle.WFDL010 == data.WFDL010) { @Html.Raw("class=\"current\"") }>
                                        <a href="@Url.Content("~/" + ViewBag.Lang + "/Member/Payment/" + Url_MCU + "§" + Url_L010)">@data.WFDL01 @data.WFDL010</a>
                                    </li>
                                }

                            }

                            if (ViewBag.paymentcount == 0)
                            {
                                <li>無繳款紀錄</li>
                            }
                        }
                        else
                        {
                            <li>無繳款紀錄</li>
                        }
                    </ul>
                </div>
                <div class="primary-body-main">
                    <hgroup class="hg t-left wow fadeIn">
                        <h3 class="title f30 fw-700">
                            @if (ViewBag.PaymentTitle != null)
                            {
                                if (ViewBag.PaymentTitle.checkshow == 1)
                                {
                                    @ViewBag.PaymentTitle.WFDL01 @ViewBag.PaymentTitle.WFDL010
                                }
                            }
                        </h3>
                    </hgroup>
                    <div class="article-info editor-style wow fadeInUp" style="margin:2%">
                        @if (ViewBag.Lang == "tw")
                        {
                            <p>
                                本公司繳款資料採『每周更新』方式，故 台端月份繳納款項需至次週一後才能至『國泰建設官方網站』查詢。
                            </p>
                        }
                        else
                        {
                            <p>
                                本公司繳款資料採『每周更新』方式，故 台端月份繳納款項需至次週一後才能至『國泰建設官方網站』查詢。
                            </p>
                        }
                    </div>

                    @if (ViewBag.PaymentTitle != null)
                    {
                        if (ViewBag.PaymentTitle.checkshow == 1)
                        {
                            <div class="table-wrapper wow fadeIn">
                                <table class="table table-style2 table-fixed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>@ViewBag.ResLang["期別"]</th>
                                            <th>@ViewBag.ResLang["應繳日期"]</th>
                                            <th>@ViewBag.ResLang["合約金額"]</th>
                                            <th>@ViewBag.ResLang["實繳日期"]</th>
                                            <th>@ViewBag.ResLang["已繳金額"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.PaymentData != null && ViewBag.PaymentData.Count != 0)
                                        {
                                            List<PaymentDataModel> Data = ViewBag.PaymentData;
                                            foreach (var item in Data.OrderBy(x => Convert.ToDouble(x.WFNLIN)).ToList())
                                            {
                                                <tr>
                                                    <td>@Html.Raw(item.WFDL011)</td>
                                                    <td>
                                                        @try
                                                        {
                                                            @DateTime.Parse(item.WFRECDATE.ToString()).ToString("yyyy-MM-dd")
                                                        }
                                                        catch
                                                        {
                                                        }
                                                    </td>
                                                    <td>
                                                        @try
                                                        {
                                                            @Html.Raw(double.Parse(item.WFAMTLA).ToString("C0").Replace("NT", "") + "元")
                                                        }
                                                        catch
                                                        {
                                                        }
                                                    </td>
                                                    <td>
                                                        @try
                                                        {
                                                            if (!string.IsNullOrEmpty(item.WFURDT))
                                                            {
                                                                @DateTime.Parse(item.WFURDT.ToString()).ToString("yyyy-MM-dd")
                                                            }
                                                        }
                                                        catch { }
                                                    </td>
                                                    <td>
                                                        @try
                                                        {
                                                            @Html.Raw(double.Parse(item.WFAMTHIT).ToString("C0").Replace("NT", "") + "元")
                                                        }
                                                        catch
                                                        {
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="5">@ViewBag.ResLang["無任何繳款紀錄"]</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("User")