﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";

     List<cases> cases = ViewBag.Cases;
     cases casesData =  ViewBag.CasesData;
     cases_progress data = ViewBag.Data;

     List<string> pic = new List<string>();
    List<string> picAlt = new List<string>();

     try { pic = data.pic.Split(',').ToList(); } catch { }
     try { picAlt = data.pic_alt.Split('§').ToList(); } catch { }
}
<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress">@ViewBag.ResLang["工程進度"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["工程進度"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>
            <div class="primary-body has-nav">
                <div class="primary-body-nav wow fadeIn">
                    <ul class="ns">
                        @if (cases.Count > 0)
                        {
                            cases = cases.Distinct().ToList();
                            foreach (cases item in cases)
                            {
                                <li @if (ViewBag.ID == item.guid) { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress/@item.guid">@item.title</a></li>
                            }

                        }
                    </ul>
                </div>
                <div class="primary-body-main">
                    <div class="progress-head hg t-left wow fadeInUp">
                        <h3 class="title f30 fw-700">@casesData.title - @data.title</h3>
                    </div>
                    <div class="progress-body">
                        <div class="content wow fadeInUp">
                            <ul class="ns">
                                <li><span class="tt">@ViewBag.ResLang["發布日期"]：</span>@DateTime.Parse(data.post_date.ToString()).ToString("yyyy-MM-dd")</li>
                                <li><span class="tt">@ViewBag.ResLang["建案名稱"]：</span>@casesData.title</li>
                                @if (!string.IsNullOrEmpty(casesData.start_date.ToString()))
                                {
                                     <li><span class="tt">@ViewBag.ResLang["實際開工日期"]：</span>@DateTime.Parse(casesData.start_date.ToString()).ToString("yyyy-MM-dd")</li>
                                }

                                @if (!string.IsNullOrEmpty(casesData.end_date.ToString()))
                                {
                                     <li><span class="tt">@ViewBag.ResLang["預計完工日期"]：</span>@DateTime.Parse(casesData.end_date.ToString()).ToString("yyyy-MM-dd")</li>
                                }

                            </ul>
                            <ul class="ns">
                                <li><span class="tt">@ViewBag.ResLang["本次進度描述"]：</span><br />@data.notes</li>
                            </ul>
                        </div>
                        <div class="gallery">
                            <div class="slider-main wow fadeInUp">
                                <ul class="ns slider">

                                    @{
                                        int i = 0;
                                        foreach (string img in pic)
                                        {
                                            <li class="slick-item pic"><img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" /></li>

                                            i++;
                                        }

                                    }

                                </ul>
                            </div>
                            <div class="slider-thumb wow fadeInUp">
                                <ul class="ns slider">

                                    @{
                                        i = 0;
                                        foreach (string img in pic)
                                        {
                                            <li class="slick-item">
                                                <div class="thumb imgFill"><img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" /></div>
                                            </li>

                                            i++;

                                        }

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="primary-foot">
            <div class="primary-foot-inner container c-md">
                <ul class="ns">
                    @if (ViewData["prev"] == null)
                    {
                        <li class="prev disabled"></li>
                    }
                    else
                    {
                        <li class="prev">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Member/ProgressDetail/@ViewData["prev"]" class="btn">
                                <i class="icon icon-arrow-left"></i>
                                <span>@ViewBag.ResLang["上一則"]</span>
                            </a>
                        </li>
                    }

                    <li class="back"><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress/@data.category">@ViewBag.ResLang["返回列表"]</a></li>

                    @if (ViewData["next"] == null)
                    {
                        <li class="next disabled"></li>
                    }
                    else
                    {
                        <li class="next">

                            <a href="@Url.Content("~/" + ViewBag.Lang)/Member/ProgressDetail/@ViewData["next"]" class="btn">
                                <i class="icon icon-arrow-right"></i>
                                <span>@ViewBag.ResLang["下一則"]</span>
                            </a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>
</main>



@Html.Partial("User")<!--共用選單-->

@section scripts {
    <script>
    $(function() {
      var $slider = $('.slider-main').children('.slider'),
          $thumb = $('.slider-thumb').children('.slider');
      $slider.slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        prevArrow: '<div class="slick-arrow slick-prev"><button type="button" class="btn btn-circle"><i class="icon-chevron-left"></i></button></div>',
        nextArrow: '<div class="slick-arrow slick-next"><button type="button" class="btn btn-circle"><i class="icon-chevron-right"></i></button></div>',
        adaptiveHeight: true,
        asNavFor: $thumb,
      });
      $thumb.slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        arrows: false,
        dots: false,
        centerMode: true,
        centerPadding: '0',
        focusOnSelect: true,
        asNavFor: $slider,
      });
    });
    </script>
}