﻿@using Web.Models;
@using Web.Service;
@using PagedList;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "customer";
    ViewBag.BodyDataPage = "customer-member";
    List<cases> cases = ViewBag.Cases;
    cases casesData = ViewBag.CasesData;
    PagedList<cases_progress> data = ViewBag.Data;
}


<main id="main">
    <div class="hero">
        @Html.Partial("../Customer/Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["客戶會員專區"]</span>
                </button>
            </div>
            @Html.Partial("../Customer/Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["客戶會員專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["客戶專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index">@ViewBag.ResLang["客戶會員專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress">@ViewBag.ResLang["工程進度"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.ResLang["工程進度"]</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        @Html.Partial("SubNav")<!--共用選單-->
                    </div>
                </div>
            </div>
            <div class="primary-body has-nav">
                <div class="primary-body-nav wow fadeIn">
                    <ul class="ns">
                        @if (cases != null && cases.Count > 0)
                        {
                            cases = cases.Distinct().ToList();
                            foreach (cases item in cases)
                            {
                                if (item.seo_description == "1")
                                {
                                    <li @if (ViewBag.ID == item.guid) { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress/@item.guid">@item.title</a></li>
                                }
                            }

                            if (ViewBag.casecount == 0)
                            {
                                <li>無工程進度</li>
                            }

                        }
                        else
                        {
                            <li>無工程進度</li>
                        }

                    </ul>
                </div>
                <div class="primary-body-main">
                    <hgroup class="hg t-left wow fadeIn">
                        @if (casesData != null)
                        {
                            if (casesData.seo_description == "1")
                            {
                                <h3 class="title f30 fw-700">@casesData.title</h3>
                            }
                        }

                    </hgroup>

                    @if (casesData != null)
                    {
                        if (casesData.seo_description == "1")
                        {
                            <div class="table-wrapper wow fadeIn">
                                <table class="table table-style2 table-responsive progress-table">
                                    <thead>
                                        <tr>
                                            <th width="25%">@ViewBag.ResLang["進度主題"]</th>
                                            <th width="60%">@ViewBag.ResLang["摘要"]</th>
                                            <th width="15%">@ViewBag.ResLang["發布日期"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (data != null && data.Count > 0)
                                        {
                                            foreach (cases_progress item in data)
                                            {
                                                <tr onclick="javascript:location.href='@Url.Content("~/" + ViewBag.Lang)/Member/ProgressDetail/@item.guid'">
                                                    <td><i class="f13 icon-chevrons-right t-mg"></i> @casesData.title - @item.title</td>
                                                    <td>@item.notes</td>
                                                    <td class="ff-osw">
                                                        @try
                                                        {
                                                            @DateTime.Parse(item.post_date.ToString()).ToString("yyyy-MM-dd");
                                                        }
                                                        catch
                                                        {
                                                            item.post_date.ToString();
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            if (ViewBag.casecount == 0)
                                            {
                                                <tr>
                                                    <td colspan="3">無任何工程進度</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">無任何工程進度</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination wow fadeInUp">
                                @Html.Raw(ViewBag.pageView)
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("User")<!--共用選單-->

@section scripts {

}