﻿<ul class="ns">
    @*<li @if (ViewBag.SubActive == "Index") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Index" class="btn">@ViewBag.ResLang["App下載"]</a></li>*@
    <li @if (ViewBag.SubActive == "Progress") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Progress" class="btn">@ViewBag.ResLang["工程進度"]</a></li>
    @if (ViewBag.PaymentStatus == true)
    {
        <li @if (ViewBag.SubActive == "Payment") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Payment" class="btn">@ViewBag.ResLang["繳款紀錄"]</a></li>
    }
    <li @if (ViewBag.SubActive == "Faq") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Faq" class="btn">@ViewBag.ResLang["常見問題"]</a></li>
    <li @if (ViewBag.SubActive == "Password") { @Html.Raw("class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Password" class="btn">@ViewBag.ResLang["修改密碼"]</a></li>

    <li><a href="@ViewBag.webData.token_url" target="_blank" class="btn">@ViewBag.ResLang["線上建材設備選定系統"]</a></li>
</ul>