﻿@{
    Web.ServiceModels.Info memberInfo = ViewBag.LoginMember;

    var username = memberInfo.result.preSale[0].abalph.ToString();
    string name = "";
    if (username.Length == 2)
    {
        var first = username.Substring(0, 1);
        name = first + "●";
    }
    else if (username.Length > 2)
    {
        var split = username.Split(' ');

        if (split.Length >= 2)
        {
            var num = 1;
            foreach (var item in split)
            {
                if (num == 1)
                {
                    var first = item.Substring(0, 1);
                    var f_mask = "";
                    for (var fi = 1; fi <= item.Length - 1; fi++)
                    {
                        f_mask += "●";
                    }
                    name += first + f_mask + " ";
                }
                else if (num == split.Length)
                {
                    var last = item.Substring(item.Length - 1, 1);
                    var l_mask = "";
                    for (var li = 1; li <= item.Length - 1; li++)
                    {
                        l_mask += "●";
                    }
                    name += l_mask + last;
                }
                else
                {
                    var m_mask = "";
                    for (var mi = 1; mi <= item.Length; mi++)
                    {
                        m_mask += "●";
                    }
                    name += m_mask + " ";
                }
                num++;
            }

            name = name.TrimEnd(' ');
        }
        else
        {
            var first = username.Substring(0, 1);
            var last = username.Substring(username.Length - 1, 1);

            var mask = "";
            for (var i = 1; i <= username.Length - 2; i++)
            {
                mask += "●";
            }

            name = first + mask + last;
        }
    }
    else
    {
        name = username;
    }
}
<div class="member-logout">
    <div class="btn btn-inline border-mg no-hover wow fadeInLeft">
        <div class="avatar">
            <img src="~/Styles/images/demo/customer/avatar.jpg" alt="" />
        </div>
        @if (memberInfo.result.preSale.Count != 0)
        {
            @*<div class="name">@memberInfo.result.preSale[0].abalph @ViewBag.ResLang["您好"]</div>*@
            <div class="name">@name @ViewBag.ResLang["您好"]</div>
            <div class="action"><a href="@Url.Content("~/"+ViewBag.Lang+"/Login/Logout")">@ViewBag.ResLang["登出"]</a></div>
        }
        else
        {
            <div class="name"> @ViewBag.ResLang["您好"]</div>
            <div class="action"><a href="@Url.Content("~/"+ViewBag.Lang+"/Login/Logout")">@ViewBag.ResLang["登出"]</a></div>
        }
    </div>
</div>