﻿<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 鋼筋材料</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">現場取樣直送TAF認證實驗室，確保材料及試驗品質。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">檢測鋼筋另外準備提送，並送至私人實驗室，可信度降低。</p>
    </div>
    <div class="photo-box">
        <div class="set01 img-shadowclear" style="max-width:450px;">
            <img src="Styles/images/static/construction/method01-001.png" alt="現場直接取樣">
            <span class="illustrate fs_20">現場直接取樣</span>
        </div>
        <div class="set img-shadowclear pd-top" style="max-width:320px;">
            <img src="Styles/images/static/construction/method01-002.png" alt="TAF認證實驗室">
            <span class="illustrate fs_20">TAF認證實驗室</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 鋼筋續接 1</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">超越法規標準錯層續接，且冷鍛續接器可保有鋼筋之韌性。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">普遍均在同樓層續接，且採熱接或車牙將使鋼筋受熱後延展性變差。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:267px;">
            <img src="Styles/images/static/construction/method01-003.png" alt="SA級冷鍛滾牙續接器">
            <span class="illustrate fs_20">地上層隔根錯層續接</span>
        </div>
        <div class="set pd-top" style="max-width:505px;">
            <img src="Styles/images/static/construction/method01-004.png" alt="SA級冷鍛滾牙續接器">
            <span class="illustrate fs_20">SA級冷鍛滾牙續接器</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 鋼筋續接 2</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">除取樣送驗外，並於現場進行100%測試，以保證確實鎖緊。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">無扭力板手測試，單憑工人手感鎖固。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:475px;">
            <img src="Styles/images/static/construction/method01-005.png" alt="取樣送驗">
            <span class="illustrate fs_20">取樣送驗</span>
        </div>
        <div class="set04 pd-top" style="max-width:362px;">
            <img src="Styles/images/static/construction/method01-006.png" alt="100%扭力板手測試">
            <span class="illustrate fs_20">100%扭力板手測試</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 柱筋綁紮</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">箍筋繫筋之弱面分散，強度均勻，使強度較一般綁法更堅固。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">固定於同一位置，易施工，但弱面集中。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:511px;">
            <img src="Styles/images/static/construction/method01-007.png" alt="柱筋彎鉤需四個角落均勻放置">
            <span class="illustrate fs_20">柱筋彎鉤需四個角落均勻放置</span>
        </div>
        <div class="set03 pd-top" style="max-width:339px;">
            <img src="Styles/images/static/construction/method01-008.png" alt="柱繫筋90°與135 °彎鉤需交錯放置 ">
            <span class="illustrate fs_20">柱繫筋90°與135 °彎鉤需交錯放置</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 梁筋綁紮</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">鋼筋不會因灌漿而位移，樑筋固定良好不易偏斜變形。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">下層未綁，僅靠重力下垂，灌漿時易位移。</p>
    </div>
    <div class="photo-box">
        <div class="set-all img-0">
            <img src="Styles/images/static/construction/method01-009.png" alt="樑箍筋四個角落跳步綁紮3處">
            <span class="illustrate fs_20">樑箍筋四個角落跳步綁紮3處</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 版牆綁紮</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">要求版筋固定性，避免於施工過程中變形鬆脫；提升工地環境安全。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">未嚴格要求，於配管或灌漿時，易造成鋼筋鬆脫。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:494px;">
            <img src="Styles/images/static/construction/method01-010.png" alt="樓版寬止筋密佈">
            <span class="illustrate fs_20">樓版寬止筋密佈</span>
        </div>
        <div class="set030 pd-top" style="max-width:356px;">
            <img src="Styles/images/static/construction/method01-011.png" alt="預留筋以180度彎鉤以防人員穿剌">
            <span class="illustrate fs_20">預留筋以180度彎鉤以防人員穿剌</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">鋼筋 - 綁紮細節</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">確實執行開口鋼筋與樓梯轉折之補強，可降低未來裂縫產生機率。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">因綁紮較為困難而未確實要求，增加未來開裂機會。</p>
    </div>
    <div class="photo-box">
        <div class="set01" style="max-width:419px;">
            <img src="Styles/images/static/construction/method01-012.png" alt="開孔鋼筋補強">
            <span class="illustrate fs_20">開孔鋼筋補強</span>
        </div>
        <div class="set05 pd-top" style="max-width:431px;">
            <img src="Styles/images/static/construction/method01-013.png" alt="樓梯綁紮採「泥鰍潛」">
            <span class="illustrate fs_20">樓梯綁紮採「泥鰍潛」</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box d-more">
        <div class="title fs_30">模板 - 模板材料</div>
        <div class="d-half">
            <div class="subtitle fs_20">模板禁用脫模劑</div>
            <div class="tag sub fs_20">國泰優點：<span class="fs_16">避免影響未來粉刷接著性。</span></div>
            <div class="tag sub2 fs_20">一般公司：<span class="fs_16">可提升模板轉用率，降成本。</span></div>
        </div>
        <div class="d-half">
            <div class="subtitle fs_20">配置透光模板</div>
            <div class="tag sub fs_20">國泰優點：<span class="fs_16">增加現場光線，提升安全。</span></div>
            <div class="tag sub3 fs_20">一般公司：<span class="fs_16">採用傳統模版，光線不佳。</span></div>
        </div>
    </div>
    <div class="photo-box p-more">
        <div class="set02 img-half" style="max-width:422px;">
            <img src="Styles/images/static/construction/method01-014.png" alt="模板禁用脫模劑">
            <span class="illustrate fs_20">模板禁用脫模劑</span>
        </div>
        <div class="set03 img-half pd-top" style="max-width:426px;">
            <img src="Styles/images/static/construction/method01-015.png" alt="配置透光模板">
            <span class="illustrate fs_20">配置透光模板</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">模板 - 模板施工</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">留設清潔口並以高壓水槍清洗，可確保混凝土表面潔淨。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">因費時費工而未執行，影響混凝土品質。</p>
    </div>
    <div class="photo-box">
        <div class="set-all img-0" style="max-width:850px;">
            <img src="Styles/images/static/construction/method01-016.png" alt="柱牆模板留設清潔口----高壓水槍清洗完成">
            <span class="illustrate fs_20">柱牆模板留設清潔口----高壓水槍清洗完成</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">混凝土 - 混凝土材料 1</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">採用台灣一級廠商(台泥、國產、力泰)。</p>
    </div>
    <div class="photo-box">
        <div class="set06">
            <img src="Styles/images/static/construction/method01-017.png" alt="">
        </div>
        <div class="set07 pd-top">
            <img src="Styles/images/static/construction/method01-018.png" alt="">
        </div>
        <div class="set07 pd-top">
            <img src="Styles/images/static/construction/method01-019.png" alt="">
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">混凝土 - 混凝土材料 2</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">嚴格制定配比規定，以確保混凝土之耐久性。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">僅考慮強度與工作性，其餘皆以成本考量。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:301px;">
            <img src="Styles/images/static/construction/method01-020.png" alt="混凝土配比表送審">
            <span class="illustrate fs_20">混凝土配比表送審</span>
        </div>
        <div class="set03 pd-top" style="max-width:549px;">
            <img src="Styles/images/static/construction/method01-021.png" alt="進行試拌核對配比">
            <span class="illustrate fs_20">進行試拌核對配比</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">混凝土 - 混凝土材料 3</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">為杜絕爐碴來源，反覆查證。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">交由廠商自我管理無特別查證。</p>
        <div class="rmgtest fs_16">
            <p class="text">
                <span class="tit">爐碴檢驗</span><br>
                爐碴與爐石的分別，在於煉鋼方式的不同，依性質又可細分為6種。(詳見圖說)
            </p>
        </div>
    </div>
    <div class="photo-box">
        <div class="set-all img-shadowclear img-0">
            <img src="Styles/images/static/construction/method01-022.png" alt="">
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">混凝土 - 混凝土施工 1</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">確保混凝土品質符合設計配比。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">混凝土車到場即灌漿，是否加水不可知，滲入潤管砂漿亦影響品質。</p>
    </div>
    <div class="photo-box">
        <div class="set02" style="max-width:448px;">
            <img src="Styles/images/static/construction/method01-023.png" alt="管尾抽驗取樣、絕不加水">
            <span class="illustrate fs_20">管尾抽驗取樣、絕不加水</span>
        </div>
        <div class="set03 pd-top" style="max-width:403px;">
            <img src="Styles/images/static/construction/method01-024.png" alt="杜絕潤管砂漿灌入結構體">
            <span class="illustrate fs_20">杜絕潤管砂漿灌入結構體</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box">
        <div class="title fs_30">混凝土 - 混凝土施工 2</div>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-cathay.png" alt="國泰優點">國泰優點</div>
        <p class="text fs_16">確實養護樓板，以確保混凝土品質，並要求灌漿隔日不得置放重物。</p>
        <span class="hr"></span>
        <div class="tag fs_20"><img src="Styles/images/static/construction/icon-company.png" alt="">一般公司</div>
        <p class="text fs_16">為求工進隔日即置放鋼筋且未養護，影響混凝土耐久性。</p>
    </div>
    <div class="photo-box">
        <div class="set-all img-0" style="max-width:850px">
            <img src="Styles/images/static/construction/method01-025.png" alt="確實養護樓板">
            <span class="illustrate fs_20">確實養護樓板</span>
        </div>
    </div>
</div>
