﻿<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">磁磚石材 - 材料</div>
    <div class="d-explain">
        <div class="tag sub fs_20">國泰優點 <span class="fs_16">依不同場所規定相對應數值，維護品質與安全。</span></div>
        <div class="tag sub2 fs_20">一般公司 <span class="fs_16">沒有任何規訂，純粹美觀考量。</span></div>
    </div>
    <div class="photo-100 f-wrap">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-001.png" alt="限制磁磚吸水率與防滑係數">
            <span class="img-text fs_20">限制磁磚吸水率與防滑係數</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-002.png" alt="限制磁磚吸水率與防滑係數">
            <span class="img-text fs_20">限制磁磚吸水率與防滑係數</span>
        </div>
        <div class="set set01 img-half pd-top m-top">
            <img src="Styles/images/static/construction/renovation-003.png" alt="打底粉刷採用品牌水泥（台泥）">
            <span class="img-text fs_20">打底粉刷採用品牌水泥（台泥）</span>
        </div>
        <div class="set set02 img-half pd-top m-top">
            <img src="Styles/images/static/construction/renovation-004.png" alt="浴廁地壁磚以整平間隔器施作">
            <span class="img-text fs_20">浴廁地壁磚以整平間隔器施作</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">磁磚石材 - 外牆磁磚</div>
    <div class="photo-100 f-wrap">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-005.png" alt="外牆打底前以高壓清洗機沖洗粉塵">
            <span class="img-text fs_20">外牆打底前以高壓清洗機沖洗粉塵</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-006.png" alt="黏著劑與磁磚背溝呈90度垂直">
            <span class="img-text fs_20">黏著劑與磁磚背溝呈90度垂直</span>
        </div>
        <div class="set set01 img-half pd-top m-top">
            <img src="Styles/images/static/construction/renovation-007.png" alt="磁磚及打底全面打診">
            <span class="img-text fs_20">磁磚及打底全面打診</span>
        </div>
        <div class="set set02 img-half pd-top m-top">
            <img src="Styles/images/static/construction/renovation-008.png" alt="磁磚及打底拉拔試驗">
            <span class="img-text fs_20">磁磚及打底拉拔試驗</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">磁磚石材 - 外牆石材</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-009.png" alt="外牆石材均採背擴孔系統">
            <span class="img-text fs_20">外牆石材均採背擴孔系統</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-010.png" alt="採用Hilti或fischer" />
            <span class="img-text fs_20">採用Hilti或fischer</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">輕隔間 - 骨料</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-011.png" alt="骨料切割處塗佈防鏽漆">
            <span class="img-text fs_20">骨料切割處塗佈防鏽漆</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-012.png" alt="BOX開孔處預先噴漆避免骨料衝突" />
            <span class="img-text fs_20">BOX開孔處預先噴漆避免骨料衝突</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">輕隔間 - 板材</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-013.png" alt="輕隔間板材錯縫倒角">
            <span class="img-text fs_20">輕隔間板材錯縫倒角</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-014.png" alt="輕隔間板材離縫" />
            <span class="img-text fs_20">輕隔間板材離縫</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">其他 - 材料管控</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-015.png" alt="防水劑總量管制">
            <span class="img-text fs_20">防水劑總量管制</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-016.png" alt="EPOXY塗料總量管制" />
            <span class="img-text fs_20">EPOXY塗料總量管制</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">其他 - 工序材料 - 窗框防水</div>
    <div class="photo-100">
        <div class="set img-shadowclear">
            <img src="Styles/images/static/construction/renovation-017.png" alt="窗框防水">
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">其他 - 國泰品管</div>
    <div class="d-explain d-explain2">
        <div class="tag sub fs_20">國泰優點 <span class="fs_16">交給客戶前，先由公司內部員工逐戶檢查，改善完成始通知交屋。</span></div>
        <div class="tag sub2 dis fs_20">一般公司 <span class="fs_16">營造廠完工後即儘早通知交屋，客戶發現缺失才改。</span></div>
    </div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/renovation-018.png" alt="交屋前逐戶檢查簽認">
            <span class="img-text fs_20">交屋前逐戶檢查簽認</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/renovation-019.png" alt="交屋前逐戶檢查簽認" />
            <span class="img-text fs_20">交屋前逐戶檢查簽認</span>
        </div>
    </div>
</div>