﻿<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">屋頂中庭 - 五皮油毛氈(屋頂)</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/waterproof-001.png" alt="瀝青抗張油毛氈工法">
            <span class="img-text fs_20">瀝青抗張油毛氈工法</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/waterproof-002.png" alt="油毛氈重疊舖設">
            <span class="img-text  fs_20">油毛氈重疊舖設</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">屋頂中庭 - 拜鐵膜(一樓中庭)</div>
    <div class="photo-100">
        <div class="set set03">
            <img src="Styles/images/static/construction/waterproof-003.png" alt="拜鐵膜使用齒輪幫浦施工">
            <span class="img-text fs_20">拜鐵膜使用齒輪幫浦施工</span>
        </div>
        <div class="set set04 m-top">
            <img src="Styles/images/static/construction/waterproof-004.png" alt="齒輪幫浦及電腦全時自動調控系統">
            <span class="img-text fs_20">齒輪幫浦及電腦全時自動調控系統</span>
        </div>
        <div class="set set05 m-top">
            <img src="Styles/images/static/construction/waterproof-005.png" alt="噴塗施工作業">
            <span class="img-text fs_20">噴塗施工作業</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="data-box d-more">
        <div class="title fs_30">浴室陽台 - 複合式防水材</div>
        <div class="d-half">
            <div class="subtitle fs_20">浴廁採水和凝固型防水</div>
            <div class="tag sub fs_20">國泰優點：<span class="fs_16">進口壓克力系防水不易水解。</span></div>
            <div class="tag sub2 fs_20">一般公司：<span class="fs_16">台製產品，成份比例不穩定。</span></div>
        </div>
        <div class="d-half">
            <div class="subtitle fs_20">素地交付區域施作防水</div>
            <div class="tag sub fs_20">國泰優點：<span class="fs_16">毛胚交付或客變退磚之地坪施作防水，以免日後裝修泥水造成滲漏。</span></div>
            <div class="tag sub3 fs_20">一般公司：<span class="fs_16">無此細節考量。</span></div>
        </div>
    </div>
    <div class="photo-box p-more">
        <div class="set08 img-half">
            <img src="Styles/images/static/construction/waterproof-006.png" alt="浴廁採水和凝固型防水">
            <span class="illustrate fs_20">浴廁採水和凝固型防水</span>
        </div>
        <div class="set08 set09 img-half">
            <img src="Styles/images/static/construction/waterproof-007.png" alt="素地交付區域施作防水">
            <span class="illustrate fs_20">素地交付區域施作防水</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">浴室陽台 - 試水</div>
    <div class="photo-100">
        <div class="set set06">
            <img src="Styles/images/static/construction/waterproof-008.png" alt="結構體24hr．防水層72hr">
            <span class="img-text fs_20">結構體24hr．防水層72hr</span>
        </div>
        <div class="set set04 m-top">
            <img src="Styles/images/static/construction/waterproof-009.png" alt="乾溼區分階段試水">
            <span class="img-text fs_20">乾溼區分階段試水</span>
        </div>
        <div class="set set07 m-top">
            <img src="Styles/images/static/construction/waterproof-010.png" alt="試水完成後先行防護防水層">
            <span class="img-text fs_20">試水完成後先行防護防水層</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">外牆窗框 - 防水工法</div>
    <div class="photo-100 f-wrap">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/waterproof-011.png" alt="窗框結構體防水機制">
            <span class="img-text fs_20">窗框結構體防水機制</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/waterproof-012.png" alt="崁縫採用乾拌水泥砂">
            <span class="img-text fs_20">崁縫採用乾拌水泥砂</span>
        </div>
        <div class="set set01 img-half pd-top m-top">
            <img src="Styles/images/static/construction/waterproof-013.png" alt="玻璃與窗框間矽力康採道康寧791 窗框與磁磚間矽力康採道康寧991 ">
            <span class="img-text fs_20">玻璃與窗框間矽力康採道康寧791<br />窗框與磁磚間矽力康採道康寧991 </span>
        </div>
        <div class="set set02 img-half pd-top m-top">
            <img src="Styles/images/static/construction/waterproof-014.png" alt="外牆層間縫防水">
            <span class="img-text fs_20">外牆層間縫防水</span>
        </div>
    </div>
</div>