﻿<div class="exectro-row box-1 wow fadeInUp">
    <div class="script">
        <div class="label fs_30">ATS自動切換開關</div>
        <p class="fs_16">各戶設家庭式全自動切換開關(ATS)當發生停電時自動切換至發電機用電。</p>
        <p class="fs_16">停電時客廳、廚房冰箱、抽油煙機及熱水器各設一處插座供電。</p>
        <p class="fs_16">客廳燈具設一只一般停電時緊急供電。</p>
    </div>
    <div class="imgbox">
        <div class="ats ats-01 img-shadowclear">
            <img src="Styles/images/static/construction/electro-001.png" alt="">
            <span class="text fs_20">ATS自動切換開關</span>
        </div>
        <div class="ats ats-02">
            <img src="Styles/images/static/construction/electro-002.png" alt="">
            <span class="text fs_20">全自動切換開關(ATS)</span>
        </div>
        <div class="ats ats-03">
            <img src="Styles/images/static/construction/electro-003.png" alt="">
            <span class="text fs_20">緊急插座</span>
        </div>
    </div>
</div>
<div class="exectro-row box-2 wow fadeInUp">
    <div class="script">
        <div class="label fs_30">緊急供電範圍</div>
        <p class="fs_16">一般停電時可供應電梯、給排水泵、車道鐵捲門、安全系統、公共照明等公共設備及供應住戶緊急迴路用電。</p>
        <p class="fs_16">火災時緊急停電時僅供應消防設備用電。</p>
        <div class="imgbox">
            <div class="img-half">
                <img src="Styles/images/static/construction/electro-004.png" alt="">
                <span class="text fs_20">消防設備</span>
            </div>
            <div class="img-half">
                <img src="Styles/images/static/construction/electro-005.png" alt="">
                <span class="text fs_20">揚水設備</span>
            </div>
            <div class="img-half">
                <img src="Styles/images/static/construction/electro-006.png" alt="">
                <span class="text fs_20">電梯設備</span>
            </div>
            <div class="img-half">
                <img src="Styles/images/static/construction/electro-007.png" alt="">
                <span class="text fs_20">汙廢水水設備</span>
            </div>
        </div>
    </div>
    <div class="imgbox">
        <div class="img-w100">
            <img src="Styles/images/static/construction/electro-008.png" alt="">
            <span class="text fs_20">全新進口緊急發電機</span>
        </div>
    </div>
</div>