﻿<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">過濾設備系統架構</div>
    <div class="photo-100">
        <div class="itembox">
            <div class="item-01"><img src="Styles/images/static/construction/drainage-001.png" alt=""></div>
            <div class="item-02"><img src="Styles/images/static/construction/drainage-002.png" alt=""></div>
            <span class="img-text fs_20">地下室蓄水池進水設自動反洗過濾設備。</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">屋頂水箱設計</div>
    <div class="photo-100">
        <div class="itembox">
            <div class="item item-03"><img src="Styles/images/static/construction/drainage-003.png" alt=""></div>
            <div class="item item-04 m-top">
                <img src="Styles/images/static/construction/drainage-004.png" alt="">
                <p class="fs_20">屋頂層水箱採SMC組合式水箱。</p>
                <p class="fs_20">屋頂層水箱採隔離式雙水箱設計，清洗水箱不必停水。</p>
            </div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">減壓閥 - 水錘吸收器</div>
    <div class="photo-100 f-wrap">
        <div class="itembox itembox2">
            <div class="item item-05"><img src="Styles/images/static/construction/drainage-005.png" alt=""></div>
            <div class="item item-06">
                <p class="fs_16">建築物一般給水壓力，超過3.5kg/c㎡之限度時，應設置中間水槽或減壓閥等，調整給水壓力。</p>
                <p class="fs_16">減壓閥為維護管理方便，設於易於檢修之處所，若設於管道間時應在其用水戶內或可自公共通道開設檢修之門或窗，並須有足夠之檢修空間。</p>
            </div>
        </div>
        <div class="itembox itembox2">
            <div class="item item-07">
                <p class="fs_16">水錘吸收器之安裝可依左圖方式安裝，可減少因水錘產生之衝擊波破壞設備及管路，減少噪音與增長器具之使用年限。</p>
            </div>
            <div class="item item-05"><img src="Styles/images/static/construction/drainage-006.png" alt=""></div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">雨水回收</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/drainage-007.png" alt="">
            <span class="img-text text-dis fs_20">雨水回收<br>將屋頂雨水經由管路集中引入雨水回收池在經過處理可供庭園澆灌使用，節省公共水費支出。</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/drainage-008.png" alt="" />
            <span class="img-text text-dis fs_20">機房雨水回收過濾設備避免雨水回收池產生異味孳生細菌影響水質。</span>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">排水通氣系統-吸氣閥</div>
    <div class="photo-100">
        <div class="itembox">
            <div class="item-03">
                <img src="Styles/images/static/construction/drainage-009.png" alt="">
            </div>
            <div class="item-08">
                <img src="Styles/images/static/construction/drainage-009-2.png" alt="">
                <img src="Styles/images/static/construction/drainage-009-3.png" alt="">
            </div>
            <div class="item-05">
                <div class="tag sub2 fs_20">一般做法</div>
                <p class="fs_16">一般排水墩座占用屋頂空間，也破壞屋頂美觀。</p>
                <p class="fs_16">排水通氣管路內的空氣自由進出，也會造成臭氣四散的困擾。</p>
                <div class="tag sub fs_20">國泰做法</div>
                <p class="fs_16">吸氣閥設於屋頂周邊維修走道及花圃內。</p>
                <p class="fs_16">空中花園增加屋頂休憩空間。</p>
            </div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">間接排水系統示意圖</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/drainage-010.png" alt="">
            <div class="tag sub2 fs_20">
                傳統施工法
                <span class="fs_16">上層排水立管與當層排水管共用容易造成阻塞及排水不順。</span>
            </div>
        </div>
        <div class="set set02 img-half">
            <img src="Styles/images/static/construction/drainage-011.png" alt="" />
            <div class="tag sub fs_20">
                國泰做法(綠色管部份)
                <span class="fs_16">上層排水管與當層排水管採單獨水平於立管共接。<br>優點:轉管層廁所減少阻塞後回流至當層。</span>
            </div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">洗槽排水系統示意圖</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/drainage-012.png" alt="">
            <div class="tag sub2 fs_20">
                傳統施工法
                <span class="fs_16">洗衣機、洗槽及陽台排水管共用容易造成洗衣機排水或阻塞時重落水頭回流至陽台造成淹水。</span>
            </div>
        </div>
        <div class="set set02 img-half">
            <img src="Styles/images/static/construction/drainage-013.png" alt="" />
            <div class="tag sub fs_20">
                國泰做法
                <span class="fs_16">洗衣機、洗槽排水管與陽台排水管採獨立立管減少洗衣機排水由當層陽台排水管回流。</span>
            </div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">排水立管管材設備</div>
    <div class="photo-100">
        <div class="itembox box-between">
            <div class="box">
                <div class="img-box"><img src="Styles/images/static/construction/drainage-014.png" alt=""></div>
                <div class="tag sub2 fs_20">
                    傳統施工法
                    <span class="fs_16">建物管道間污排水管(橘色管)、透氣管(灰色管)為PVC管。</span>
                </div>
            </div>
            <div class="box">
                <div class="img-box"><img src="Styles/images/static/construction/drainage-015.png" alt=""></div>
                <div class="tag sub fs_20">
                    國泰做法
                    <span class="fs_16">高層住宅法規要求需為不燃材。<br>管道間內污排水管及透氣管皆為鑄鐵管(CIP)。<br>優點:耐用及降低噪音。</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-row wow fadeInUp">
    <div class="d-title fs_30">排水立管管材設備</div>
    <div class="photo-100">
        <div class="set set01 img-half">
            <img src="Styles/images/static/construction/drainage-016.png" alt="">
            <span class="img-text fs_20">車道邊管線設置防撞護欄以免發生碰撞造成管路損壞影響功能。</span>
        </div>
        <div class="set set02 img-half m-top">
            <img src="Styles/images/static/construction/drainage-017.png" alt="" />
            <span class="img-text fs_20">高層建物管線露明<span class="fc_red">皆為鑄鐵管(CIP)以及管線均標示名稱。</span></span>
        </div>
    </div>
</div>