﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-column";
    urban_column data = ViewBag.Data;


    List<string> pic = new List<string>();
    List<string> picAlt = new List<string>();

    try { pic = data.pic.Split(',').ToList(); } catch { }
    try { picAlt = data.pic_alt.Split('§').ToList(); } catch { }
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["都市更新專區"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary bg-gray">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["都市更新專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column">@ViewBag.ResLang["都市更新專區"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column/@ViewBag.urban_column_category.guid">@ViewBag.urban_column_category.title</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="urban-wrapper">
                    <div class="urban-profile wow fadeInLeft">
                        <h3 class="title">@data.title</h3>
                        <div class="content">
                            @Html.Raw(FunctionService.FormatImagePath(data.content))
                        </div>

                        @if (ViewBag.Files != null)
                        {
                            <div class="buttons">
                                <ul class="ns">
                                    @foreach (urban_column_files item in ViewBag.Files)
                                    {
                                    <li>
                                        @if (!string.IsNullOrEmpty(item.files))
                                        {
                                            <a href="@Url.Content("~/"+item.files)" class="btn" target="_blank">
                                                <span class="btn-inner">@item.title</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" class="btn">
                                                <span class="btn-inner">@item.title</span>
                                            </a>
                                        }
                                    </li>
                                    }

                                </ul>
                            </div>
                        }



                    </div>
                    <div class="urban-slider wow fadeInRight">
                        <div class="slider-main">
                            <ul class="ns slider">
                                @{
                                    int i = 0;
                                    foreach (string img in pic)
                                    {
                                        <li class="slick-item">
                                            <img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" />
                                        </li>

                                        i++;
                                    }

                                }

                            </ul>
                        </div>
                        <div class="slider-thumb">
                            <ul class="ns slider">
                                @{
                                    i = 0;
                                    foreach (string img in pic)
                                    {


                                        <li class="slick-item">
                                            <div class="thumb imgFill">
                                                <img src="@Url.Content("~/" + img)" alt="@try {@Html.Raw(picAlt[i].ToString()) } catch {@Html.Raw(data.title)}" />
                                            </div>
                                        </li>

                                        i++;
                                    }

                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script>
    $(function() {
      $('.urban-slider').each(function() {
        var $slider = $(this).find('.slider-main').children('.slider'),
            $thumb = $(this).find('.slider-thumb').children('.slider');
        $slider.slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          dots: false,
          prevArrow: '<div class="slick-arrow slick-prev"><button type="button" class="btn btn-circle"><i class="icon-chevron-left"></i></button></div>',
          nextArrow: '<div class="slick-arrow slick-next"><button type="button" class="btn btn-circle"><i class="icon-chevron-right"></i></button></div>',
          adaptiveHeight: true,
          asNavFor: $thumb,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                arrows: false,
              }
            }
          ]
        });
        $thumb.slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          arrows: false,
          dots: false,
          centerMode: true,
          centerPadding: 0,
          focusOnSelect: true,
          asNavFor: $slider,
        })
      });
    });
    </script>
    
}
