﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-column";
    List<urban_column_category> Category  = ViewBag.Category;
    var data = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["都市更新專區"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["都市更新專區"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column">@ViewBag.ResLang["都市更新專區"]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="subnav">
                    <div class="subnav-toggle">
                        <button type="button" class="btn">
                            <span class="btn-inner">@ViewBag.CategoryData.title</span>
                        </button>
                    </div>
                    <div class="subnav-menu">
                        <ul class="ns">
                            @foreach (urban_column_category item in Category)
                            {
                                <li @if (item.guid == ViewBag.CategoryData.guid) { @Html.Raw(" class=\"current\"") }><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column/@item.guid" class="btn">@item.title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="urban-list">
                    <ul class="ns">

                         @foreach (urban_column item in data)
                         {
                            <li class="list-item wow fadeInUp">
                                <a href="@Url.Content("~/" + ViewBag.Lang)/Urban/ColumnDetail/@item.guid" class="hoverScale">
                                    <div class="pic-wrapper">
                                        <div class="pic imgFill">
                                            <img src="@Url.Content("~/" + item.list_pic)" alt="@item.list_pic_alt" />
                                        </div>
                                    </div>
                                    <h3 class="title">@item.title</h3>
                                </a>
                            </li>
                         }
                    </ul>
                </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>
