﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-contact";
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["與我們聯絡"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/urban/urban-contact/primary-bg.jpg" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["與我們聯絡"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact">@ViewBag.ResLang["與我們聯絡"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="form-submit wow fadeIn">
                    <div class="form-submit-box">
                        <div class="head hg">
                            <h3 class="title f30">@ViewBag.ResLang["都市更新"]  /  @ViewBag.ResLang["與我們聯絡"]</h3>
                            <p class="txt">@Html.Raw(ViewBag.ResLang["您的表單已成功送出"])</p>
                        </div>
                        <div class="button">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact" class="btn btn-inline fill-mg">@ViewBag.ResLang["返回"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

