﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-contact";
}


<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["與我們聯絡"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/urban/urban-contact/primary-bg.jpg" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["與我們聯絡"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact">@ViewBag.ResLang["與我們聯絡"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <p class="f16 t-center wow fadeInUp">@ViewBag.ResLang["如果您要都更"]</p>
                <form class="form form-style urban-contact-form" action="@Url.Content("~/" + ViewBag.Lang + "/Urban/ContactSend")" name="ContactForm" id="ContactForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["連絡人"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <input type="text" class="form-control"  required name="name" id="name" value="@if (ViewBag.Data != null) {@ViewBag.Data["name"].ToString()}"/>
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["連絡電話"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <input type="tel" class="form-control"  required name="tel" id="tel" value="@if (ViewBag.Data != null) {@ViewBag.Data["tel"].ToString()}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">E-Mail</div>
                            </div>
                            <div class="form-controls">
                                <input type="email" class="form-control" name="email" id="email" value="@if (ViewBag.Data != null) {@ViewBag.Data["email"].ToString()}" />
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["傳真電話"]</div>
                            </div>
                            <div class="form-controls">
                                <input type="tel" class="form-control" name="fax" id="fax" value="@if (ViewBag.Data != null) {@ViewBag.Data["tel"].ToString()}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["房屋土地狀況"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <div class="form-control for-select">
                                    <select class="selectpicker" required name="house_status" id="house_status">
                                        @foreach (form_subject item in ViewBag.house_status)
                                        {
                                            <option value="@item.title" @if (ViewBag.Data != null && item.guid == ViewBag.Data["house_status"].ToString()) { @Html.Raw("selected") }>
                                                @item.title
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["地址"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <input type="text" class="form-control" required name="address" id="address" value="@if (ViewBag.Data != null) {@ViewBag.Data["address"].ToString()}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["使用分區"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <div class="form-control for-select">
                                    <select class="selectpicker"  name="residential" id="residential">
                                        <option value="" >@ViewBag.ResLang["住宅區"]</option>

                                        @foreach (form_subject item in ViewBag.residential)
                                        {
                                            <option value="@item.title" @if (ViewBag.Data != null && item.guid == ViewBag.Data["house_status"].ToString()) { @Html.Raw("selected") }>
                                                @item.title
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="form-control for-select">
                                    <select class="selectpicker"  name="business" id="business">
                                        <option value="">@ViewBag.ResLang["商業區"]</option>
                                        @foreach (form_subject item in ViewBag.business)
                                        {
                                            <option value="@item.title" @if (ViewBag.Data != null && item.guid == ViewBag.Data["house_status"].ToString()) { @Html.Raw("selected") }>
                                                @item.title
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["土地地段地號"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <input type="text" class="form-control" required name="land_number" id="land_number" value="@if (ViewBag.Data != null) {@ViewBag.Data["land_number"].ToString()}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["基地面積"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <input type="text" class="form-control" required name="area" id="area" value="@if (ViewBag.Data != null) {@ViewBag.Data["area"].ToString()}"/>
                            </div>
                        </div>
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["整合情況說明"]<span>*</span></div>
                            </div>
                            <div class="form-controls">
                                <div class="form-control for-select">
                                    <select class="selectpicker" required id="subject" name="subject">
                                        @foreach (form_subject item in ViewBag.subject)
                                        {
                                            <option value="@item.title" @if (ViewBag.Data != null && item.guid == ViewBag.Data["house_status"].ToString()) { @Html.Raw("selected") }>
                                                @item.title
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["其他"]</div>
                            </div>
                            <div class="form-controls">
                                <textarea rows="5" class="form-control" name="content" id="content">@if (ViewBag.Data != null) {@ViewBag.Data["content"].ToString()}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group wow fadeInUp">
                            <div class="form-label">
                                <div class="form-label-txt">@ViewBag.ResLang["驗證碼"]<span>*</span></div>
                            </div>
                            <div class="form-controls for-code">
                                <input type="text" class="form-control" required  name="verification" id="verification" />
                                <img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code">
                            </div>
                        </div>
                        <div class="form-group for-contact wow fadeInUp">

                            @Html.Raw(FunctionService.FormatImagePath(ViewBag.webData.contact_info))

                        </div>

                    </div>
                    <div class="form-row action wow fadeInUp">
                        <button type="submit" class="btn btn-inline fill-mg" id="post" onclick="postform()">@ViewBag.ResLang["確認送出"]</button>
                        <button type="reset" class="btn btn-inline fill-gray">@ViewBag.ResLang["重新填寫"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section scripts {

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")


    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {



            $("#ContactForm").each(function () {
                $("#ContactForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);



                        return true;
                    },
                    errorPlacement: function (error, element) {
                        element.attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        //element.parents('.form-group').addClass("error");
                        element.attr("placeholder" , error.text());
                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                       // $(findID).parents('.form-group').removeClass("error");
                        $(findID).attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });



            });
        });

        function postform() {

            $("#ContactForm").submit();
            $("#post").attr('disabled', true);
        }
    </script>

}