﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-faq";
    var data = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["都市更新Q&A"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["都市更新Q&A"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Faq">@ViewBag.ResLang["都市更新Q&A"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="faq-list">

                    @foreach (urban_faq item in data)
                    {
                        <div class="faq-box wow fadeInUp">
                            <div class="faq-box-q">
                                <h3 class="title">@item.title</h3>
                                <p class="date" style="display:none;">@DateTime.Parse(item.create_date.ToString()).ToString("yyyy-MM-dd")</p>
                            </div>
                            <div class="faq-box-a editor-style">
                                <p>@Html.Raw(FunctionService.FormatImagePath(item.notes))</p>
                            </div>
                        </div>

                    }
                    </div>
                <div class="pagination wow fadeInUp">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>
        </div>
    </div>
</main>