﻿<div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/urban/hero.jpg")"></div>
<div class="hero-inner">
    <h1 class="title">@ViewBag.ResLang["都市更新"]</h1>
</div>
