﻿<div class="hero-nav-menu">
    <ul class="ns">
        <li data-page="urban-news"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新消息"]</a></li>
        <li data-page="urban-faq"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Faq">@ViewBag.ResLang["都市更新Q&A"]</a></li>
        <li data-page="urban-column"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column">@ViewBag.ResLang["都市更新專區"]</a></li>
        <li data-page="urban-knowledge"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Knowledge">@ViewBag.ResLang["都更法令知識庫"]</a></li>
        <li data-page="urban-contact"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact">@ViewBag.ResLang["與我們聯絡"]</a></li>
    </ul>
</div>
