﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "urban";
    ViewBag.BodyDataPage = "urban-news";
    List<urban_news> data = ViewBag.Data;
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["都市更新消息"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary bg-gray">
        <div class="primary-inner">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["都市更新消息"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新消息"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="primary-body-inner container c-lg-alt">
                    <div class="links-list">

                        <ul class="ns">
                            @foreach(urban_news item in data)
                            {
                            <li class="list-item wow fadeInUp">
                                <div class="pic imgFill">
                                    <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt" />
                                </div>
                                <div class="button">
                                    @if (!string.IsNullOrEmpty(item.link))
                                    {
                                        <a href="@item.link" target="_blank" class="btn border-mg">@item.title</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" class="btn border-mg">@item.title</a>

                                    }
                                </div>
                            </li>
                            }
                            

                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
