@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot');
  src:  url('../font/icomoon.eot#iefix') format('embedded-opentype'),
    url('../font/icomoon.woff2') format('woff2'),
    url('../font/icomoon.ttf') format('truetype'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-chevrons-right:before {
  content: "\e906";
}
.icon-checkmark:before {
  content: "\e907";
}
.icon-arrow-top:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-first:before {
  content: "\e90c";
}
.icon-last:before {
  content: "\e90d";
}
.icon-prev:before {
  content: "\e90e";
}
.icon-next:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-form:before {
  content: "\e914";
}
.icon-link:before {
  content: "\e915";
}
.icon-phone2:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}