﻿<div class="pic-fill imgFill">
    <img src="Styles/images/static/home/promise-bg.jpg" alt="" />
</div>
<div class="container">
    <h1 class="title fw-700 wow fadeInDown">四大保證獨步全國</h1>
    <p class="text wow fadeInUp">國泰建設在『誠信正派、專業負責、穩健經營』的理念下，持續精心耕耘房地產市場。<br />並以「產權清楚、按圖施工、永久服務、如期交屋」 四大保證，確保客戶權益，歷年來建立起良好業績、口碑，足可成為最安心信賴的交託！</p>
    <ul class="ns promise-list">
        <li class="wow zoomIn">
            <div class="item btn btn-circle">
                <i class="icon">
                    <img src="Styles/images/static/home/promise-icon01.svg" alt="" />
                </i>
                <h2 class="tt fw-500">產權清楚</h2>
            </div>
        </li>
        <li class="wow zoomIn">
            <div class="item btn btn-circle">
                <i class="icon">
                    <img src="Styles/images/static/home/promise-icon02.svg" alt="" />
                </i>
                <h2 class="tt fw-500">如期交屋</h2>
            </div>
        </li>
        <li class="wow zoomIn">
            <div class="item btn btn-circle">
                <i class="icon">
                    <img src="Styles/images/static/home/promise-icon03.svg" alt="" />
                </i>
                <h2 class="tt fw-500">按圖施工</h2>
            </div>
        </li>
        <li class="wow zoomIn">
            <div class="item btn btn-circle">
                <i class="icon">
                    <img src="Styles/images/static/home/promise-icon04.svg" alt="" />
                </i>
                <h2 class="tt fw-500">永久服務</h2>
            </div>
        </li>
    </ul>
</div>