
/* normal layout */
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #fff;
    font-family: "PingFangTC-Regular", "sourcehansans-tc", "Microsoft JhengHei", "微軟正黑體", "Lucida Sans Unicode", "STHeitiTC-Light", "Microsoft YaHei", "微软雅黑", "新細明體", Arial, sans-serif;
}
.gray-bg {
    background: #F5F5F5;
}

.wrap {
    padding: 14px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

:focus {
    outline: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.5;
}


a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
hr {
    margin: 20px 0;
    border-top: 1px solid #E0E0E0;
}

.text-center,
.center {
    text-align: center;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.btn {
    padding: 0;
    text-align: center;
}
.btn-orange {
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    background: #FF8F00;
    border: none;
}
.btn-orange:hover,
.btn-orange:focus {
    background: #CC7200;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    color: #fff;
}

form {
    padding: 10px;
}
label {
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
    color: #5F6C72;
}
input {
    padding: 0 10px;
    margin-bottom: 18px;
    width: 100%;
    height: 42px;
    color: #37474F;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}
select {
    padding: 0 10px;
    margin-bottom: 18px;
    width: 100%;
    height: 42px;
    color: #37474F;
    font-size: 18px;
    line-height: 42px;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
    background: url('../img/20170614/arrow-down@2x.png') 96% center no-repeat #fff;
    background-size: 12px 7px;
}

h1 {

    font-size: 18px;
    color: #5F6C72;
}
.with-border {
    padding-left: 10px;
}
.with-border::before {
    display: inline-block;
    content: "";
    width: 4px;
    height: 18px;
    position: relative;
    top: 3px;
    left: -10px;
    border-radius: 2px;
    background: #4AB234;
}
h2 {
    font-size: 16px;
    color: #37474F;
    font-weight: normal;
}

p {
    font-size: 16px;
}
.dark-gray {
    color: #37474F;
}
.mid-gray {
    color: #5f6c72;
}
.light-gray {
    color: #879195;
}
.red {
    color: #e72510
}

.margin-0 {
    margin: 0;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.margin-b-40 {
    margin-bottom: 40px;
}

.fix-bottom {
    width: calc(100vw - 48px);
    position: absolute;
    bottom: 20px;
}

.modal-dialog {
    margin: 0 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal.fade .modal-dialog {
    transform: translate(0, -100%);
}
.modal.in .modal-dialog {
    transform: translate(0, 0);
}
.modal-header {
    padding: 20px;
    text-align: center;
    border-bottom: 0;
}
.modal-header h5 {
    color: #37474F;
    font-size: 16px;
    font-weight: bold;
}
.modal-body {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 0;
}
.modal-footer {
    padding: 20px;
    border-top: 0;
}



/* style */
.tm-4 {

}
.tm-4 .img {
    width: 102px;
    height: 102px;
    margin: 0 auto 20px auto;
}

.tm-5 {

}
.tm-5 .img {
    width: 102px;
    height: 102px;
    margin: 0 auto 20px auto;
}





.privacy-policy hr {
    margin: 20px 10px;
}
.privacy-policy a {
    color: #4AB234;
}
.privacy-policy h1 {
    font-size: 18px;
    color: #5F6C72;
}
.privacy-policy h2 {
    margin-top: 10px;
}
.privacy-policy p {
    padding-left: 15px;
    font-size: 16px;
    color: #37474F;
}
.privacy-policy ul {
    padding-left: 0;
    font-size: 16px;
    color: #879195;
}
.privacy-policy ol {
    padding-left: 33px;
    font-size: 16px;
    color: #879195;
}
.privacy-policy ol li {
    margin-bottom: 10px;
    padding: 0;
}
.privacy-policy ul li {
    margin-bottom: 10px;
    padding: 0 0 0 35px;
    list-style-type: none;
    background: url("../img/20170614/list-bg.png") 20px 10px no-repeat;
}
.privacy-policy ul li:last-child,
.privacy-policy ol li:last-child {
    margin-bottom: 0;
}
.privacy-policy ul.no-bg li {
    background: none;
    padding-left: 15px;
}
.privacy-policy ol.no-bg {
    padding-left: 15px;
}
.privacy-policy ol.no-bg li {
    list-style: none;
    padding-left: 0;
}
.privacy-policy table {
    margin: 0 0 0 15px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.privacy-policy table th {
    padding: 10px;
    color: #37474F;
    background: #E1F5DC;
    border: 0;
}
.privacy-policy table td {
    padding: 10px;
    color: #757575;
    border: 0;
}
.privacy-policy table tr:nth-child(odd) {
    background: #F5F5F5;
}





/* media query */
@media screen and (min-width: 1000px) and (max-width: 1280px) {




}





@media screen and (max-width: 1025px){





}






/* 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 979 */
@media screen and (max-width: 979px){






}




/* 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 768 */
@media screen and (max-width: 768px) {




}







/* 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 640 */
@media screen and (max-width: 640px){




}




/* 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 480 */
@media screen and (max-width: 480px){




}





/* 320 320 320 320 320 320 320 320 320 320 320 320  320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 */
@media screen and (max-width: 320px){





}





/* iPhone < 5 */
@media screen and (device-aspect-ratio: 2/3) {
    .gift-status {
        top: 70%;
    }

}

/* iPhone 5 */
@media screen and (device-aspect-ratio: 40/71) {
    .gift-status {
        top: 70%;
    }
}


/* iPhone 6 */
@media screen and (device-aspect-ratio: 375/667) {

}

/* iPhone 6 plus */
@media screen and (device-aspect-ratio: 16/9) {} {

}

/* iPad */
@media screen and (device-aspect-ratio: 3/4) {} {

}