﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "home";
    ViewBag.BodyDataPage = "home";

    index_info IndexInfo = ViewBag.IndexInfo;

    int ROC_Year = int.Parse(DateTime.Now.ToString("yyyy")) - 1911 - 53;
}
<main id="main">
    <div class="home-banner wow fadeIn">
        <div class="banner-bg">
            <ul class="ns">
                @try
                {
                    foreach (banners item in ViewBag.Banners)
                    {
                        <li>
                            <div class="pic-fill imgFill">
                                <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt" />
                            </div>
                        </li>
                    }

                }
                catch
                {

                    <li>
                        <div class="pic-fill imgFill">
                            <img src="~/Styles/images/static/home/banner01.jpg" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="pic-fill imgFill">
                            <img src="~/Styles/images/static/home/banner02.jpg" alt="" />
                        </div>
                    </li>

                }
            </ul>
        </div>
        <div class="banner-inner container">
            @*<hgroup class="hg">
                    <h1 class="title fw-700">
                        <span class="hidden">
                            @try{@Html.Raw(IndexInfo.title.Replace(System.Environment.NewLine, "</span><span class=\"hidden\">"))}catch { }
                        </span>
                    </h1>
                    <h2 class="subtitle">
                        <span class="tlt">
                            @try{@Html.Raw(IndexInfo.sub_title.Replace(System.Environment.NewLine, "</span><span class=\"tlt\">"))}catch { }
                        </span>
                    </h2>
                </hgroup>*@
            <hgroup class="hg">
                <h1 class="title fw-700">
                    <span class="hidden">@try
                    {@Html.Raw(IndexInfo.title.Replace(System.Environment.NewLine, "</span><span class=\"hidden\">"))}
                catch { }</span>
                </h1>
                <h2 class="subtitle">
                    <span class="tlt">@try
                    {@Html.Raw(IndexInfo.sub_title.Replace(System.Environment.NewLine, "</span><span class=\"tlt\">"))}
                catch { }</span>
                </h2>
            </hgroup>
            <div class="content">
                <ul class="ns">
                    <li class="wow fadeInUp" data-wow-delay="1s">
                        @try
                        {
                            <p class="tt fw-700 wrapped"><span class="num ff-osw" data-number="@ROC_Year.ToString()">0</span>@ViewBag.ResLang["年"]</p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["成立於民國53年迄今屹立不搖"])</p>
                        }
                        catch
                        {

                            <p class="tt fw-700 wrapped"><span class="num ff-osw" data-number="0">0</span>@ViewBag.ResLang["年"]</p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["成立於民國53年迄今屹立不搖"])</p>
                        }
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1s">
                        @try
                        {
                            <p class="tt fw-700"><span class="num ff-osw" data-number="@IndexInfo.household">0</span></p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["各類房型累計戶數"])</p>
                        }
                        catch
                        {

                            <p class="tt fw-700"><span class="num ff-osw" data-number="0">0</span></p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["各類房型累計戶數"])</p>
                        }
                    </li>
                    <li class="wow fadeInUp" data-wow-delay="1s">
                        @try
                        {
                            <p class="tt fw-700"><span class="num ff-osw" data-number="@IndexInfo.area">0</span></p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["建設總面積(平方公尺)"])</p>
                        }
                        catch
                        {

                            <p class="tt fw-700"><span class="num ff-osw" data-number="0">0</span></p>
                            <p class="txt fw-500">@Html.Raw(ViewBag.ResLang["建設總面積(平方公尺)"])</p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="home-news">
        <div class="container">
            <div class="head wow fadeInLeft">
                <h1 class="title ff-rbtc fw-700 t-mg">Latest News</h1>
                <div class="arrows">
                    <ul class="ns">
                        <li class="arrow arrow-prev">
                            <button type="button" class="btn btn-circle w40 border-mg">
                                <i class="icon icon-chevron-left"></i>
                            </button>
                        </li>
                        <li class="arrow arrow-next">
                            <button type="button" class="btn btn-circle w40 border-mg">
                                <i class="icon icon-chevron-right"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="button">
                    <a href="@Url.Content("~/" + ViewBag.Lang)/About/News" class="btn btn-inline fill-gradient w150 h50">
                        <span class="btn-inner ff-rbtc">READ MORE&nbsp;&nbsp;+</span>
                    </a>
                </div>
            </div>
            <div class="list wow fadeInRight" data-wow-duration="2s">
                <ul class="ns">

                    @foreach (news item in ViewBag.News)
                    {
                        <li>
                            <a href="@Url.Content("~/" + ViewBag.Lang)/About/NewsDetail/@item.guid">
                                <span class="date ff-rbtc fw-700">@DateTime.Parse(item.startdate.ToString()).ToString("yyyy-MM-dd")</span>
                                <h2 class="title fw-700">@item.title</h2>
                                <p class="summary">@item.notes</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="home-cases wow fadeInUp">
        <h1 class="hidden">@ViewBag.ResLang["熱銷建案"]</h1>
        <div class="cases-slider">
            <ul class="ns slider">

                @if (ViewBag.Cases != null)
                {
                    List<cases> Cases = ViewBag.Cases;

                    foreach (cases item in Cases.Where(m => m.tops == "Y").ToList())
                    {
                        <li class="case">
                            <div class="case-inner">
                                <div class="case-pic imgFill">
                                    <img src="@Url.Content("~/" + item.index_pic)" alt="@item.index_pic_alt" />
                                </div>
                                <div class="case-content">
                                    <div class="case-content-inner">
                                        <h2 class="title fw-700">@item.title</h2>
                                        <div class="info">
                                            <ul class="ns">
                                                <li>@ViewBag.ResLang["樓層"]：@item.floor</li>
                                                <li>@ViewBag.ResLang["位置"]：@item.address</li>
                                                <li>@ViewBag.ResLang["規劃坪數"]：@item.pings</li>
                                                <li>@ViewBag.ResLang["連絡電話"]：@item.phone</li>
                                            </ul>
                                        </div>
                                        <div class="button">
                                            <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Detail/@item.guid" class="btn btn-inline fill-gradient w150 h50">
                                                <span class="btn-inner ff-rbtc">READ MORE&nbsp;&nbsp;+</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="cases-nav">
            <div class="cases-nav-page wow fadeInLeft">
                <div class="arrow arrow-prev">
                    <button type="button" class="btn">
                        <i class="icon icon-chevron-left"></i>
                    </button>
                </div>
                <div class="dots"></div>
                <div class="arrow arrow-next">
                    <button type="button" class="btn">
                        <i class="icon icon-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="cases-nav-more wow fadeInRight">
                <div class="text">
                    <img src="~/Styles/images/static/home/case-icon.png" alt="" />
                    <p class="fw-700">@ViewBag.ResLang["更多熱銷建案"]</p>
                </div>
                <div class="button">
                    <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index" class="btn ff-rbt fw-500">GO !</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-mv">
        <img class="bg" src="~/styles/images/static/home/2023/home-mv.jpg" alt="" />
        <a class="btn showcase" href="@IndexInfo.video" data-rel="lightcase">
            <img src="~/styles/images/static/home/2023/home-mv-n.png" alt="" />
        </a>
    </div>
    <div class="home-shortcut">
        <ul class="ns">
            <li class="wow fadeInUp">
                <a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News" class="hoverScale">
                    <div class="pic pic-fill imgFill">
                        <img src="~/Styles/images/static/home/shortcut01.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p class="title fw-700">@ViewBag.ResLang["都市更新"]</p>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp">
                <a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info" class="hoverScale">
                    <div class="pic pic-fill imgFill">
                        <img src="~/Styles/images/static/home/shortcut02.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p class="title fw-700">@ViewBag.ResLang["投資人專區"]</p>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp">
                <a href="http://cathayred-csr.com/" target="_blank" class="hoverScale">
                    <div class="pic pic-fill imgFill">
                        <img src="~/Styles/images/static/home/shortcut03.jpg" alt="" />
                    </div>
                    <div class="content">
                        <p class="title fw-700">@ViewBag.ResLang["企業社會責任"]</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="home-promise">
        @try
        {
            @Html.Raw(FunctionService.FormatImagePath(IndexInfo.content))
        }
        catch { }
    </div>
</main>