﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "career";
    ViewBag.BodyDataPage = "career";
}
<main id="main">
    <div class="hero">
        <div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/about/hero.jpg")"></div>
        <div class="hero-inner">
            <h1 class="title">@ViewBag.ResLang["網站使用條款"]</h1>
        </div>
    </div>
    <div class="primary bg-gray of-visible">
        <div class="primary-inner container c-sm upper">
            <div class="primary-body terms editor editor-style">

                @Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content))

            </div>
        </div>
    </div>
</main>