﻿@using Web.Models;
@using Web.ServiceModels;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
    int i = 0;
}

<div class="content-body">

    <!-- layout-content-->
    <!-- row  -->
    <div class="row mt-xl-0 mt-3">
        <div class="col-xl-3">
            <div class="row">
                <div class="col-sm-6 col-12 col-xl-12">
                    <section class="panel" style="min-height:205px">
                        <header class="panel-heading text-center">
                            <h2 class="h5 px-2">目前在線人數</h2>
                        </header>
                        <div class="panel-body px-0 py-0">
                            <div class="h1 text-center font-weight-bold pb-2">
                                @if (ViewBag.IsGA == "Y")
                                {<span class="text-primary">@ViewBag.RealtimeData</span>}
                            </div>
                            <div class="progress" title="" style="height: 5px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row text-center py-3">
                                <div class="col">
                                    <span class="d-block text-muted small">本月瀏覽次數</span>@if (ViewBag.IsGA == "Y")
                                    {<span class="d-block font-weight-bold mb-1">@ViewBag.ViewYearUseMonth</span>}
                                </div>
                                <div class="col"><span class="d-block text-muted small">本月登入帳號</span><span class="d-block font-weight-bold mb-1">---</span></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-12 col-xl-12 mt-xl-3 mt-sm-0 mt-3">
                    <section class="panel" style="min-height:205px">
                        <header class="panel-heading text-center">
                            <h2 class="h5">最新消息</h2>
                        </header>
                        @{ i = 0;}
                        @foreach (var item in ViewBag.News)
                        {
                            string vTitle = item.title;
                            if (vTitle.Length > 15)
                            {
                                vTitle = item.title.Substring(0, 15) + "...";
                            }

                            <div class="row px-4">
                                <div class="col text-truncate"><a class="small" target="_blank" href="@Html.Raw(ViewBag.WebUrl+"/tw/News/List/A/" + item.guid)">@vTitle</a></div>
                                <div class="col-auto"><span class="badge badge-pill badge-main">@DateTime.Parse(item.startdate.ToString()).ToString("yyyy-MM-dd")</span></div>
                            </div>
                            if (i < 3)
                            {
                                <hr class="my-2 w-100">
                            }

                            i++;
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="col-xl-9 mt-xl-0 mt-3">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="h5 float-left">年度數量</h2>
                    <button style="float:right" class="btn btn-danger" onclick="window.open('@Url.Content("https://analytics.google.com/analytics/web/")', '_blank')">觀看詳細統計</button>
                </header>

                <div class="panel-wrapper"></div>
                <div class="panel-body pb-3">
                    <div id="analyticsAge" style="height:353px;"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- row    -->
    <div class="row text-center mt-3">
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-main text-white">
                <div class="row">
                    <div class="col">
                        <span class="d-block mb-1 h3">
                            @if (ViewBag.IsGA == "Y")
                            {@ViewBag.SocialNetwork.Rows[0][1]}
                        </span><span class="d-block">社群網站來源數</span>
                    </div>
                    <div class="col"><span class="icon-comment-square display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-warning text-white">
                <div class="row">
                    <div class="col">
                        <span class="d-block mb-1 h3">
                            @if (ViewBag.IsGA == "Y")
                            {@ViewBag.TotalWebViewNum}
                        </span><span class="d-block">總瀏覽次數</span>
                    </div>
                    <div class="col"><span class="icon-eye4 display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-success text-white">
                <div class="row">
                    <div class="col">
                        <span class="d-block mb-1 h3">
                            @if (ViewBag.IsGA == "Y")
                            {@ViewBag.UserType.Rows[0][1].ToString()}
                        </span><span class="d-block">年度新訪問者數</span>
                    </div>
                    <div class="col"><span class="icon-new-tab display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
        <!-- col-->
        <div class="col-xl-3 col-md-6 col-sm-6">
            <section class="panel p-3 bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <span class="d-block mb-1 h3">
                            @if (ViewBag.IsGA == "Y")
                            {@ViewBag.UserType.Rows[1][1].ToString()}
                        </span><span class="d-block">年度回訪問者數</span>
                    </div>
                    <div class="col"><span class="icon-history display-4"></span></div>
                </div>
            </section>
        </div>
        <!-- / col-->
    </div>
    <!-- / row-->
    <!-- row  -->
    <div class="row mt-3">
        <div class="col-xl-6 col-lg-12">
            <section class="panel">
                <header class="panel-heading mb-2">
                    <h2 class="h5 float-left">搜尋引擎來源數量</h2>
                    <div class="float-right"><a class="btn btn-main btn-sm mr-15" href="forum.html" style="display:none;">瀏覽全部</a></div>
                </header>
                <div class="panel-wrapper">
                    <div class="panel-body" style="min-height:270px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th>No.</th>
                                        <th>來源</th>
                                        <th>數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.IsGA == "Y")
                                    {
                                        if (ViewBag.FullReferrer != null)
                                        {

                                            List<FullReferrerModel> FullReferrer = ViewBag.FullReferrer;

                                            int s = 1;
                                            foreach (FullReferrerModel item in FullReferrer.OrderByDescending(m => m.num).ToList().Skip(0).Take(4))
                                            {

                                                <tr>
                                                    <td>@s</td>
                                                    <td>@item.name</td>
                                                    <td>@item.num</td>
                                                </tr>
                                                s++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-6 col-lg-12 mt-xl-0 mt-3">
            <section class="panel">
                <header class="panel-heading mb-2">
                    <h2 class="h5 float-left">網站來源關鍵字</h2>
                    <div class="float-right"><a class="btn btn-main btn-sm mr-15" href="forum.html" style="display:none;">瀏覽全部</a></div>
                </header>
                <div class="panel-wrapper">
                    <div class="panel-body" style="min-height:270px;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="font-weight-bold">
                                    <tr>
                                        <th>No.</th>
                                        <th>關鍵字</th>
                                        <th>數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.IsGA == "Y")
                                    {
                                        if (ViewBag.KeyWords != null)
                                        {
                                            int s = 1;
                                            foreach (List<string> item in ViewBag.KeyWords)
                                            {

                                                <tr>
                                                    <td>@s</td>
                                                    <td>@item[0]</td>
                                                    <td>@item[1]</td>
                                                </tr>

                                                s++;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- / layout-content-->
</div>

@section scripts {
    @if (ViewBag.IsGA == "Y")
    {
        <!--page index-->
        @Scripts.Render("~/Content/Siteadmin/scripts/index2.js")
    }
}