﻿<div class="txt">
    <p>每一棟豪宅，都有一扇價值連城的窗，高鐵特區雙公園VIP限定席。<br />新竹高鐵特區，唯一坐擁雙公園、狀況基地豪宅地標<br />步行8分鐘傑可抵達高鐵新竹站，戶戶三面採光，室室面對公園</p>
    <ul class="ns features">
        <li><span>地段區域：</span>新竹。竹北高鐵特區</li>
        <li><span>建設公司：</span>國泰建設</li>
        <li><span>設計團隊：</span>國泰建設與澳洲DBI建築團隊攜手合作</li>
    </ul>
    <ul class="ns features">
        <li><span>個案類型：</span>成屋</li>
        <li><span>建物樓層：</span>20F、21F/B3</li>
        <li><span>戶數樓層：</span>118戶(住114、店4)</li>
        <li><span>坪數格局：</span>約82-100坪4房</li>
    </ul>
</div>
<div class="map">
    <img src="/Styles/images/demo/cases/case-map.png" alt="" />
</div>