﻿<p><span class="fw-700">台北 - </span>國泰沐善、國泰豐格、國泰昕春、國泰田等案、土城案(預推工地)、北投案(預推工地)、新店案(預推工地)、板橋案(預推工地)</p>
<p><span class="fw-700">桃園 - </span>國泰賦都、國泰水秀</p>
<p><span class="fw-700">新竹 - </span>國泰禾</p>
<p><span class="fw-700">台中 - </span>國泰層峰</p>
<p><span class="fw-700">台南 - </span>永華案(預推工地)</p>
<p><span class="fw-700">高雄 - </span>國泰DoubleA馥建築、國泰O2馥建築二聖案(預推工地)</p>