/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
.clr{
	clear:both;
}
.main{
	width:100%;
	height:auto;
	margin:0px auto;
}
.top{
	width:100%;
	height:200px;
	background:#f2ede4 url(../image/Appointment/DottedLine2@2x.png) repeat-x bottom;
	
}
.content{
	padding-top:70px;
	width:100%;

	background:url(../image/Appointment/Bg_pattern@2x.png) repeat;
	color:#535353;
	text-align:center;
	font-size:36px;
}
.content .detail{
	padding-top:20px;
	padding-bottom:20px;
	
	
}

.content .detail input{
	width:130%;
	height:60px;
	color:#535353;
	font-size:36px;
	padding-top:5px;
	padding-left:5px;
}
.content .detail2{
	width:85%;
	height:110px;
	line-height:110px;
	padding-left:50px;
	text-align:left;
	background:url(../image/Appointment/Form_separateBar@2x.png) top repeat-x;
	color:#535353;
	font-size:40px;
	margin-left:5%;
}
.content .detail2 .data{

	width:100%;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;

	color:#FF0000;
	font-size:35px;
}
.text_name{
	width:20% ;
	float:left;

}
.textForm{
 width:30%;
 float:left;
 height:70px;
 padding-left:0%;
 padding-top:10px;
 }