/* 

CUSTOM STYLESHEET

Add your custom styles here instead of style.css so it is easier to 
update the template. Simply copy an existing style from style.css to 
this file, and modify it to your liking. 

*/

html,body { height:100% }
form { height:100%; overflow:auto }


/*CSS manu style pagination*/
.pmanu {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 3px; 
	PADDING-TOP: 3px; 
	TEXT-ALIGN: center;
	TEXT-DECORATION: none ;
}

.pmanu a {

    border : #999 1px solid; 
    /*
	BORDER-TOP: #eee 1px solid; 
    BORDER-BOTTOM: #eee 1px solid; 
    BORDER-LEFT: #eee 1px solid;
    BORDER-RIGHT: #eee 1px solid; 
    */
	
	
    padding-right  : 5px;
	PADDING-TOP: 2px;
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	COLOR: #036cb4; 
}

.pmanu A:hover {
    border:#999 1px solid;
    /* 
	BORDER-RIGHT: #999 1px solid; 
	BORDER-TOP: #999 1px solid; 
	BORDER-LEFT: #999 1px solid; 
    BORDER-BOTTOM: #999 1px solid ; 
    */
	COLOR: #666; 
}

.pmanu A:active {
	BORDER-RIGHT: #999 1px solid; 
	BORDER-TOP: #999 1px solid; 
	bORDER-LEFT: #999 1px solid; 
	COLOR: #666; 
	BORDER-BOTTOM: #999 1px solid;
}

.pmanu .current {
	BORDER-RIGHT: #036cb4 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #036cb4 1px solid; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	BORDER-LEFT: #036cb4 1px solid; 
	COLOR: #fff; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #036cb4 1px solid; 
	BACKGROUND-COLOR: #036cb4;
}

.pmanu .disabled {
	BORDER-RIGHT: #eee 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #eee 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	BORDER-LEFT: #eee 1px solid; 
	COLOR: #ddd; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #eee 1px solid;
}
