﻿@charset "UTF-8";

/**********************************************

給FilmInfo.aspx專用的

***********************************************/

/**********************Table************************/
        .th1
        {
            width: 100px;
            padding: 8px 12px 8px 12px;
            background-color: #2a7ad2;
            font-family: "Courier New", Courier, monospace;
            color: #FFFFFF;
            font-size: 12px;
            text-align:center;
        }
        .th2
        {
            width:300px;
            padding: 8px 12px 8px 12px;
            background-color: #2a7ad2;
            font-family: "Courier New", Courier, monospace;
            color: #FFFFFF;
            font-size: 12px;
            text-align:center;
        }
        .td1
        {
            width: 300px;
            padding: 8px 12px 8px 12px;
            font-family: "Courier New", Courier, monospace;
            font-size: 12px;
            border: 1px dotted #808080
        }
        .td2
        {
            padding: 8px 12px 8px 12px;
            font-family: "Courier New", Courier, monospace;
            font-size: 12px;
            border: 1px dotted #808080
        }
/**********************************************/


/*******************Boxes***************************/        
.box {
	padding: 8px;
	margin-bottom:8px;
	color:#555;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#eee;
}
.box-info {
	padding-left: 32px;
	border-top:1px solid #B8E2FB;
	border-bottom:1px solid #B8E2FB;
	background:#E8F6FF url("../img/information.png") no-repeat 8px 50%;
}
.box-warning{
	padding-left: 32px;
	border-top:1px solid #F2DD8C;
	border-bottom:1px solid #F2DD8C;
	background:#FFF5CC url("../img/error.png") no-repeat 8px 50%;
}
.box-error{
	padding-left: 32px;
	border-top:1px solid #F8ACAC;
	border-bottom:1px solid #F8ACAC;
	background:#FFD1D1 url("../img/exclamation.png") no-repeat 8px 50%;
}
.box-error-msg{
	margin-top:-8px;
	background:#FFF1F1;
	border-top:0 none;
	border-bottom:1px solid #FDDCDC;
	color:#664B4B;
	padding:12px;
}
.box-error-msg ol {
	margin-top: 0;
	margin-bottom: 0;
}
.box-success{
	padding-left: 32px;
	border-top:1px solid #BBDF8D;
	border-bottom:1px solid #BBDF8D;
	background:#EAF7D9 url("../img/accept.png") no-repeat 8px 50%;
}

.box a:hover {
	background: transparent !important;
}
/**********************************************/


/*******************Buttons***************************/

.btn {
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	/*font-family: Tahoma, Arial, sans-serif;*/
	font-family: 微軟正黑體;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	position: relative;
	cursor: pointer;
	border:1px solid #ccc !important;
	background:#fff url("../img/btn-overlay.png") repeat-x !important;
}
.btn:hover, .btn:focus, .btn:active {
	outline:medium none;
	border:1px solid #329ECC !important;
	opacity:0.9;
	-khtml-opacity: .9;
	-moz-opacity: 0.9;
	-moz-box-shadow:0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.btn-green {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #749217 !important;
	background-color: #6AB620 !important;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
	-moz-box-shadow:0 0 5px rgba(116, 146, 23, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	border:1px solid #749217 !important;
}

.btn-blue {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #2D69AC !important;
	background-color: #3C6ED1 !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	-moz-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	-webkit-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	border:1px solid #2D69AC !important;
}

.btn-red {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #AE2B2B !important;
	background-color: #D22A2A !important;
}
.btn-red:hover, .btn-red:focus, .btn-red:active {
	-moz-box-shadow:0 0 5px rgba(174, 43, 43, 0.9);
	-webkit-box-shadow:0 0 5px rgba(174, 43, 43, 0.9);
	box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	border:1px solid #AE2B2B !important;
}

.btn-special {
	font-size:110%;
	width: 210px;
}
/**********************************************/


/*******************For Ajax Toolket Calender(灰色系)***************************/
.cal_Theme1 .ajax__calendar_container   
{    
    background-color: #e2e2e2;     
     border:solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_header  
{    
    background-color: #ffffff;     
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title,.cal_Theme1 .ajax__calendar_next,.cal_Theme1 .ajax__calendar_prev    
{    
    color: #004080;     
    padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body    
{    
    background-color: #e9e9e9;     
    border: solid 1px #cccccc;
}

.cal_Theme1 .ajax__calendar_dayname 
{    
    text-align:center;     
    font-weight:bold;     
    margin-bottom: 4px;     
    margin-top: 2px;
}

.cal_Theme1 .ajax__calendar_day 
{    
    text-align:center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,.cal_Theme1 
.ajax__calendar_hover .ajax__calendar_month,.cal_Theme1 .ajax__calendar_hover 
.ajax__calendar_year,.cal_Theme1 .ajax__calendar_active  
{    
    color: #004080;     
    font-weight: bold;     
    background-color: #ffffff;
}

.cal_Theme1 .ajax__calendar_today   
{    
    font-weight:bold;
}

.cal_Theme1 .ajax__calendar_other,.cal_Theme1 .ajax__calendar_hover 
.ajax__calendar_today,.cal_Theme1 
.ajax__calendar_hover .ajax__calendar_title 
{    
    color: #bbbbbb;
}
/**********************************************/



/*********************Forms*************************/

input:focus,textarea:focus,select:focus {
	outline-width:0; /* No outline border for Safary */
}
input[type="text"],input[type="password"],input[type="select"],input[type="search"],input[type="file"],textarea,select {
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	padding:4px;
	color:#777;
}
textarea {
	line-height:18px;
	overflow:auto;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
textarea.small {
	height:5.5em;
}
textarea.medium {
	height:10em;
}
textarea.large {
	height:20em;
}
input.half,select.half,textarea.half {
	width:50%;
}
input.full,select.full,textarea.full {
	width:97%;
}
input.title {
	font-size:20px;
}
input[type="submit"],input[type="reset"],input[type="button"] {
	margin-bottom:0;
}
input:focus,textarea:focus {
	-moz-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;
	border-color:#c4c4c4;
	background-color:#FFFFF0;
}

/**********************************************/
