        ul, li 
        {
            margin: 0;
	        padding: 0;
	        list-style: none;
        }

        .abgne_tab {
	        clear: left;
	        width: 1024px;
	        margin: 20px;
        }
        
        ul.tabs {
	        width: 100%;
	        height: 32px;
	        border-bottom: 1px solid #999;
	        border-left: 1px solid #999;
        }

        ul.tabs li 
        {
	        float: left;
	        height: 31px;
	        line-height: 31px;
	        overflow: hidden;
	        position: relative;
	        margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
	        border: 1px solid #999;
	        border-left: none;
	        background: #e1e1e1;
        }
        
        ul.tabs li a {
	        display: block;
	        padding: 3px 10px 3px 10px !important;
	        color: #000 !important;
	        /*border: 0px solid #fff;*/
	        text-decoration: none;
	        border:0px !important;
	    }
        
        ul.tabs li a:hover {
	        background: #fff !important;
        }
        ul.tabs li.active  {
	        background: #fff;
	        border-bottom: 1px solid #fff !important;
        }
        ul.tabs li.active a:hover {
	        background: #fff;
        }
        div.tab_container {
	        clear: left;
	        width: 100%;
	        border: 1px solid #999;
	        border-top: none;
	        background: #fff;
        }
        div.tab_container .tab_content {
	        padding: 10px;
	        height: 500px;
        }
        div.tab_container .tab_content h2 {
	        margin: 0 0 20px;
        }
        
        .tab_content{ width:100%;}
        
        #tab1 ul
        {
            display:inline;
            float:left;
            width: 300px;
            margin:10px;
        }
        
        #tab1 ul li
        {
            padding:10px;
            text-align:left;
        }
        
        #tab2 ul
        {
            display:inline;
            float:left;
            width: 300px;
            margin:0px;
        }
        
        #tab2 ul li
        {
            padding:10px;
            text-align:right;
        }
        
        /*
        #u1
        {
            width: 1024px;
            height:300px;
        }

        #u1 li
        {
            display: inline;  /*水平排列 
            float:left;
            margin-left: 10px;
            padding:10px;
            height:20px;
            width: 300px;
        }
        
        
        #u2
        {
            width: 1024px;
            height:300px;
        }

        #u2 li
        {
            display: inline; /* 水平排列
            float:left;
            margin-left: 10px;
            padding:10px;
            height:20px;
            width: 300px;
        }    
        */
        
        .offbottom
        {
            border-bottom: 1px solid #fff;
        }