/* CSS Document */
body{
	margin:0px;
	background:#f2ede4;
}
.main{
	width:100%;
	height:100%;
	margin:0px auto;
	background:#FFF center;
	
}
#Tabs{
	text-align:center;
	width:100%;
	float:left;
}
#Tabs ul {
padding: 0px;
margin: 0px;
list-style-type: none;
width:100%;

}
.tab2{
	float:left;
	text-align:center;
	height:35px;
	line-height:45px;
	color:#000;
	float:left;
	position: relative;
}

.main #Tabs ul li {
display: inline-block;
clear: none;
height:100% !important;
padding-bottom:20px;
line-height:60px;
font-size:40px;
margin:0px;
float:left;
color:#818181;


}
.tab_2{
	display: inline-block;
	padding:0 0 30px 20px;
	color:#786d33;
	font-size:45px;
	width:95%;
	height:50px;
	float:left;
}
.normal{
	height:50px;
}
.active a{
	/*background-color:#FFF !important;
	color:#000 !important;
	border-top:10px solid #FF0!important;
	height: px !important;
	line-height:15px !important;
	padding-top:0px !important;
	background:#f2ede4 !important;*/

}
.active1{
	color:#14a83b !important;
}

.active1 .arrow{
	visibility:visible !important;
}
/*
.normal .home{
	background:url(../image/Menu%20Button/Btn_menu_01_home.png) no-repeat  !important; 
	width:100%;
	height:130px


}
.active .home{
	background-image:url(../image/Menu%20Button/Btn_menu_01_home_selected.png) no-repeat !important  ; 
	width:100%;
	height:1px
}*/
.active .visible{
	visibility:visible !important;
	font-size:30px;
}
.normal1 .arrow{
	visibility:hidden !important;
	
}
.arrow{
	height:25px;
	width:30px;
}
.main #Tabs ul li a {
	text-align:center;
	position: relative;
	display: block;
	font-size:45px;
	line-height:35px;
	
	height:100px;
	border-bottom: 0px;
/* The following four lines are to make the top left and top right corners of each tab rounded. */
/*
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
/*
#Tabs ul li a:hover {
text-decoration: underline; // a very simple effect when hovering the mouse on tab
}*/
select{
	background-color: Transparent; 
  	background: url(../image/Home/Area_Dropdown@2x.png) no-repeat 0px 0px  ; 
	background-size:100% 110%;
	
	height:90px;
	font-size:40px;
	border:none;
	-webkit-appearance: none;
}
#Content_Area { // this is the css class for the content displayed in each tab
	padding: 0;
	clear:both;
	width:100%;
	line-height:19px;
	position: relative;
	z-index: 5;
	height:1000px;
	overflow: visible;
	

}

p { padding-left: 1px; }




.Tabs21{
	text-align:center;
	width:100%;
	height:800px;
	float:left;
	overflow:hidden !important;
}
.Tabs21 ul {
padding: 0px;
margin: 0px;
list-style-type: none;
}

.Tabs21 ul li {
display: inline-block;
clear: none;
float: left;
height: 65px !important;
}

.Tabs21 ul li a {
position: relative;
display: block;
line-height: 24px;

background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 130px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

.Tabs21 ul li a:hover {
text-decoration: underline; // a very simple effect when hovering the mouse on tab
}

.Tabs21 #Content_Area2 { // this is the css class for the content displayed in each tab
	padding: 0 15px;
	clear:both;
	line-height:19px;
	position: relative;
	z-index: 5;
	height: 1150px;
	overflow:hidden !important;

}
.info_product{
	width:95%;
	height:22%;
	line-height:60px;
	font-size:25px;
	float:left;
	color:#636363;
	text-align:left;
	padding-left:35px;
	font-size:35px;

}	
.info_product2{
	width:90%;
	height:22%;
	line-height:35px;
	font-size:25px;
	float:left;
	color:#636363;
	text-align:left;
	padding-left:35px;
	font-size:35px;

}	
.bottom{
	width:100%;
	height:15%;
	float:left;
	line-height:50px;
	font-size:45px;
	padding-top:45px;
	color:#645b4a;

} 
.bottomt{
	width:70%;
	height:15%;
	line-height:70px;
	color:#645b4a;
	font-size:45px;
	padding-top:30px;
	
} 
.bottom_photo{
	width:70%;
	height:15%;
	float:left;
	line-height:50px;
	font-size:45px;
	padding-top:5px;
	color:#797264;
} 
.bottomq{
	width:70%;
	height:15%;
	float:left;
	line-height:50px;
	font-size:45px;
	padding-top:30px;
	color:#645b4a;
} 
.top_photo{
	width:70%;
	height:15%;
	float:left;
	line-height:50px;
	font-size:45px;
	color:#797264;
} 
.bottomright{
	width:20%;
	
	float:right;
}
.bottomright img{
	float:right;
	padding:35px 25px 0 0;
	height:80px;
}
.bottomright2{
	float:right;
	padding:10px 150px 0 0px;
	height:80px;
}
.bottomright1{
	float:right;
	padding:25px 170px 0 0;
	height:80px;
}
.bottom a{
	text-align:center;
}
.bottomq a{
	text-align:center;
}
.bottom img{
	float:right;
	padding:5px 25px 0 0;
	height:80px;
}
.bottom1{
	width:100%;
	height:15%;
	line-height:50px;
	font-size:45px;
}
.bottom1 a{
	float:left;
	font-size:45px;
	padding-left:150px;
}
/*set size tab top*/
.home{
	width:100%;
	height:130%;

}
.image_logo{
	width:25%;
	float:left;
	height:60px;
	padding-bottom:30px;
}
.image_logo img{
	 float:right;
	 padding:20px 20px 0 0;
	 width:120%;
}
.name_image_tab1{
	float:left;
	text-align:left;
	padding:35px 0 0 30px;
	color:#786d33;
	font-size:45px;
	height:60px;
	width:95%;
}
.name_image_tab1 span{
	margin-left:20px;
	color:#6d6d6d;
	font-size:45px;
}
.image_tab1 img{
	width:95%;
	height:450px;
	margin-bottom:10px;
}
.separate{
	float:left;
	height:60px;
}
#image_tab21 img{
	width:100% !important;
	height:100% !important;
}
#mapimage img{
	height:500px !important;
	width:100% !important; 
}
#fbiframe
{
transform: scale(2.5);
-ms-transform: scale(2.5); 
-webkit-transform: scale(2.5); 
-o-transform: scale(2.5); 
-moz-transform: scale(2.5); 
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}
.portrait body .hidden{ width: 100%; }  
.landscape body .hidden{ width: 50%; }

#tab4 .feild_input input{
	width:158%;
	height:100px;
	border:none;
	background:url(../image/Customer%20Area/Login/login_textfield@2x.png) no-repeat  ;
    background-color:transparent;
	background-size:100% 100%;
	-webkit-appearance:none;
	font-size:35px;
	padding-left:4%;
}
#tab33 .feild_input_logout{
	width:70%;
	text-align:center;
	padding-left:15%;
}
#tab33 .feild_input_logout input{
	width:55%;
	height:90px;
	border:none;
	background:url(../image/Customer%20Area/arrow/Textfield@2x.png) no-repeat;
    background-color:transparent;
	background-size:100% 100%;
	-webkit-appearance:none;
	padding-left:45%;
	margin-bottom:0px;
	font-size:40px;
	color :#797264;
	margin-bottom:10px;
}
.image_tab_customer{
	width:100% ;
	height:120px;
}
#tab13 dd {
	height:100px;
	line-height:100px;
	
	text-align:left ;
	
	background-color:#0C6;
}
.active_tab_customer_area a div{
	color:#aea9a1 ;
}
.normal_tab_customer_area{
	color:#14a83b !important;
}
.text_output{
	position: absolute;
	font-size:40px;
	text-align:center;
	width: 30%;
	color:#797264;
}