﻿<div class="t-center wow fadeInUp hidden-767">
    <a href="https://mops.twse.com.tw/mops/web/t05st01" target="_blank">
        <img src="Styles/images/static/investor/investor-announcement/announcement.png" alt="">
    </a>
</div>
<div class="editor-style f16 t-center wow fadeInUp shown-767">
    <p><img src="Styles/images/static/investor/investor-announcement/announcement-mobile.jpg" alt="" /></p>
    <div class="d-flex flex-column align-items-center t-left">
        <ol class="fw-700">
            <li>輸入國泰建設代號2501</li>
            <li>請輸入年度</li>
            <li>請輸入月份及日期</li>
            <li>按下查詢</li>
        </ol>
    </div>
    <p class="t-center">請參照上述說明，<br />前往「公開資訊觀測站」操作</p>
    <div class="button">
        <a href="https://mops.twse.com.tw/mops/web/t05st01" target="_blank" class="btn btn-inline btn-rounded w150 h50 fill-gradient">
            <span class="btn-inner">&nbsp;&nbsp;前往「公開資訊觀測站」</span>
        </a>
    </div>
</div>