﻿<hgroup class="hg t-left">
    <h3 class="f30 fw-700">股利資訊</h3>
</hgroup>
<ol class="indent">
    <li>現金股利每股配發2.1元。</li>
    <li>除息交易日：108/07/02</li>
    <li>現金發放日：108/07/29</li>
    <li>停止過戶起訖日：108/07/04~108/07/08</li>
    <li>(1)現金股利以匯款方式發放。(2)匯費由股東自行負擔。</li>
    <li>依全民健康保險法及相關辦法規定，針對符合條件之保險對象，依股利總額扣取1.91%<br>補充保險費。(單次給付金額不足2萬元者及超過1仟萬元之部份，免予扣取)。</li>
</ol>
<hgroup class="hg t-left">
    <h3 class="f30 fw-700">其他說明事項</h3>
</hgroup>
<p class="indent"><a href="javascript:void(0)">歷年股利發放相關資訊</a></p>