﻿<div class="investor-info-section top clearfix">
    <div class="info-box wow fadeInUp">
        <ul class="ns">
            <li>
                <span class="tt t-mg">股票代號</span>
                <span class="txt">2501</span>
            </li>
            <li>
                <span class="tt t-mg">產業類別</span>
                <span class="txt">營建業</span>
            </li>
            <li>
                <span class="tt t-mg">公司名稱</span>
                <span class="txt">國泰建設股份有限公司</span>
            </li>
            <li>
                <span class="tt t-mg">地址</span>
                <span class="txt">台北市敦化南路二段218號2樓</span>
            </li>
        </ul>
    </div>
    <div class="info-box wow fadeInUp">
        <ul class="ns">
            <li>
                <span class="tt t-mg">公司成立日期</span>
                <span class="txt">54/09/14</span>
            </li>
            <li>
                <span class="tt t-mg">蒐集處理及利用個人資料告知書</span>
                <span class="txt"><a href="javascript:void(0)">下載</a></span>
            </li>
            <li>
                <span class="tt t-mg">電話</span>
                <span class="txt">02-2377-9968</span>
            </li>
            <li>
                <span class="tt t-mg">傳真</span>
                <span class="txt">02-2377-8399</span>
            </li>
        </ul>
    </div>
    <div class="info-box wow fadeInUp">
        <ul class="ns">
            <li>
                <span class="tt t-mg">電子信箱</span>
                <span class="txt"><a href="mailto:service@cathay-red.com.tw">service@cathay-red.com.tw</a></span>
            </li>
            <li>
                <span class="tt t-mg">公司網址</span>
                <span class="txt"><a href="www.cathay-red.com.tw">www.cathay-red.com.tw</a></span>
            </li>
            <li>
                <span class="tt t-mg">實收資本額</span>
                <span class="txt">11,595,610,590元</span>
            </li>
        </ul>
    </div>
</div>
<div class="investor-info-section bottom">
    <hgroup class="hg wow fadeInDown">
        <h2 class="title f30 fw-700">主要經營業務</h2>
    </hgroup>
    <div class="content">
        <div class="circles">
            <ul class="ns">
                <li class="wow fadeInUp">
                    <div class="btn btn-circle btn-vertical">
                        <div class="icon">
                            <img src="Styles/images/static/investor/investor-info/circle01.png" alt="" />
                        </div>
                        <p class="txt">興建國宅與商業大樓之出租出售</p>
                    </div>
                </li>
                <li class="wow fadeInUp">
                    <div class="btn btn-circle btn-vertical">
                        <div class="icon">
                            <img src="Styles/images/static/investor/investor-info/circle02.png" alt="" />
                        </div>
                        <p class="txt">接受委託辦理有關都市計劃、山坡地等之規劃、設計、顧問業務</p>
                    </div>
                </li>
                <li class="wow fadeInUp">
                    <div class="btn btn-circle btn-vertical">
                        <div class="icon">
                            <img src="Styles/images/static/investor/investor-info/circle03.png" alt="" />
                        </div>
                        <p class="txt">其他有關事業之經營及投資</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="info">
            <ul class="ns wow fadeInUp">
                <li>發言人：協理-林清樑</li>
                <li>代理發言人：營運管理部經理-羅宥騏</li>
                <li>E-mail：<a href="spokesman@cathay-red.com.tw">spokesman@cathay-red.com.tw</a></li>
            </ul>
            <ul class="ns wow fadeInUp">
                <li>股票過戶機構：國泰建設財務組</li>
                <li>股務特定聯絡人：蔡鳴原</li>
                <li>電話：02-2377-9968 #5311-5313</li>
            </ul>
            <ul class="ns wow fadeInUp">
                <li>過戶地址：台北市敦化南路二段218號2樓</li>
                <li>E-mail：<a href="cape0301@cathay-red.com.tw">cape0301@cathay-red.com.tw</a></li>
            </ul>
        </div>
    </div>
</div>