﻿<%@ control language="C#" autoeventwireup="true" inherits="usControls_login, App_Web_ugysufyk" %>
<div style="text-align:right;">
        <asp:Label ID="lbl_user" runat="server" Text="Label"></asp:Label>
      <asp:Button ID="btn_logout" runat="server"
            Text="登出" onclick="btn_logout_Click" 
            onclientclick="return confirm('Do you want to logout?')" />
    </div>