﻿@using Web.Models;
<!DOCTYPE html>
<html lang="@ViewBag.Lang">

<head>
    <!-- Title and Meta
    ================================================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="e-creative" />
    <meta name="description" content="@try { @ViewBag.Data.seo_description } catch { @ViewBag.Description }" />
    <meta name="keywords" content="@try { @ViewBag.Data.seo_keywords } catch { @ViewBag.Keywords }" />

    <!-- Facebook Open Graph Meta
    ================================================== -->
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:site_name" content="@ViewBag.webData.title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="" />

    <link rel="icon" type="image/x-icon" href="~/Styles/images/static/favicon.ico" />
    @Styles.Render("~/Content/styless")
    @RenderSection("css", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157463108-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-157463108-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NTTW9XJ');
    </script>
    <!-- End Google Tag Manager -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/default/html5shiv.min.js"></script>
    <script src="~/Scripts/default/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/default/modernizr.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTTW9XJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="@ViewBag.BodyClass" lang="@ViewBag.Lang" id="@ViewBag.BodyId" data-page="@ViewBag.BodyDataPage">
        <header id="header" class="header loading">
            <div class="header-toggle">
                <button type="button" class="btn">
                    <img src="~/Styles/images/static/logo-textless.png" alt="" />
                    <span>MENU</span>
                </button>
            </div>
            <div class="header-main">
                <div class="menu-head">
                    <div class="logo">
                        <div class="logo-w">
                            <a href="@Url.Content("~/" + ViewBag.Lang)"><img src="~/Styles/images/static/header-logo-w.png" alt="" /></a>
                        </div>
                        <div class="logo-b">
                            <a href="@Url.Content("~/" + ViewBag.Lang)"><img src="~/Styles/images/static/header-logo-b.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="menu-toggle">
                            <div class="btn btn-circle fill-mg no-hover">
                                <div class="btn-inner">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        @*<div class="lang">
                                <ul class="ns">
                                    <li class="current"><a href="@if (ViewBag.Lang != "tw") { @Html.Raw(Url.Content("~/")) } else {@Html.Raw("javascript:void(0);")}" class="btn btn-circle fill-mg no-hover">中</a></li>
                                    <li><a href="@if (ViewBag.Lang == "tw") { @Html.Raw(Url.Content("~/en")) } else {@Html.Raw("javascript:void(0);")}" class="btn btn-circle fill-mg no-hover">EN</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <div class="menu-main">
                    <div class="menu-main-inner container c-lg">
                        <nav class="mainlinks">
                            <ul class="ns">
                                <li data-id="about">
                                    <div class="ml-tt">
                                        <span class="ml-tt-txt">@ViewBag.ResLang["關於國建"]</span>
                                    </div>
                                    <div class="ml-sm">
                                        <div class="ml-sm-inner container c-sm">
                                            <div class="sm-pic">
                                                <!-- 360 * 240 px -->
                                                <img src="~/Styles/images/static/about/menu.jpg" alt="@ViewBag.ResLang["關於國建"]" />
                                            </div>
                                            <div class="sm-links">
                                                <ul class="ns">
                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["最新消息"]</a></li>

                                                    }
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Info">@ViewBag.ResLang["公司簡介"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Organization">@ViewBag.ResLang["公司組織"]</a></li>
                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["經典建案"]</a></li>
                                                    }
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Philosophy">@ViewBag.ResLang["經營理念"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Operation">@ViewBag.ResLang["營運概況"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment">@ViewBag.ResLang["投資事業"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Awards">@ViewBag.ResLang["得獎紀事"]</a></li>
                                                    <li><a target="_blank" href="@Url.Content("~/tw")/About/House">@ViewBag.ResLang["房地產指數"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Audit">@ViewBag.ResLang["內部稽核"]</a></li>
                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li><a href="http://www.cathay-cultural.org.tw/" target="_blank">@ViewBag.ResLang["公益活動"]</a></li>
                                                    }

                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Linyuan">@ViewBag.ResLang["霖園集團"]</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-id="cases">
                                    @if (ViewBag.Lang == "en")
                                    {
                                        <div class="ml-tt">
                                            <span class="ml-tt-txt"><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ml-tt">
                                            <span class="ml-tt-txt">@ViewBag.ResLang["熱銷建案"]</span>
                                        </div>

                                        <div class="ml-sm for-cases">
                                            <div class="ml-sm-inner container c-sm">

                                                <div class="sm-links">
                                                    <ul class="ns">
                                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual">@ViewBag.ResLang["年度總覽"]</a></li>
                                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Calculation">@ViewBag.ResLang["購屋試算"]</a></li>
                                                    </ul>
                                                </div>

                                                <div class="sm-slider">
                                                    <ul class="ns">

                                                        @if (ViewBag.Cases != null)
                                                        {
                                                            List<cases> Cases = ViewBag.Cases;

                                                            foreach (cases item in Cases.Where(m => m.header == "Y" && m.category != "0").ToList())
                                                            {
                                                                <li>
                                                                    <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Detail/@item.guid">
                                                                        <figure>
                                                                            <img src="@Url.Content("~/" + item.header_pic.Replace("/Styles/", "Styles/"))" alt="@item.header_pic_alt" />
                                                                            <figcaption>@item.title</figcaption>
                                                                        </figure>
                                                                    </a>
                                                                </li>
                                                            }

                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                </li>
                                <li data-id="customer">
                                    <div class="ml-tt">
                                        <span class="ml-tt-txt">@ViewBag.ResLang["客戶專區"]</span>
                                    </div>
                                    <div class="ml-sm">
                                        <div class="ml-sm-inner container c-sm">
                                            <div class="sm-pic">
                                                <!-- 360 * 240 px -->
                                                <img src="~/Styles/images/static/customer/menu.jpg" alt="@ViewBag.ResLang["客戶專區"]" />
                                            </div>
                                            <div class="sm-links">
                                                <ul class="ns">
                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li data-page="customer-construction"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["建築工法"]</a></li>
                                                    }

                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li data-page="customer-community"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community">@ViewBag.ResLang["社區關懷"]</a></li>
                                                    }

                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li data-page="customer-knowledge"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Knowledge">@ViewBag.ResLang["居家常識"]</a></li>
                                                    }

                                                    <li data-page="customer-contact"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
                                                    <li data-page="customer-member"><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Login">@ViewBag.ResLang["客戶會員專區"]</a></li>
                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li data-page="customer-vip"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Vip">@ViewBag.ResLang["尊榮優惠"]</a></li>
                                                    }

                                                    @if (ViewBag.Lang == "en")
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <li data-page="customer-member"><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/AppDownload">@ViewBag.ResLang["App下載"]</a></li>
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-id="urban">
                                    @if (ViewBag.Lang == "en")
                                    {
                                        <div class="ml-tt">
                                            <span class="ml-tt-txt"><a target="_blank" href="@Url.Content("~/tw")/Urban/Column">@ViewBag.ResLang["都市更新"]</a></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ml-tt">
                                            <span class="ml-tt-txt">@ViewBag.ResLang["都市更新"]</span>
                                        </div>
                                        <div class="ml-sm">
                                            <div class="ml-sm-inner container c-sm">
                                                <div class="sm-pic">
                                                    <!-- 360 * 240 px -->
                                                    <img src="~/Styles/images/static/urban/menu.jpg" alt="@ViewBag.ResLang["都市更新"]" />
                                                </div>
                                                <div class="sm-links">
                                                    <ul class="ns">
                                                        <li data-page="urban-news"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新消息"]</a></li>
                                                        <li data-page="urban-faq"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Faq">@ViewBag.ResLang["都市更新Q&A"]</a></li>
                                                        <li data-page="urban-column"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column">@ViewBag.ResLang["都市更新專區"]</a></li>
                                                        <li data-page="urban-knowledge"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Knowledge">@ViewBag.ResLang["都更法令知識庫"]</a></li>
                                                        <li data-page="urban-contact"><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact">@ViewBag.ResLang["與我們聯絡"]</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                <li data-id="responsibility">
                                    <div class="ml-tt">
                                        <a href="http://cathayred-csr.com/" class="ml-tt-txt" target="_blank">@ViewBag.ResLang["企業社會責任"]</a>
                                    </div>
                                </li>
                                <li data-id="investor">
                                    <div class="ml-tt">
                                        <span class="ml-tt-txt">@ViewBag.ResLang["投資人專區"]</span>
                                    </div>
                                    <div class="ml-sm">
                                        <div class="ml-sm-inner container c-sm">
                                            <div class="sm-pic">
                                                <!-- 360 * 240 px -->
                                                <img src="~/Styles/images/static/investor/menu.jpg" alt="@ViewBag.ResLang["投資人專區"]" />
                                            </div>
                                            <div class="sm-links">
                                                <ul class="ns">
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["公司基本資料"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceStatement">@ViewBag.ResLang["財務資訊"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Announcement">@ViewBag.ResLang["重要公告"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
                                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Others">@ViewBag.ResLang["其他"]</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-id="recruit">
                                    <div class="ml-tt">
                                        @{
                                            var test = ViewBag.ResLang["人才招募"];
                                        }
                                        @if (ViewBag.Lang == "en")
                                        {

                                        }
                                        else
                                        {
                                            <a href="@Url.Content("~/" + ViewBag.Lang)/Home/Career" class="ml-tt-txt">@ViewBag.ResLang["人才招募"]</a>
                                        }

                                    </div>
                                </li>
                            </ul>
                        </nav>

                        <div class="buttons">
                            @*<div class="lang">
                                    <ul class="ns">
                                        <li class="@if(ViewBag.Lang == "tw") { @Html.Raw("active")}"><a href="@if (ViewBag.Lang != "tw") { @Html.Raw(Url.Content("~/")) } else {@Html.Raw("javascript:void(0);")}">中</a></li>
                                        <li class="@if(ViewBag.Lang == "en") { @Html.Raw("active")}"><a href="@if (ViewBag.Lang == "tw") { @Html.Raw(Url.Content("~/en")) } else {@Html.Raw("javascript:void(0);")}">EN</a></li>
                                    </ul>
                                </div>*@
                            <div class="social">
                                <ul class="ns">
                                    <li>
                                        <a href="@(!string.IsNullOrEmpty(ViewBag.webData.facebook_url) ? Url.Content(ViewBag.webData.facebook_url) : "")" class="btn btn-circle facebook" target="_blank">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--main-->
        @RenderBody()

        <footer id="footer" class="footer">
            <div class="footer-main">
                <div class="footer-inner container">
                    <address class="footer-profile">
                        <div class="logo">
                            <img src="~/Styles/images/static/footer-logo.png" alt="" />
                        </div>
                        <div class="info">
                            <ul class="ns">
                                <li>@ViewBag.ResLang["地址"]：@ViewBag.webData.address</li>
                                <li>@ViewBag.ResLang["電話"]：@ViewBag.webData.phone</li>
                                <li>@ViewBag.ResLang["傳真"]：@ViewBag.webData.fax</li>
                            </ul>
                        </div>
                        <div class="links">
                            <ul class="ns">
                                <li><a href="@ViewBag.webData.global_url" target="_blank">@ViewBag.ResLang["地產集團員工網"]</a></li>
                                <li><a href="@ViewBag.webData.mail_app_url" target="_blank">@ViewBag.ResLang["集團電子郵件平台"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Privacy">@ViewBag.ResLang["隱私權政策"]</a> <span></span> <a href="@Url.Content("~/" + ViewBag.Lang)/Home/Terms">@ViewBag.ResLang["使用者條款"]</a></li>
                            </ul>
                        </div>
                        <div class="social">
                            <a href="@(!string.IsNullOrEmpty(ViewBag.webData.facebook_url) ? Url.Content(ViewBag.webData.facebook_url) : "")" target="_blank" class="btn btn-inline btn-circle">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </div>
                    </address>
                    <div class="footer-menu">
                        <div class="col">
                            <div class="col-tt">@ViewBag.ResLang["關於國建"]</div>
                            <div class="col-ctx">
                                <ul class="ns">
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/News">@ViewBag.ResLang["最新消息"]</a></li>
                                    }

                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Info">@ViewBag.ResLang["公司簡介"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Organization">@ViewBag.ResLang["公司組織"]</a></li>
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Cases">@ViewBag.ResLang["經典建案"]</a></li>
                                    }
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Philosophy">@ViewBag.ResLang["經營理念"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Operation">@ViewBag.ResLang["營運概況"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Investment">@ViewBag.ResLang["投資事業"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Awards">@ViewBag.ResLang["得獎紀事"]</a></li>
                                    <li><a target="_blank" href="@Url.Content("~/tw")/About/House">@ViewBag.ResLang["房地產指數"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/ManageDirectors">@ViewBag.ResLang["公司治理"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Audit">@ViewBag.ResLang["內部稽核"]</a></li>
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="http://www.cathay-cultural.org.tw/">@ViewBag.ResLang["公益活動"]</a></li>
                                    }

                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/About/Linyuan">@ViewBag.ResLang["霖園集團"]</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-tt">@ViewBag.ResLang["熱銷建案"]</div>
                            <div class="col-ctx">
                                <ul class="ns">
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual">@ViewBag.ResLang["年度總覽"]</a></li>
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Calculation">@ViewBag.ResLang["購屋試算"]</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-tt">@ViewBag.ResLang["都市更新"]</div>
                            <div class="col-ctx">
                                <ul class="ns">
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/News">@ViewBag.ResLang["都市更新消息"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Faq">@ViewBag.ResLang["都市更新Q&A"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Column">@ViewBag.ResLang["都市更新專區"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Knowledge">@ViewBag.ResLang["都更法令知識庫"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Urban/Contact">@ViewBag.ResLang["與我們聯絡"]</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-tt">@ViewBag.ResLang["投資人專區"]</div>
                            <div class="col-ctx">
                                <ul class="ns">

                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Info">@ViewBag.ResLang["公司基本資料"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/FinanceStatement">@ViewBag.ResLang["財務資訊"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Announcement">@ViewBag.ResLang["重要公告"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Shareholder">@ViewBag.ResLang["股東專區"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Investor/Others">@ViewBag.ResLang["其他"]</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-tt">@ViewBag.ResLang["客戶專區"]</div>
                            <div class="col-ctx">
                                <ul class="ns">
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Construction">@ViewBag.ResLang["建築工法"]</a></li>
                                    }

                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Community">@ViewBag.ResLang["社區關懷"]</a></li>
                                    }

                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Knowledge">@ViewBag.ResLang["居家常識"]</a></li>
                                    }

                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/ContactInfo">@ViewBag.ResLang["聯絡我們"]</a></li>
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Member/Login">@ViewBag.ResLang["客戶會員專區"]</a></li>
                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/Vip">@ViewBag.ResLang["尊榮優惠"]</a></li>
                                    }

                                    @if (ViewBag.Lang == "en")
                                    {

                                    }
                                    else
                                    {
                                        <li><a href="@Url.Content("~/" + ViewBag.Lang)/Customer/AppDownload">@ViewBag.ResLang["App下載"]</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-tt"><a href="http://cathayred-csr.com/" target="_blank">@ViewBag.ResLang["企業社會責任"]</a></div>
                            @*<div class="col-ctx">
                                    <ul class="ns" style="display:none;">
                                        <li><a href="/">永續治理</a></li>
                                        <li><a href="/">建築安全</a></li>
                                        <li><a href="/">客戶服務</a></li>
                                        <li><a href="/">供應商管理</a></li>
                                        <li><a href="/">社會共識</a></li>
                                        <li><a href="/">環境友善</a></li>
                                        <li><a href="/">影音專區</a></li>
                                        <li><a href="/">報告書下載</a></li>
                                        <li><a href="/">線上問卷</a></li>
                                        <li><a href="/">聯絡我們</a></li>
                                        <li><a href="/">互動問答</a></li>
                                        <li><a href="/">電子書</a></li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="footer-scroll">
                    <button type="button">
                        <span class="btn-inner">
                            <i class="icon icon-arrow-top"></i>
                            <p>TOP</p>
                        </span>
                    </button>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-inner container">
                    <ul class="ns">
                        <li>@ViewBag.ResLang["國泰建設股份有限公司版權所有"]<br class="shown-479" />©Cathay Real Estate All Right Reserved.</li>
                        <li> Designed by <a href="https://minmax.tw/" target="_blank">MINMAX 網頁設計</a></li>
                        <li class="link"><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Privacy">Privacy Policy</a></li>
                        <li class="link"><a href="@Url.Content("~/" + ViewBag.Lang)/Home/Terms">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        @RenderSection("other", required: false)
    </div>

    @Scripts.Render("~/Scripts/js")

    @RenderSection("scripts", required: false)
    <input type="hidden" id="ajaxRoot" value="@Url.Content("~/" + ViewBag.Lang)/Home/Ajax" />
</body>
</html>