﻿<section>
    <h4 class="tt">基地位置</h4>
    <p class="txt">本案位處市府 89 年 6 月 26 日公告劃定之臺北市中山區民生東路「中興法商學院附近更新地區」範圍內（府都四字第 8904521800 號函）</p>
</section>
<section>
    <h4 class="tt">更新範圍</h4>
    <p class="txt">本案更新單元範圍包含中山區長春段二小段 125-1、126、126-1、126-2、127-4、127-21、127-22、127-23、127-24、127-25、127-26、127-27、127-33、127-34、127-35、127-36、127-37、127-45、192-1、192-4....</p>
</section>