﻿<p>
    本次 CSR 社區關懷結合國泰健康管理於台南「文海硯」社區舉辦健康講座。<br />
    文海硯社區位於台南海安路三段及文成三路口，鄰近台南花園夜市，走路約 7分鐘即可享繁華美食。<br />
    本次邀請國泰健管台南中心營養師前來講解「遠離代謝症候群」： 1. 代謝症候群是現代人健康的大敵，它不是一種特定的病，而是一群容易導致心血管疾病的危險因子的總稱。<br />
    2. 診斷標準：(1)腹部肥胖：男不過≧90，女不過≧80(2)血壓偏高(3)空腹血糖偏高(4)空腹三酸甘油酯偏高(5)高密度膽固醇偏低，三項(含)以上者即可判定為代謝症候群。<br />
    3. 預防代謝症候群：(1)維持理想體重(2)遵照飲食原則(3)維持多活動的生活習慣(4)生活型態修正。<br />
    4. 均衡攝取六大類食物，不偏食避免營養的不均衡。<br />
    5. 健康飲食六大行動方案(1)多吃高纖(2)低油(3)低糖(4)低鹽(5)減少或避免飲酒(6)三餐定時不過量。<br />
    6. 維持多活動的生活習慣：每天最少 30 分鐘運動。<br />
    7. 生活型態修正：壓力去活力來，戒抽，不熬夜並定時健康檢查，早發現早預防。
</p>
<p><img src="Styles/images/demo/about/about-news/article01.jpg" alt="" /></p>
<p><img src="Styles/images/demo/about/about-news/article02.jpg" alt="" /></p>
<p><img src="Styles/images/demo/about/about-news/article03.jpg" alt="" /></p>
<p><img src="Styles/images/demo/about/about-news/article04.jpg" alt="" /></p>
<p><img src="Styles/images/demo/about/about-news/article05.jpg" alt="" /></p>