.login{
    background-color: #fff;
}
.user-login {
    min-height: 100vh;
    .login-bg {
        height: 100vh;
        overflow: hidden;
    }
    .login-logo {
        position: absolute;
        top: 2.5em;
        width: 100%;
        
        span{
            font-family: 'Poppins', sans-serif;
            font-size: 35px;
            text-transform: uppercase;
            visibility: visible;
            vertical-align: middle;
            letter-spacing: 0px;
            opacity: 1;
            font-weight: 500;
        }
        @include media-breakpoint-down(lg) { 
            top:15px;
            text-align: center;
        }
    }
    .login-container {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        .login-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 10px;
            .login-copyright {
                margin-top: 6px;
                p {
                    margin: 0;
                    font-size: 13px;
                    color: #a9b5be
                }
            }
            
        }
        
       
        & >.login-content {
            margin-top: 30%;
            @include media-breakpoint-down(lg) { 
                margin-top: 20%;
            }
            @include media-breakpoint-down(sm) { 
                margin-top: 25%;
            }
            h1 {
                font-size: 40px;
                font-weight:500;
                color:#000;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 20px;
                @include media-breakpoint-down(lg) { 
                    text-align: center;
                }
                @include media-breakpoint-down(md) { 
                    font-size:25px;
                    text-align: center;
                }
            }
            p {
                color: #a0a9b4;
                font-size: 15px;
                line-height: 22px;
                @include media-breakpoint-down(lg) { 
                    font-size:13px;
                }
            }
            .login-form {
                margin-top: 80px;
                color: #a4aab2;
                font-size: 13px;
                .form-control {
                    width: 100%;
                    padding: 10px 0;
                    border: #a0a9b4;
                    border-bottom: 1px solid;
                    color: #868e97;
                    font-size: 14px;
                    border-radius: 0!important;
                    &:focus {
                        outline: 0
                    }
                }
                .forgot-password,
                .login-button {
                    display: inline-block
                }
                .rem-password {
                    margin-top: 10px;
                    &>p {
                        margin: 0
                    }
                }
                .rem-password>.rem-checkbox {
                    border-color: #a4aab2
                }
                .forgot-password {
                    margin-right: 1em;
                    line-height: 2.5rem;
                    &>a {
                        color: #a4aab2;
                        &:hover {
                            color: #337ab7;
                            text-decoration: none
                        }

                        &:focus {
                            color: #a4aab2;
                            text-decoration: none
                        }
                    }
                }
            }
        }
    }
}
.user-login .login-logo,
.user-login .login-container .login-copyright,
.user-login .login-container>.login-content {
    padding: 0 80px;
    
    @include media-breakpoint-down(xl) { 
        padding: 0 40px
    }
    
    @include media-breakpoint-down(sm) { 
        padding: 0 20px
    }
    
}
@media (max-width:992px) {
    .user-login,
    .user-login .login-bg,
    .user-login .login-container {
        min-height: 50vh
    }
    
    
    .user-login .login-container>.login-content .login-form {
        margin-top: 20px
    }
    .user-login .login-container .rem-password {
        margin-bottom: 1em
    }
    .user-login .login-container>.login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0
    }
    
    .user-login .alert {
        margin-top: -20px
    }
}

@media (max-width:640px) {
    .user-login .login-container>.login-content .text-right {
        text-align: left
    }
}
.captcha{
    position: relative;
    img{
        position: absolute;
        top:100%;
        left:0;
        @include media-breakpoint-down(md) { 
            top:5px;
            left:inherit;
            right: 45px;
        }
    }
    button{
        position: absolute;
        top:95%;
        right:0px;
        @include media-breakpoint-down(md) { 
            top:5px;
        }
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}