﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "cases";
    ViewBag.BodyDataPage = "cases-annual";
    List<annuals> Annuals = ViewBag.Data;
}
<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["年度總覽"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["年度總覽"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual">@ViewBag.ResLang["年度總覽"]</a></li>
                            </ul>
                        </div>
                        <div class="dropmenu">
                            <select class="selectpicker">
                                <option value="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual?year=all">@ViewBag.ResLang["所有年度"]</option>
                                @if (ViewBag.Year.Count > 0)
                                {
                                    foreach (string year in ViewBag.Year)
                                    {
                                        <option @if (ViewBag.getYear == year) { @Html.Raw("selected") } value="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual?year=@year">@year</option>
                                    }
                                }


                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="annual-slider container c-md wow fadeInUp">
                    <ul class="ns slider">
                        @if (Annuals.Count > 0)
                        {
                            foreach (annuals item in Annuals)
                            {
                                <li class="slick-item">
                                    <div class="cover">
                                        <div class="year btn btn-circle fill-mg no-hover">@item.year</div>
                                        <div class="pic">
                                            <img src="@Url.Content("~/"+item.pic)" alt="@item.pic_alt" />
                                        </div>
                                        <h3 class="title">@item.title</h3>
                                    </div>
                                    <div class="content">
                                        <div class="close">
                                            <button type="button" class="btn">
                                                <i class="icon icon-fs"><?php include 'styles/images/static/svg/icon-close.svg' ?></i>
                                            </button>
                                        </div>
                                        <div class="content-inner">
                                            <p class="title">@item.title</p>
                                            <div class="txt">
                                                @Html.Raw(FunctionService.FormatImagePath(item.content))
                                            </div>
                                            @if (!string.IsNullOrEmpty(item.files))
                                            {
                                                <div class="button">
                                                    <a href="@Url.Content("~/"+item.files)" download="" class="btn btn-inline btn-rounded border-mg w150 h50">@ViewBag.ResLang["PDF下載"]</a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </li>
                            }

                        }



                    </ul>
                </div>
                <div class="annual-arrows">
                    <div class="arrow arrow-prev">
                        <button type="button" class="btn btn-circle border-mg">
                            <i class="icon icon-chevron-left"></i>
                        </button>
                    </div>
                    <div class="arrow arrow-next">
                        <button type="button" class="btn btn-circle border-mg">
                            <i class="icon icon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script>
        $(document).ready(function () {

            $('.selectpicker').change(function () {

                window.location.href = $(this).val();
            });


        });
    </script>
    <script>
        $(function () {
            var $annualSlider = $('.annual-slider').children('.slider'),
                $annualArrows = $('.annual-arrows');
            var length = $annualSlider.find('.slick-item').length;

            // slider
            $annualSlider.slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                draggable: false,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            });

            // slider item
            $annualSlider.find('.slick-slide').each(function () {
                var index = $(this).data('slick-index'),
                    $parent = $(this);
                $(this).find('.cover').click(function () {

                    $(this).find('.scrollbar').mCustomScrollbar('update');

                    if (window.innerWidth >= 480) {
                        var $this;
                        if (index === length) {
                            $this = $annualSlider.find('[data-slick-index="0"]');
                        } else if (index === length + 1) {
                            $this = $annualSlider.find('[data-slick-index="1"]');
                        } else if (index === length + 2) {
                            $this = $annualSlider.find('[data-slick-index="2"]');
                        } else {
                            $this = $parent;
                        }

                        if (!$this.hasClass('slick-current')) {
                            $annualSlider.slick('slickGoTo', index);
                            $annualSlider.find('.slick-slide').removeClass('opened').css('transform', 'translateX(0)');
                            if (length > 4) {
                                setTimeout(function () {
                                    $this.addClass('opened').siblings().removeClass('opened');
                                    $annualSlider.find('.slick-active').each(function () {
                                        if (!$(this).hasClass('slick-current')) {
                                            $(this).css({
                                                'transform': 'translateX(100%)',
                                            });
                                        }
                                    });
                                }, 500);
                            } else {
                                $this.addClass('opened').siblings().removeClass('opened');
                                if (index === length - 1) {
                                    $annualSlider.find('.slick-slide').css({
                                        'transform': 'translateX(-100%)',
                                    });
                                } else {
                                    $this.nextAll('.slick-slide').css({
                                        'transform': 'translateX(100%)',
                                    });
                                }
                            }
                        } else {
                            $this.addClass('opened').siblings().removeClass('opened');
                            $annualSlider.find('.slick-active').each(function () {
                                if (!$(this).hasClass('slick-current')) {
                                    $(this).css({
                                        'transform': 'translateX(100%)',
                                    });
                                }
                            });
                        }
                    } else {
                        $parent.addClass('opened');
                    }

                });

                $(this).find('.close').children('.btn').click(function () {

                    if (window.innerWidth >= 480) {
                        $annualSlider.find('.slick-slide').removeClass('opened').css('transform', 'translateX(0)');
                    } else {
                        $annualSlider.find('.slick-slide').removeClass('opened');
                    }

                });

            });

            // slider arrows
            $annualArrows.find('.arrow').each(function () {
                var $this = $(this);
                $this.children('.btn').click(function () {
                    if ($annualSlider.find('.opened').length && window.innerWidth >= 480) {
                        $annualSlider.find('.slick-slide').removeClass('opened').css('transform', 'translateX(0)');
                        setTimeout(function () {
                            changeSlide();
                        }, 300);
                    } else if (!$annualSlider.find('.opened').length && window.innerWidth >= 480) {
                        changeSlide();
                    } else if ($annualSlider.find('.opened').length && window.innerWidth < 480) {
                        $annualSlider.find('.slick-slide').removeClass('opened');
                        changeSlide();
                    } else if (!$annualSlider.find('.opened').length && window.innerWidth < 480) {
                        changeSlide();
                    }
                    function changeSlide() {
                        if ($this.hasClass('arrow-prev')) {
                            $annualSlider.slick('slickPrev');
                        } else if ($this.hasClass('arrow-next')) {
                            $annualSlider.slick('slickNext');
                        }
                    }
                });
            });
        });
    </script>
}