﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "cases";
    ViewBag.BodyDataPage = "cases-calculation";

}

@{
    <style>
        input[placeholder]::-webkit-input-placeholder {
            color: #C0C0C0;
        }

        input[placeholder]:-moz-placeholder {
            color: #C0C0C0;
        }

        input[placeholder]::-moz-placeholder {
            color: #C0C0C0;
        }

        input[placeholder]:-ms-input-placeholder {
            color: #C0C0C0;
        }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }
        /* FF 4-18 */
        input:focus::-moz-placeholder {
            color: transparent;
        }
        /* FF 19+ */
        input:focus:-ms-input-placeholder {
            color: transparent;
        }
        /* IE 10+ */
    </style>
}

<main id="main">
    <div class="hero">
        @Html.Partial("Hero")<!--共用選單-->
        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["購屋試算"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["購屋試算"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Calculation">@ViewBag.ResLang["購屋試算"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="primary-body calculate_wrap">
                <div class="calculate_panel">
                    <div class="title fs_20 wow fadeInUp">@ViewBag.ResLang["請輸入試算資訊"]</div>
                    <form class="form fs_16" name="CalculationForm" id="CalculationForm">
                        <div class="form-row wow fadeInUp">
                            <div class="form-group">
                                <span class="panel_title">@ViewBag.ResLang["購屋金額"]：</span>
                                <input type="number" class="form-control" name="price" id="price" required />
                                <span>@ViewBag.ResLang["元"]</span>
                            </div>
                            <div class="form-group">
                                <span class="panel_title">@ViewBag.ResLang["貸款成數"]：</span>
                                <input type="number" class="form-control" name="percentage" id="percentage" required placeholder="範例:80" />
                                <span>%</span>
                            </div>
                            <div class="form-group">
                                <span class="panel_title">@ViewBag.ResLang["貸款年限"]：</span>
                                <input type="number" class="form-control" name="year" id="year" required placeholder="範例:20" />
                                <span>@ViewBag.ResLang["年"]</span>
                            </div>
                            <div class="form-group">
                                <span class="panel_title">@ViewBag.ResLang["單一利率"]：</span>
                                <input type="number" class="form-control" name="interest" id="interest" required placeholder="範例:2" />
                                <span>%</span>
                            </div>
                            <div class="form-group">
                                <span>@ViewBag.ResLang["還款方式"]：</span>
                                <div class="form-control for-select">
                                    <select class="selectpicker" name="type" id="type">
                                        <option value="1">@ViewBag.ResLang["本金攤還"]</option>
                                        <option value="2">@ViewBag.ResLang["本息攤還"]</option>
                                        <option value="3">@ViewBag.ResLang["到期還本"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="panel_title">@ViewBag.ResLang["驗證碼"]：</span>
                                <input type="text" class="form-control" name="verification" id="verification" required />
                                <span class="verifycode"><img id="captcha" src="@Url.Content("~/Content/BuildCaptchaHome.aspx")" class="code"></span>
                            </div>
                            <button class="countBtn fs_16 submitBut" type="submit">@ViewBag.ResLang["開始試算"]</button>
                        </div>
                    </form>
                </div>
                <div class="calculate_data">
                    <div class="calculate_results">
                        <div class="title fs_20 type1" style="display:none;">
                            @ViewBag.ResLang["本金攤還"]
                            <span class="text fs_16">@Html.Raw(ViewBag.ResLang["本金攤還敘述"])</span>
                        </div>
                        <div class="title fs_20 type2" style="display:none;">
                            @ViewBag.ResLang["本息攤還"]
                            <span class="text fs_16">@Html.Raw(ViewBag.ResLang["本息攤還敘述"])</span>
                        </div>
                        <div class="title fs_20 type3" style="display:none;">
                            @ViewBag.ResLang["到期還本"]
                            <span class="text fs_16">@Html.Raw(ViewBag.ResLang["到期還本敘述"])</span>
                        </div>

                        <div class="table-wrapper type1">
                            <table class="table table-style loan-table table-responsive">
                                <thead>
                                    <tr>
                                        <th>@ViewBag.ResLang["年份"]</th>
                                        <th>@ViewBag.ResLang["月份"]</th>
                                        <th>@ViewBag.ResLang["本金攤還"]</th>
                                        <th>@ViewBag.ResLang["利息攤還"]</th>
                                        <th>@ViewBag.ResLang["每月還款"]</th>
                                    </tr>
                                </thead>
                                <tbody id="type1_list">
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="totalpay"><span>@ViewBag.ResLang["均月支出"]</span><span id="type1_ever_month"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-wrapper type2">
                            <table class="table table-style loan-table table-responsive">
                                <thead>
                                    <tr>
                                        <th>@ViewBag.ResLang["年份"]</th>
                                        <th>@ViewBag.ResLang["月份"]</th>
                                        <th>@ViewBag.ResLang["本金攤還"]</th>
                                        <th>@ViewBag.ResLang["本金累還"]</th>
                                        <th>@ViewBag.ResLang["利息攤還"]</th>
                                        <th>@ViewBag.ResLang["每月還款"]</th>
                                    </tr>
                                </thead>
                                <tbody id="type2_list">
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="6" class="totalpay"><span>@ViewBag.ResLang["均月支出"]</span><span id="type2_ever_month"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-wrapper type3">
                            <table class="table table-style loan-table table-responsive">
                                <thead>
                                    <tr>
                                        <th>@ViewBag.ResLang["年份"]</th>
                                        <th>@ViewBag.ResLang["月份"]</th>
                                        <th>@ViewBag.ResLang["本金攤還"]</th>
                                        <th>@ViewBag.ResLang["利息攤還"]</th>
                                        <th>@ViewBag.ResLang["每月還款"]</th>
                                    </tr>
                                </thead>
                                <tbody id="type3_list">
                                </tbody>
                                <tbody>
                                    @*<tr>
                                        <td colspan="6" class="totalpay"><span>@ViewBag.ResLang["均月支出"]</span><span id="type3_ever_month"></span></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="editor">

                        @Html.Raw(FunctionService.FormatImagePath(ViewBag.Data.content))
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")

    @if (ViewBag.Lang == "tw")
    {
        @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    }
    <script>
        $(document).ready(function () {

            $("#CalculationForm").each(function () {
                $("#CalculationForm").validate({
                    submitHandler: function (form) {
                        $('.submitBut').attr("disabled", true);

                        $(".calculate_results").hide();
                        $(".type1").hide();
                        $(".type2").hide();
                        $(".type3").hide();

                        var valsTemp = new Array();

                        var arr = new Object();
                        arr.name = "price";
                        arr.value = $('#price').val();
                        valsTemp.push(arr);

                        var arr = new Object();
                        arr.name = "percentage";
                        arr.value = $('#percentage').val();
                        valsTemp.push(arr);

                        var arr = new Object();
                        arr.name = "year";
                        arr.value = $('#year').val();
                        valsTemp.push(arr);

                        var arr = new Object();
                        arr.name = "interest";
                        arr.value = $('#interest').val();
                        valsTemp.push(arr);

                        var arr = new Object();
                        arr.name = "type";
                        arr.value = $('#type').val();
                        valsTemp.push(arr);

                        var arr = new Object();
                        arr.name = "verification";
                        arr.value = $('#verification').val();
                        valsTemp.push(arr);

                        var vals = JSON.stringify(valsTemp);
                        useAjax('calculation', vals);

                        return false;
                    },
                    errorPlacement: function (error, element) {
                        element.parents('.form-group').attr('style', 'border:#FF0000 1px solid;');
                        element.next("._formErrorMsg").html('<div style="color: #FF0000;">' + error.text() + '</div>');
                        //element.parents('.form-group').addClass("error");

                    },
                    success: function (error) {

                        var findID = $('#' + error[0].id.replace('-error', ''));

                        //console.log(error[0].id);
                        // $(findID).parents('.form-group').removeClass("error");
                        $(findID).parents('.form-group').attr('style', '');
                        //findID.next("._formErrorMsg").html('');
                        return false;

                    }
                });

            });
        });
    </script>

}