﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "cases";
    ViewBag.BodyDataPage = "cases";

    List<cases_category> Category = ViewBag.CasesCategory;
    cases data = ViewBag.Data;
}

<main id="main">
    <div class="hero">

        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["熱銷建案"]</span>
                </button>
            </div>
            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-bg pic-fill imgFill fill-bottom">
            <img src="~/Styles/images/static/primary-bg.png" alt="" />
        </div>
        <div class="primary-inner container c-md">
            <div class="primary-head wow fadeInDown">
                <div class="heading">
                    <h2 class="title">
                        <span class="title-txt">@ViewBag.ResLang["熱銷建案"]</span>
                    </h2>
                    <div class="breadcrumb">
                        <ul class="ns">
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                            <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                        </ul>
                    </div>
                    <div class="dropmenu">
                        <select class="selectpicker">
                            <option value="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["所有地區"]</option>

                            @if (ViewBag.CasesCategory != null)
                            {
                                foreach (cases_category item in Category)
                                {
                                    <option value="@Url.Content("~/" + ViewBag.Lang)/Cases/Index/@item.guid" @if (data.category == item.guid) { @Html.Raw("selected") }>@item.title</option>
                                }

                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="form-submit wow fadeIn">
                    <div class="form-submit-box">
                        <div class="head hg">
                            <h3 class="title f30">@data.title  /  @ViewBag.ResLang["預約賞屋"]</h3>
                            <p class="txt">@ViewBag.ResLang["您的預約已成功送出感謝您的預約"]<br />@ViewBag.ResLang["我們將盡速與您聯繫"]</p>
                        </div>
                        <div class="button">
                            <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index" class="btn btn-inline fill-mg">@ViewBag.ResLang["返回"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>