﻿<div class="hero-img pic-fill" data-parallax="scroll" data-image-src="@Url.Content("~/Styles/images/static/cases/hero.jpg")"></div>
<div class="hero-inner">
    <h1 class="title">@ViewBag.ResLang["熱銷建案"]</h1>
</div>