﻿@using Web.Models;
@using Web.Service;
@{
    ViewBag.BodyClass = "wp";
    ViewBag.BodyId = "cases";
    ViewBag.BodyDataPage = "cases";
    List<cases_category> Category = ViewBag.CasesCategory;
    cases_category data = ViewBag.Data;

}
<main id="main">
    <div class="hero">

        @Html.Partial("Hero")<!--共用選單-->

        <div class="hero-nav wow fadeInUp">
            <div class="hero-nav-toggle">
                <button type="button" class="btn">
                    <span class="btn-inner">@ViewBag.ResLang["熱銷建案"]</span>
                </button>
            </div>

            @Html.Partial("Nav")<!--共用選單-->
        </div>
    </div>
    <div class="primary">
        <div class="primary-inner">
            <div class="primary-head wow fadeInDown">
                <div class="primary-head-inner container c-md">
                    <div class="heading">
                        <h2 class="title">
                            <span class="title-txt">@ViewBag.ResLang["熱銷建案"]</span>
                        </h2>
                        <div class="breadcrumb">
                            <ul class="ns">
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)">@ViewBag.ResLang["首頁"]</a></li>
                                <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
                                @if (!string.IsNullOrEmpty(ViewBag.ID))
                                {

                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index/@data.guid">@data.title</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["所有地區"]</a></li>
                                }
                            </ul>
                        </div>
                        <div class="dropmenu">
                            <select class="selectpicker">
                                <option value="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["所有地區"]</option>

                                @if (ViewBag.CasesCategory != null)
                                {
                                    foreach (cases_category item in Category)
                                    {
                                        <option value="@Url.Content("~/" + ViewBag.Lang)/Cases/Index/@item.guid" @if (ViewBag.ID == item.guid) { @Html.Raw("selected") }>@item.title</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="primary-body">
                <div class="primary-body-inner container c-lg-alt">
                    <!--多區域-->
                    @if (string.IsNullOrEmpty(ViewBag.ID))
                    {
                        if (ViewBag.CasesCategory != null)
                        {

                            if (!string.IsNullOrEmpty(ViewBag.ID))
                            {
                                Category = Category.Where(m => m.guid == (string)ViewBag.ID).ToList();
                            }

                            foreach (cases_category item in Category)
                            {

                                if (ViewBag.Cases != null)
                                {
                                    List<cases> Cases = ViewBag.Cases;
                                    Cases = Cases.Where(m => m.category == item.guid).ToList();
                                    if (Cases != null && Cases.Count > 0)
                                    {
                                        <div class="cases-group">
                                            <div class="cases-head wow fadeInDown">
                                                <div class="cases-head-inner">
                                                    <h3 class="title">@item.title</h3>
                                                    @if (ViewBag.Lang == "en")
                                                    {
                                                        <p class="txt"> @Html.Raw("total " + Cases.Count + " row data") </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="txt"> @Html.Raw("共" + Cases.Count + "筆資料") </p>
                                                    }

                                                </div>
                                            </div>
                                            <div class="cases-list">
                                                <ul class="ns">
                                                    @if (Cases != null)
                                                    {
                                                        foreach (cases subItem in Cases)
                                                        {
                                                            <li class="list-item wow fadeInUp">
                                                                <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Detail/@subItem.guid">
                                                                    <div class="pic">
                                                                        <!-- 330 * 440 px -->
                                                                        @{
                                                                            subItem.list_pic = subItem.list_pic.Replace("//", "").Replace("///", "").Replace("Content/", "/Content/").Replace("//Content/", "/Content/").Replace("Styles/", "/Styles/").Replace("//Styles/", "/Styles/");
                                                                        }
                                                                        <img src="@Url.Content("~" + subItem.list_pic)" alt="@subItem.list_pic_alt" />
                                                                        <div class="pic-hover">
                                                                            @if (ViewBag.Lang == "tw")
                                                                            {
                                                                                <p class="en">@FunctionService.CasesEnSubTitle(subItem.guid)</p>
                                                                                <p class="zh">@subItem.sub_title</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p class="en">@FunctionService.CasesEnSubTitle(subItem.guid)</p>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <div class="caption">
                                                                        @*<p class="txt">@subItem.year - @item.title</p>*@
                                                                        <p class="txt">@item.title</p>
                                                                        <h4 class="title">@subItem.title</h4>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    }

                                }

                            }
                        }
                    }
                    <!--單一區域-->
                    @if (!string.IsNullOrEmpty(ViewBag.ID))
                    {
                        if (ViewBag.CasesCategory != null)
                        {

                            if (!string.IsNullOrEmpty(ViewBag.ID))
                            {
                                Category = Category.Where(m => m.guid == (string)ViewBag.ID).ToList();
                            }

                            foreach (cases_category item in Category)
                            {

                                if (ViewBag.SearchCases != null)
                                {

                                    <div class="cases-group">
                                        <div class="cases-head wow fadeInDown">
                                            <div class="cases-head-inner">
                                                <h3 class="title">@item.title</h3>
                                                @if (ViewBag.Lang == "en")
                                                {
                                                    <p class="txt"> @Html.Raw("total " + ViewBag.SearchCasesCount + " row data") </p>
                                                }
                                                else
                                                {
                                                    <p class="txt"> @Html.Raw("共" + ViewBag.SearchCasesCount + "筆資料") </p>
                                                }

                                            </div>
                                        </div>
                                        <div class="cases-list">
                                            <ul class="ns">
                                                @if (ViewBag.SearchCases != null)
                                                {
                                                    foreach (cases subItem in ViewBag.SearchCases)
                                                    {
                                                        <li class="list-item wow fadeInUp">
                                                            <a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Detail/@subItem.guid">
                                                                <div class="pic">
                                                                    <!-- 330 * 440 px -->
                                                                    @{
                                                                        subItem.list_pic = subItem.list_pic.Replace("//", "").Replace("///", "").Replace("Content/", "/Content/").Replace("//Content/", "/Content/").Replace("Styles/", "/Styles/").Replace("//Styles/", "/Styles/");
                                                                    }
                                                                    <img src="@Url.Content("~" + subItem.list_pic)" alt="@subItem.list_pic_alt" />
                                                                    <div class="pic-hover">
                                                                        @if (ViewBag.Lang == "tw")
                                                                        {
                                                                            <p class="en">@FunctionService.CasesEnSubTitle(subItem.guid)</p>
                                                                            <p class="zh">@subItem.sub_title</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="en">@FunctionService.CasesEnSubTitle(subItem.guid)</p>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="caption">
                                                                    @*<p class="txt">@subItem.year - @item.title</p>*@
                                                                    <p class="txt">@item.title</p>
                                                                    <h4 class="title">@subItem.title</h4>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                }

                            }
                        }
                        <div class="pagination wow fadeInUp">

                            @Html.Raw(ViewBag.pageView)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script>
        $(document).ready(function () {

            $('.selectpicker').change(function () {

                window.location.href = $(this).val();
            });

        });
    </script>
}