﻿
<div class="hero-nav-menu">
    <ul class="ns">
        <li data-page="cases"><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Index">@ViewBag.ResLang["熱銷建案"]</a></li>
        @if (ViewBag.Lang == "en")
        {

        }
        else
        {
            <li data-page="cases-annual"><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Annual">年度總覽</a></li>
            <li data-page="cases-calculation"><a href="@Url.Content("~/" + ViewBag.Lang)/Cases/Calculation">購屋試算</a></li>
        }

    </ul>
</div>

