/* -------------------------------------------
 *  about
 * ------------------------------------------ */

#about
  .hero
    .hero-nav
      +min($min-bg)
        .hero-nav-menu
          ul
            li
              a
                padding: 0 15px
                +max($max-bg)
                  font-size: 16px
                  padding: 0 10px
  &[data-page="about-manage"]
    .primary
      .primary-head
        .breadcrumb
          max-width: 360px

// news
.article-info
  padding: 20px 50px
  background-color: #E6F4ED
  border-radius: 20px
  color: #323232
  font-size: 16px
  line-height: 2
  + .article-list
    margin-top: 50px
.article-list
  ul
    +min($min-sm)
      +flexbox
      +flex-wrap
    .list-item
      +min($min-md)
        margin: 40px 40px 0 0
      +min($min-bg)
        width: calc(25% - 30px)
        &:nth-child(-n+4)
          margin-top: 0
        &:nth-child(4n+0)
          margin-right: 0
      +mm($max-lg, $min-lg)
        width: calc(100%/3 - 80px/3)
        &:nth-child(-n+3)
          margin-top: 0
        &:nth-child(3n+0)
          margin-right: 0
      +mm($max-md, $min-md)
        width: calc(50% - 20px)
      +mm($max-md, $min-sm)
        &:nth-child(-n+2)
          margin-top: 0
        &:nth-child(2n+0)
          margin-right: 0
      +mm($max-sm, $min-sm)
        width: calc(50% - 10px)
        margin: 40px 20px 0 0
      +max($max-xs)
        + .list-item
          margin-top: 40px
      .pic
        overflow: hidden
        img
          +transition(transform .75s ease .1s)
      .content
        margin-top: 25px
        text-align: center
        .subline
          color: color(main-green)
          font-family: font(oswald)
          font-size: 16px
          line-height: 1
          &::after
            content: ''
            display: inline-block
            width: 60px
            height: 1px
            margin-top: 20px
            background-color: color(main-green)
          ul
            +flexbox
            +justify-content-center
            +align-items-center
            &::before, &::after
              content: '-'
              display: block
            &::before
              margin-right: 0.5em
            &::after
              margin-left: 0.5em
            li
              + li
                &::before
                  content: '/'
                  display: inline-block
                  margin: 0 0.5em
        .info
          margin-top: 15px
          padding: 0 10px
          .title, .summary
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 2
            max-height: 3em
            overflow: hidden
            text-overflow: ellipsis
          .title
            font-size: 18px
            font-weight: 700
          .summary
            margin-top: 10px
            font-size: 16px
      a
        display: block
        &:hover
          .pic
            img
              +scale(1.05)
.article-wrapper
  .article-head
    text-align: center
    .subline
      color: color(main-green)
      font-family: font(oswald)
      font-size: 20px
      line-height: 1
      +max($max-lg)
        font-size: 18px
      +max($max-xs)
        font-size: 16px
      ul
        +flexbox
        +justify-content-center
        +align-items-center
        &::before, &::after
          content: '-'
          display: block
        &::before
          margin-right: 0.5em
        &::after
          margin-left: 0.5em
        li
          + li
            &::before
              content: '/'
              display: inline-block
              margin: 0 0.5em
    .title
      margin-top: 15px
      font-size: 40px
      font-weight: 700
      line-height: 1.3
      +max($max-lg)
        font-size: 35px
      +max($max-xs)
        font-size: 28px
    + .article-content
      margin-top: 70px
      +max($max-lg)
        margin-top: 50px
      +max($max-xs)
        margin-top: 35px

// info
.about-info-section
  &.profile
    padding: 80px 0 250px
    +max($max-lg)
      padding: 75px 0 125px
    +max($max-sm)
      padding: 50px 0 75px
    +max($max-xs)
      padding: 35px 0 50px
    .primary-body
      position: relative
      +max($max-lg)
        +flexbox
        +flex-column
        +align-items-center
    .profile-txt
      +min($min-bg)
        max-width: 700px
    .profile-circles
      img
        display: block
      +min($min-bg)
        position: absolute
        top: 20px
        right: 150px
        max-width: calc(100% - 750px)
        +max($max-bg)
          right: 0
      +max($max-lg)
        margin-top: 50px
      +max($max-xs)
        margin-top: 25px
  &.cases
    +min($min-xl2)
      padding-bottom: 100px
    +mm($max-xl2, $min-xl2)
      padding-left: 105px
      padding-right: 105px
    +mm($max-xl, $min-bg)
      padding-left: 80px
      padding-right: 80px
      padding-bottom: 50px
    +mm($max-lg, $min-md)
      padding-bottom: 50px
    +max($max-sm)
      padding: 35px 0
    +max($max-xs)
      padding: 20px 0 35px
    .cases-slider
      +min($min-md)
        margin-top: -60px
        padding: 30px 15px
        background-color: #ffffff
      +max($max-lg)
        padding-bottom: 0
        .slick-slider
          padding-bottom: 100px
      +max($max-xs)
        .slick-slider
          padding-bottom: 75px
      .list-item
        +min($min-md)
          padding: 0 15px
        +mm($max-sm, $min-sm)
          padding: 0 10px

// organization
.about-org-section
  padding: 80px 0 120px
  +min($min-lg)
    .primary-head
      + .primary-body
        margin-top: 100px
  +max($max-lg)
    padding: 75px 0 100px
  +max($max-lg)
    padding: 50px 0 75px
  +max($max-xs)
    padding: 35px 0 50px
  .tree
    +flexbox
    +flex-column
    +align-items-center
    .tree-row
      +flexbox
      +justify-content-center
      +align-items-start
      .tree-group
        +flex-shrink(0)
        +flexbox
        +flex-column
        +align-items-center
        &.side
          +flex-row-reverse
          &.for-btn
            .btn
              width: 400px
          &.for-line
            width: 485px
            height: 60px
            .line
              width: 380px
              &::before
                display: none
          +max($max-lg)
            &.for-btn
              .btn
                width: 250px
            &.for-line
              width: 335px
              .line
                width: 230px
          +max($max-md)
            &.for-btn
              margin-top: -10px
              .btn
                width: 180px
                height: 65px
            &.for-line
              width: 265px
              height: 45px
              .line
                width: 195px
          +max($max-sm)
            &.for-btn, &.for-line
              width: 155px
            &.for-btn
              position: relative
              +flex-column-reverse
              margin-top: 22px
              margin-bottom: -150px
              &::before
                content: ''
                position: absolute
                top: 0
                right: 78px
                display: block
                width: 62px
                height: 1px
                background-color: color(main-green)
                opacity: 0.5
              .btn
                writing-mode: vertical-rl
                min-width: unset
                width: 60px
                height: 175px
                padding: 15px 0
              .line
                width: 1px
                height: 45px
                margin: 0 0 10px
                &::before
                  top: -3px
                  left: -69px
                &::after
                  top: auto
                  left: -3px
                  bottom: 0
            &.for-line
              .line
                width: calc(100% - 20px)
          +max($max-xs)
            &.for-btn, &.for-line
              width: 100px
            &.for-btn
              margin-top: 18px
              margin-bottom: -170px
              &::before
                right: 50px
                width: 35px
              .line
                &::before
                  left: -40px
            &.for-line
              height: 35px
        &.line-extra
          position: relative
          &::before
            content: ''
            position: absolute
            left: 50%
            bottom: 32px
            display: block
            width: 490px
            height: 1px
            opacity: 0.5
            background-color: color(main-green)
            +max($max-lg)
              width: 340px
            +max($max-md)
              width: 279px
            +max($max-sm)
              width: 220px
            +max($max-xs)
              bottom: 25px
              width: 140px
      .btn
        font-size: 22px
        text-align: center
        border-radius: 10px
        +box-shadow(0 10px 20px rgba(0,0,0,0.3))
        overflow: visible
        -webkit-mask-image: none
        +max($max-lg)
          font-size: 18px
          line-height: 1.25
        +max($max-xs)
          font-size: 16px
          +box-shadow(5px 5px 5px rgba(0,0,0,0.15))
      .line
        position: relative
        display: block
        opacity: 0.5
        background-color: color(main-green)
        &::before, &::after
          content: ''
          position: absolute
          display: block
          width: 7px
          height: 7px
          background-color: color(main-green)
          border-radius: 50%
        &.line-v
          width: 1px
          height: 45px
          margin: 10px 0
          &::before, &::after
            left: -3px
          &::before
            top: 0
          &::after
            bottom: 0
          +max($max-xs)
            height: 30px
        &.line-h
          width: 65px
          height: 1px
          margin: 0 10px
          &::before, &::after
            top: -3px
          &::before
            left: 0
          &::after
            right: 0
      &:not(.top):not(.bottom)
        .btn
          min-width: 200px
          height: 60px
          padding: 0 40px
          +max($max-md)
            min-width: 150px
            height: 45px
            padding: 0 15px
          +max($max-xs)
            min-width: 100px
            height: 35px
            padding: 0 10px
          &.auto-height
            height: auto
            padding-top: 15px
            padding-bottom: 15px
            line-height: 1.4
            +max($max-xs)
              padding-top: 5px
              padding-bottom: 5px
      &:nth-last-child(2)
        .line
          margin-bottom: 0
          &::after
            display: none
      &.top
        .line
          height: 65px
        .btn
          width: 245px
          height: 95px
          border-radius: 20px
          background-color: #ffffff
          color: #323232
          span
            margin-left: 10px
        +max($max-md)
          .line
            height: 45px
          .btn
            width: 200px
            height: 75px
            img
              max-width: 50px
        +max($max-xs)
          .btn
            height: 65px
            border-radius: 10px
      &.bottom
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          left: 190px
          right: 190px
          display: block
          height: 1px
          background-color: color(main-green)
          opacity: 0.5
          +max($max-lg)
            left: 115px
            right: 115px
          +max($max-md)
            left: 93px
            right: 93px
          +max($max-sm)
            left: 78px
            right: 78px
          +max($max-xs)
            left: 50px
            right: 50px
        .tree-group
          +min($min-bg)
            + .tree-group
              margin-left: 50px
            &:first-child + .tree-group, &:last-child
              margin-left: 100px
          +max($max-lg)
            + .tree-group
              margin-left: 25px
          +max($max-sm)
            + .tree-group
              margin-left: 10px
          +max($max-xs)
            width: 30px
            + .tree-group
              margin-left: 5px
          &:first-child, &:last-child
            position: relative
            &::before
              content: ''
              position: absolute
              left: 29px
              bottom: 100%
              display: block
              width: 1px
              background-color: color(main-green)
              opacity: 0.5
          &:first-child
            &::before
              height: 740px
          &:last-child
            &::before
              height: 148px
          +max($max-md)
            &:first-child, &:last-child
              &::before
                left: 22px
            &:first-child
              &::before
                height: 662px
            &:last-child
              &::before
                height: 133px
          +max($max-xs)
            &:first-child, &:last-child
              &::before
                left: 14px
              &:first-child
                &::before
                  height: 502px
              &:last-child
                &::before
                  height: 101px
        .line
          margin-top: 0
          height: 65px
          &::before
            display: none
        .btn
          +justify-content-start
          width: 60px
          height: 200px
          padding: 20px 0
          -ms-writing-mode: vertical-rl
          writing-mode: vertical-rl
          +max($max-md)
            width: 45px
            height: 150px
            padding: 15px 0
          +max($max-xs)
            width: 30px
            padding: 10px 0
            border-radius: 5px

// philosophy
.about-ph-section
  .section-hg
    font-size: 36px
    text-align: center
    +max($max-md)
      font-size: 30px
    +max($max-sm)
      font-size: 28px
    +max($max-xs)
      font-size: 25px
    .title
      font-weight: 700
  .content
    margin-top: 60px
    +max($max-md)
      margin-top: 50px
    +max($max-sm)
      margin-top: 35px
    ul
      +flexbox
      +justify-content-center
  &.head
    padding: 80px 0
    +max($max-lg)
      padding: 75px 0 50px
    +max($max-md)
      padding: 50px 0
    +max($max-xs)
      padding: 35px 0
  &.core
    +max($max-xs)
      padding: 0 10px 35px
    .content
      +min($min-lg)
        ul
          li
            + li
              margin-left: 110px
      +mm($max-md, $min-md)
        ul
          li
            + li
              margin-left: 35px
      +max($max-sm)
        ul
          +flex-column
          +align-items-center
          li
            + li
              margin-top: 35px
  &.ph
    +min($min-xl2)
      margin-top: -210px
      padding: 250px 0 115px
    +mm($max-xl, $min-sm)
      margin-top: -110px
      padding: 150px 0 75px
    +max($max-xs)
      padding: 35px 0
    .content
      .icon
        width: 100px
        height: 100px
        img
          display: inline-block
          max-width: 100px
          vertical-align: top
      .caption
        span
          display: block
          + span
            margin-top: 10px
        .zh
          font-size: 22px
        .en
          font-family: font(roboto)
          font-size: 16px
      +min($min-lg)
        ul
          li
            max-width: 220px
            text-align: center
            + li
              margin-left: 30px
        .icon
          margin: 0 auto
        .caption
          margin-top: 25px
      +max($max-md)
        ul
          +flex-column
          li
            + li
              margin-top: 35px
      +mm($max-md, $min-sm)
        ul
          +align-items-center
          li
            +flexbox
            +align-items-center
            width: 100%
            max-width: 400px
        .caption
          margin-left: 25px
      +max($max-xs)
        ul
          li
            text-align: center
        .icon
          margin: 0 auto
        .caption
          margin-top: 15px
          line-height: 1.25
          span
            + span
              margin-top: 5px
          .zh
            font-size: 18px
          .en
            font-size: 15px

// operation
.about-op-section
  &.profile
    padding: 80px 0
    +min($min-bg)
      .primary-body
        +flexbox
        +justify-content-between
        +align-items-start
      .profile-pic
        max-width: calc(100% - 750px)
    +max($max-lg)
      padding: 75px 0
      .primary-body
        +align-items-stretch
      .profile-pic
        margin-top: 35px
    +max($max-md)
      padding: 50px 0
    +max($max-xs)
      padding: 35px 0
  &.cases
    +max($max-sm)
      padding-top: 0
    .cases-slider
      margin: 0
      padding: 0
      .slick-list
        margin: 0 -15px
      .slick-slide
        margin: 0 15px
      .list-item
        padding: 0

// investment
.about-investment-section
  &.intro
    .intro-head
      +flexbox
      +flex-column
      +align-items-center
      max-width: 1000px
      margin: 0 auto
      + .intro-list
        margin-top: 40px
      .title
        font-size: 30px
        font-weight: 700
        letter-spacing: 0.1em
        line-height: 1
        text-align: center
        + .txt
          margin-top: 25px
        img
          display: block
          margin: 0 auto
          + span:not(.hidden)
            display: block
            margin-top: 20px
        +max($max-sm)
          font-size: 25px
        +max($max-xs)
          font-size: 22px
      .txt
        width: 100%
        font-size: 16px
        line-height: 2
        color: #323232
    .intro-list
      margin-left: auto
      margin-right: auto
      text-align: center
      +min($min-lg)
        background-image: url('images/static/about/about-investment/intro-bg.png')
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
      .title
        font-size: 26px
        font-weight: 700
        &::before, &::after
          content: '―'
          display: inline-block
        &::before
          margin-right: 5px
        &::after
          margin-left: 5px
        + ul
          margin-top: 20px
        +max($max-xs)
          font-size: 22px
      > ul
        +flexbox
        +flex-wrap
        +justify-content-center
        + .title
          margin-top: 85px
      .list-item
        +mm($max-md, $min-sm)
          width: calc(50% - 15px)
          margin: 50px 30px 0 0
          &:nth-child(-n+2)
            margin-top: 0
          &:nth-child(2n+0)
            margin-right: 0
        +max($max-xs)
          + .list-item
            margin-top: 50px
        .pic
          position: relative
          img
            position: relative
          &.has-shadow
            &::before
              content: ''
              position: absolute
              top: -20px
              left: -20px
              right: -20px
              bottom: -20px
              display: block
              background-image: url('images/static/about/about-investment/shadow.png')
              background-size: cover
              background-position: center center
              background-repeat: no-repeat
              +translateY(10px)
        .caption
          margin-top: 20px
          font-weight: 700
          .zh
            font-size: 22px
            +max($max-sm)
              font-size: 20px
          .en
            font-size: 16px
          .links
            margin-top: 15px
            font-size: 16px
            font-weight: 400
            line-height: 1
            li
              display: inline-block
              + li
                margin-left: 7px
                padding-left: 10px
                border-left: 1px solid #323232
            a:hover
              color: color(main-green)
      &:not(.col-4)
        max-width: 1068px
        .list-item
          max-width: 316px
          +min($min-lg)
            width: calc(100%/3 - 40px)
            margin: 50px 60px 0 0
            &:nth-child(-n+3)
              margin-top: 0
            &:nth-child(3n+0)
              margin-right: 0
      &.col-4
        +min($min-lg)
          max-width: 1259px
          .list-item
            width: calc(25% - 135px/4)
            max-width: 281px
            margin: 45px 45px 0 0
            &:nth-child(-n+4)
              margin-top: 0
            &:nth-child(4n+0)
              margin-right: 0
            +max($max-bg)
              width: calc(25% - 90px/4)
              margin: 45px 30px 0 0
  &.rent
    + .rent
      margin-top: 95px
      +max($max-lg)
        margin-top: 75px
      +max($max-sm)
        margin-top: 50px
      +max($max-xs)
        margin-top: 35px
    .head
      text-align: center
      .title
        font-size: 26px
        font-weight: 700
        +max($max-xs)
          font-size: 22px
    .content
      margin-top: 20px
      +min($min-bg)
        +flexbox
        +flex-wrap
        +justify-content-center
      +max($max-xs)
        margin-top: 15px
      .table-wrapper
        +min($min-bg)
          width: calc(100%/3 - 70px/3)
          max-width: 400px
          margin: 35px 35px 0 0
          &:nth-child(-n+3)
            margin-top: 0 !important
          &:nth-child(3n+0)
            margin-right: 0
        +max($max-lg)
          margin-top: 0 !important
      .rent-table
        width: 100%
        font-size: 16px
        td
          vertical-align: top
          padding: 10px 0
          border-bottom: 1px solid #DCDCDC
        +min($min-bg)
          tr:first-child
            td
              border-top: 1px solid #DCDCDC
        .tt
          font-weight: 500
          padding-right: 15px
          white-space: nowrap
          &::before
            content: '\e906'
            display: inline-block
            margin-right: 3px
            font-family: font(icon)
            font-size: 0.8em
          +max($max-lg)
            width: 125px
          +max($max-xs)
            width: 110px
    .pics
      margin-top: 40px
      +max($max-xs)
        margin-top: 25px
      ul
        +min($min-md)
          +flexbox
          +flex-wrap
        li
          +min($min-sm)
            margin: 10px 10px 0 0
          +min($min-bg)
            width: calc(100%/3 - 20px/3)
            &:nth-child(-n+3)
              margin-top: 0
            &:nth-child(3n+0)
              margin-right: 0
          +mm($max-lg, $min-md)
            width: calc(50% - 5px)
            &:nth-child(-n+2)
              margin-top: 0
            &:nth-child(2n+0)
              margin-right: 0
          +max($max-sm)
            + li
              margin-top: 10px

// awards
.about-awards-section
  padding: 80px 0 100px
  background-color: #F0F0F0
  +min($min-xl)
    .section-inner
      padding: 0 70px
  +max($max-lg)
    padding: 75px 0
  +max($max-md)
    padding: 50px 0
  +max($max-xs)
    padding: 35px 0
  .awards-group
    + .awards-group
      margin-top: 15px
      +max($max-lg)
        margin-top: 50px
    .year
      font-size: 40px
      text-align: center
      line-height: 1
      + .list
        margin-top: 15px
      +max($max-lg)
        + .list
          margin-top: 25px
      +max($max-sm)
        font-size: 35px
      +max($max-xs)
        font-size: 28px
    .list
      position: relative
      +min($min-bg)
        padding: 20px 0
        &::before
          content: ''
          position: absolute
          top: 0
          left: calc(50% - 1px)
          bottom: 0
          display: block
          width: 2px
          background-color: color(main-green)
      .award-item
        .award-item-box
          position: relative
          +flexbox
          background-color: #ffffff
          .content
            +flexbox
            +flex-column
            +justify-content-center
            width: 100%
            padding: 25px 40px 25px 30px
            .title
              font-size: 22px
              &::after
                content: ''
                display: block
                width: 50px
                height: 1px
                margin: 15px 0
                background-color: color(main-green)
            .txt
              font-size: 16px
        +min($min-sm)
          .award-item-box
            height: 280px
            .pic
              width: 210px
              + .content
                width: calc(100% - 210px)
        +min($min-bg)
          +flexbox
          + .award-item
            margin-top: -100px
          .award-item-box
            width: calc(50% - 55px)
            +box-shadow(0 0 20px rgba(0,0,0,0.3))
            &::before, &::after
              content: ''
              position: absolute
              display: block
            &::before
              z-index: 5
              top: calc(50% - 10px)
              width: 20px
              height: 20px
              border-radius: 50%
              background-color: #DBEFE4
              border: 2px solid color(main-green)
            &::after
              top: calc(50% - 1px)
              width: 40px
              height: 2px
          &:nth-child(odd)
            +justify-content-start
            .award-item-box
              &::before
                right: -65px
              &::after
                right: -55px
                +h-gradient(rgba(color(main-green),0), color(main-green))
          &:nth-child(even)
            +justify-content-end
            .award-item-box
              &::before
                left: -65px
              &::after
                left: -55px
                +h-gradient(color(main-green), rgba(color(main-green),0))
        +max($max-lg)
          + .award-item
            &::before
              content: ''
              display: block
              margin: 0 auto
              width: 2px
              height: 45px
              background-color: color(main-green)
          .award-item-box
            +box-shadow(0 0 15px rgba(0,0,0,0.15))
        +max($max-xs)
          + .award-item
            &::before
              height: 30px
          .award-item-box
            min-height: 200px
            .pic
              width: 150px
              + .content
                width: calc(100% - 150px)
            .content
              padding: 15px 20px
              .title
                font-size: 16px
                &::after
                  margin: 10px 0
              .txt
                font-size: 14px
    &:last-child
      .list
        padding-bottom: 0

// manage
#about
  .table-wrapper
    + .table-wrapper
      margin-top: 35px
  .table-head
    + .table
      margin-top: 20px
    .title
      font-size: 30px
      line-height: 1
      color: #3C3C3C
    .txt
      font-size: 16px
      color: #646464
    +max($max-md)
      .title
        font-size: 28px
      .txt
        margin-top: 10px
    +max($max-sm)
      .title
        font-size: 25px
    +max($max-xs)
      .title
        font-size: 20px
    &:not(.alt)
      +min($min-lg)
        +flexbox
        +flex-wrap
        +align-items-end
        .title
          margin-right: 20px
    &.alt
      .txt
        margin-top: 15px
        line-height: 2
      +min($min-sm)
        .title
          font-size: 20px
      +max($max-xs)
        .title
          font-size: 18px
    &.alt-others
      ul
        li
          +min($min-md)
            +flexbox
            +flex-wrap
            +align-items-center
          + li
            margin-top: 30px
      .txt
        a
          text-decoration: underline
          &:hover
            color: color(bright-green)
        +min($min-md)
          margin-top: 0
          line-height: 1
          &::before
            content: '\e906'
            display: inline-block
            margin: 0 5px
            font-family: font(icon)
            font-size: 0.75em
        +max($max-xs)
          margin-top: 5px

// audit
.about-audit-section
  font-size: 16px
  line-height: 2
  + .about-audit-section
    margin-top: 15px
  .title
    font-size: 20px
    +max($max-xs)
      font-size: 18px
  .org
    ul
      +flexbox
      +align-items-center
      li
        +flexbox
        +align-items-center
        .btn
          border-radius: 10px
          font-size: 16px
          font-weight: 500
        &:not(:last-child)
          +flex-shrink(0)
          .btn
            +min($min-lg)
              width: 150px
              height: 80px
            +max($max-md)
              padding: 25px
        &:last-child
          .btn
            padding: 15px 25px
            background-color: rgba(color(main-green),.2)
            color: #323232
            line-height: 2
        + li
          &::before
            content: ''
            display: block
            margin: 0 10px
            background-color: rgba(color(main-green),.5)
      +min($min-sm)
        li
          + li
            &::before
              width: 50px
              height: 1px
              +max($max-md)
                width: 25px
      +max($max-xs)
        +flex-column
        li
          +flex-column
          + li
            &::before
              width: 1px
              height: 25px
              margin: 5px 0
  .indent
    padding-left: 2em

// linyuan
.categories
  +min($min-lg)
    +flexbox
    +flex-wrap
    +align-self-start
    margin-bottom: -55px
  .category
    +min($min-lg)
      margin-bottom: 55px
      &:not(.full)
        width: calc(100%/3 - 50px/3)
        margin-left: 25px
      &.full
        width: 100%
        + .category
          margin-left: 0
        .category-content
          +flexbox
          +flex-wrap
          ul
            width: calc(100%/3 - 20px)
            margin-right: 30px
            &:nth-child(3n+0)
              margin-right: 0
    +max($max-md)
      + .category
        margin-top: 50px
      &.full
        .category-content
          ul
            + ul
                li:first-child
                  .category-item
                    border-top: 1px solid #DCDCDC
    +max($max-xs)
      + .category
        margin-top: 35px
    .category-head
      margin-bottom: -30px
      .title
        width: 260px
        +btn-rounded(60px)
        margin: 0 auto
        font-size: 20px
        font-weight: 500
    .category-content
      background-color: #E7F4ED
      padding: 45px 25px 25px
      border: 1px solid color(main-green)
      border-radius: 10px
      +box-shadow(0 10px 20px rgba(0,0,0,.3))
      font-size: 16px
      ul
        padding-left: 25px
        li
          position: relative
          &::before
            content: '\e903'
            position: absolute
            top: 10px
            left: -25px
            display: block
            font-family: font(icon)
            color: color(main-green)
          .category-item
            display: block
            padding: 10px 0
            +transition-property(padding, color)
          a:hover
            color: color(main-green)
            padding-left: 10px
          + li
            .category-item
              border-top: 1px solid #DCDCDC

// resolution
.resolution-list
  .faq-box
    .faq-box-q
      .title
        &::before
          content: '\e918'
          font-family: font(icon)
          font-size: 1em
          font-weight: normal
          line-height: 40px
          +max($max-md)
            line-height: 35px