/* -------------------------------------------
 *  career
 * ------------------------------------------ */

.career-head
  +min($min-bg)
    padding: 0 35px
  .title
    font-size: 26px
    font-weight: 700
    text-align: center
  .txt
    margin-top: 20px
    font-size: 16px
    text-align: justify
    line-height: 2
  +max($max-sm)
    .title
      font-size: 22px
    .txt
      margin-top: 15px
  +max($max-xs)
    .title
      font-size: 20px
    .txt
      margin-top: 10px
.career-main
  margin: 70px 0 85px
  +max($max-lg)
    margin: 70px 0 50px
  +max($max-md)
    margin: 50px 0
  +max($max-sm)
    margin: 35px 0
  +max($max-xs)
    margin: 25px 0
  .career-main-section
    position: relative
    + .career-main-section
      margin-top: 10px
    .pic
      +animation-duration(1.5s)
    .content
      position: relative
      z-index: 1
      +flexbox
      +animation-delay(.5s)
      .title
        font-size: 26px
        font-weight: 700
        line-height: 1.3
        + .txt
          margin-top: 20px
      .txt
        font-size: 16px
        line-height: 2
        ul
          &.ns
            padding-left: 1.5em
            li
              &::before
                content: '\e90f'
                display: inline-block
                vertical-align: 4px
                width: 1.5rem
                margin-left: -1.5rem
                font-family: font(icon)
                font-size: 0.65rem
                color: color(main-green)
    &.top
      background-color: rgba(color(main-green),.2)
      .content
        +justify-content-start
    &.bottom
      background-color: rgba(0,95,144,.2)
      .content
        +justify-content-end
    +min($min-sm)
      .pic
        position: absolute
        bottom: 0
    +min($min-lg)
      .content
        .content-inner
          max-width: 410px
      &.top
        .content
          min-height: 375px
          padding-top: 80px
      &.bottom
        .content
          min-height: 395px
          padding-top: 60px
    +min($min-bg)
      &.top
        border-top-left-radius: 150px
        border-top-right-radius: 150px
        .pic
          right: 125px
        .content
          padding-left: 175px
          .txt
            font-size: 20px
      &.bottom
        border-bottom-left-radius: 150px
        border-bottom-right-radius: 150px
        .pic
          left: 130px
        .content
          padding-right: 115px
    +mm($max-lg, $min-lg)
      &.top
        border-top-left-radius: 50px
        border-top-right-radius: 50px
        .pic
          right: 50px
        .content
          padding-left: 50px
      &.bottom
        border-bottom-left-radius: 50px
        border-bottom-right-radius: 50px
        .pic
          left: 50px
        .content
          padding-right: 50px
    +mm($max-md, $min-sm)
      .pic
        width: 50%
      .content
        .content-inner
          max-width: 70%
      &.top
        border-top-left-radius: 25px
        border-top-right-radius: 25px
        .pic
          right: 25px
      &.bottom
        border-bottom-left-radius: 25px
        border-bottom-right-radius: 25px
        .pic
          left: 25px
    +mm($max-md, $min-md)
      .content
        padding: 50px
    +max($max-sm)
      .content
        padding: 25px
        .title
          font-size: 22px
          + .txt
            margin-top: 15px
    +max($max-xs)
      overflow: hidden
      .content
        .title
          font-size: 20px
          + .txt
            margin-top: 10px
      .pic
        padding: 0 15px
      &.top
        border-top-left-radius: 15px
        border-top-right-radius: 15px
      &.bottom
        border-bottom-left-radius: 15px
        border-bottom-right-radius: 15px
.career-foot
  text-align: center
  a
    display: inline-block
    img
      display: block
.fadeInLeftSmall
  +animation-name(fadeInLeftSmall)
.fadeInRightSmall
  +animation-name(fadeInRightSmall)
+keyframes(fadeInLeftSmall)
  from
    opacity: 0
    +translate3d(-25%, 0, 0)
  to
    opacity: 1
    +translate3d(0, 0, 0)

+keyframes(fadeInRightSmall)
  from
    opacity: 0
    +translate3d(25%, 0, 0)
  to
    opacity: 1
    +translate3d(0, 0, 0)