/* -------------------------------------------
 *  cases
 * ------------------------------------------ */

// cases list
.cases-group
  + .cases-group
    margin-top: 75px
  &:nth-child(odd)
    .cases-head
      &::before
        left: calc(50% + 25px)
        +skew(-35, 0)
  &:nth-child(even)
    .cases-head
      &::before
        right: calc(50% + 25px)
        +skew(35, 0)
.cases-head
  position: relative
  padding: 30px 0 40px
  font-weight: 700
  line-height: 1.3
  text-align: center
  +max($max-sm)
    padding: 25px 0 35px
  &::before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    display: block
    width: 280px
    background-color: rgba(color(main-green), .1)
  .cases-head-inner
    position: relative
    z-index: 1
  .title
    font-size: 30px
    +max($max-sm)
      font-size: 25px
    +max($max-xs)
      font-size: 22px
  .txt
    margin-top: 15px
    font-size: 16px
    &::before, &::after
      content: '/'
      color: color(main-green)
      margin: 0 0.5em
    +max($max-sm)
      margin-top: 10px
    +max($max-xs)
      margin-top: 5px
.cases-list
  .list-item
    font-weight: 700
    text-align: center
    color: #3C3C3C
    .pic
      position: relative
      overflow: hidden
      img
        +transition(transform .75s ease .1s)
      .pic-hover
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        +flexbox
        +flex-column
        +justify-content-center
        +align-items-center
        background-color: rgba(0,0,0,0.7)
        color: #ffffff
        font-weight: 400
        text-align: center
        opacity: 0
        +transition(opacity .5s ease-in-out)
        &::before, &::after
          content: ''
          display: block
          width: 100px
          height: 1px
          background-color: rgba(255,255,255,.3)
        &::before
          margin-bottom: 25px
        &::after
          margin-top: 25px
        p + p
          margin-top: 5px
        .en
          font-size: 16px
          text-transform: uppercase
        .zh
          font-size: 20px
    .caption
      margin-top: 20px
      line-height: 1
      .txt
        font-size: 16px
      .title
        margin-top: 15px
        font-size: 20px
        &::before, &::after
          content: ''
          display: inline-block
          vertical-align: middle
          width: 20px
          height: 1px
          background-color: #3C3C3C
        &::before
          margin-right: 0.5em
        &::after
          margin-left: 0.5em
        +max($max-sm)
          margin-top: 10px
          font-size: 18px
          &::before, &::after
            width: 12.5px
    a:hover
      .pic
        img
          +scale(1.05)
        .pic-hover
          opacity: 1
  &:not(.cases-slider)
    +min($min-sm)
      ul
        +flexbox
        +flex-wrap
        +justify-content-center
      .list-item
        margin: 45px 15px 0 0
    +min($min-xl2)
      .list-item
        width: calc(20% - 12px)
        &:nth-child(-n+5)
          margin-top: 0
        &:nth-child(5n+0)
          margin-right: 0
    +mm($max-xl, $min-bg)
      .list-item
        width: calc(25% - 45px/4)
        &:nth-child(-n+4)
          margin-top: 0
        &:nth-child(4n+0)
          margin-right: 0
    +mm($max-lg, $min-lg)
      .list-item
        width: calc(100%/3 - 10px)
        &:nth-child(-n+3)
          margin-top: 0
        &:nth-child(3n+0)
          margin-right: 0
    +mm($max-md, $min-sm)
      .list-item
        width: calc(50% - 15px/2)
        &:nth-child(-n+2)
          margin-top: 0
        &:nth-child(2n+0)
          margin-right: 0
    +max($max-xs)
      .list-item
        + .list-item
          margin-top: 50px
  &.cases-slider
    .slick-arrow
      .btn
        width: 80px
        height: 80px
        background-color: color(main-green)
        color: #ffffff
        &:hover
          background-color: color(bright-green)
      +min($min-xl2)
        &.slick-prev
          left: -105px
        &.slick-next
          right: -105px
      +max($max-xl)
        .btn
          width: 55px
          height: 55px
          font-size: 30px
      +mm($max-xl, $min-bg)
        &.slick-prev
          left: -80px
        &.slick-next
          right: -80px
      +max($max-lg)
        top: auto
        bottom: 0
        &.slick-prev
          left: calc(50% - 60px)
        &.slick-next
          right: calc(50% - 60px)
      +max($max-xs)
        .btn
          width: 45px
          height: 45px
          font-size: 24px
        &.slick-prev
          left: calc(50% - 50px)
        &.slick-next
          right: calc(50% - 50px)
    .list-item
      display: block !important

// case wrapper
.case-wrapper
  position: relative
  +min($min-xl2)
    &::before
      content: ''
      position: absolute
      top: 50px
      left: 100px
      right: 0
      bottom: 0
      display: block
      background-color: #F5F5F5
  .case-inner
    position: relative
    z-index: 1
    background-color: #F5F5F5
    +min($min-bg)
      +flexbox
      +align-items-start
  .case-sliders
    +min($min-xl2)
      width: 970px
    +mm($max-xl, $min-bg)
      width: 60%
    > div
      width: 100%
    .slick-item
      display: block !important
    .slider-main
      .slick-arrow
        .btn
          font-size: 30px
          +box-shadow(0 10px 20px rgba(0,0,0,.3))
        &.slick-prev
          left: -30px
        &.slick-next
          right: -30px
        +max($max-sm)
          top: calc(50% - 20px)
          .btn
            width: 40px
            height: 40px
            font-size: 25px
            +box-shadow(0 5px 10px rgba(0,0,0,.15))
          &.slick-prev
            left: -20px
          &.slick-next
            right: -20px
        +max($max-xs)
          top: calc(50% - 15px)
          .btn
            width: 30px
            height: 30px
            font-size: 20px
          &.slick-prev
            left: -15px
          &.slick-next
            right: -15px
    .slider-thumb
      +min(1681px)
        padding: 40px 0 40px 120px
      +mm($max-xl2, $min-bg)
        padding: 40px 0 40px 40px
      +max($max-lg)
        padding: 50px
      +max($max-md)
        padding: 25px
      +max($max-xs)
        padding: 15px
      .slick-list
        +max($max-xl2)
          margin: 0 -10px
        +max($max-sm)
          margin: 0 -5px
      .slick-track
        margin: 0
        +min(1681px)
          float: right
      .slick-slide
        +max($max-xl2)
          margin: 0 10px
        +max($max-sm)
          margin: 0 5px
      .slick-item
        overflow: hidden
        .thumb
          cursor: pointer
          width: 100%
          padding-bottom: 100%
          +transition(opacity .3s ease)
          &:hover
            opacity: .75
          +min(1681px)
            float: right
            width: 150px
            padding-bottom: 150px
  .case-profile
    color: #3C3C3C
    +min($min-xl2)
      width: calc(100% - 970px)
      margin-top: 50px
      padding: 90px 65px 75px
    +max($max-xl)
      padding: 50px
    +max($max-lg)
      padding-top: 0
    +max($max-md)
      padding-top: 25px
    +max($max-sm)
      padding: 25px
    +max($max-xs)
      padding: 15px 15px 35px
    .title
      font-size: 40px
      font-weight: 700
      line-height: 1.3
      &::after
        content: ''
        display: block
        width: 100px
        height: 1px
        margin-top: 35px
        background-color: #C8C8C8
      +max($max-lg)
        font-size: 35px
        &::after
          margin-top: 25px
      +max($max-xs)
        font-size: 28px
        &::after
          margin-top: 20px
    .txt
      margin-top: 35px
      font-size: 16px
      line-height: 2
      .features
        margin: 2em 0
        span
          &::before
            content: '\25b8'
      +max($max-lg)
        margin-top: 25px
        .features
          margin: 1.5em 0
      +max($max-xs)
        margin-top: 15px
    .map
      margin-top: 25px
      img
        display: block
    .contact
      margin-top: 55px
      font-size: 20px
      font-weight: 700
      ul
        li + li
          margin-top: 20px
      a:hover
        color: color(light-green)
      .icon
        width: 40px
        height: 40px
        margin-right: 10px
        vertical-align: -4px
        font-size: 22px
        font-weight: normal
      +max($max-lg)
        margin-top: 40px
        font-size: 18px
        ul
          li + li
            margin-top: 15px
        .icon
          width: 35px
          height: 35px
          font-size: 18px
      +max($max-xs)
        font-size: 16px
        ul
          li + li
            margin-top: 10px
        .icon
          margin-right: 5px
    .buttons
      margin-top: 30px
      .btn
        font-size: 16px
        font-weight: 700
        .icon
          margin-right: 10px
          font-size: 26px
        &:not(:hover)
          color: #3C3C3C
          background-color: #ffffff
          .icon
            color: #787878
      +min($min-sm)
        ul
          +flexbox
          +flex-wrap
          li
            + li
              margin-left: 20px
      +max($max-xs)
        ul
          li
            + li
              margin-top: 10px
        .btn
          width: 100%

// case popup
.case-popup
  position: fixed
  z-index: 1001
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  .case-popup-fade
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,.2)
  .case-popup-wrapper
    position: relative
    z-index: 1
    width: 100%
    max-width: 700px
    margin: 0 auto
    +min($min-sm)
      top: 50%
      +translateY(-50%)
    .case-popup-close
      position: absolute
      top: -35px
      right: -35px
      .btn
        width: 70px
        height: 70px
        font-size: 22px
      +max($max-xl)
        top: -25px
        right: -25px
        .btn
          width: 50px
          height: 50px
          font-size: 16px
      @media screen and (max-width: 700px)
        top: 0
        right: 0
        .btn
          border-radius: 0
      +max($max-xs)
        .btn
          width: 35px
          height: 35px
          font-size: 12px
    .case-popup-box
      padding: 75px 50px
      background-color: #ffffff
      color: #3C3C3C
      font-weight: 700
      +min($min-sm)
        max-height: calc(100vh - 100px)
        +box-shadow(0 10px 20px rgba(0,0,0,.3))
      @media screen and (min-width: 701px)
        border-radius: 20px
      @media screen and (max-height: 900px)
        overflow: auto
        padding: 50px
      +max($max-xs)
        height: 100vh
        padding: 35px 20px
    .case-popup-inner
      +flexbox
      +flex-column
      +justify-content-center
      width: 100%
      max-width: 450px
      min-height: 100%
      margin: 0 auto
    .head
      text-align: center
      .txt
        margin-top: 15px
        font-size: 18px
        +max($max-xs)
          margin-top: 10px
          font-size: 16px
    .content
      margin-top: 35px
      font-size: 16px
      +max($max-xs)
        margin-top: 25px
    .form
      .form-row
        + .form-row
          margin-top: 20px
          &.action
            margin-top: 40px
            text-align: center
        &.action
          .btn
            width: 160px
            height: 60px
            border-radius: 20px
        +max($max-xs)
          + .form-row
            margin-top: 10px
            &.action
              margin-top: 20px
          &.action
            .btn
              width: 150px
              height: 50px
              border-radius: 10px
      .form-group
        position: relative
        &.for-input
          +flexbox
          +flex-row-reverse
          padding: 0 20px
          border-radius: 10px
          background-color: #F0F0F0
          .form-control
            display: block
            width: calc(100% - 75px)
            height: 60px
            -webkit-appearance: none
            -moz-appearance: none
            appearance: none
          .form-label
            +flexbox
            +align-items-center
            width: 75px
            span
              color: #FF0000
          &.has-code
            .code
              position: absolute
              top: 10px
              right: 20px
              display: block
              height: 40px
          +max($max-xs)
            padding: 0 15px
            .form-control
              height: 50px
            &.has-code
              .code
                top: 5px
                right: 10px
        &.for-radio, &.for-checkbox
          display: inline-block
          margin-right: 20px
          padding-left: 30px
          +max($max-xs)
            margin-top: 5px
            margin-bottom: 5px
          .form-label
            &::before, &::after
              content: ''
              position: absolute
              display: block
              cursor: pointer
            &::before
              top: 0
              left: 0
              background-color: #F0F0F0
              border: 1px solid #969696
            &::after
              opacity: 0
              +transition(opacity .1s ease)
          .form-control
            display: none
            &:checked
              + .form-label
                &::after
                  opacity: 1
        &.for-radio
          .form-label
            &::before
              top: 2px
              width: 20px
              height: 20px
              border-radius: 50%
            &::after
              top: 7px
              left: 5px
              width: 10px
              height: 10px
              border-radius: 50%
              background-color: color(main-green)
              opacity: 0
        &.for-checkbox
          .form-label
            &::before
              top: 4px
              width: 16px
              height: 16px
              border-radius: 5px
            &::after
              top: 4px
              left: 1px
              content: '\e907'
              font-family: font(icon)
              font-size: 15px
              line-height: 1
              color: color(main-green)
            a
              text-decoration: underline
              &:hover
                color: color(main-green)

// cases annual
.annual-slider
  .slick-slide
    +transition(transform .3s ease)
    +min($min-xl2)
      padding: 0 25px
    +mm($max-xl, $min-sm)
      padding: 0 15px
    .slick-item
      position: relative
      color: #3C3C3C
      .title
        font-size: 20px
        font-weight: 700
        line-height: 1.3
      .cover
        position: relative
        padding-top: 60px
        cursor: pointer
        +min($min-sm)
          z-index: 1
        +max($max-xl)
          padding-top: 40px
        .year
          position: absolute
          top: 0
          left: calc(50% - 60px)
          width: 120px
          height: 120px
          font-family: font(oswald)
          font-size: 40px
          font-weight: 700
          line-height: 1
          +max($max-xl)
            left: calc(50% - 40px)
            width: 80px
            height: 80px
            font-size: 25px
        .pic
          overflow: hidden
          border-radius: 10px
          +min($min-xl2)
            +box-shadow(0 10px 20px rgba(0,0,0,.3))
          +mm($max-xl, $min-sm)
            +box-shadow(0 5px 10px rgba(0,0,0,.15))
          +min($min-sm)
            border: 4px solid #ffffff
        .title
          margin-top: 30px
          text-align: center
          +max($max-xs)
            margin-top: 20px
      .content
        position: absolute
        top: 60px
        left: 0
        bottom: 0
        right: -50px
        visibility: hidden
        opacity: 0
        +max($max-xl)
          top: 40px
          right: -40px
        +max($max-xs)
          right: 0
        .content-inner
          padding-left: 20px
          height: 100%
          .mCSB_container
            margin-right: 30px
        .txt, .button
          margin-top: 15px
        .txt
          font-size: 16px
          line-height: 2
        .button
          font-size: 16px
          font-weight: 700
          .btn
            +box-shadow(0 10px 10px rgba(0,0,0,.15))
            -webkit-mask-image: none
            &:not(:hover)
              color: #3C3C3C
        .close
          position: absolute
          z-index: 2
          top: 0
          right: 15px
          font-size: 20px
          color: color(main-green)
          .btn
            opacity: .5
            +transition(opacity .3s ease)
            &:hover
              opacity: 1
      +max($max-xs)
        .cover, .content
          +transition-property(opacity, visibility)
          +transition-duration(.3s)
          +transition-timing-function(ease)
    &.opened
      .slick-item
        .cover
          pointer-events: none !important
        .content
          opacity: 1
          visibility: visible
        +min($min-sm)
          .content
            +translateX(calc(100% - 30px))
            +transition-property(opacity, visibility, transform)
            +transition-duration(.3s)
            +transition-timing-function(ease)
        +max($max-xs)
          .cover
            visibility: hidden
            opacity: 0
.annual-arrows
  +min($min-md)
    .arrow
      position: absolute
      top: calc(50% - 60px + 75px/2)
      .btn
        width: 120px
        height: 120px
        font-size: 40px
      &.arrow-prev
        left: -60px
        .btn
          .icon
            margin-left: 1em
      &.arrow-next
        right: -60px
        .btn
          .icon
            margin-right: 1em
      +max($max-xl)
        top: calc(50% - 50px + 75px/2)
        .btn
          width: 100px
          height: 100px
          font-size: 35px
        &.arrow-prev
          left: -50px
        &.arrow-next
          right: -50px
  +max($max-sm)
    +flexbox
    +justify-content-center
    margin-top: 35px
    .arrow
      margin: 0 10px
      .btn
        width: 50px
        height: 50px
        font-size: 16px

// cases calculation
.calc-form
  .form-row
    +min($min-bg)
      margin: 0 -30px
    + .form-row
      &.action
        margin-top: 80px
        +max($max-lg)
          margin-top: 50px
        +max($max-xs)
          margin-top: 35px
    .form-group
      position: relative
      +min($min-bg)
        margin: 0 30px
      .form-label
        +min($min-sm)
          width: 200px
          padding-right: 25px
        &::before
          +flex-shrink(0)
          content: '\e907'
          +flexbox
          +justify-content-center
          +align-items-center
          width: 40px
          height: 40px
          margin-right: 20px
          background-color: color(main-green)
          border-radius: 50%
          color: #ffffff
          font-family: font(icon)
          font-size: 18px
          +max($max-xs)
            width: 30px
            height: 30px
            margin-right: 10px
            font-size: 12px
      .form-controls
        +min($min-sm)
          width: calc(100% - 190px)
        .form-unit
          +flex-shrink(0)
          width: 45px
          margin: 0 5px
          padding-left: 5px
        &:not(.for-select)
          .form-control
            +flex(auto)
            width: calc(100% - 45px)
    &.action
      .btn
        width: 320px
        +btn-rounded(140px)
        font-size: 30px
        font-weight: 700
        img
          display: block
          width: 60px
          opacity: .5
          margin-right: 25px
        +max($max-lg)
          width: 250px
          +btn-rounded(85px)
          font-size: 25px
          img
            width: 45px
            margin-right: 15px
        +max($max-xs)
          width: 180px
          +btn-rounded(60px)
          font-size: 20px
          img
            width: 30px
.btn-calc
  position: relative
  width: 200px
  height: 60px
  +justify-content-start
  padding: 0 25px
  border-radius: 10px
  font-size: 16px
  +max($max-sm)
    margin: 0 auto
  +max($max-xs)
    height: 55px
  &::after
    content: '\e903'
    position: absolute
    top: 15px
    right: 25px
    display: block
    font-family: font(icon)
    font-size: 30px
    font-weight: normal
    line-height: 1
    +max($max-xs)
      font-size: 25px
  img
    display: block
    width: 27px
    margin-right: 10px
    opacity: .5