/* -------------------------------------------
 *  cases-calculation
 * ------------------------------------------ */
@mixin flex-box {
  display:flex;flex-wrap:wrap;
}
@mixin img-set {
  width:100%;height:auto;display:block;
}
@mixin box-radius($bgcolor, $radius ) {
    background-color: $bgcolor;
    border-radius:$radius;
}
@mixin btn-set($bgcolor, $radius, $color ) {
  background-color: $bgcolor;
  border-radius:$radius;
  color:$color;
  display:block;
}

.fs_20{font-size:20px;}
.fs_16{font-size:16px;}

.w-100{
  width: 100% !important;
}

.fc_red{color:#C03333;}

.calculate_wrap{@include flex-box;}

.calculate_panel{
  width:calc(100% / 3);max-width:455px;padding-right:75px;color:#323232;
  .title{text-align:center;padding-bottom:20px;width:100%;font-weight: bold;}
  .form-row{width:100%;
      .form-group{display:flex;@include box-radius(#F0F0F0, 10px);padding:20px 25px;margin-bottom:20px;align-items:center;
        .panel_title{min-width:80px;}
        input{width:calc(100% - 100px);}
        span{font-weight:bold;}
        .for-select{width:calc(100% - 80px);
          .bootstrap-select{width:100%;
            .dropdown-toggle{background: none;border: none;padding:0;margin-top:-7px;height:25px;
              .filter-option-inner-inner{font-weight:bold;}
              .filter-option{padding:0 0 0 15px;
                &::after{display:block;content: '\e901';color: #009043;font-family: "icomoon" !important;font-size: 25px;
                  transition: transform 0.3s ease;position: absolute;right:0;padding:0;top:-7px;}
              }
            }
            .dropdown-toggle::after {display: none;}
            .dropdown-menu{background:#F0F0F0;border:none;box-shadow:0px 0px 8px #747474;
              .dropdown-item:hover {
                color: #ffffff;
                background-color: #69B72D; }
              .dropdown-item.active,.dropdown-item:active{
                background-color: #009043;
                color: #ffffff; }
            }
          }
          .bootstrap-select.show > .dropdown-toggle .filter-option::after{transform: rotate(180deg);}
        }
        &:nth-last-of-type(1){padding:10px 25px;margin-bottom:40px;}
        .verifycode{min-width:115px;cursor: pointer;
          img{width:100%;height:auto;}
        }

      }
      .countBtn{@include btn-set(#009043, 10px, #fff);text-align:center;width:180px;height:60px;line-height: 60px;margin:0 auto;cursor: pointer;
        &:hover{background-color:#69B72D;transition:background-color .3s linear;}
      }
  }
}
.calculate_data{color:#323232;
  .calculate_results{display:none;}
  width:calc(100% / 3 * 2);max-width:945px;padding-left:75px;border-left:1px solid #DCDCDC;
  .title{width:100%;font-weight:bold;padding-bottom:25px;
    .text{width:100%;display:block;font-weight:normal;line-height: 1.5em;padding-top:15px;}
  }
  .loan-zoom{width:100%;max-width:865px;margin-bottom:50px;
    .loan-table{width:100%;table-layout:fixed;font-size:16px;
      th{background:#313E46;border-width:1px;border-style: solid;border-color:#313E46;color:#fff;font-weight:500;line-height:24px;padding:10px 0;}
      th:nth-of-type(even){background:#009043;border-color:#009043;}
      tr:nth-child(odd){background:#E7F9EF;}
      tr:nth-child(even){background:#fff;}
      td{border:1px solid #009043;text-align: center; vertical-align:middle;line-height:24px;padding:10px 0;}
      .totalpay{text-align:right;font-size:20px;font-weight:bold;padding:15px 0;
        span{padding-right:15px;}
      }
    }
  }
  .loan-rule{width:100%;max-width:865px;padding-bottom:50px;
    .rule-table{font-size:16px;width:100%;table-layout:fixed;
      th,td{border:1px solid #009043;padding:10px 15px 10px 20px;}
      th{width:130px;padding:10px 10px 10px 20px;text-align:left;vertical-align: middle;background:#E7F9EF;}
    }
  }
}

@media(max-width:1100px){
  .calculate_panel{padding-right:35px;}
  .calculate_data{padding-left:35px;}
}
@media(max-width:992px){
  .calculate_panel{width:100%;max-width:100%;padding-right:0px;padding-bottom:35px;
    .form-row{@include flex-box; justify-content: space-between;
      .form-group{width:calc(50% - 10px);
        &:nth-last-of-type(1){margin-bottom:20px;}
      }
    }
  }
  .calculate_data{width:100%;max-width:100%;border-left:none;border-top:1px solid #DCDCDC;padding-left:0px;padding-top:35px;}
}
@media(max-width:576px){
  .fs_20{font-size:17px;}
  .fs_16{font-size:14px;}

  .calculate_panel{
    .form-row{
      .form-group{width:100%;padding:15px 15px;
        .for-select{
          .bootstrap-select{
            .dropdown-toggle{
              .filter-option{font-size:14px;line-height:27px;
                &::after{top:0;}
              }
            }
            .dropdown-menu{font-size:14px;}
          }
        }
       &:nth-last-of-type(1){margin-bottom:30px;padding:10px 15px;}
      }
      .countBtn{width:130px;height:45px;line-height:45px;}
    }
  }

  .calculate_data{
    .title{padding-bottom:15px;}
    .loan-zoom{margin-bottom:30px;overflow-x:auto;
      .loan-table{font-size:14px;
        .totalpay{font-size:18px;}
      }
      .table-scroll{width:calc(100% + 17px);height:520px;overflow:auto;}
    }
    .loan-rule{padding-bottom:30px;
      .rule-table{font-size:14px;
        th{width:110px;padding:10px;}
        td{padding:10px;}
      }
    }
  }
}

@media(max-width:375px){
  .fs_20{font-size:16px;}
  .fs_16{font-size:13px;}
  .calculate_panel{
    .form-row{
      .form-group{
        .for-select{
          .bootstrap-select{
            .dropdown-toggle{
              .filter-option{font-size:13px;line-height:27px;}
            }
            .dropdown-menu{font-size:13px;}
          }
        }
      }
    }
  }

  .calculate_data{
    .loan-zoom{
      .loan-table{font-size:13px;min-width:335px;
        .totalpay{font-size:16px;}
      }
      .table-scroll{width:100%;height:380px;min-width:335px;}
    }
    .loan-rule{padding-bottom:30px;
      .rule-table{font-size:13px;
        th{width:100%;display:block;border-bottom:none;}
        tr:nth-last-of-type(1){border-bottom:1px solid #009043;}
        td{padding:10px;border-bottom:none;display:block;width:100%;
          &.border-clear{border-top:none;padding-top:0;}
        }
      }
    }
  }

}