/* -------------------------------------------
 *  customer-construction
 * ------------------------------------------ */
$fs_30:30px;
.fs_30{font-size:30px;}

@mixin transition-set($element) {
  transition: $element .3s linear;
}

.bg-gray{background:#F0F0F0;}

.data-row{font-family:"Noto Sans TC";
  @include box-radius(#fff, 20px);
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  width:100%;height:auto;
  margin-bottom:60px;
  padding:60px 40px 60px 55px;
  display:flex;flex-wrap: wrap;
  .data-box{width:28%;max-width:360px;margin-right:6%;float:left;
    .title{color:#3C3C3C;font-weight: bold;padding-bottom:15px;line-height:30px;}
    .subtitle{font-weight:bold;line-height: 1em;padding:15px 0 25px 0;}
    .tag{color:#009043;font-weight:bold;padding:25px 0 20px 0;line-height:25px;
      span{color:#323232;font-weight:normal;}
      img{max-width:32px;@include img-set;float:left;margin-right:15px;}
      &.sub{padding:0 0 25px 42px;background:url(images/static/construction/icon-cathay.png) left 3px no-repeat;background-size:27px auto;
      }
      &.sub2{padding:0 0 15px 42px;background:url(images/static/construction/icon-company-s.png) left 3px no-repeat;background-size:27px auto;}
      &.sub3{padding:0 0 0 42px;background:url(images/static/construction/icon-company-s.png) left 3px no-repeat;background-size:27px auto;}
    }
    .text{color:#323232;line-height:2em;}
    .rmgtest{@include btn-set(#fff, 8px, #323232);border:1px solid #808080;padding:22px 15px;margin-top:45px;
      .text{color:#323232;line-height:1.75em;
        .tit{font-weight:bold;}
      }
    }
  }
  .remark{padding-top:20px;position: relative;}
  @media(max-width:992px){
    .remark{padding-top:0px;margin-top:-25px;padding-bottom:25px;}
  }
  @media(max-width:576px){
    .remark{margin-top:-10px;}
  }

  .hr{height:1px;background:#DCDCDC;width:100%;display:block;margin-top:25px;}

  .photo-box{width:66%;max-width:865px;float:left;display:flex;
    .set{padding:0 20px;float:left;}
    .set-all{padding:0 0 0 30px;float:left;}
    .set01{padding:0 20px 0 30px;float:left;}
    img{border-radius: 15px;box-shadow: 0px 10px 10px rgba(0,0,0,.3);@include img-set;
    }
    .illustrate{display:block;text-align:center;font-weight:bold;padding-top:25px;line-height: 1.3em;}
    .set02{padding:0 15px 0 30px;float:left;}
    .set03{padding:0 0 0 15px;float:left;}
    .set04{padding:0 15px;float:left;}
    .set05{padding:0  0 0 20px;float:left;}
    .set06{padding:0 7px 0 30px;float:left;}
    .set07{padding:0 7px 0 8px;float:left;}
    .set08{padding:0 0 0 30px;max-width:395px;float:left;}
    .img-shadowclear{
      img{box-shadow:none;}
    }

    /*資料圖片比例*/
    .img-0{width:100%;}
    .img-half{width:50%;}
  }
}

@media(max-width:1500px){
  .data-row{
    .data-box{
      &.d-more{width:31%;margin-right:3%;}
    }
  }
}
@media(max-width:1400px){
  .data-row{
    .data-box{
      &.d-more{width:34%;margin-right:0%;}
    }
  }
}
@media(max-width:1300px){
  .data-row{
    .data-box{margin-right:3%;@include transition-set(margin-right);
      &.d-more{width:100%;max-width:100%;
        .d-half{width:50%;padding-right:15px;float:left;}
      }
    }
    .photo-box{width:69%;@include transition-set(width);
      &.p-more{width:100%;max-width:100%;margin-top:25px;flex-wrap:wrap;
        .set02{padding:0 45px 0 0;}
      }
      .set08{padding:0 30px 0 0;max-width:auto;}
    }
  }
}
@media(max-width:1200px){
  .fs_30{font-size:28px;}
  .data-row{padding:45px 25px 45px 40px;
    .data-box{margin-right:2%;
      .tag{padding:15px 0 10px 0;}
    }
    .hr{margin-top:15px;}
    .photo-box{width:70%;}
  }
}

@media(max-width:993px){
  .data-row{padding:45px 25px 0 40px;
    .data-box{width:100%;max-width:100%;
      .rmgtest{margin-top:30px;}
    }
    .photo-box{width:100%;max-width:100%;margin-top:25px;padding-bottom:45px;
      .set{padding:0 40px 0 0;}
      .set-all{padding:0 15px 0 0;}
      .set01{padding:0 50px 0 0;}
      .set02{padding:0 45px 0 0;}
      .set03{padding:0 17px 0 0;}
      .set05{padding:0 20px 0 0;}
      .set06{padding:0 22px 0 0;}
      .set07{padding:0 22px 0 0;}
    }
  }
}
@media(max-width:769px){
  .fs_30{font-size:24px;}

  .data-row{
    .data-box{
      &.d-more{
        .d-half{width:100%;}
      }
    }
    .photo-box{
      .set,.set03,.set04,.set05,.set06,.set07{padding:0 10px 0 0;}
      .set01,.set02{padding:0 20px 0 0;}
      &.p-more{
        .set02{padding:0 25px 0 0;}
        .set03{padding:0;}
      }
    }
  }
}

@media(max-width:630px){
  .data-row{
    .photo-box{
      .img-3{width:33.8%;}
    }
  }
}
@media(max-width:577px){
  .fs_30{font-size:20px}

  .data-row{padding:30px 15px 0 25px;margin-bottom:30px;
    .data-box{
      .rmgtest{margin-top:15px;padding:15px 10px;}
      .tag{&.sub{padding:0 0 15px 42px;}}
      .subtitle{padding:10px 0 15px 0;}

    }
    .photo-box{padding-bottom:25px;flex-wrap:wrap;
      .set,.set-all,.set01,.set02,.set03,.set04,.set05{padding:0 10px 0 0;margin:0 auto;}
      .set06{padding:0 14px;margin:0 auto;}
      .set07{padding:0;margin:0 auto;}
      &.p-more{
        .set02,.set03{padding:0 10px 0 0;}
        .pd-top{padding-top:25px;margin:0 auto;}
      }
      .set08{padding-right:10px;margin:0 auto;}
      .set09{padding-top:25px;margin:0 auto;}
      .pd-top{padding-top:25px;margin:0 auto;}
      .img-half{width:100%;}
    }
  }
}
@media(max-width:380px){
  .data-row{
    .photo-box{
      .set06{padding:0;max-width:257px;}
    }
  }
}
@media(max-width:376px){
  .data-row{padding:25px 15px 0 15px;
    .data-box{
      .title{padding-bottom:0;}
      .tag{span{display:block;}}

  }
    .photo-box{margin-top:15px;
      .set,.set-all,.set01,.set02,.set03,.set04,.set05,.set08{padding-right:0;}
      .illustrate{padding-top:15px;font-size:15px;}
      &.p-more{
        .set02,.set03{padding-right:0;}
      }
      .set09,.pd-top{padding-top:20px;}
    }
  }

}


/* -------------------------------------------
 *  customer-construction-waterproof
 * ------------------------------------------ */

.d-title{width:100%;text-align: center;font-weight:bold;line-height:1em;
  &::after{content:"";display:block;background:url(images/static/construction/decoration-line.png) center center;width:125px;height:3px;margin:30px auto 0 auto;}
}
.decoration{width:125px;margin:0 auto;}

.photo-100{width:100%;padding-top:30px;display:flex;
  .set{float:left;
    img{@include img-set;border-radius: 15px;box-shadow: 0px 10px 10px rgba(0,0,0,.3);}
    .img-text{padding-top:25px;display:block;line-height:1.3em;text-align:center;width:100%;font-weight:bold;}
    &.img-shadowclear{
      img{box-shadow:none;}
    }
  }
  .img-text{padding-top:25px;display:block;line-height:1.3em;text-align:center;width:100%;font-weight:bold;}
  .set01{padding:0 15px 0 30px;max-width:645px;}
  .set02{padding:0 30px 0 15px;max-width:645px;}
  .set03{padding:0 10px 0 30px;}
  .set04{padding:0 10px;}
  .set05{padding:0 30px 0 10px;}
  .set06{padding:0 10px 0 7px;}
  .set07{padding:0 7px 0 10px;}
  .img-half{width:50%;}
  .pd-top{margin-top:25px;}

  &.f-wrap{flex-wrap:wrap;}

}

@media(max-width:993px){
  .photo-100{padding-bottom:45px;  }
}
@media(max-width:769px){
  .photo-100{
    .set01{padding:0 15px;}
    .set02{padding:0 15px;}
  }

}
@media(max-width:577px){
  .d-title{
      &::after{width:70px;background-size:100% auto;}
    }
  .photo-100{flex-wrap: wrap;padding-bottom:25px;
    .set{margin:auto;
      .img-text{padding-top:15px;}
    }
    .set01,.set02,.set03,.set04,.set05,.set06,.set07{padding:0 10px 0 0;}
    .set05{margin:0 auto;}
    .img-half{width:100%;}
    .m-top{margin-top:25px}
  }
}
@media(max-width:376px){
  .d-title::after{margin-top:15px;}
  .photo-100{padding-top:20px;
    .set{
      .img-text{font-size:15px;}
    }
    .set01,.set02,.set03,.set04,.set05,.set06,.set07{padding-right:0;}
  }

}

/* -------------------------------------------
 *  customer-construction-renovation
 * ------------------------------------------ */
 .d-explain{width:auto;margin:30px auto 0 auto;
  .tag{color:#009043;font-weight:bold;padding:25px 0 20px 0;line-height:25px;display:inline-block;
    span{color:#323232;font-weight:normal;}
    img{max-width:32px;@include img-set;float:left;margin-right:15px;}
    &.sub{padding:0 0 0 37px;background:url(images/static/construction/icon-cathay.png) left 3px no-repeat;background-size:27px auto;margin-right:30px;
    }
    &.sub2{padding:0 0 0 37px;background:url(images/static/construction/icon-company.png) left 0 no-repeat;background-size:30px auto;}
  }
 }

 @media(max-width:1320px){
  .d-explain2{
    .tag{margin-left:30px;
      &.sub{margin-right:0;}
      &.sub2{margin-right:0;margin-top:15px;}
   }
  }
 }
 @media(max-width:1020px){
  .d-explain{
    .tag{margin-left:30px;
      &.sub{margin-right:0;}
      &.sub2{margin-right:0;margin-top:15px;}
   }
  }
 }
 @media(max-width:577px){
  .d-explain{
    .tag{margin-left:0px;}
  }
 }
 @media(max-width:376px){
  .d-explain{
    .tag{
      span{display:block;}
    }
  }

 }

 /* -------------------------------------------
 *  customer-construction-electro
 * ------------------------------------------ */
 .exectro-row{
  @include box-radius(#fff, 20px);
  box-shadow: 0px 10px 10px rgba(0,0,0,.2);
  width:100%;height:auto;
  margin-bottom:60px;
  padding:60px 50px 55px 55px;
  display:flex;
  .script{
      .label{color:#3C3C3C;padding-bottom:30px;line-height: 1.2em;font-weight:bold;}
      p{color:#323232;padding-bottom:25px;display:flex;line-height:1.75em;
        &:before{display:block;float:left;content:"●";color:#009043;font-size:16px;height:100%;margin-right:5px;}
      }
    }
  .imgbox{
    img{@include img-set;box-shadow: 0px 10px 10px rgba(0,0,0,.2);border-radius: 15px;}
    .text{display:block;color:#323232;font-weight:bold;padding-top:30px;}
    .img-shadowclear{
      img{box-shadow:none;}
    }
  }
  &.box-1{
    .script{max-width:375px;width:27%;}
    .imgbox{max-width:925px;width:73%;padding-left:5%;
      .ats{padding:0 15px;
      }
      .ats-01{max-width:389px;width:47%;float:left;text-align:center;}
      .ats-02{max-width:451px;width:53%;float:left;}
      .ats-03{max-width:356px;width:53%;padding-top:20px;float:left;}
    }
  }
  &.box-2{
    .script{max-width:645px;width:49%;padding-right:1.5%;
      .imgbox{width:100%;display:flex;flex-wrap:wrap;
        .img-half{width:50%;text-align:center;padding:0 10px;}
        .img-half:nth-of-type(3),.img-half:nth-of-type(4){padding-top:20px;}
        .text{padding-top:20px}
      }
    }
    .imgbox{max-width:650px;width:51%;
      .img-w100{width:100%;text-align:center;}
    }
  }
 }
 @media(max-width:1400px){
  .exectro-row{
    &.box-2{
      .script{
        .label{padding-bottom:20px;}
        p{padding-bottom:15px;}
        .imgbox{
          .text{padding-top:5px;}
          .img-half:nth-of-type(3),.img-half:nth-of-type(4){padding-top:5px;}

        }
      }
    }
  }
 }
 @media(max-width:1100px){
  .exectro-row{
    &.box-2{
      .script{
        .imgbox{width:92%;margin:0 auto;}
      }
      .imgbox{
        .text{padding-top:15px;}
      }
    }
  }
 }
 @media(max-width:993px){
  .exectro-row{flex-wrap: wrap;padding:45px 35px 40px 40px;
    &.box-1{
      .script{width:100%;max-width:100%;}
      .imgbox{width:100%;padding-left:0;}
    }
    &.box-2{
      .script{width:100%;max-width:100%;padding-right:0;
        .imgbox{max-width:625px;width:100%;}
      }
      .imgbox{width:100%;margin:25px auto 0 auto;}
    }
  }
 }
 @media(max-width:577px){
  .exectro-row{padding:30px 20px;
    .script {
      .label{padding-bottom:20px;}
      p{padding-bottom:15px;}
    }
    .imgbox{.text{padding-top:15px;}}
    &.box-1{
      .imgbox{
        .ats{padding:0 10px;}
        .ats-03{padding:20px 10px 0 10px;}
      }
    }
    &.box-2{
      .script{
        .imgbox{
          .text{padding-top:15px;}
        }
      }
    }
  }
 }
 @media(max-width:480px){
  .exectro-row{padding:25px 15px;
    &.box-1{
      .imgbox{
        .ats-01,.ats-02,.ats-03{width:100%;text-align:center;}
        .ats-02{padding-top:15px;}
      }
    }
    &.box-2{
      .script{
        .imgbox{
          .img-half{width:100%;padding:0;}
          .img-half:nth-of-type(2),.img-half:nth-of-type(3),.img-half:nth-of-type(4){padding-top:15px;}
        }
      }
      .imgbox{margin:15px auto 0 auto;}
    }
  }
 }

 /* -------------------------------------------
 *  customer-construction-drainage
 * ------------------------------------------ */

.photo-100{
  .itembox{max-width:1220px;width:100%;@include flex-box;margin:0 auto;justify-content: space-between;
    .item{
      img{border-radius: 15px;box-shadow: 0px 10px 10px rgba(0,0,0,.3);@include img-set;}
      &.item-03{max-width:715px;width:58.6%;}
      &.item-04{max-width:485px;width:39.75%;
        img{margin-bottom:45px;}
      }
      &.item-05{max-width:771px;width:63.2%;}
      &.item-06,&.item-07{width:36.8%;
        p{
          &:before{font-size:14px;}
        }
        p:nth-of-type(1){padding-bottom:50px;}
      }
      &.item-07{padding-right:30px;
        p:nth-of-type(1){padding-bottom:0px;}
      }
      p{color:#323232;padding-bottom:15px;display:flex;line-height:1.75em;margin-left:20px;font-weight:bold;
        &:before{display:block;float:left;content:"●";color:#009043;font-size:16px;height:100%;margin-right:5px;}
      }
    }
    .item-01{width:65%;max-width:792px;
      img{border-radius: 15px 0 0 15px;}
    }
    .item-02{width:33.7%;max-width:411px;
      img{border-radius: 0 15px 15px 0;}
    }
    img{box-shadow: 0px 10px 10px rgba(0,0,0,.3);@include img-set;}
    .item-03{max-width:445px;width:36.5%;img{border-radius: 15px}}
    // .item-04{max-width:381px;width:31.23%;padding-left:20px;
    //   img{border-radius: 15px}
    // }
    .item-05{max-width:394px;width:32.2%;padding-left:30px;
      img{border-radius: 15px}
      p{color:#323232;padding-bottom:15px;display:flex;line-height:2em;
        &:before{display:block;float:left;content:"●";color:#009043;font-size:14px;height:100%;margin-right:5px;}
      }
    }
    .item-08{
      max-width:382px;width:31.23%;padding-left:19px;
      img:nth-of-type(2){margin-top:38px;}
      img{border-radius: 15px}
    }
    .tag{color:#009043;font-weight:bold;padding:25px 0 20px 0;line-height:25px;
      img{max-width:32px;@include img-set;float:left;margin-right:15px;}
      &.sub{padding:0 0 20px 37px;background:url(images/static/construction/icon-cathay.png) left 3px no-repeat;background-size:27px auto;margin-right:30px;
        margin-top:25%;//margin-top:90px;
      }
      &.sub2{padding:0 0 20px 37px;background:url(images/static/construction/icon-company.png) left 0 no-repeat;background-size:30px auto;}
    }
    &.box-between{justify-content: space-between;}
    .box{max-width:600px;width:49.5%;box-shadow: 0px 10px 10px rgba(0,0,0,.3);border-radius: 15px;display:flex;align-items: center;
      .img-box{max-width:306px;width:52.5%;
        img{border-radius: 15px 0 0 15px;@include img-set;box-shadow: none;}
      }
      .tag{color:#009043;font-weight:bold;padding:25px 0 20px 0;line-height:25px;margin:0 20px;width:calc(47% - 40px);max-width:242px;
        img{max-width:32px;@include img-set;float:left;margin-right:15px;}
        &.sub{padding:0 0 20px 37px;background:url(images/static/construction/icon-cathay.png) left 3px no-repeat;background-size:27px auto;
        }
        &.sub2{padding:0 0 20px 37px;background:url(images/static/construction/icon-company.png) left 0 no-repeat;background-size:30px auto;}
        span{display:block;color:#323232;line-height:2em;font-weight:normal;margin:20px 0 0 -37px;}
      }
      &:nth-of-type(2){
        .img-box{max-width:318px;width:53%;}
      }
    }
  }
  .itembox2{align-items: center;
    &:nth-of-type(2){padding-top:60px;}
  }

  .set{
    .text-dis{padding-left:30px;padding-right:30px;text-align: left;line-height: 1.5em;}
    .tag{color:#009043;font-weight:bold;padding:25px 0 20px 0;line-height:25px;margin:30px 20px 0 20px;
      img{max-width:32px;@include img-set;float:left;margin-right:15px;}
      &.sub{padding:0 0 20px 37px;background:url(images/static/construction/icon-cathay.png) left 3px no-repeat;background-size:27px auto;margin-right:30px;
      }
      &.sub2{padding:0 0 20px 37px;background:url(images/static/construction/icon-company.png) left 0 no-repeat;background-size:30px auto;}
      span{display:block;color:#323232;line-height:2em;font-weight:normal;margin:20px 0 0 -37px;}
    }
  }
}

@media(max-width:1407px){
  .photo-100{
    .itembox{
      .tag{
        &.sub{margin-top:15%;}
      }
      .box{
        .img-box{width:39.3%;}
        .tag{max-width:57%;width:57%;margin:0 15px;
          &.sub,&.sub2{margin-top:0;padding:0 0 0 37px;}
          span{width:calc(100% + 37px);margin:5px 0 0 -37px;}
        }
        &:nth-of-type(2){
          .img-box{width:42%;}
        }
      }
    }
  }
}
@media(max-width:1350px){
  .photo-100{
    .itembox{
      .tag{
        &.sub{margin-top:10%;}
      }
    }
  }
}

@media(max-width:1200px){
  .photo-100{
    .itembox{
      .item{
        &.item-04{
          img{margin-bottom:20px;}
          p{padding-bottom:10px;}
        }
        &.item-06{
          p:nth-of-type(1){padding-bottom:20px;}
      }
      }
    }
  }
}
@media(max-width:1100px){
  .photo-100{
    .itembox{
      .box{width:100%;max-width:100%;
        .img-box{width:50%;}
        .tag{max-width:calc(50% - 30px);width:100%;margin:0 15px;}
        &:nth-of-type(2){margin-top:25px;
          .img-box{width:50%;}
        }
      }
    }
  }
}
@media(max-width:993px){
  .photo-100{
    .itembox{
      .item{
        &.item-03{width:50%;}
        &.item-04{width:48.8%;
          img{margin-bottom:10px;}
          p{padding-bottom:0px;font-size:18px;line-height:1.6em;margin-left:-100%;
            &:before{font-size:15px;}
          }
        }
        &.item-05{width:45%;}
        &.item-06{width:55%;
          p:nth-of-type(1){padding-bottom:15px;}
        }
        &.item-07{width:55%;padding-right:0px;}
      }
      .tag{
        &.sub{margin-top:10px;padding:0 0 10px 37px}
        &.sub2{padding:0 0 10px 37px;}
      }
      .item-05{padding-left:20px;
        p{padding-bottom:10px;line-height:1.6em;}
      }

    }
    .itembox2{
      &:nth-of-type(2){padding-top:30px;}
    }
    .set{.text-dis{padding-left:15px;padding-right:15px;}}
  }
}
@media(max-width:900px){
  .photo-100{
    .itembox{
      .item{
        &.item-05,&.item-06,&.item-07{width:100%;margin:0 auto;padding-left:0px;}
        &.item-06,&.item-07{padding-top:25px;padding-right:20px;}
      }
    }
    .itembox2{padding-right:10px;
      &:nth-of-type(2){flex-direction: row-reverse;
        .item-05{order:1;}
        .item-07{order:2;}
      }
    }
  }
}
@media(max-width:800px){
  .photo-100{
    .itembox{
      .item-03{width:53%;}
      .item-08{width:46.5%;
        img:nth-of-type(2){margin-top:25px;max-width:364px;}
      }
      .item-05{width:100%;max-width:100%;
        .tag{
          &.sub2{margin-top:25px;}
        }
      }

    }
    .itembox2{padding-top:0;
      &:nth-of-type(2) {
        padding-top: 15px;
      }
    }
  }
}
@media(max-width:769px){
  .photo-100{
    .set{
      .text-dis{padding-left:0px;padding-right:0px;font-size:18px;}
      .tag{margin:25px 0 0 0;
        span{margin:15px 0 0 -37px}
        &.sub{margin-right:0;}
      }
    }
  }
}
@media(max-width:577px){
  .photo-100{
    .itembox{padding-right:10px;
      .item{
        &.item-03{width:100%;}
        &.item-04{width:100%;
          img{margin-bottom:25px;}
          p{margin-left:0%;font-size:14px;
            &:before{font-size:12px;}
          }
        }
        &.item-06,&.item-07{ p:before{font-size:12px;}}
      }
      .item-03{width:100%;margin-left:auto;margin-right:auto;}
      .item-08{width:100%;margin-left:auto;margin-right:auto;padding-left:0;
        img:nth-of-type(1){margin-top:25px;}
      }
      .box{flex-wrap: wrap;box-shadow:none;
        .img-box{width:100%;margin:0 auto;
          img{border-radius: 15px;box-shadow: 0px 10px 10px rgba(0,0,0,.3);}
        }
        .tag{max-width:calc(100% - 30px);
          &.sub,&.sub2{margin-top:25px;}
        }
        &:nth-of-type(2){.img-box{width:100%;}}
      }
    }
    .set{
      .tag{margin:15px 0 0 0;
        span{margin:5px 0 0 -37px;}
      }
      .text-dis{font-size:16px;}
    }
  }
}
@media(max-width:376px){
  .photo-100{
    .itembox{padding-right:0px;
      .item{
        p{margin-left:0;}
        &.item-04{img{margin-bottom:15px;}}
        &.item-06,&.item-07{padding-top:15px;padding-right:0;}
      }
      .item-05{padding-left:0;}
      .item-07{padding-right:0;}
      .box{
        .tag{
          &.sub,&.sub2{margin-top:15px;}
        }
      }
    }
    .itembox2{padding-right:0px;
      &:nth-of-type(2){padding-top:0;}
    }
    .set{
      .text-dis{font-size:14px;}
      .tag{&.sub{padding:0 0 0 37px;}}
    }
  }
}
