/* -------------------------------------------
 *  customer
 * ------------------------------------------ */

// customer knowledge
.download-list
  +min($min-xl2)
    padding: 0 45px
  +mm($max-lg, $min-md)
    max-width: 700px
    margin: 0 auto
  ul
    +min($min-sm)
      +flexbox
      +flex-wrap
    .list-item
      +min($min-xl)
        width: calc(25% - 150px/4)
        margin: 50px 50px 0 0
      +mm($max-bg, $min-bg)
        width: calc(25% - 75px/4)
        margin: 50px 25px 0 0
      +min($min-bg)
        &:nth-child(-n+4)
          margin-top: 0
        &:nth-child(4n+0)
          margin-right: 0
      +mm($max-lg, $min-md)
        width: calc(50% - 25px)
        margin: 50px 50px 0 0
      +mm($max-sm, $min-sm)
        width: calc(50% - 25px/2)
        margin: 25px 25px 0 0
      +mm($max-lg, $min-sm)
        &:nth-child(-n+2)
          margin-top: 0
        &:nth-child(2n+0)
          margin-right: 0
      +max($max-xs)
        + .list-item
          margin-top: 25px
      .list-item-inner
        display: block
        padding: 5px
        background-color: #ffffff
        border-radius: 10px
        overflow: hidden
        +box-shadow(0 10px 20px rgba(0,0,0,.3))
        color: #3C3C3C
        .head
          +flexbox
          +flex-column
          +align-items-center
          text-align: center
          .pic
            width: 100%
            border-radius: 5px
            overflow: hidden
            + .title
              margin-top: -25px
          .title
            +btn-rounded(50px)
            padding: 0 25px
            background-color: #ffffff
            +box-shadow(0 10px 20px rgba(0,0,0,.3))
            -webkit-mask-image: none
            font-size: 20px
            font-weight: 700
            line-height: 1
            +transition-property(background-color, color)
            +transition-duration(.3s)
            +transition-timing-function(ease)
            +max($max-bg)
              font-size: 18px
        .content
          padding: 20px 10px 25px
          font-size: 16px
          line-height: 2
        &:hover
          .head
            .title
              background-color: color(main-green)
              color: #ffffff
  &.alt
    ul
      .list-item
        .content
          .title
            font-size: 20px
            font-weight: 500
            text-align: center
            &::after
              content: ''
              display: block
              width: 60px
              height: 1px
              margin: 10px auto
              background-color: color(main-green)

// customer form style
.customer-form-style
  margin-top: 35px
  font-size: 16px
  +max($max-xs)
    margin-top: 25px
    font-size: 15px
  .form-group
    position: relative
    +flexbox
    background-color: #F0F0F0
    border-radius: 10px
    + .form-group
      margin-top: 20px
    &.has-code
      .code
        position: absolute
        top: 10px
        right: 20px
        display: block
        height: 40px
    +max($max-xs)
      border-radius: 5px
      + .form-group
        margin-top: 10px
      &.has-code
        .code
          top: 5px
          right: 5px
    .form-label
      +flex-shrink(0)
      +flexbox
      +align-items-center
      height: 60px
      padding: 0 5px 0 20px
      font-weight: 700
      span
        color: #FF1100
      +max($max-xs)
        height: 50px
        padding: 0 5px 0 15px
    .form-control
      +flex-grow(1)
      height: 60px
      padding-right: 20px
      font-weight: 700
      +placeholder
        opacity: 0.5
      +max($max-xs)
        height: 50px
        padding-right: 15px
      .bootstrap-select
        display: block
        width: calc(100% + 20px)
        +max($max-xs)
          width: calc(100% + 15px)
        > .dropdown-toggle
          display: block
          height: 60px
          padding: 0
          background: none
          border: none
          &::before, &::after
            display: none
          +max($max-xs)
            height: 50px
          .filter-option
            bottom: 0
            .filter-option-inner
              +flexbox
              +align-items-center
              height: 100%
              padding-right: 50px
              .filter-option-inner-inner
                max-width: 100%
                white-space: nowrap
                text-overflow: ellipsis
            &::after
              content: '\e901'
              position: absolute
              top: 17.5px
              right: 20px
              display: block
              color: color(main-green)
              font-family: font(icon)
              font-size: 25px
              line-height: 1
              +max($max-xs)
                top: 12.5px
                right: 15px
        > .dropdown-menu
          padding: 5px 0
          max-height: 250px !important
          > .inner
            max-height: 240px !important
          .dropdown-item
            padding: 5px 15px
            +transition(none)
            &.active, &:active
              background-color: color(main-green)
        &.dropup
          > .dropdown-toggle
            .filter-option
              &::after
                +rotate(180)
    textarea.form-control
      height: 140px
      padding: 20px 20px 20px 0
      background: none
      border: none
      -webkit-appearance: none
      -moz-appearance: none
      +max($max-xs)
        padding: 15px 15px 15px 0
    &.error
      border: 1px solid #FF1100
      + .error-msg
        display: block
        margin-top: 10px
    &.error-msg
      display: none
      background: none
      font-weight: 700
      text-align: center
      color: #FF1100
  .form-action
    +flexbox
    +justify-content-center
    margin-top: 45px
    +max($max-sm)
      margin-top: 35px
    +max($max-xs)
      margin-top: 25px
    .btn
      width: 160px
      height: 60px
      border-radius: 20px
      font-weight: 500
      + .btn
        margin-left: 20px
      +max($max-xs)
        width: calc(50% - 5px)
        height: 50px
        border-radius: 10px
        + .btn
          margin-left: 10px
.customer-form-section
  max-width: 700px
  margin: 0 auto
  background-color: #ffffff
  border: 1px solid color(main-green)
  +min($min-xl)
    padding: 45px 120px 50px
  +min($min-md)
    border-radius: 20px
    +box-shadow(0 10px 20px rgba(0,0,0,.3))
  +mm($max-bg, $min-md)
    padding: 45px 50px 50px
  +max($max-sm)
    padding: 35px 25px
    border-radius: 10px
  +min($min-sm)
    font-size: 18px
  +max($max-xs)
    padding: 25px 20px
    border-radius: 5px
    font-size: 16px
  .highlight
    margin-top: 15px
    padding: 15px 25px
    background-color: rgba(color(main-green), .1)
    border: 1px dashed color(main-green)
    border-radius: 10px
    font-weight: 700
    line-height: 2
    text-align: center
    color: color(main-green)
  &.message
    max-width: 1100px
    +min($min-xl)
      padding: 45px 70px 95px
    .customer-form-style
      .form-main
        +min($min-lg)
          +flexbox
          +justify-content-between
        .form-fieldset
          +min($min-xl)
            width: calc(50% - 25px)
          +mm($max-bg, $min-lg)
            width: calc(50% - 25px/2)
          +mm($max-md, $min-sm)
            + .form-fieldset
              margin-top: 20px
          +max($max-xs)
            + .form-fieldset
              margin-top: 10px
  &.login
    .form-action
      +flex-column
      +align-items-center
      .btn
        + p
          margin-top: 15px
      a
        color: color(main-green)
        font-size: 18px
        font-weight: 700
        text-decoration: underline
        &:hover
          color: color(bright-green)
        +max($max-xs)
          font-size: 16px

// customer contact
.customer-contact-info
  .info-box
    .title
      font-size: 26px
      font-weight: 700
      line-height: 1.3
      + ul
        margin-top: 35px
    ul
      li
        padding-left: 0
        padding-right: 0
  +min($min-bg)
    +flexbox
    +justify-content-center
  +max($max-lg)
    .info-box
      + .info-box
        margin-top: 50px
      .title
        + ul
          margin-top: 25px
  +max($max-sm)
    .info-box
      .title
        font-size: 22px
        + ul
          margin-top: 10px
  +max($max-sm)
    .info-box
      .title
        font-size: 18px
        + ul
          margin-top: 0

// customer member
.member-logout
  position: fixed
  z-index: 1000
  bottom: 25px
  .btn
    +btn-rounded(50px)
    background-color: #ffffff
    padding: 5px 25px 5px 5px
    -webkit-mask-image: none
    +box-shadow(0 10px 20px rgba(0,0,0,.3))
    font-size: 16px
    font-weight: 700
    line-height: 1
    color: #323232 !important
    > div
      +flex-shrink(0)
      + div
        margin-left: 12.5px
    a
      color: color(main-green)
      &:hover
        color: color(bright-green)
    .avatar
      border-radius: 50%
      overflow: hidden
      img
        display: block
        width: 40px
        height: 40px
    .action
      padding-left: 12.5px
      border-left: 1px solid #323232
  +min($min-md)
    left: 25px !important
  +max($max-sm)
    .btn
      +animation-name(fadeInUp)
    &.sticky
      position: relative
      z-index: 10
      bottom: -25px
      margin-top: -51px
  +max($max-xs)
    bottom: 15px
    &.sticky
      bottom: -20px
      margin-top: -41px
    .btn
      font-size: 15px
      height: 40px
      +box-shadow(0 5px 10px rgba(0,0,0,.3))
      .avatar
        img
          width: 30px
          height: 30px
#customer
  .primary
    .primary-body.has-nav
      +min($min-bg)
        .primary-body-nav
          width: 240px
        .primary-body-main
          width: calc(100% - 300px)
    .primary-foot
      +max($max-sm)
        padding-bottom: 25px
      +max($max-xs)
        padding-bottom: 20px
.progress-table
  text-align: left
  th, td
    +min($min-md)
      padding: 17.5px 20px
      &:last-child
        text-align: center
  td
    cursor: pointer
    &:first-child
      font-weight: 700
  tr
    &:nth-child(odd), &:nth-child(even)
      td
        background-color: #ffffff
        +transition-property(color, background-color)
        +transition-duration(.3s)
        +transition-timing-function(ease)
    .desktop &
      &:hover
        td
          background-color: rgba(color(main-green),.1)
          color: color(main-green)
.progress-head
  padding-bottom: 25px
  border-bottom: 1px solid #DCDCDC
.progress-body
  margin-top: 25px
  .content
    font-size: 16px
    line-height: 2
    +min($min-lg)
      +flexbox
      ul
        + ul
          margin-left: 35px
    ul
      padding-left: 1.5em
      .tt
        font-weight: 700
        &::before
          content: '\e906'
          display: inline-block
          width: 1.5em
          margin-left: -1.5em
          font-family: font(icon)
          font-size: 0.8em
          color: color(main-green)
    + .gallery
      margin-top: 25px
  .gallery
    .slider-main
      .slick-arrow
        &.slick-prev
          left: 30px
        &.slick-next
          right: 30px
        .btn
          background-color: rgba(0,0,0,.3)
          border: 1px solid #ffffff
          color: #ffffff
          font-size: 30px
          .desktop &
            &:hover
              background-color: rgba(0,0,0,.8)
        +max($max-sm)
          top: calc(50% - 20px)
          &.slick-prev
            left: -20px
          &.slick-next
            right: -20px
          .btn
            width: 40px
            height: 40px
            font-size: 25px
    .slider-thumb
      margin-top: 40px
      +max($max-md)
        margin-top: 20px
      +max($max-sm)
        margin-top: 10px
      .slider
        max-width: 830px
        margin: 0 auto
        .slick-list
          margin: 0 -10px
        .slick-slide
          margin: 0 10px
          .thumb
            cursor: pointer
            padding-bottom: 100%
            +transition(opacity .3s ease)
            .desktop &
              &:hover
                opacity: .7
        +max($max-sm)
          .slick-list
            margin: 0 -5px
          .slick-slide
            margin: 0 5px
.customer-app-section
  +v-gradient(rgba(color(main-green),.1), #ffffff)
  .app-intro
    padding: 80px 0 90px
    +min($min-sm)
      +flexbox
      +align-items-start
    +mm($max-md, $min-sm)
      padding: 50px 0
      +flex-wrap
    +max($max-xs)
      padding: 35px 0
    .icon
      position: relative
      img
        position: relative
        z-index: 1
      &::after
        content: ''
        position: absolute
        top: 10px
        left: 0
        right: 0
        bottom: -10px
        background-color: rgba(0,0,0,.3)
        border-radius: 25px
        +filter(blur(7.5px))
      +max($max-sm)
        width: 100px
      +max($max-xs)
        float: left
        margin: 0 20px 0 0
        &::after
          display: none
    .content
      .title
        font-size: 26px
        font-weight: 700
        line-height: 1.3
      .txt
        margin-top: 15px
        font-size: 16px
        line-height: 2.5
      +min($min-lg)
        width: calc(100% - 535px)
        margin: 0 25px 0 60px
      +mm($max-md, $min-md)
        width: calc(100% - 191px)
        margin-left: 50px
      +mm($max-sm, $min-sm)
        width: calc(100% - 125px)
        margin-left: 25px
      +max($max-xs)
        .title
          font-size: 22px
        .txt
          margin-top: 15px
          line-height: 2
    .links
      ul
        li
          + li
            margin-top: 15px
      .btn
        position: relative
        width: 300px
        +btn-rounded(120px)
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          display: block
          +h-gradient(rgba(255,255,255,0), rgba(255,255,255,1))
        &::after
          content: '\e908'
          position: absolute
          top: calc(50% - 16px)
          right: 40px
          font-family: font(icon)
          font-size: 32px
          line-height: 1
          color: color(main-green)
          +rotate(90)
          +transition(right .3s ease-in-out)
        .desktop &
          &:hover
            &::after
              right: 25px
      +max($max-md)
        width: 100%
        margin-top: 25px
        .btn
          width: 100%
      +mm($max-md, $min-sm)
        ul
          +flexbox
          li
            width: 50%
            max-width: 300px
            + li
              margin-top: 0
      +max($max-sm)
        .btn
          +btn-rounded(90px)
          &::after
            top: calc(50% - 25px/2)
            font-size: 25px
          img
            height: 70px
  .app-previews
    .slider
      .slick-slide
        .slick-item
          position: relative
          img
            position: relative
            z-index: 1
      +min($min-bg)
        .slick-list
          margin: 0 -24.5px
        .slick-slide
          margin: 0 24.5px
          .slick-item
            &::before
              content: ''
              position: absolute
              z-index: 0
              top: 20px
              left: 0
              right: 0
              bottom: 0
              display: block
              background-color: rgba(0,0,0,.3)
              +filter(blur(10px))
      +mm($max-lg, $min-sm)
        .slick-list
          margin: 0 -15px
        .slick-slide
          margin: 0 15px

// vip
.vip-section
  font-size: 16px
  line-height: 2
  + .vip-section
    margin-top: 25px
  .title
    font-weight: 700
    line-height: 1.5
    &.title-h3
      font-size: 30px
    &.title-h4
      font-size: 20px
    &.title-h5
      font-size: 16px
  a
    +transition-property(color)
    &:hover
      color: color(main-green)
  +min($min-sm)
    .title
      &.title-h4
        padding-left: 1em
        + ul
          padding-left: 2.6em
      &.title-h5
        padding-left: 2.6em
        + ul
          padding-left: 4.75em
  +max($max-xs)
    .title
      &.title-h3
        font-size: 22px
      &.title-h4
        font-size: 18px

