/* -------------------------------------------
 *  home
 * ------------------------------------------ */

// home banner
.home-banner
  position: relative
  overflow: hidden
  +min($min-lg)
    height: 100vh
    @media screen and (orientation: portrait)
      height: 56.25vw
  .banner-bg
    &::after
      content: ''
      position: absolute
      z-index: 3
      left: 0
      right: 0
      bottom: 0
      display: block
      height: 315px
      opacity: 0.6
      +v-gradient(rgba(0,0,0,0), rgba(0,0,0,75))
    +max($max-md)
      position: relative
      height: 56.25vw
      overflow: hidden
    +max($max-sm)
      height: 75vw
    +max($max-xs)
      height: calc(100vh - 125px)
    ul
      li
        opacity: 0
        +transition(opacity 1s ease)
        .pic-fill
          +scale(1.15)
          +transition(transform 6s ease-in-out .1s)
        &.active
          z-index: 2
          opacity: 1
          .pic-fill
            +scale(1)
  .banner-inner
    position: relative
    height: 100%
    z-index: 5
    text-align: center
    +min($min-lg)
      +flexbox
      +flex-column
      +justify-content-between
      +align-items-center
      padding: 100px 0 65px
      color: #ffffff
      +max($max-lg)
        padding-bottom: 50px
      &::before
        content: ''
        display: block
    +max($max-md)
      padding-left: 50px
      padding-right: 50px
      &.for-hg
        position: absolute
        top: 0
        left: 0
        right: 0
        +flexbox
        +justify-content-center
        +align-items-center
        height: 56.25vw
        padding-top: 45px
        color: #ffffff
      &.for-content
        padding-top: 50px
        padding-bottom: 50px
        color: #000000
        background-color: #F5F5F5
    +max($max-sm)
      padding-left: 25px
      padding-right: 25px
      &.for-hg
        height: 75vw
      &.for-content
        padding-top: 35px
        padding-bottom: 35px
    +max($max-xs)
      padding-left: 20px
      padding-right: 20px
      &.for-hg
        height: calc(100vh - 125px)
      &.for-content
        padding-top: 0
        padding-bottom: 0
        height: 125px
    .hg
      .msie &
        height: 180px
      .tlt
        opacity: 0
        +transition-delay(.1s)
      .title
        font-size: 50px
        + .subtitle
          margin-top: 40px
      .subtitle
        font-size: 24px
        line-height: 1.75
        .tlt
          display: block
      +max($max-bg)
        .subtitle
          font-size: 20px
      +max($max-lg)
        .title
          font-size: 40px
          + .subtitle
            margin-top: 25px
      +max($max-md)
        .subtitle
          font-size: 18px
      +max($max-xs)
        .title
          font-size: 25px
        .subtitle
          font-size: 15px
    .content
      width: 100%
      +max($max-xs)
        +flexbox
        +align-items-center
        height: 100%
      ul
        +flexbox
        +justify-content-between
        width: 100%
        line-height: 1
        +min($min-lg)
          padding: 0 20px
        +max($max-md)
          li
            +animation-delay(0s !important)
        .tt
          font-size: 100px
          &.wrapped
            &::before, &::after
              content: ''
              display: inline-block
              vertical-align: -10px
              width: 40px
              height: 100px
              background-image: url('images/static/home/deco.png')
              background-size: contain
              background-position: center center
            &::before
              margin-right: 15px
            &::after
              margin-left: 15px
              +scaleX(-1)
        .txt
          margin-top: 35px
          font-size: 22px
        +max($max-bg)
          .tt
            font-size: 75px
            &.wrapped
              &::before, &::after
                width: 30px
                height: 75px
          .txt
            margin-top: 25px
            font-size: 18px
        +max($max-lg)
          .tt
            font-size: 50px
            &.wrapped
              &::before, &::after
                width: 20px
                height: 50px
                vertical-align: -4px
          .txt
            margin-top: 15px
        +max($max-md)
          .txt
            font-size: 16px
        +max($max-sm)
          .tt
            font-size: 40px
            &.wrapped
              &::before, &::after
                width: 16px
                height: 40px
          .txt
            line-height: 1.25
        +max($max-xs)
          .tt
            font-size: 25px
            &.wrapped
              &::before, &::after
                width: 10px
                height: 25px
              &::before
                margin-right: 5px
              &::after
                margin-left: 5px
          .txt
            margin-top: 10px
            font-size: 14px
// home news
.home-news
  padding: 60px 0
  background-color: #ffffff
  +max($max-md)
    padding: 50px 0
  +max($max-sm)
    padding: 35px 0
  .container
    +flexbox
    +align-items-center
    max-width: 1430px
    +min($min-lg)
      +justify-content-between
    +max($max-md)
      +flex-column
    .head
      text-align: center
      .title
        font-size: 30px
        line-height: 1
        text-transform: uppercase
      > div
        margin-top: 25px
      +min($min-lg)
        width: 170px
      +max($max-md)
        +animation-name(fadeInUp)
        +animation-duration(1.5s)
    .foot
      margin-top: 25px
      +animation(fadeInUp 1s)
      > div + div
        margin-top: 20px
    .arrows
      ul
        +flexbox
        +justify-content-center
        li
          + li
            margin-left: 25px
    .list
      +min($min-lg)
        width: calc(100% - 230px)
      +max($max-md)
        width: 100%
        margin-top: 35px
        +animation-name(fadeInUp)
      +max($max-xs)
        margin-top: 20px
      .slick-list
        margin-bottom: -2px
      .slick-slide
        border: none
      ul
        overflow: hidden
        li
          display: block !important
          padding: 20px 0
          border-bottom: 1px solid #DCDCDC
          a
            max-width: 100%
            overflow: hidden
            font-size: 18px
            line-height: 1
            white-space: nowrap
            > *
              +transition(color .3s ease)
            .date
              display: block
              font-size: 20px
              color: #969696
            .title
              color: #3C3C3C
            .summary
              overflow: hidden
              text-overflow: ellipsis
              color: #969696
            .desktop &
              &:hover
                .title
                  color: color(main-green)
                .date, .summary
                  color: color(bright-green)
            +min($min-md)
              +flexbox
              .title
                margin: 0 15px
                padding: 0 15px
                border-left: 1px solid color(main-green)
                border-right: 1px solid color(main-green)
              .date, .title
                +flex-shrink(0)
            +max($max-sm)
              font-size: 16px
              .date
                font-size: 16px
              .title
                margin: 10px 0
                overflow: hidden
                text-overflow: ellipsis

// home cases
.home-cases
  .cases-slider
    position: relative
    +min($min-bg)
      padding: 0 calc(100vw/6)
      .navigate
        .item
          position: absolute
          top: 0
          bottom: 0
          width: calc(100vw/6)
          cursor: pointer   
          &.prev
            left: 0
          &.next
            right: 0
          .pic
            background-size: auto 100%
            background-position: center
          .inner
            position: absolute
            z-index: 1
            top: 0
            left: 0
            right: 0
            bottom: 0
            +flexbox
            +justify-content-center
            +align-items-center
            background-color: rgba(0,0,0,1)
            +transition(background-color .9s ease)
            color: #ffffff
            .name
              padding: 25px 0
              font-size: 30px
              font-weight: 700
              text-align: center
              line-height: 1
              border-top: 1px solid #ffffff
              border-bottom: 1px solid #ffffff
              opacity: 0
              +transition(opacity .9s ease)
              +max($max-bg)
                padding: 15px 0
                font-size: 25px
          &.changed
            .inner
              background-color: rgba(0,0,0,0.5)
              .name
                opacity: 1
    +max($max-lg)
      .navigate
        display: none
    .slider
      padding: 0
      .case
        display: block !important
        background-color: #F0F0F0
        .case-pic
          position: relative
        .case-content
          .case-content-inner
            width: 100%
            color: #3C3C3C
            .title
              line-height: 1
        +min($min-sm)
          .case-inner
            +flexbox
          .case-pic
            +flex-shrink(0)
            width: calc(100vw/3)
            min-height: calc(100vw/3)
            +max($max-md)
              width: 50vw
          .case-content
            +flex-grow(1)
            +flexbox
            +align-items-center
        +min($min-xl)
          .case-content
            padding: 60px
            .case-content-inner
              .title
                font-size: 40px
              > div
                margin-top: 40px
              .info
                font-size: 18px
                ul
                  li
                    + li
                      margin-top: 0.75em
        +max($max-bg)
          .case-content
            padding: 50px
            .case-content-inner
              .title
                font-size: 35px
              > div
                margin-top: 25px
              .info
                font-size: 16px
                ul
                  li
                    + li
                      margin-top: 0.5em
        +max($max-md)
          .case-content
            padding: 35px
            .case-content-inner
              .title
                font-size: 30px
        +max($max-xs)
          .case-pic
            img
              display: block !important
              opacity: 0
          .case-content
            padding: 25px
            .case-content-inner
              .title
                font-size: 25px
              > div
                margin-top: 15px
  .cases-nav
    width: 100vw
    +flexbox
    +h-gradient($gradient-ltr)
    color: #ffffff
    +min($min-lg)
      height: 120px
      +justify-content-center
      +align-items-center
    +max($max-md)
      +flex-column
      +align-items-center
      padding: 25px
    +max($max-xs)
      padding: 20px
    > div
      +flexbox
      +align-items-center
      +min($min-lg)
        +flex(1)
        + div
          margin-left: 40px
          padding-left: 40px
          border-left: 1px solid rgba(255,255,255,.5)
          +max($max-lg)
            margin-left: 25px
            padding-left: 25px
      +max($max-md)
        +animation-name(fadeIn)
        + div
          margin-top: 25px
    .cases-nav-page
      +justify-content-end
      .arrow
        &.arrow-prev
          margin-right: 50px
        &.arrow-next
          margin-left: 50px
        +max($max-lg)
          &.arrow-prev
            margin-right: 25px
          &.arrow-next
            margin-left: 25px
        .btn
          color: #ffffff
          opacity: 0.5
          +transition(opacity .3s ease)
          .icon
            font-size: 45px
            svg
              width: 1em
              height: 1em
            +max($max-xs)
              font-size: 25px
          &:hover
            opacity: 1
      .dots
        .slick-dots
          position: static
          li
            border: none
            button
              width: 30px
              height: 30px
              border-radius: 50%
              border: 1px solid #ffffff
              font-size: 18px
              color: #ffffff
              opacity: .5
              +transition-property(background-color, border-color, opacity)
              &:hover
                background-color: color(bright-green)
                border-color: color(bright-green)
                opacity: 1
            &.slick-active
              button
                pointer-events: none
                opacity: 1
                color: color(main-green)
            +max($max-xs)
              button
                width: 25px
                height: 25px
                font-size: 15px
    .cases-nav-more
      .text
        font-size: 30px
        img, p
          display: inline-block
          vertical-align: middle
        p
          margin-left: 25px
        + .button
          margin-left: 50px
      .button
        .btn
          width: 120px
          +btn-rounded(60px)
          border: 2px solid #A1FB00
          font-size: 30px
          +transition-property(background-color, color)
          +transition-duration(.3s)
          +transition-timing-function(ease)
          &:hover
            background-color: #A1FB00
            color: color(main-green)
      +max($max-lg)
        .text
          font-size: 25px
          + .button
            margin-left: 25px
        .button
          .btn
            width: 100px
            +btn-rounded(45px)
            font-size: 25px
      +max($max-lg)
        .text
          img
            max-width: 55px
        .button
          .btn
            width: 75px
            +btn-rounded(40px)
            font-size: 18px
      +max($max-xs)
        .text
          font-size: 20px
          p
            margin-left: 15px
          img
            max-width: 40px
          + .button
            margin-left: 15px
        .button
          .btn
            width: 65px
            +btn-rounded(35px)
            font-size: 16px

// home shortcut
.home-shortcut
  +min($min-md)
    ul
      +flexbox
      > li
        +flex(1)
  a
    position: relative
    padding-bottom: 75%
    .content
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      +flexbox
      +flex-column
      +justify-content-center
      +align-items-center
      text-align: center
      color: #ffffff
      .title
        font-size: 35px
      &::after
        content: '\e905'
        +flexbox
        +justify-content-center
        +align-items-center
        width: 70px
        height: 70px
        margin-top: 40px
        border-radius: 50%
        background-color: #DA5840
        font-family: font(icon)
        font-size: 22px
        line-height: 1
        +transition-property(background-color, transform)
        +transition-duration(.3s)
        +transition-timing-function(ease)
    &:hover
      .content
        &::after
          background-color: #ff4826
          +rotate(180)
    +mm($max-lg, $min-md)
      .content
        .title
          font-size: 28px
        &::after
          width: 50px
          height: 50px
          margin-top: 15px
    +max($max-xs)
      .content
        .title
          font-size: 25px
        &::after
          width: 50px
          height: 50px
          margin-top: 15px

// home promise
.home-promise
  position: relative
  padding: 140px 0
  text-align: center
  color: #ffffff
  .container
    position: relative
  .title
    font-size: 50px
    + .text
      margin-top: 40px
  .text
    font-size: 18px
    line-height: 2
  .promise-list
    +flexbox
    +justify-content-center
    margin-top: 80px
    .item
      width: 200px
      height: 200px
      +flex-column
      background-color: #ffffff
      color: color(main-green)
      .icon
        width: 95px
        img
          width: 100%
      .tt
        margin-top: 10px
        font-size: 20px
  +min($min-bg)
    .promise-list
      li
        + li
          margin-left: 55px
  +max($max-lg)
    padding: 75px 0
    .title
      font-size: 40px
      + .text
        margin-top: 25px
    .text
      font-size: 16px
    .promise-list
      margin-top: 50px
      .item
        width: 150px
        height: 150px
        .icon
          width: 75px
        .tt
          margin-top: 5px
          font-size: 16px
  +mm($max-lg, $min-md)
    .promise-list
      li
        + li
          margin-left: 25px
  +max($max-sm)
    padding: 50px 0
    .promise-list
      width: 325px
      margin-left: auto
      margin-right: auto
      +flex-wrap
      li
        margin-top: 25px
        &:nth-cild(-n+2) 
          margin-top: 0
        &:nth-child(even)
          margin-left: 25px
  +max($max-xs)
    padding: 35px 0
    .title
      font-size: 25px
      + .text
        margin-top: 15px
    .text
      line-height: 1.75
    .promise-list
      width: 100%
      margin-top: 25px
      .item
        width: calc(50vw - 20px - 25px/2)
        height: calc(50vw - 20px - 25px/2)
              