/* -------------------------------------------
 *  investor
 * ------------------------------------------ */

// info
.investor-info-section
  &.top
    .info-box
      +min($min-bg)
        float: left
        width: calc(100%/3 - 60px)
        +max($max-bg)
          width: calc(100%/3 - 30px)
    + .bottom
      margin-top: 80px
      +max($max-lg)
        margin-top: 75px
      +max($max-md)
        margin-top: 50px
      +max($max-xs)
        margin-top: 35px
  &.bottom
    +max($max-md)
      padding-top: 50px
    +max($max-xs)
      padding-top: 35px
    &::before
      content: ''
      position: absolute
      top: 265px
      left: calc(700px - 50vw)
      right: calc(700px - 50vw)
      bottom: -100px
      display: block
      background-color: #CCE9D9
      +max($max-xl)
        left: -50px
        right: -50px
      +max($max-lg)
        bottom: -75px
      +max($max-md)
        top: 0
      +max($max-sm)
        left: -25px
        right: -25px
      +max($max-xs)
        left: -20px
        right: -20px
        bottom: -35px
    .content
      margin-top: 50px
      > div
        + div
          margin-top: 100px
          +max($max-lg)
            margin-top: 75px
          +max($max-md)
            margin-top: 50px
          +max($max-xs)
            margin-top: 35px
    .circles
      ul
        +flexbox
        +justify-content-center
        +align-items-center
        +max($max-bg)
          +justify-content-between
        +max($max-md)
          +flex-column
        li
          +flex-shrink(0)
          .btn
            width: 360px
            height: 360px
            padding: 40px
            overflow: hidden
            color: #ffffff
            text-align: center
            +justify-content-start
            +mm($max-lg, $min-lg)
              width: 275px
              height: 275px
            +max($max-xs)
              width: 275px
              height: 275px
          &:nth-child(1)
            .btn
              +v-gradient(#0090A1, #006380)
          &:nth-child(2)
            .btn
              +v-gradient(color(main-green), #007737)
          &:nth-child(3)
            .btn
              +v-gradient(#B29340, #9A6300)
          +min($min-xl)
            + li
              margin-left: 80px
          +max($max-md)
            + li
              margin-top: 35px
          +max($max-xs)
            + li
              margin-top: 25px
          .icon
            +flexbox
            +align-items-end
            width: 140px
            height: 140px
          .txt
            margin-top: 30px
            max-width: 200px
            font-size: 20px
            font-weight: 700
            line-height: 1.5
          +mm($max-lg, $min-lg)
            .icon
              width: 100px
              height: 100px
            .txt
              margin-top: 15px
              font-size: 16px
          +max($max-xs)
            .icon
              width: 100px
              height: 100px
            .txt
              margin-top: 15px
              font-size: 16px
    .info
      +min($min-bg)
        +flexbox
        +justify-content-center
        ul
          padding-top: 10px
          padding-bottom: 10px
          + ul
            margin-left: 50px
            padding-left: 50px
            border-left: 1px solid color(main-green)
      +max($max-lg)
        ul
          + ul
            margin-top: 50px
            padding-top: 50px
            border-top: 1px solid color(main-green)
      +max($max-xs)
        ul
          + ul
            margin-top: 25px
            padding-top: 25px
      ul
        font-size: 16px
        font-weight: 700
        li
          &::before
            content: '\e906'
            display: inline-block
            margin-right: 3px
            font-family: font(icon)
            font-size: 0.8em
            color: color(main-green)
          + li
            margin-top: 10px
          a:hover
            color: color(bright-green)

// shareholder
.investor-stock
  background-color: #ffffff
  border: 1px solid #C8C8C8
  > div
    +flexbox
    +justify-content-center
    +align-items-center
  +min($min-bg)
    +flexbox
    height: 500px
    > div
      + div
        border-left: 1px solid #C8C8C8
    .stock-chart
      +flex(9)
    .stock-info
      +flex(5)
  +max($max-lg)
    > div
      padding: 50px
      + div
        border-top: 1px solid #C8C8C8
  +max($max-xs)
    > div
      +align-items-start
      padding: 25px  
  .title
    font-size: 30px
    font-weight: 700
    +max($max-sm)
      font-size: 25px
    +max($max-xs)
      font-size: 22px
  .txt
    font-size: 16px
  .stock-chart
    .chart
      width: 100%
      max-width: 400px
    .content
      .txt
        margin-top: 25px
        li
          + li
            margin-top: 0.5em
        span
          display: inline-block
          vertical-align: -1px
          width: 14px
          height: 14px
          margin-right: 10px
          border-radius: 50%
    +min($min-lg)
      > div
        + div
          margin-left: 50px
    +max($max-md)
      +flex-column-reverse
      > div
        + div
          margin-bottom: 50px
    +max($max-xs)
      > div
        + div
          margin-bottom: 25px
      .content
        .txt
          margin-top: 15px
  .stock-info
    +flex-column
    .txt
      margin-top: 15px
    .btn
      margin-top: 40px
    +max($max-xs)
      text-align: left
      .btn
        margin-top: 25px

// others
.investor-others-section
  .info-box
    .title
      font-size: 26px
      font-weight: 700
      + ul
        margin-top: 30px
      +max($max-xs)
        font-size: 22px
        + ul
          margin-top: 20px
    ul
      li
        padding-left: 20px
        padding-right: 0
        &::before
          content: '\e906'
          display: inline-block
          margin-left: -20px
          margin-right: 3px
          font-family: font(icon)
          font-size: 0.8em
          color: color(main-green)
  +min($min-bg)
    margin: 0 -30px
    .info-box
      float: left
      width: calc(100%/3 - 60px)
      &.two-third
        width: calc(200%/3 - 60px)
  +max($max-lg)
    .info-box
      + .info-box
        margin-top: 50px
      ul
        +dashedLine
  +max($max-xs)
    .info-box
      + .info-box
        margin-top: 35px