/* ------------------------------------------
 *  urban
 * -----------------------------------------*/

// urban links
.links-list
  +min($min-sm)
    ul
      +flexbox
      +flex-wrap
      +justify-content-center
  +max($max-bg)
    &.max-4
      ul
        max-width: 705px
        margin: 0 auto
  +max($max-lg)
    ul
      +justify-content-start
  .list-item
    background-color: #ffffff
    +transition(box-shadow .3s ease)
    &:hover
      +box-shadow(0 10px 20px rgba(0,0,0,.3))
    .pic
      padding-bottom: 100%
      background-size: contain !important
      background-position: center !important
    .button
      .btn
        +btn-rounded(60px)
        font-size: 20px
        font-weight: 500
        &:hover
          background-color: color(main-green)
          border-color: color(main-green)
        +max($max-xl)
          font-size: 18px
        +max($max-sm)
          +btn-rounded(50px)
          font-size: 16px
  +min($min-lg)
    .list-item
      max-width: 340px
      padding: 40px 45px
  +min($min-sm)
    .list-item
      margin-top: 25px
      margin-right: 25px
      border-radius: 20px
  +min($min-xl)
    .list-item
      width: calc(25% - 75px/4)
      &:nth-child(-n+4)
        margin-top: 0
      &:nth-child(4n+0)
        margin-right: 0
  +max($max-bg)
    .list-item
      padding: 25px
  +mm($max-bg, $min-lg)
    &:not(.max-4)
      .list-item
        width: calc(100%/3 - 50px/3)
        &:nth-child(-n+3)
          margin-top: 0
        &:nth-child(3n+0)
          margin-right: 0
    &.max-4
      .list-item
        width: calc(50% - 25px/2)
        &:nth-child(-n+2)
          margin-top: 0
        &:nth-child(2n+0)
          margin-right: 0
  +mm($max-md, $min-sm)
    .list-item
      width: calc(50% - 25px/2)
      &:nth-child(-n+2)
        margin-top: 0
      &:nth-child(2n+0)
        margin-right: 0
  +max($max-xs)
    .list-item
      border-radius: 10px
      + .list-item
        margin-top: 25px

// urban contact
p + .urban-contact-form
  margin-top: 85px
  +max($max-lg)
    margin-top: 50px
  +max($max-xs)
    margin-top: 35px
.urban-contact-form
  +min($min-bg)
    padding-bottom: 45px
  .form-row
    + .form-row
      &.action
        margin-top: 50px
        padding-top: 50px
        border-top: 1px solid #DCDCDC
        +max($max-xs)
          margin-top: 35px
          padding-top: 35px
    &.action
      .btn
        width: 240px
        height: 60px
        border-radius: 10px
        font-weight: 500
        + .btn
          margin-left: 20px
        &.fill-gray
          background-color: #4D4D4D
          &:hover
            background-color: #333333
        +max($max-sm)
          width: 200px
        +max($max-xs)
          width: calc(50% - 5px)
          height: 50px
          + .btn
            margin-left: 10px
  .form-group
    &.for-contact
      +justify-content-center
      +align-items-center
      text-align: center
      p + p
        +min($min-sm)
          margin-left: 25px
        +max($max-xs)
          margin-top: 15px
      span
        display: block
      .tt
        &::before
          content: '\e916'
          +inline-flex
          +justify-content-center
          +align-items-center
          vertical-align: -2px
          width: 38px
          height: 38px
          margin-right: 15px
          border-radius: 10px
          +h-gradient($gradient-ltr)
          font-family: font(icon)
          font-size: 25px
          color: #ffffff
      .large
        font-size: 26px
        font-weight: 500

// urban list
.urban-list
  +min($min-sm)
    ul
      +flexbox
      +flex-wrap
  .list-item
    +min($min-sm)
      margin: 50px 15px 0 0
    +min($min-xl)
      width: calc(25% - 45px/4)
      &:nth-child(-n+4)
        margin-top: 0
      &:nth-child(4n+0)
        margin-right: 0
    +mm($max-bg, $min-lg)
      width: calc(100%/3 - 10px)
      &:nth-child(-n+3)
        margin-top: 0
      &:nth-child(3n+0)
        margin-right: 0
    +mm($max-md, $min-sm)
      width: calc(50% - 15px/2)
      &:nth-child(-n+2)
        margin-top: 0
      &:nth-child(2n+0)
        margin-right: 0
    +max($max-xs)
      + .list-item
        margin-top: 35px
    .pic-wrapper
      position: relative
      background-color: rgba(0,0,0,.9)
      overflow: hidden
      &::before
        content: '\e905'
        position: absolute
        z-index: 1
        top: calc(50% - 35px)
        left: calc(50% - 35px)
        +flexbox
        +justify-content-center
        +align-items-center
        width: 70px
        height: 70px
        background-color: #DA5840
        border-radius: 50%
        font-family: font(icon)
        font-size: 22px
        line-height: 1
        color: #ffffff
        +scale(0)
        opacity: 0
        +transition-property(transform, opacity)
        +transition-duration(.5s)
        +transition-timing-function(ease)
      .pic
        padding-bottom: 72.72%
        +transition-property(transform, opacity)
    .title
      position: relative
      z-index: 1
      font-size: 20px
      font-weight: 700
      line-height: 1
      text-align: center
      color: #3C3C3C
      &::before
        content: ''
        display: block
        width: 1px
        height: 60px
        margin: -30px auto 10px
        +v-gradient(#ffffff 50%, color(main-green) 50%)
      +max($max-xs)
        font-size: 18px
        &::before
          height: 40px
          margin: -20px auto 10px
    a:hover
      .pic-wrapper
        &::before
          +scale(1)
          opacity: 1
        .pic
          opacity: .3

// urban wrapper
.urban-wrapper
  +min($min-bg)
    +flexbox
    +align-items-start
    > div
      width: 50%
  +max($max-lg)
    > div
      +animation-name(fadeInUp)
      + div
        margin-top: 50px
  +max($max-xs)
    > div
      + div
        margin-top: 35px
  .urban-profile
    color: #3C3C3C
    +min($min-xl2)
      padding-right: 115px
    +mm($max-xl, $min-bg)
      padding-right: 75px
    .title
      font-size: 40px
      font-weight: 700
      line-height: 1.3
      &::after
        content: ''
        display: block
        width: 100px
        height: 1px
        margin: 35px 0
        background-color: #C8C8C8
      +max($max-lg)
        font-size: 35px
      +max($max-xs)
        font-size: 28px
        &::after
          margin: 20px 0
    .content
      section
        + section
          margin-top: 20px
      .tt
        font-size: 20px
        font-weight: 700
        line-height: 1.3
        + .txt
          margin-top: 5px
      .txt
        font-size: 16px
        line-height: 2
        +max($max-xs)
          line-height: 1.75
    .buttons
      margin-top: 50px
      +max($max-xs)
        margin-top: 35px
      ul
        +min($min-sm)
          +flexbox
          +flex-wrap
        li
          border: 1.5px dashed #C8C8C8
          +min($min-lg)
            &:hover
              background-color: #ffffff
          +min($min-sm)
            width: 50%
            border-top: none
            +transition(background-color .3s ease)
            &:nth-child(-n+2)
              border-top: 1.5px dashed #C8C8C8
            &:nth-child(even)
              border-left: none
          +max($max-xs)
            + li
              border-top: none
      .btn
        height: 60px
        padding: 15px
        font-size: 16px
        font-weight: 700
        +max($max-xs)
          height: 50px
        .btn-inner
          width: 100%
          &::before
            content: '\e906'
            display: inline-block
            vertical-align: -2px
            margin-right: 5px
            font-family: font(icon)
            font-size: 25px
            color: color(main-green)
  .urban-slider
    padding: 20px 30px
    background-color: #ffffff
    border-radius: 10px
    +box-shadow(0 10px 20px rgba(0,0,0,.3))
    +max($max-xs)
      padding: 15px
    .slider-main
      .slick-arrow
        .btn
          +box-shadow(0 10px 20px rgba(0,0,0,.3))
        &.slick-prev
          left: -60px
        &.slick-next
          right: -60px
        +max($max-sm)
          .btn
            width: 50px
            height: 50px
            font-size: 28px
          &.slick-prev
            left: -50px
          &.slick-next
            right: -50px
      .slick-slide
        img
          display: block
    .slider-thumb
      max-width: 425px
      margin: 20px auto 0
      +max($max-xs)
        margin-top: 10px
      .slick-list
          margin: 0 -3px
      .slick-slide
        margin: 0 3px
      .slick-arrow
        +max($max-xs)
          top: auto
          bottom: 0
          .btn
            width: 40px
            height: 40px
            background-color: color(main-green)
            color: #ffffff
            +box-shadow(none)
          &.slick-prev
            left: calc(50% - 45px)
          &.slick-next
            right: calc(50% - 45px)
      .slick-item
        .thumb
          max-width: 80px
          padding-bottom: 100%
          border: 1px solid #C8C8C8
          cursor: pointer
          +transition(opacity .3s ease)
          +min($min-lg)
            &:hover
              opacity: .7